Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

style: apply linter fixes
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
Due: api-test, api-lint

test: Add missing test case for depression deaths
  Api/tests/unit/Player/Service/PlayerServiceTest.php
Due: api-test, api-lint

New translations end_cause+intl-icu.fr.xlf (English)
  Api/translations/en/end_cause+intl-icu.en.xlf
Due: translations-lint

New translations fr.json (French)
  App/src/i18n/locales/fr.json
Due: none

New translations fr.json (English)
  App/src/i18n/locales/en.json
Due: none

Add skill to Chao
  Api/src/Action/Actions/Daunt.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Daunt action removes 2 AP
  Api/src/Action/Actions/Daunt.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Player/Service/AbstractRemoveVariableFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerServiceInterface.php
  Api/src/Player/Service/RemoveHealthFromPlayerService.php
  Api/tests/functional/Action/Actions/DauntCest.php
Due: api-test, api-lint

Daunt action remove 4MP from target
  Api/src/Action/Actions/Daunt.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerService.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerServiceInterface.php
  Api/tests/functional/Action/Actions/DauntCest.php
Due: api-test, api-lint

Daunt action prints a public log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/DauntCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Daunt action is available once per day
  Api/src/Action/Actions/Daunt.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DauntCest.php
Due: api-test, api-lint

Add french translations
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Add skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

refactor: Mark player as human after we remove their Mush status only if player is alive (case of transfer and Vaccine)
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

feat(action): cure
  Api/src/Action/Actions/Cure.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

tests: add test for cure action
  Api/tests/functional/Action/Actions/CureActionCest.php
Due: api-test, api-lint

Apply 3 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/Cure.php
Due: api-test, api-lint

fix: remove unnecesary skill removal
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

refactor: handle room log for vaccine in RoomLog listener
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
Due: api-test, api-lint

fix: show log only on cure action
  Api/src/RoomLog/Listener/StatusSubscriber.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/Cure.php
Due: api-test, api-lint

fix: lint
  Api/src/RoomLog/Listener/StatusSubscriber.php
Due: api-test, api-lint

feat(action): cure
  Api/src/Action/Actions/Cure.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/tests/functional/Action/Actions/CureActionCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

New translations actions+intl-icu.fr.xlf (French)
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (French)
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (English)
  Api/translations/en/event_log+intl-icu.en.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (English)
  Api/translations/en/actions+intl-icu.en.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: translations-lint

fix: Fix a crash while leaving orbit if abandonned players had gear on them
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
  Api/src/Equipment/Service/DeleteEquipmentService.php
  Api/src/Equipment/Service/DeleteEquipmentServiceInterface.php
  Api/src/Player/Listener/RoomSubscriber.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
Due: api-test, api-lint

refactor: Mark delete method as deprecated in GameEquipmentServiceInterface, suggesting use of DeleteEquipmentService instead
  Api/src/Equipment/Service/GameEquipmentServiceInterface.php
Due: api-test, api-lint

fix: Fix a crash while leaving orbit if abandoned players had specific items on them
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
  Api/src/Equipment/Service/DeleteEquipmentService.php
  Api/src/Equipment/Service/DeleteEquipmentServiceInterface.php
  Api/src/Equipment/Service/GameEquipmentServiceInterface.php
  Api/src/Player/Listener/RoomSubscriber.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
Due: api-test, api-lint

Add skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Polymath grants 2 IT points per day
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Skill/PolymathCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

Add skill to Eleesha
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

wip private channels as gamevariable
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Specification/canCreateChannel.php
  Api/src/Player/Entity/PlayerVariables.php
  Api/src/Player/Enum/PlayerVariableEnum.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
