Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

build-front:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  - bin/console doctrine:fixtures:load -n --env=test
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
  - job: build-front
    optional: true
  script:
  - ./linters.sh

front-lint:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn lint --no-fix

front-test:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn test

test: refactor handleEquipmentBreak tests
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Equipment/Factory/GameEquipmentFactory.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Game/Service/Random/FakeGetRandomIntegerService.php
  Api/src/Game/config/services.yaml
  Api/tests/functional/Equipment/Repository/GameEquipmentRepositoryCest.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

Added pa_eng.png + updated formatText
  App/src/assets/images/pa_eng.png
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

Update 2 files
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

Updated Player.ts
  App/src/entities/Player.ts
Due: build-front, front-lint, front-test

Added specialist point enum and updated the view to display specialist point requirement
  App/src/components/Utils/ActionButton.vue
  App/src/entities/Action.ts
  App/src/enums/specialist_point.enum.ts
Due: build-front, front-lint, front-test

Fixed missing semicolon
  App/src/enums/specialist_point.enum.ts
Due: build-front, front-lint, front-test

added translation
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-lint

Fixed translation
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-lint

Added technician skill + translation
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-lint, front-lint, front-test

Fixed max charge of technician skill
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

CurrentPlayerNormalizer for specialist point
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Status/Enum/PlayerStatusEnum.php
Due: api-test, api-lint

fix constructor visibility
  Api/src/Game/Service/Random/GetRandomPoissonIntegerService.php
Due: api-test, api-lint

remove useless test
  Api/tests/functional/Equipment/Repository/GameEquipmentRepositoryCest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Equipment/Factory/GameEquipmentFactory.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

remove stupid method
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
Due: api-test, api-lint

fix: Cycle change fires are back
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Equipment/Entity/Door.php
  Api/src/Equipment/Factory/GameEquipmentFactory.php
  Api/src/Game/Service/Random/FakeGetRandomElementsFromArrayService.php
  Api/src/Game/Service/Random/FakeGetRandomIntegerService.php
  Api/src/Game/Service/Random/FakeGetRandomPoissonIntegerService.php
  Api/src/Game/Service/Random/GetRandomElementsFromArrayService.php
  Api/src/Game/Service/Random/GetRandomElementsFromArrayServiceInterface.php
  Api/src/Game/Service/Random/GetRandomIntegerService.php
  Api/src/Game/Service/Random/GetRandomIntegerServiceInterface.php
  Api/src/Game/Service/Random/GetRandomPoissonIntegerService.php
  Api/src/Game/Service/Random/GetRandomPoissonIntegerServiceInterface.php
  Api/src/Game/config/services.yaml
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  Api/src/Project/UseCase/ProposeNewNeronProjectsUseCase.php
  Api/tests/functional/Equipment/Repository/GameEquipmentRepositoryCest.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
  Api/tests/unit/Game/Service/FakeGetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Game/Service/FakeGetRandomIntegerServiceTest.php
  Api/tests/unit/Game/Service/GetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Game/Service/GetRandomIntegerServiceTest.php
  Api/tests/unit/Project/UseCase/AdvanceProjectUseCaseTest.php
  Api/tests/unit/Project/UseCase/ProposeNewNeronProjectsUseCaseTest.php
Due: api-test, api-lint

test: add a test exhibiting the bug
  Api/tests/functional/Action/Actions/ForceGetUpCest.php
Due: api-test, api-lint

fix the bug
  Api/src/Status/Listener/ActionSubscriber.php
Due: api-test, api-lint

style: rename a variable
  Api/src/Status/Listener/ActionSubscriber.php
Due: api-test, api-lint

fix: You won't get up after being targeted by ANY action...
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ForceGetUpCest.php
Due: api-test, api-lint

hotfix stupidity
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

revert to actual previous code to avoid being bald
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

fix stupidity
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

hotfix: Fix a crash while breaking equipment at cycle change
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

fix actionbuttons interactivity in chat
  App/src/components/Game/Communications/DiscussionTab.vue
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

fix right click fire on action
  App/src/components/Game/Ship/ActionPanel.vue
Due: build-front, front-lint, front-test

fix:Right click on actions does not fire anymore
  App/src/components/Game/Ship/ActionPanel.vue
Due: build-front, front-lint, front-test

animate the new message notification
  App/src/components/Game/Communications/Tab.vue
Due: build-front, front-lint, front-test

Backend is now able to load most specialist points Moved all assets inside actionPoints + added translation (cooker, pilgred, botanist, designer)
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/translations/fr/player+intl-icu.fr.xlf
  App/src/assets/images/action_points/pa_cook.png
  App/src/assets/images/action_points/pa_core.png
  App/src/assets/images/action_points/pa_shoot.png
  App/src/enums/specialistPoint.enum.ts
  App/src/utils/formatText.ts
Due: build-front, api-test, api-lint, front-lint, front-test

More linter fixes
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

Player now contains specialist point array
  App/src/entities/Player.ts
Due: build-front, front-lint, front-test

Added specialist costs to actions (in backend and frontend)
  Api/src/Action/Normalizer/ActionNormalizer.php
  App/src/components/Utils/ActionButton.vue
  App/src/entities/Action.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Fixed linter issue
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

Added engineer point french translation
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-lint

SpecialistPoint class
  App/src/entities/SpecialistPoint.ts
Due: build-front, front-lint, front-test

Added an action that allow us to reset any specialist points (admin only)
  Api/src/Action/Actions/ResetSpecialistPoints.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint

Added the basic setup for the skill Technician (config, added to characters, translations, icons, ...) Only setup the specialist point modifier for now
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Woops, wrong variable name in comment
  Api/src/Action/Normalizer/ActionNormalizer.php
Due: api-test, api-lint

Updated the back to send specialist points Updated the front to display all specialist points Also removed the previous logic
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  App/src/components/Game/CharPanel.vue
  App/src/entities/Player.ts
  App/src/entities/SpecialistPoint.ts
  App/src/enums/specialistPoint.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Removed shootPoint cost lines
  Api/src/Action/Normalizer/ActionNormalizer.php
  App/src/entities/Action.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
