Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

use debug flag for cs fixer
  .gitlab-ci.yml
  Api/linters.sh
Due: none

chore: do not use cache (really?)
  .gitlab-ci.yml
Due: none

Disable opcache
  .gitlab-ci.yml
  docker/gitlab/Php/Dockerfile
Due: none

Add basic GitHub workflow
  .github/workflows/CI.yml
Due: none

Actually build CI image for Linux amd64 architecture!
  .gitlab-ci.yml
  docker/gitlab/Php/Dockerfile
Due: none

fix false positive
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

revert debug changes
  Api/linters.sh
  Api/public/index.php
Due: api-test, api-lint

Remove tests run on pre-push hook
  hooks/pre-push
Due: none

ci: PHP CI Jobs now run at normal speed!
  .gitlab-ci.yml
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  docker/gitlab/Php/Dockerfile
  hooks/pre-push
Due: api-test, api-lint

fix: Loading times are now severly reduced.
  App/src/components/Banner.vue
  App/src/components/ErrorPopup.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/services/communication.service.ts
  App/src/services/player.service.ts
  App/src/store/action.module.ts
  App/src/store/daedalus.module.ts
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

fix: Loading times after an action are now severly reduced
  App/src/components/Banner.vue
  App/src/components/ErrorPopup.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/services/communication.service.ts
  App/src/services/player.service.ts
  App/src/store/action.module.ts
  App/src/store/daedalus.module.ts
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

fix: Fix a migration
  Api/migrations/Version20240724172807.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/Entity/Skill.php
Due: api-test, api-lint

feat: AddSkillToPlayerUseCase
  Api/composer.json
  Api/composer.lock
  Api/config/packages/doctrine.yaml
  Api/config/services.yaml
  Api/migrations/Version20240723203206.php
  Api/src/Game/Enum/SkillEnum.php
  Api/src/Game/Enum/SkillMushEnum.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/ConfigData/CharacterConfigDataLoader.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Player/Repository/InMemoryPlayerRepository.php
  Api/src/Player/Repository/PlayerRepository.php
  Api/src/Player/Repository/PlayerRepositoryInterface.php
  Api/src/Player/config/services.yaml
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Dto/SkillConfigDto.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Enum/SkillName.php
  Api/src/Skill/Exception/PlayerDoesNotHaveSkillConfigException.php
  Api/src/Skill/UseCase/AddSkillToPlayerUseCase.php
  Api/src/Skill/config/services.yaml
  Api/tests/unit/Skill/UseCase/AddSkillToPlayerUseCaseTest.php
Due: api-test, api-lint

refactor: Remove status PoC skills. Modifiers are now created alongside standalone skills.
  Api/config/services_test.yaml
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Listener/SkillEventSubscriber.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Event/SkillAddedToPlayerEvent.php
  Api/src/Skill/UseCase/AddSkillToPlayerUseCase.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Skill/UseCase/AddSkillToPlayerUseCaseCest.php
  Api/tests/unit/Skill/UseCase/AddSkillToPlayerUseCaseTest.php
Due: api-test, api-lint

Update front-end with new data
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/entities/Character.ts
  App/src/entities/Player.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Specialist points are now created when skill is added to player
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Dto/SkillConfigDto.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Enum/SpecialistPointsEnum.php
  Api/src/Status/Listener/SkillEventSubscriber.php
  Api/tests/functional/Skill/UseCase/AddSkillToPlayerUseCaseCest.php
  Api/tests/unit/Skill/UseCase/AddSkillToPlayerUseCaseTest.php
Due: api-test, api-lint

refactor: Finding skill number of skill points is more reliable
  Api/src/Skill/Entity/Skill.php
  Api/src/Status/Enum/SkillPointsEnum.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Action/Validator/NeronCrewLockValidator.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHolderHasNotSkill.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementSkillInRoom.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Enum/SkillName.php
Due: api-test, api-lint

style: apply linter fixes
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
Due: build-front, front-lint, front-test

fix visibility of skill points
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

chore: Remove unneeded dependency
  Api/composer.json
  Api/composer.lock
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix: Fix skill color slots
  App/src/components/Game/CharPanel.vue
Due: build-front, front-lint, front-test

feat: Add an endpoint to choose a skill, and connect it to front end
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Dto/ChooseSkillDto.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Status/ConfigData/StatusConfigData.php
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/services/player.service.ts
  App/src/store/player.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Human players can select their skills again
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

feat: You can now toggle human/mush skills display with genome button
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  App/src/assets/images/mush_module.png
  App/src/components/Game/CharPanel.vue
  App/src/entities/Character.ts
  App/src/entities/Player.ts
  App/src/i18n/locales/fr.json
  App/src/store/player.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: remove dead code
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix typos
  Api/src/Modifier/Listener/SkillEventSubscriber.php
  Api/src/Player/Controller/PlayerController.php
Due: api-test, api-lint

test: Fix functional tests
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Status/Listener/PlayerCycleSubscriber.php
  Api/tests/functional/Action/Actions/AccessTerminalActionCest.php
  Api/tests/functional/Action/Actions/AttemptActionChangeCest.php
  Api/tests/functional/Action/Actions/AutomaticGetUpCest.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/tests/functional/Action/Actions/DisassembleCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/RenovateActionCest.php
  Api/tests/functional/Action/Actions/RepairActionCest.php
  Api/tests/functional/Action/Actions/SkillPointCest.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/tests/functional/Action/Actions/TakeoffToPlanetCest.php
  Api/tests/functional/Disease/Event/DisorderCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/functional/Skill/UseCase/AddSkillToPlayerUseCaseCest.php
  Api/tests/functional/Status/Event/DayEventCest.php
  Api/tests/functional/Status/Normalizer/StatusNormalizerCest.php
  Api/tests/functional/Status/Service/StatusServiceCest.php
  Api/tests/unit/Skill/UseCase/AddSkillToPlayerUseCaseTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Fix unit tests
  Api/src/Player/Entity/Player.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Exception/PlayerDoesNotHaveSkillConfigException.php
  Api/tests/unit/Action/Actions/AbstractActionTest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/HolderHasNotSkillTest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/tests/unit/Skill/UseCase/AddSkillToPlayerUseCaseTest.php
Due: api-test, api-lint

fix: refactor skill normalization to make it more reliable
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillCollection.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Skill/Normalizer/SkillNormalizer.php
  Api/tests/unit/Player/Normalizer/OtherPlayerNormalizerTest.php
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/entities/Character.ts
  App/src/entities/Player.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: Move SkillPoints and emote mapping to SkillEnum
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Enum/SkillEnum.php
Due: api-test, api-lint

chore: Execute PHP hooks only when PHP files are modifiers. Execute yarn lint, when .ts or .vue files are modified.
  hooks/pre-commit
  hooks/pre-push
Due: none

feat: created entities for skins
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/MetaGame/Entity/Skin/Skin.php
  Api/src/MetaGame/Entity/Skin/SkinSlot.php
  Api/src/MetaGame/Entity/Skin/SkinSlotConfig.php
  Api/src/MetaGame/Entity/Skin/SkinableConfigInterface.php
  Api/src/MetaGame/Entity/Skin/SkinableEntityInterface.php
  Api/src/MetaGame/Entity/UnlockCondition.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Entity/PlaceConfig.php
  Api/src/Place/Service/PlaceService.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/User/Entity/User.php
Due: api-test, api-lint

feat: normalize skins
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
Due: api-test, api-lint

internal: Execute PHP and Node hooks only when relevant files are modified
  hooks/pre-commit
  hooks/pre-push
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
