Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix trailer loading
  App/src/components/HomePage.vue
Due: build-front, front-lint, front-test

fix missing links to resolve again
  App/src/components/Game/Communications/ActionButtons.vue
  App/src/components/Game/Communications/Tab.vue
  App/src/components/Game/Inventory.vue
  App/src/components/Game/SpaceBattleView.vue
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/HomePage.vue
  App/src/components/Ranking/ShipRanking.vue
  App/src/components/Thanks.vue
  App/src/components/User/UserShips.vue
Due: build-front, front-lint, front-test

fix broken links
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Game/Communications/TipsTab.vue
Due: build-front, front-lint, front-test

fix env variable used
  App/src/services/moderation_sanction.service.ts
Due: build-front, front-lint, front-test

Update URL for newly added images from rebase
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/components/Utils/Toast.vue
Due: build-front, front-lint, front-test

trying something else
  App/src/utils/getImgUrl.ts
  App/src/utils/getVideoUrl.ts
Due: build-front, front-lint, front-test

style: remove trailing whitespaces and commas
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/Game/Terminals/CommandTerminal.vue
  App/src/components/Ranking/ShipRanking.vue
  App/src/components/User/UserShips.vue
  App/src/enums/alerts.enum.ts
  App/src/enums/character.ts
  App/src/enums/hunter.enum.ts
  App/src/enums/status.item.enum.ts
  App/src/enums/status.player.enum.ts
  App/src/enums/title.enum.ts
  App/src/i18n/index.ts
  App/src/utils/getImgUrl.ts
  App/src/utils/getVideoUrl.ts
Due: build-front, front-lint, front-test

fix missing images again
  App/src/components/Utils/Statuses.vue
  App/src/components/Utils/TitleImage.vue
Due: build-front, front-lint, front-test

fix trailer url
  App/src/components/HomePage.vue
  App/src/utils/getImgUrl.ts
  App/src/utils/getVideoUrl.ts
Due: build-front, front-lint, front-test

fix ClosedExpeditionPanel assets building
  App/src/components/Game/ClosedExpeditionPanel.vue
  App/src/router/index.ts
Due: build-front, front-lint, front-test

fix missing asset
  App/src/components/User/UserShips.vue
Due: build-front, front-lint, front-test

Disable base64 image inline for Phaser scene
  App/vite.config.js
Due: none

build(yarn): upgraded front-end deps + mitigate visual glitch when sitted and click somewere else
  App/package.json
  App/src/entities/Player.ts
  App/src/game/objects/characterObject.ts
  App/src/game/objects/decorationObject.ts
  App/src/game/objects/equipmentObject.ts
  App/src/game/objects/interactObject.ts
  App/src/game/objects/playableCharacterObject.ts
  App/src/game/scenes/daedalusScene.ts
  App/yarn.lock
  docker/App/Dockerfile
Due: build-front, front-lint, front-test

style(cleanup): code cleanup
  App/src/game/objects/playableCharacterObject.ts
  App/src/game/scenes/daedalusScene.ts
Due: build-front, front-lint, front-test

build(docker): reverted front-app to node 18
  docker/App/Dockerfile
Due: none

Revert "build(docker): reverted front-app to node 18"
  docker/App/Dockerfile
Due: none

style(lint): enhanced linting
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

style(linting): applied some linting
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ModifierSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

fix(modifier): ANTISOCIAL_MORALE_LOSS is back on PlayerModifierLogEnum
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
Due: api-test, api-lint

style(wip): tried an approach
  Api/composer.json
  Api/src/Disease/ConfigData/DiseaseConfigData.php
  Api/src/Disease/Event/DiseaseEvent.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Player/Event/PlayerVariableEvent.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Listener/DiseaseEventSubscriber.php
  Api/src/RoomLog/Listener/PlayerVariableSubscriber.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

style(lint): linted code structure
  Api/src/RoomLog/Listener/DiseaseEventSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

style(lint): linted code
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

fix(test): changed remaining PlayerModifierLogEnum for AS_M
  Api/tests/functional/Modifier/Event/CycleEventCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
Due: api-test, api-lint

test(cest): tried to mitigate error rate and some workarounds, still WIP
  Api/src/Disease/Entity/Config/DiseaseConfig.php
  Api/src/Disease/Enum/DiseaseCauseEnum.php
  Api/src/Disease/Enum/DiseaseEnum.php
  Api/src/Disease/Enum/DiseaseStatusEnum.php
  Api/src/Disease/Enum/DisorderEnum.php
  Api/src/Disease/Enum/InjuryEnum.php
  Api/src/Disease/Enum/MedicalConditionTypeEnum.php
  Api/src/Disease/Enum/SymptomActivationRequirementEnum.php
  Api/src/Disease/Enum/SymptomEnum.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Game/Enum/VisibilityEnum.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierPriorityEnum.php
  Api/src/Modifier/Enum/ModifierStrategyEnum.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/RoomLog/Listener/PlayerVariableSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

change the log we want to track
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

style(lint): run linters
  Api/src/Player/Service/PlayerService.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
Due: api-test, api-lint

test(fixes): fixes recently changed enums + rollbacked some changes
  Api/src/Disease/Entity/Config/DiseaseConfig.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/DiseaseEventSubscriber.php
  Api/src/RoomLog/Listener/ModifierSubscriber.php
  Api/src/RoomLog/Listener/PlayerVariableSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
  Api/tests/functional/Disease/Listener/PlayerCycleSubscriberCest.php
  Api/tests/functional/Game/Service/CycleServiceCest.php
  Api/tests/functional/MetaGame/Service/ModerationServiceCest.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
Due: api-test, api-lint

fix: moved back antisocial log handling to logEnum and fixed test
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
Due: api-test, api-lint

test: Exhibit the bug
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

test(cleanup): removed exit condition
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

Allow to fetch messages with pagination
  Api/src/Communication/Repository/MessageRepository.php
  Api/src/Communication/Services/MessageService.php
  Api/src/Communication/Services/MessageServiceInterface.php
Due: api-test, api-lint

Update API to use pagination
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Communication/Entity/Dto/CreateMessage.php
  Api/src/Communication/ParamConverter/MessageCreateParamConverter.php
Due: api-test, api-lint

Update front end to ask messages with pagination. Add a button to load more messages.
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/entities/Channel.ts
  App/src/i18n/locales/fr.json
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

Update unit tests to changes
  Api/tests/unit/Communication/Service/MessageServiceTest.php
Due: api-test, api-lint

fix: added the possibility to set the value of has_status modifier requirement to 0 to apply modifier only if the status is absent
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHasStatus.php
Due: api-test, api-lint

fix: removed random condition on a fixture so test do not randomly fail
  Api/src/Disease/DataFixtures/DiseaseConfigFixtures.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

Removed `Rand20` to the new TriggerEventModifierConfig
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
Due: api-test, api-lint
