Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: Introduce SOL_MUSH_INTRUDER triumph configuration and update related logic for player triumph calculation
  Api/migrations/Version20250501184525.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
Due: api-test, api-lint

First version of the service computing the triumph when listening to PlayerNewCycle event.
  Api/migrations/Version20250501102308.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Repository/TriumphConfigRepository.php
  Api/src/Triumph/Repository/TriumphConfigRepositoryInterface.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
  Api/tests/unit/Triumph/TestDoubles/Repository/InMemoryTriumphConfigRepository.php
Due: api-test, api-lint

Earning triumph now prints a custom log
  Api/composer.json
  Api/src/RoomLog/Listener/TriumphEventSubscriber.php
  Api/src/Triumph/DataFixtures/TriumphConfigFixtures.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphChangedEvent.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Handle triumph given by Daedalus finished event
  Api/src/Triumph/Event/TriumphChangedEvent.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/DaedalusEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Target daedalus new cycle event for cyclic triumph gain to avoid giving too much
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Game/Enum/EventPriorityEnum.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/DaedalusCycleEventSubscriber.php
  Api/tests/functional/Triumph/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Triumph/DataFixtures/TriumphConfigFixtures.php
  Api/src/Triumph/Entity/TriumphConfigCollection.php
Due: api-test, api-lint

Example of giving triumph targeting Daedalus Finished event
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
Due: api-test, api-lint

fix: Ensure quantity returned from TriumphConfig logging is always positive
  Api/src/Triumph/Event/TriumphChangedEvent.php
Due: api-test, api-lint

Do not give cyclic triumph to inactive players. add a test to check dead players do not get triumph
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

feat: Support drone upgrades appear on the item description
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/translations/en/misc+intl-icu.en.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/fr/misc+intl-icu.fr.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

style: adjust white-spacing around getDroneUpgrades function
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
Due: api-test, api-lint

test: Add unit tests for normalizing drone upgrades in EquipmentNormalizer
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
Due: api-test, api-lint

refactor: simplify drone upgrades normalization logic
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/translations/en/misc+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/fr/misc+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Support drone upgrades are now displayed on the drone description
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/translations/en/misc+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/fr/misc+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

New translations misc+intl-icu.fr.xlf (French)
  Api/translations/fr/misc+intl-icu.fr.xlf
Due: translations-lint

New translations misc+intl-icu.fr.xlf (Spanish)
  Api/translations/es/misc+intl-icu.es.xlf
Due: translations-lint

New translations misc+intl-icu.fr.xlf (Italian)
  Api/translations/it/misc+intl-icu.fr.it.xlf
Due: translations-lint

New translations misc+intl-icu.fr.xlf (English)
  Api/translations/en/misc+intl-icu.en.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (French)
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Spanish)
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Italian)
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (English)
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

Update source file misc+intl-icu.fr.xlf
  Api/translations/fr/misc+intl-icu.fr.xlf
Due: translations-lint

Update source file terminal+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

draft: feat: share drone upgrades as parameters
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

fix: fixed patrolship name generation. Fixed taking off
  Api/src/Action/Service/PatrolShipManoeuvreService.php
  Api/src/Equipment/Listener/PlaceInitSubscriber.php
  Api/tests/functional/Daedalus/Service/CreateDaedalusCest.php
  Api/tests/unit/Equipment/Listener/PlaceInitSubscriberTest.php
  App/src/components/Admin/Config/Mechanics/MechanicsDetailPage.vue
Due: build-front, api-test, api-lint, front-lint, front-test

fix: fixed patrolship name generation. Fixed taking off
  Api/tests/unit/Equipment/Listener/PlaceInitSubscriberTest.php
Due: api-test, api-lint

Frieda puts her glasses down while sleeping Vampire Jin Su hides in a coffin Built Terrence's wheelchair for future reference
  App/public/phaser/characters.png
Due: none

Apply 1 suggestion(s) to 1 file(s)
  CONTRIBUTING.md
Due: none

refactor(tests): Enhance DispatchCycleIncidentsServiceTest with clearer test structure and repository call validation
  Api/tests/unit/Daedalus/Service/DispatchCycleIncidentsServiceTest.php
Due: api-test, api-lint

fix(perf): Do not compute twice the list of valid targets when dispatching an incident
  Api/src/Daedalus/Entity/Collection/CycleIncidentCollection.php
  Api/src/Daedalus/Enum/CycleIncidentEnum.php
  Api/src/Daedalus/Service/DispatchCycleIncidentsService.php
  Api/src/Daedalus/ValueObject/CycleIncident.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/tests/unit/Daedalus/Service/DispatchCycleIncidentsServiceTest.php
Due: api-test, api-lint

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

fix flaky test
  Api/tests/functional/Daedalus/Event/DaedalusDestroyedOnEndDayCest.php
Due: api-test, api-lint

docs: Update README with revised steps for adding new config to admin page
  Api/src/MetaGame/README.md
Due: none

fix(perf): Do not compute twice the list of valid targets when dispatching an incident
  Api/src/Daedalus/Entity/Collection/CycleIncidentCollection.php
  Api/src/Daedalus/Enum/CycleIncidentEnum.php
  Api/src/Daedalus/Service/DispatchCycleIncidentsService.php
  Api/src/Daedalus/ValueObject/CycleIncident.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/tests/functional/Daedalus/Event/DaedalusDestroyedOnEndDayCest.php
  Api/tests/unit/Daedalus/Service/DispatchCycleIncidentsServiceTest.php
Due: api-test, api-lint

docs: Add documentation on how to add new configs to admin page
  Api/src/MetaGame/README.md
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
