Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: Separate anathem triumph loss log from triumph gain log
  Api/src/Triumph/Entity/TriumphConfig.php
Due: api-test, api-lint

Apply 3 suggestion(s) to 3 file(s)
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
Due: api-test, api-lint

interal: fix rebasing error
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
Due: api-test, api-lint

feat(triumph): Anathem
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Action/Actions/AnathemaCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Translation expansion
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

Rebasing fix
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Daedalus Defender, Hunter Nemesis
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

refactor: personal_triumph_regression charge status starting at 0 on creation
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

fix: Fixing the formula with the regressive factor
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Listener/HunterCest.php
Due: api-test, api-lint

feat(triumph): Daedalus Defender, Hunter Nemesis
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Hunter/Event/HunterEvent.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Listener/HunterCest.php
  Api/tests/functional/Triumph/Listener/InfectPlayerCest.php
  Api/tests/functional/Triumph/Listener/KillPlayerCest.php
  Api/tests/functional/Triumph/Listener/PregnantCest.php
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
  Api/tests/unit/Triumph/Event/LinkWithSolEstablishedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectAdvancedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

feat(triumph): Fast Forward, Planet Searcher, New Planet, Planet Finder
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/functional/Triumph/Listener/PlanetCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

internal: Correcting method's logic to its name
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

feat(triumph): Daedalus Defender, Hunter Nemesis, Fast Forward, Planet Searcher, New Planet, Planet Finder
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Hunter/Event/HunterEvent.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/functional/Triumph/Listener/HunterCest.php
  Api/tests/functional/Triumph/Listener/InfectPlayerCest.php
  Api/tests/functional/Triumph/Listener/KillPlayerCest.php
  Api/tests/functional/Triumph/Listener/PlanetCest.php
  Api/tests/functional/Triumph/Listener/PregnantCest.php
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
  Api/tests/unit/Triumph/Event/LinkWithSolEstablishedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectAdvancedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Small Research, Standard Research, Brillant Research
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
Due: api-test, api-lint

feat(triumph): Eden Cat, Eden No Cat, Eden Mush Cat
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Adding tests checking the cat state
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
  Api/tests/unit/Triumph/Event/LinkWithSolEstablishedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectAdvancedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

feat(triumph): Eden Cat, Eden No Cat, Eden Mush Cat
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
  Api/tests/unit/Triumph/Event/LinkWithSolEstablishedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectAdvancedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Do not send personal glory description if player is Mush
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

feat: Personal glory objectives are displayed in glory tooltip
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Repository/TriumphConfigRepository.php
  Api/src/Triumph/Repository/TriumphConfigRepositoryInterface.php
  Api/translations/fr/player+intl-icu.fr.xlf
  Api/translations/fr/triumph+intl-icu.fr.xlf
  App/src/components/Game/BannerPanel.vue
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

refactor: simplfy glory tooltip description traduction code
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

test: fix broken test
  Api/tests/unit/Triumph/TestDoubles/Repository/InMemoryTriumphConfigRepository.php
Due: api-test, api-lint

feat(triumph): Eden Pregnant, Pregnant In Eden
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Pluralism
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Including pluralism in test
  Api/tests/functional/Triumph/Event/EdenCest.php
Due: api-test, api-lint

feat(triumph): Eden Microbes
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Eden Alien Plant
  Api/src/Equipment/Enum/GamePlantEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Correcting triumph config names
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

test: Adding test checking alien fruit Eden triumph gain
  Api/tests/functional/Triumph/Event/EdenCest.php
Due: api-test, api-lint

feat-collect-ship-statistics
  Api/migrations/Version20250601183508.php
  Api/src/Action/Actions/Scan.php
  Api/src/Communications/Event/RebelBaseDecodedEvent.php
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Daedalus/Entity/DaedalusStatistics.php
  Api/src/Daedalus/Listener/ExplorationStartedSubscriber.php
  Api/src/Daedalus/Listener/HunterDeathSubscriber.php
  Api/src/Daedalus/Listener/OnConversionPlayerSubscriber.php
  Api/src/Daedalus/Listener/PlayerVariableSubscriber.php
  Api/src/Daedalus/Listener/RebelBaseDecodedSubscriber.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Exploration/Entity/Planet.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Hunter/Event/HunterEvent.php
  Api/src/Player/Event/PlayerEvent.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/functional/Action/Actions/ScanCest.php
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/tests/functional/Exploration/Event/ExplorationEventCest.php
  Api/tests/functional/Hunter/Event/HunterDeathEventCest.php
  Api/tests/functional/Player/Event/PlayerEventCest.php
Due: api-test, api-lint

feat: collect ship statistics
  Api/migrations/Version20250601183508.php
  Api/src/Action/Actions/Scan.php
  Api/src/Communications/Event/RebelBaseDecodedEvent.php
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Daedalus/Entity/DaedalusStatistics.php
  Api/src/Daedalus/Listener/ExplorationStartedSubscriber.php
  Api/src/Daedalus/Listener/HunterDeathSubscriber.php
  Api/src/Daedalus/Listener/OnConversionPlayerSubscriber.php
  Api/src/Daedalus/Listener/PlayerVariableSubscriber.php
  Api/src/Daedalus/Listener/RebelBaseDecodedSubscriber.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Exploration/Entity/Planet.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Hunter/Event/HunterEvent.php
  Api/src/Player/Event/PlayerEvent.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/functional/Action/Actions/ScanCest.php
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/tests/functional/Exploration/Event/ExplorationEventCest.php
  Api/tests/functional/Hunter/Event/HunterDeathEventCest.php
  Api/tests/functional/Player/Event/PlayerEventCest.php
Due: api-test, api-lint

fix: Polyvalent can no longer hybridize plants
  Api/src/Action/Actions/Graft.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/HasSkillValidator.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/tests/functional/Action/Actions/GraftCest.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Eden Computed, Andie Fate, Lover
  Api/src/Action/Event/ActionEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/tests/functional/Action/Actions/FlirtActionCest.php
Due: api-test, api-lint

Expanding translation file
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

fix: Removing Lover, adding tests
  Api/src/Action/Event/ActionEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/tests/functional/Action/Actions/AcceptTradeCest.php
  Api/tests/functional/Action/Actions/ComputeEdenCest.php
  Api/tests/functional/Action/Actions/FlirtActionCest.php
  Api/tests/functional/Action/Actions/RefuseTradeCest.php
Due: api-test, api-lint
