Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix(test): wrote logic + test but not 100% sure
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/Entity/Collection/ProbaCollection.php
  Api/src/Game/Service/RandomService.php
  Api/src/Place/Entity/Place.php
  Api/src/Status/CycleHandler/Fire.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/tests/unit/Status/CycleHandler/FireTest.php
Due: api-test, api-lint

style(code): formated some code while I was here
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Plant.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/tests/unit/Status/CycleHandler/FireTest.php
Due: api-test, api-lint

feat(fire): handle better and closer to legacy fire propagation
  Api/migrations/Version20240327150942.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Game/ConfigData/DifficultyConfigData.php
  Api/src/Game/DataFixtures/DifficultyConfigFixtures.php
  Api/src/Game/Entity/DifficultyConfig.php
  Api/src/Status/CycleHandler/AbstractStatusCycleHandler.php
  Api/src/Status/CycleHandler/Fire.php
  Api/tests/unit/Status/CycleHandler/FireTest.php
Due: api-test, api-lint

test(fire): fixed fire tests to handle new legacy logic
  Api/src/Place/Enum/PlaceTypeEnum.php
  Api/src/Status/CycleHandler/Fire.php
  Api/tests/functional/Communication/Event/NeronMessageCycleCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

fix(fire): checked fire cannot handle a new cycle if the room is not a Place
  Api/src/Status/CycleHandler/Fire.php
  Api/src/Status/Entity/StatusTarget.php
  Api/tests/unit/Status/CycleHandler/FireTest.php
Due: api-test, api-lint

feat(fire): handle better and closer to legacy fire propagation
  Api/migrations/Version20240327150942.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Plant.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/ConfigData/DifficultyConfigData.php
  Api/src/Game/DataFixtures/DifficultyConfigFixtures.php
  Api/src/Game/Entity/Collection/ProbaCollection.php
  Api/src/Game/Entity/DifficultyConfig.php
  Api/src/Game/Service/RandomService.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Enum/PlaceTypeEnum.php
  Api/src/Status/CycleHandler/AbstractStatusCycleHandler.php
  Api/src/Status/CycleHandler/Fire.php
  Api/src/Status/Entity/StatusTarget.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/tests/functional/Communication/Event/NeronMessageCycleCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
  Api/tests/unit/Status/CycleHandler/FireTest.php
Due: api-test, api-lint

chore: added a list of sanction per user accessible for moderator
  Api/config/api_platform/api_filters.yaml
  Api/config/api_platform/resources/moderation_sanction.yaml
  Api/config/api_platform/resources/user.yaml
  Api/config/api_platform/serialization/moderation_sanction.yaml
  Api/config/api_platform/serialization/user.yaml
  Api/migrations/Version20240323181415.php
  Api/migrations/Version20240330210016.php
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Entity/Collection/ModerationSanctionCollection.php
  Api/src/MetaGame/Entity/ModerationSanction.php
  Api/src/MetaGame/Enum/ModerationSanctionEnum.php
  Api/src/MetaGame/Service/ModerationService.php
  Api/src/User/Entity/User.php
  Api/tests/functional/MetaGame/Service/ModerationServiceCest.php
  Api/tests/unit/MetaGame/Entity/ModerationSanctionTest.php
  Api/tests/unit/MetaGame/Service/ModerationServiceTest.php
  Api/tests/unit/User/Entity/UserTest.php
  App/src/components/Moderation/SanctionListPage.vue
  App/src/enums/moderation_reason.enum.ts
  App/src/router/index.ts
Due: build-front, api-test, api-lint, front-lint, front-test

style: apply linter fixes
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/entities/Planet.ts
Due: build-front, front-lint, front-test

Normalize new infos for sharing planets feature
  Api/src/Exploration/Normalizer/PlanetSectorNormalizer.php
  App/src/entities/Planet.ts
  App/src/entities/PlanetSector.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Translate share planet button
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/entities/Terminal.ts
  App/src/entities/TerminalButtons.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix broken test
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
Due: api-test, api-lint

Add new emotes
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

Fix multiple bugs
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Terminals/AstroTerminal.vue
Due: build-front, front-lint, front-test

Add share planets button (draft)
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Terminals/AstroTerminal.vue
Due: build-front, front-lint, front-test

Share planet one at a time
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/entities/Planet.ts
Due: build-front, front-lint, front-test

style(code): enhanced code liniting
  Api/src/Equipment/Enum/EquipmentEnum.php
  App/src/entities/TerminalButtons.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Add a button to share planets in public channel
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Exploration/Normalizer/PlanetSectorNormalizer.php
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/entities/Planet.ts
  App/src/entities/PlanetSector.ts
  App/src/entities/Terminal.ts
  App/src/entities/TerminalButtons.ts
  App/src/utils/formatText.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Add missing status for new defense CPU
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

chore: added translations and fixed several bugs
  Api/config/api_platform/api_filters.yaml
  Api/config/api_platform/resources/moderation_sanction.yaml
  Api/config/api_platform/resources/user.yaml
  Api/config/api_platform/serialization/user.yaml
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Enum/ModerationSanctionEnum.php
  App/src/components/Admin/User/UserListPage.vue
  App/src/components/Game/Communications/ActionButtons.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/components/Moderation/ModerationActionPopup.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/enums/moderation_reason.enum.ts
  App/src/i18n/locales/fr.json
  App/src/router/index.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: Use rope modifier to check if rope modifier have been applied are not.
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
Due: api-test, api-lint

refactor: simplify a closure
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
Due: api-test, api-lint

fix: Rope log will be printed in event outcome instead of event description
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

chore: added possibility to remove or suspend sanction
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Service/ModerationService.php
  App/src/components/Game/Communications/ActionButtons.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/moderation.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore: fixed an issue with report pop up on theEnd page
  App/src/components/Ranking/TheEndPage.vue
Due: build-front, front-lint, front-test

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/planet_sector_event+intl-icu.fr.it.xlf
  Api/translations/it/terminal+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: api-lint

fix: Male old t-shirt spawn
  Api/src/Daedalus/ConfigData/RandomItemPlacesData.php
Due: api-test, api-lint

fix: Make old t-shirt spawn
  Api/src/Daedalus/ConfigData/RandomItemPlacesData.php
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

fix: Rope log will be printed in event outcome instead of event description
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

chore: added warnings display for users
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Entity/ModerationSanction.php
  Api/src/MetaGame/Service/ModerationService.php
  App/src/App.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/components/Moderation/ModerationWarningBanner.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/moderation.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore: fixed tests
  Api/src/MetaGame/Entity/ModerationSanction.php
  Api/src/MetaGame/Service/ModerationService.php
  Api/tests/unit/MetaGame/Entity/ModerationSanctionTest.php
  Api/tests/unit/MetaGame/Service/ModerationServiceTest.php
  Api/tests/unit/User/Entity/UserTest.php
Due: api-test, api-lint

chore: reduced migration file to 1
  Api/migrations/Version20240403160041.php
Due: api-test, api-lint

chore: reduced migration file to 1
  Api/migrations/Version20240327150942.php
Due: api-test, api-lint

fix: removed a log
  App/src/components/Moderation/ModerationWarningBanner.vue
Due: build-front, front-lint, front-test

fix: removed quarantine button on playerList page
  App/src/components/Admin/User/UserListPage.vue
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/components/Moderation/ModerationPlayerListPage.vue
  App/src/enums/item.ts
Due: build-front, front-lint, front-test

FIx broken migration
  Api/migrations/Version20240403160041.php
Due: api-test, api-lint

fix: Long messages for moderation sanctions are now correctly saved
  Api/migrations/Version20240404061510.php
  Api/src/MetaGame/Entity/ModerationSanction.php
Due: api-test, api-lint
