Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

feat: Add Fendi to the developer team list
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

Add Radio Expert bonus
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierPriorityEnum.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

refactor: Reorganize EstablishLinkWithSol action methods
  Api/src/Action/Actions/EstablishLinkWithSol.php
Due: api-test, api-lint

Action uses IT points instead of Action points if player have some
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

Add Spatial Wave Radar project bonus
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

chore: Add new test commands for Communications module
  Api/composer.json
Due: none

Add morale bonus when Sol is contacted for the first time
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Chat/Listener/StatusSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

fix broken test
  Api/tests/functional/Modifier/Listener/TakeSubscriberCest.php
Due: api-test, api-lint

Players now start at 7 morale points
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

Can try to contact Sol only once per day
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

refactor: Improve CommunicationsTerminal sensor display and styling
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
Due: build-front, front-lint, front-test

refactor: Mark LinkWithSol daedalus ID setter as deprecated and remove in-memory repository
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/Repository/InMemoryLinkWithSolRepository.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

refactor: Rename SignalStrength value object to LinkStrength
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/ValueObject/LinkStrength.php
Due: api-test, api-lint

Cannot contact Sol when dirty
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

Broken antenna makes the action costs +1AP
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

Creating Link With Sol at Daedalus creation
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/DoctrineLinkWithSolRepository.php
  Api/src/Communications/Repository/InMemoryLinkWithSolRepository.php
  Api/src/Communications/Repository/LinkWithSolRepository.php
  Api/src/Communications/Service/CreateLinkWithSolForDaedalusService.php
  Api/src/Communications/Service/EstablishLinkWithSolService.php
  Api/src/Communications/config/services.yaml
  Api/tests/functional/Communications/Event/DaedalusEventCest.php
  Api/tests/unit/Communications/Service/CreateLinkWithSolForDaedalusServiceTest.php
Due: api-test, api-lint

refactor: Use a modifier to dispatch first contact bonus
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

Connect LinkWithSol entity to Doctrine
  Api/config/packages/doctrine.yaml
  Api/config/services.yaml
  Api/migrations/Version20250208200544.php
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/ValueObject/SignalStrength.php
  Api/src/Communications/config/services.yaml
Due: api-test, api-lint

feat: Add action to establish link with Sol, which increases link strength
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

fix typo
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Action is not visible if link with Sol is already established
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Action/Validator/LinkWithSolConstraint.php
  Api/src/Action/Validator/LinkWithSolConstraintValidator.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

Wire the action to front end
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

refactor: Update terminal access validation for Comms center
  Api/src/Action/Actions/SearchForMushGenome.php
  Api/src/Action/Validator/HasNeededTitleForTerminalValidator.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
Due: api-test, api-lint

test: Refactor tests for establishing link with Sol and improve readability
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/unit/Communications/Service/CreateLinkWithSolForDaedalusServiceTest.php
Due: api-test, api-lint

feat: Link with sol is established given a probability of success
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

fix: Radio expert in room do not stack
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

refactor: Adjust text-transform styling in CommunicationsTerminal
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
Due: build-front, front-lint, front-test

refactor: Remove middle man class
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Service/CreateLinkWithSolForDaedalusService.php
  Api/tests/unit/Communications/Service/CreateLinkWithSolForDaedalusServiceTest.php
Due: api-test, api-lint

Add action room logs
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

First service to establish link with Sol
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/Repository/InMemoryLinkWithSolRepository.php
  Api/src/Communications/Repository/LinkWithSolRepositoryInterface.php
  Api/src/Communications/Service/EstablishLinkWithSolService.php
  Api/src/Communications/ValueObject/SignalStrength.php
  Api/tests/unit/Communications/Service/EstablishLinkWithSolServiceTest.php
Due: api-test, api-lint

refactor: remove more middle man class
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Communications/Service/EstablishLinkWithSolService.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/unit/Communications/Service/EstablishLinkWithSolServiceTest.php
Due: api-test, api-lint

refactor: tiny optim - fetch link with sol from database only if we need to establish it
  Api/src/Action/Actions/EstablishLinkWithSol.php
Due: api-test, api-lint

refactor: rename markAsEstablished method to establish
  Api/src/Communications/Entity/LinkWithSol.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
Due: api-test, api-lint

internal: inverted end causes morale array collection
  Api/src/Player/Enum/EndCauseEnum.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Player/Enum/EndCauseEnum.php
Due: api-test, api-lint

feat: Links in chat are now green like any link on the website
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

feat: clickable links in messages
  App/src/enums/ui_icon.enum.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test
