Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

Remove quotation marks for non empty messages
  Api/migrations/Version20240601183526.php
  Api/src/Action/Actions/ReadDocument.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Status/Entity/ContentStatus.php
  Api/tests/functional/Action/Actions/ReadDocumentCest.php
  Api/tests/functional/Action/Actions/WriteCest.php
  Api/tests/unit/Action/Actions/ReadDocumentTest.php
  Api/tests/unit/Action/Actions/WriteTest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

Add a special log for empty post-its
  Api/src/Status/Entity/ContentStatus.php
  Api/tests/functional/Action/Actions/ReadDocumentCest.php
  Api/tests/functional/Action/Actions/WriteCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Post-it content is correctly persisted in database
  Api/src/Action/Actions/Write.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
Due: api-test, api-lint

fix broken tests
  Api/tests/unit/Action/Actions/ReadDocumentTest.php
  Api/tests/unit/Action/Actions/WriteTest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

fix typo
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

wip
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Status/Entity/ContentStatus.php
  Api/tests/functional/Action/Actions/ReadDocumentCest.php
  Api/tests/functional/Action/Actions/WriteCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add project french translations
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/Enum/ProjectName.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Project increase patrol ships by one point
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Action/Actions/ShootHunterPatrolShipCest.php
Due: api-test, api-lint

feat(projects): Blaster Gun
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/Enum/ProjectName.php
  Api/tests/functional/Action/Actions/ShootHunterPatrolShipCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add project french translations
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Project improves Takeoff and landing chances of critical sucess
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Action/Actions/LandActionCest.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
Due: api-test, api-lint

style: fix comments
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
Due: api-test, api-lint

feat(projects): Bay Door XXL
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Action/Actions/LandActionCest.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(projects): Scrap Heap
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(projects): Food Retailer
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/SkillEnum.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Equipment/Event/EquipmentCycleEventCest.php
  Api/tests/functional/Equipment/Listener/PlantCycleEventCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/tests/unit/Equipment/CycleHandler/PlantCycleHandlerTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

refactor: clean code
  Api/composer.json
  Api/src/Equipment/Listener/ExplorationEventSubscriber.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Place/Entity/Place.php
Due: api-test, api-lint

Add project french translations
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Auto Return Icarus return all planet equipment on the Daedalus even if all explorators are dead
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Listener/ExplorationEventSubscriber.php
  Api/src/Exploration/Entity/Exploration.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
Due: api-test, api-lint

feat(projects): Auto Return Icarus
  Api/composer.json
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Listener/ExplorationEventSubscriber.php
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Empty post-its are now readable
  Api/migrations/Version20240601131237.php
  Api/migrations/Version20240601183526.php
  Api/src/Action/Actions/Write.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/Mechanics/Document.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/Status/Entity/ContentStatus.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/ReadDocumentCest.php
  Api/tests/functional/Action/Actions/WriteCest.php
  Api/tests/unit/Action/Actions/WriteTest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

You cannot trap a room already trapped
  Api/src/Action/Actions/TrapCloset.php
  Api/tests/functional/Action/Actions/TrapClosetCest.php
Due: api-test, api-lint

Fix Mush actions loading
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Status/ConfigData/ChargeStatusConfigDataLoader.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

Trap Closet action prints a secret log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/TrapClosetCest.php
Due: api-test, api-lint

Make a test more specific, exhibiting a bug
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

Trigger room trap only for actions from room equipment
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

Trigger room trap for specific actions, which do not interact with room equipment
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

Update french translations
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

Does not infect immunized or Mush players
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

Infect player interacting with trapped room
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

Print message in Mush channel
  Api/src/Communication/Enum/MushMessageEnum.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

Message in Mush channel correctly prints the author
  Api/src/Action/Actions/TrapCloset.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

Handle gender in french translations
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: translations-lint

feat: Trap Closet action WIP
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/TrapCloset.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Communication/Enum/MushMessageEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlaceStatusEnum.php
  Api/tests/functional/Action/Actions/TrapClosetCest.php
Due: api-test, api-lint

Add french translations
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Interacting with trapped room makes the trap disappear
  Api/src/Action/Event/ActionEvent.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

fix: Check actions which trigger room traps to remove status for the room, not only to infect the player.
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Action/Actions/TrapCloset.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Status/Enum/PlaceStatusEnum.php
  Api/tests/functional/Action/Actions/TrapClosetCest.php
  Api/tests/functional/Action/Event/PreActionEventCest.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
Due: api-test, api-lint

refactor: remove useless type hint
  Api/src/Player/Listener/ActionEventSubscriber.php
Due: api-test, api-lint

refactor: remove useless call
  Api/src/Player/Listener/ActionEventSubscriber.php
Due: api-test, api-lint
