Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

refactor: Implementing StatusHolderInterface to project forces to exposes its name as a string instead of an enum. Update the codebase for that.
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/Project/Repository/InMemoryProjectRepository.php
  Api/src/Project/Repository/ProjectRepository.php
  Api/src/Project/Repository/ProjectRepositoryInterface.php
  Api/tests/functional/Project/Repository/ProjectRepositoryCest.php
  Api/tests/functional/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseCest.php
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
Due: api-test, api-lint

Prevent to participate if efficiency is equals to zero
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/NoEfficiency.php
  Api/src/Action/Validator/NoEfficiencyValidator.php
  Api/src/Action/Validator/ReachValidator.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint

Project efficiency is now specific to a player. Add tests to check the efficiency is correctly computed.
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Status/Factory/StatusFactory.php
  Api/tests/unit/Player/Entity/PlayerTest.php
Due: api-test, api-lint

Reset other players participations after a relay
  Api/src/Status/Listener/ProjetEventSubscriber.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
Due: api-test, api-lint

fix specifications
  Api/tests/unit/Player/Entity/PlayerTest.php
Due: api-test, api-lint

create project_participations status
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/unit/Player/Entity/PlayerTest.php
Due: api-test, api-lint

Update AdvanceProject use case so it takes player in count to comput efficiency.
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  Api/tests/unit/Project/UseCase/AdvanceProjectUseCaseTest.php
Due: api-test, api-lint

feat: Add relaying mechanic
  Api/migrations/Version20240420132158.php
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/NoEfficiency.php
  Api/src/Action/Validator/NoEfficiencyValidator.php
  Api/src/Action/Validator/ReachValidator.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Exception/ProjetEventShouldHaveAnAuthorException.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/Project/Repository/InMemoryProjectRepository.php
  Api/src/Project/Repository/ProjectRepository.php
  Api/src/Project/Repository/ProjectRepositoryInterface.php
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Entity/StatusTarget.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Factory/StatusFactory.php
  Api/src/Status/Listener/ProjetEventSubscriber.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
  Api/tests/functional/Project/Repository/ProjectRepositoryCest.php
  Api/tests/functional/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseCest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/tests/unit/Project/UseCase/AdvanceProjectUseCaseTest.php
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint

fix: player who finished pilgred is crrectly announced by NERON
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Project/Event/ProjectEvent.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Communication/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

refactor: rename files, remove deprecates ones and apply linter fixes
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Exception/ProjetEventShouldHaveAnAuthorException.php
  Api/src/Status/Listener/ProjectEventSubscriber.php
Due: api-test, api-lint

feat: When PILGRED progression reaches 100%, NERONmakes an announcement
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Listener/ProjectEventSubscriber.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Communication/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

feat: When PILGRED progression reaches 100%, NERON makes an announcement
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Exception/ProjetEventShouldHaveAnAuthorException.php
  Api/src/Project/Listener/ProjectEventSubscriber.php
  Api/src/Status/Listener/ProjectEventSubscriber.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Communication/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

Player cannot see Repair PILGRED action if it is finished
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/Validator/ProjectFinished.php
  Api/src/Action/Validator/ProjectFinishedValidator.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
Due: api-test, api-lint

Display PILGRED finished status in front end
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/PilgredTerminal.vue
  App/src/entities/TerminalInfos.ts
Due: build-front, api-test, api-lint, front-lint, front-test

style(front): apply linter fixes
  App/src/components/Game/Terminals/PilgredTerminal.vue
Due: build-front, front-lint, front-test

feat: When PILGRED progression reaches 100%, player cannot see the "Repair PILGRED" action
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/Validator/ProjectFinished.php
  Api/src/Action/Validator/ProjectFinishedValidator.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/PilgredTerminal.vue
  App/src/entities/TerminalInfos.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Player cannot see Repair PILGRED action if it is finished
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
Due: api-test, api-lint

Normalize PILGRED in daedalus dataz if it is finished.
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
Due: api-test, api-lint

Add french translations for daedalus PILGRED normalization
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-lint

Display finished PILGRED in front-end
  App/src/components/Game/DaedalusProjectCard.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Game/ProjectsPanel.vue
  App/src/entities/Daedalus.ts
Due: build-front, front-lint, front-test

refactor: remove placeholder template
  App/src/components/Game/ProjectsPanel.vue
Due: build-front, front-lint, front-test

fix project panel margin
  App/src/components/Game/ProjectsPanel.vue
Due: build-front, front-lint, front-test

fix duplicate method
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
Due: api-test, api-lint

create PILGRED by default in functional tests
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
Due: api-test, api-lint

fix broken test
  Api/src/Daedalus/Entity/Daedalus.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Communication/Event/ProjectFinishedEventCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

fix tests
  Api/tests/_support/AbstractFunctionalTest.php
Due: api-test, api-lint

prevent to create existing project and remove duplicate in config data
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
Due: api-test, api-lint

style(code-quality): improved code quality
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
Due: api-test, api-lint

feat: When PILGRED progression reaches 100%, player can see it at the bottom of the page
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Communication/Event/ProjectFinishedEventCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/DaedalusProjectCard.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Game/ProjectsPanel.vue
  App/src/entities/Daedalus.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Add ReturnToSol WIP action
  Api/src/Action/Actions/ReturnToSol.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
Due: api-test, api-lint

refactor: Make ProjectFInished Validator more generic and adapt usage in codebase
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/Validator/ProjectFinished.php
  Api/src/Action/Validator/ProjectFinishedValidator.php
Due: api-test, api-lint

Implement all action specs
  Api/src/Action/Actions/ReturnToSol.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/RoomLog/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
Due: api-test, api-lint

Add french translations for action
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-lint

Display action in front end
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/CommandTerminal.vue
  App/src/components/Utils/ActionButton.vue
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Do not consider Sol return as a death
  Api/src/Action/Actions/ReturnToSol.php
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
Due: api-test, api-lint

Adapt page title given end cause
  App/src/App.vue
  App/src/components/PurgatoryPage.vue
  App/src/entities/DeadPlayerInfo.ts
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: Do not trigger traumas at Sol Return
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
  Api/tests/unit/Disease/Listener/PlayerSubscriberTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Disease/Listener/PlayerSubscriber.php
Due: api-test, api-lint

style(code-quality): enhanced code quality + fixed namespacing
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
Due: api-test, api-lint
