Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: Make cycle change toggle more reliable
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

fix: fix some bugs on moderation panel
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/entities/ModerationViewPlayer.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Prevent to use oxygen tank actions if it's broken.
  Api/src/Equipment/Entity/EquipmentMechanic.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Gear.php
  Api/tests/functional/Action/Actions/RetrieveOxygenCest.php
Due: api-test, api-lint

hotfix: Remove `final` keyword from Doctrine entity
  Api/src/Player/Entity/CommanderMission.php
Due: api-test, api-lint

fix: Wrap action execution in a transaction
  Api/src/Action/Service/ActionStrategyService.php
Due: api-test, api-lint

hotfix: Add more context in error message when an action fails
  Api/src/Action/Service/ActionStrategyService.php
Due: api-test, api-lint

feat: Caffeine Junkie gives 2 extra AP when consuming a coffee
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/ConsumeCoffeeCest.php
Due: api-test, api-lint

Check that Mush player do not gain AP from Caffeine Junkie
  Api/tests/functional/Action/Actions/ConsumeCoffeeCest.php
Due: api-test, api-lint

fix: You can report messages when dead
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

fix: Fix multiple issues on message fav / reporting
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/entities/Channel.ts
Due: build-front, front-lint, front-test

fix: Fix multiple issues with Logistics Expert
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Handler/LogisticsExpertHandler.php
  Api/src/Skill/Listener/PlayerCycleEventSubscriber.php
  Api/tests/functional/Place/Event/PlaceEventCest.php
  Api/tests/functional/Skill/LogisticsExpertCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

hotfix: Update human and mush skill slots number based on player levels
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

fix: Infector will work for your new body after a transfer
  Api/src/Action/Actions/ExchangeBody.php
Due: api-test, api-lint

fix: Fix prevent modifier translations
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/translations/fr/modifiers+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Radio Piracy
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Trapper
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix broken tests
  Api/tests/functional/Action/Actions/TrapClosetCest.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
Due: api-test, api-lint

fix broken tests
  Api/tests/functional/Communication/Listener/PiratedPrivateChannelParticipantsCest.php
Due: api-test, api-lint

feat(skill): Trapper
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/tests/functional/Action/Actions/TrapClosetCest.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/tests/functional/Communication/Listener/PiratedPrivateChannelParticipantsCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Tracker allows to read logs from 2 days ago
  Api/src/Equipment/DataFixtures/PersonalEquipmentConfigFixtures.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Repository/RoomLogRepository.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/TrackerCest.php
Due: api-test, api-lint

Tracker can see enter and exit rooms from Move logs.
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/RoomLog/Normalizer/RoomLogNormalizer.php
  Api/tests/functional/Skill/TrackerCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/rooms+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add Print Ze List action which creates a list containing at least one alpha Mush.
  Api/src/Action/Actions/PrintZeList.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Validator/AllMushsAreDead.php
  Api/src/Action/Validator/AllMushsAreDeadValidator.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/PrintZeListCest.php
  Api/tests/functional/Daedalus/Event/FilledDaedalusCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add missing icons
  App/src/enums/item.ts
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Add Tracker french translations
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Apply linter fixes
  Api/src/Action/Actions/PrintZeList.php
  Api/src/Action/Validator/AllMushsAreDead.php
  Api/src/Action/Validator/AllMushsAreDeadValidator.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/PrintZeListCest.php
Due: api-test, api-lint

Add Print ZE List french translations
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

fix tests
  Api/tests/functional/Action/Event/PreActionEventCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
  Api/tests/unit/RoomLog/Normalizer/RoomLogNormalizerTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

temp conditions as ongoing Daedaluses do not have alpha mushs
  Api/src/Action/Actions/PrintZeList.php
Due: api-test, api-lint

refactor: Use boolean in closed player to flag alpha mushs to avoid issues at player death
  Api/migrations/Version20240825210707.php
  Api/src/Action/Actions/PrintZeList.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/PrintZeListCest.php
  Api/tests/functional/Daedalus/Event/FilledDaedalusCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
Due: api-test, api-lint

Make log accurate to Mush one and refactor
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/tests/functional/Skill/TrackerCest.php
  Api/translations/fr/rooms+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Prevent two Trackers to print tw different lists
  Api/src/Action/Actions/PrintZeList.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/src/Status/Enum/PlayerStatusEnum.php
Due: api-test, api-lint

refactor: use action provider in Attack action
  Api/src/Action/Actions/Attack.php
Due: api-test, api-lint

feat: Blaster and Knife work onboard again
  Api/src/Action/Actions/Shoot.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/GameEquipment.php
Due: api-test, api-lint

fix: Armor also apply to Attack and Shoot actions
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
Due: api-test, api-lint

remove broken and useless tests
  Api/tests/unit/Action/Actions/ShootActionTest.php
Due: api-test, api-lint

rewrite Attack action tests
  Api/tests/functional/Action/Actions/AttackCest.php
  Api/tests/unit/Action/Actions/AttackActionTest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
