Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check-mr-title
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

front-lint:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

internal: turn off anti spam
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
Due: none

feat: open treasure action
  Api/src/Action/Actions/SummerEventActions/OpenTreasure.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/SummerEventActions/OpenTreasureCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: new pirate ship sector. New search for the treasure action. Players can now try to find the treasure
  Api/src/Action/Actions/SummerEventActions/SearchTreasure.php
  Api/src/Action/Actions/SummerEventActions/TravelToEventPlanet.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Exploration/ConfigData/PlanetSectorConfigData.php
  Api/src/Exploration/ConfigData/PlanetSectorEventConfigData.php
  Api/src/Exploration/Entity/ExplorationLogCollection.php
  Api/src/Exploration/Enum/PlanetSectorEnum.php
  Api/src/Exploration/Event/PlanetSectorEvent.php
  Api/src/Exploration/Listener/SummerEventSubscriber.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/PirateShip.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/src/Status/Listener/DaedalusEventSubscriber.php
  Api/tests/functional/Action/Actions/SummerEventActions/SearchTreasureCest.php
  Api/tests/functional/Action/Actions/SummerEventActions/TravelToEventPlanetCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/planet+intl-icu.fr.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: treasure hunt pet. New action to feed it. New status when you feed it.
  Api/src/Action/Actions/SummerEventActions/FeedPet.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Chat/Enum/MushMessageEnum.php
  Api/src/Chat/Listener/PlayerSubscriber.php
  Api/src/Chat/Listener/StatusSubscriber.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Enum/AIHandlerEnum.php
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
  Api/src/Equipment/NPCTasks/AiHandler/BabySkinnerTasksHandler.php
  Api/src/Equipment/Service/DeleteEquipmentService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/SummerEventActions/FeedPetCest.php
  Api/tests/functional/Equipment/NPCTasks/BabySkinnerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/end_cause+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: new icon for status protected by pet
  App/src/assets/images/status/she_protec.png
  App/src/enums/emotes/status.enum.ts
  App/src/enums/status.player.enum.ts
Due: build-front, front-lint, front-test

fix: new players can't be alpha
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/User/Service/UserService.php
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: can't accept summer event trade and pet sector not on the planet
  Api/src/Action/Actions/AcceptTrade.php
  Api/src/Action/Actions/SummerEventActions/TravelToEventPlanet.php
Due: api-test, api-lint

feat: can't skip pet event and pirate wreck event by sabotaging the exploration but give bonus to the mush when they do so
  Api/src/Exploration/ConfigData/PlanetSectorEventConfigData.php
  Api/src/Exploration/PlanetSectorEventHandler/Artefact.php
  Api/src/Exploration/PlanetSectorEventHandler/PirateShip.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

chore(release): 0.34.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: added back deprecated enum*
  Api/src/Action/Enum/ActionEnum.php
Due: api-test, api-lint

chore(release): 0.34.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/planet+intl-icu.en.xlf
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/document+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/hunter+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/planet+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/trade+intl-icu.es.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/highlight+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
Due: api-test, translations-lint

chore(release): 0.34.2
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat: during summer event, special transport come back every day up to day 6 if tablet not obtained
  Api/src/Daedalus/Service/GetHolidayForDaedalusService.php
  Api/src/Hunter/Listener/DaedalusCycleSubscriber.php
  Api/translations/en/document+intl-icu.en.xlf
  Api/translations/es/document+intl-icu.es.xlf
  Api/translations/fr/document+intl-icu.fr.xlf
  Api/translations/fr/hunter+intl-icu.fr.xlf
  Api/translations/fr/trade+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: new statistic eden fauna
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/tests/functional/Achievement/Event/FinishDaedalusEventCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/eden_fauna.png
  App/src/assets/images/achievements/eden_flora.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: cure log
  Api/src/RoomLog/Enum/ActionLogEnum.php
Due: api-test, api-lint

feat: icarus bay no longer limit players
  Api/src/Action/Actions/Move.php
  Api/src/Action/Actions/TakeoffToPlanet.php
  Api/src/Action/Validator/CanGoToIcarusBay.php
  Api/src/Action/Validator/CanGoToIcarusBayValidator.php
  Api/tests/functional/Action/Actions/MoveCest.php
Due: api-test, api-lint

feat: new stat treasure opened
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Action/Actions/SummerEventActions/OpenTreasure.php
  Api/tests/functional/Action/Actions/SummerEventActions/OpenTreasureCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/treasure.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/hunter+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/en/trade+intl-icu.en.xlf
  Api/translations/es/disease+intl-icu.es.xlf
  Api/translations/es/hunter+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/es/trade+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  App/src/i18n/locales/es.json
Due: api-test, translations-lint

chore(release): 0.35.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
