Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check-mr-title
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

front-lint:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: users can't remove vote after poll is closed. Users can't see progress bar before voting
  App/src/components/Utils/Poll.vue
Due: build-front, front-lint, front-test

feat: Solid and Wrestler increase max damage instead of damage output
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Event/WeaponEffect.php
  Api/src/Equipment/WeaponEffect/ModifyMaxDamageFromSkilledAttackerWeaponEffectHandler.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/GoBerserkCest.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/unit/Equipment/WeaponEffectHandler/ModifyMaxDamageFromSkilledAttackerWeaponEffectHandlerTest.php
Due: api-test, api-lint

internal: can revert the action to mark a daedalus as cheating
  Api/src/Daedalus/Entity/ClosedDaedalus.php
  Api/src/MetaGame/Command/MarkDaedalusAsCheaterCommandHandler.php
  Api/tests/functional/Achievement/Event/FinishDaedalusEventCest.php
  Api/tests/functional/Player/Query/UserShipsHistoryQueryHandlerCest.php
Due: api-test, api-lint

refactor: Refactor pages using .box-container and .sub-menu to avoid css duplication
  App/src/assets/scss/main.scss
  App/src/components/Admin/AdminBanner.vue
  App/src/components/Admin/AdminPage.vue
  App/src/components/CharSelection.vue
  App/src/components/ErrorPage.vue
  App/src/components/Game/GameContent.vue
  App/src/components/HomePage.vue
  App/src/components/Moderation/ModerationBanner.vue
  App/src/components/Moderation/ModerationPage.vue
  App/src/components/Rules.vue
  App/src/components/Stats/StatsBanner.vue
  App/src/components/Stats/StatsPage.vue
  App/src/components/User/UserBanner.vue
  App/src/components/User/UserPage.vue
  App/src/features/biography/CharacterBiographyView.vue
  App/src/features/userProfile/UserShipHistory.vue
Due: build-front, front-lint, front-test

fix: Improve URL and markdown URL parsing
  App/src/utils/formatText.test.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

feat: improve discord webhook
  Api/.env.bare.metal
  Api/.env.bare.metal.test
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/src/Logger/Handler/MonologDiscordWebHookHandler.php
  Api/src/Logger/config/services.yaml
Due: api-test, api-lint

fix: Taking off and landing is anonymous for ninja with active ability
  Api/src/RoomLog/Listener/ActionSubscriber.php
Due: api-test, api-lint

fix: Prevent click on modal from interacting with the game behind
  App/src/components/Utils/GamePopUp.vue
  App/src/components/Utils/PopUp.vue
Due: build-front, front-lint, front-test

feat: remove polymath penalty
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/PolymathCest.php
Due: api-test, api-lint

feat: nano ladybugs rework
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Status/Entity/ChargeStatus.php
  Api/tests/functional/Equipment/Listener/PlantCycleEventCest.php
  Api/tests/functional/Equipment/Normalizer/PlantCest.php
  Api/tests/unit/Equipment/CycleHandler/PlantCycleHandlerTest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: skills can give multiple statuses
  Api/migrations/Version20260308224449.php
  Api/src/Action/Actions/ResetSkillPoints.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Dto/SkillConfigDto.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillCollection.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/Entity/ChargeStatus.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/AnalyzePlanetCest.php
  Api/tests/functional/Action/Actions/ComputeEdenCest.php
  Api/tests/functional/Action/Actions/CookActionCest.php
  Api/tests/functional/Action/Actions/DisassembleCest.php
  Api/tests/functional/Action/Actions/HealCest.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/RemoveCameraCest.php
  Api/tests/functional/Action/Actions/RenovateActionCest.php
  Api/tests/functional/Action/Actions/RepairActionCest.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Action/Actions/SkillPointCest.php
  Api/tests/functional/Action/Actions/TreatPlantCest.php
  Api/tests/functional/Action/Actions/WaterPlantCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/functional/Skill/Service/AddSkillToPlayerServiceCest.php
  Api/tests/functional/Skill/UseCase/ChooseSkillUseCaseCest.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
Due: api-test, api-lint

feat: new infected sol, infected eden endings. New image for killed by neron ending
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/src/Action/Actions/ReturnToSol.php
  Api/src/Action/Actions/TravelToEden.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
  Api/tests/functional/Action/Actions/TravelToEdenCest.php
  Api/translations/fr/end_cause+intl-icu.fr.xlf
  App/src/assets/images/ending-eden-infected.png
  App/src/assets/images/ending-neron.png
  App/src/assets/images/ending-sol-infected.png
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedDaedalus.ts
  App/src/enums/endcause.enum.ts
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: renamed skill points + bug fixes for It Expert & Polymath introduced by prev MR
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/MakePlayerActiveService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/AnalyzePlanetCest.php
  Api/tests/functional/Action/Actions/ComputeEdenCest.php
  Api/tests/functional/Action/Actions/CookActionCest.php
  Api/tests/functional/Action/Actions/DisassembleCest.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Action/Actions/HealCest.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/RemoveCameraCest.php
  Api/tests/functional/Action/Actions/RenovateActionCest.php
  Api/tests/functional/Action/Actions/RepairActionCest.php
  Api/tests/functional/Action/Actions/SkillPointCest.php
  Api/tests/functional/Action/Actions/TreatPlantCest.php
  Api/tests/functional/Action/Actions/WaterPlantCest.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/functional/Skill/Service/AddSkillToPlayerServiceCest.php
  Api/tests/functional/Skill/Service/DeletePlayerSkillServiceCest.php
  Api/tests/functional/Skill/UseCase/ChooseSkillUseCaseCest.php
  Api/tests/functional/Status/Event/DayEventCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
Due: api-test, api-lint

feat: new stat for ex 42 members
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Controller/AchievementController.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/ui_icons/42.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: mankind's only hope is a status, but Chun's death costs more morale
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Player/Service/PlayerServiceCest.php
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/components/Utils/Statuses.vue
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Interactable element in popup now works while still blocking interaction with Phaser
  App/src/components/Utils/GamePopUp.vue
  App/src/components/Utils/PopUp.vue
Due: build-front, front-lint, front-test

fix: Only display EmotePicker's close button in popup mode
  App/src/components/Game/Emote/EmotePicker.vue
Due: build-front, front-lint, front-test

feat: new maintenance crew skill for Chun
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Skill/Service/AddSkillToPlayerServiceCest.php
  Api/tests/functional/Skill/Service/DeletePlayerSkillServiceCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/assets/images/skills/human/beta_human.png
  App/src/components/CharSelection.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/LearnSkillMenu.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: torture action requires specialist points (daily limit)
  Api/src/Action/Actions/Torture.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Action/Validator/PlayerCanAffordSpecialistPoints.php
  Api/src/Action/Validator/PlayerCanAffordSpecialistPointsValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Listener/PlayerStatisticsSubscriber.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Entity/ChargeStatus.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/TortureCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/player+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/player+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/assets/images/ui_icons/action_points/pa_torture.png
  App/src/enums/emotes/resources.enum.ts
  App/src/enums/skill.point.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: action buttons display the action's base visibility's icon
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  App/src/assets/scss/_mixins.scss
  App/src/assets/scss/main.scss
  App/src/components/Utils/ActionButton.vue
  App/src/entities/Action.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: updated footer
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

feat: new Bodyguard skill for Chao
  Api/src/Action/Actions/Protect.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementBodyguardInRoom.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/tests/functional/Action/Actions/ProtectCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/assets/images/skills/human/bodyguard.png
  App/src/enums/emotes/resources.enum.ts
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Make moderation usable on phone by handling any existing cropping
  App/src/components/Admin/Config/DaedalusConfig/DaedalusConfigListPage.vue
  App/src/components/Admin/Daedalus/DaedalusListPage.vue
  App/src/components/Admin/User/UserListPage.vue
  App/src/components/Moderation/ModerationPlayerListPage.vue
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/components/Moderation/ModerationShipViewPage.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/components/Moderation/SanctionListPage.vue
Due: build-front, front-lint, front-test

feat: new admin action to remove all skill by name
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Repository/InMemoryPlayerRepository.php
  Api/src/Player/Repository/PlayerRepository.php
  Api/src/Player/Repository/PlayerRepositoryInterface.php
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: new Crowdin translations
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/fr/chat+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/end_cause+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/player+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, translations-lint

chore(release): 0.25.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

internal: deactivate ban IP
  Api/src/User/Voter/UserVoter.php
Due: api-test, api-lint

fix: old wrestler and robust do not add up to 4 extra dmg
  Api/src/Equipment/WeaponEffect/ModifyMaxDamageFromSkilledAttackerWeaponEffectHandler.php
Due: api-test, api-lint

chore(release): 0.25.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: rules can't be accepted
  App/src/components/Rules.vue
Due: build-front, front-lint, front-test

fix: Dragging tab with the mouse in personnal notes does not delete tabs anymore
  App/src/components/Game/PersonalNotes/PersonalNotesTabs.vue
Due: build-front, front-lint, front-test

chore(release): 0.25.2
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: eden and sol ending not giving triumph
  Api/src/Action/Actions/ReturnToSol.php
  Api/src/Action/Actions/TravelToEden.php
Due: api-test, api-lint

fix: higher contrast contour on bodyguard icon
  App/src/assets/images/skills/human/bodyguard.png
Due: none

fix: search_fail is secret too
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

fix: disease treated log being displayed when disease is cured
  Api/src/RoomLog/Listener/DiseaseEventSubscriber.php
  Api/tests/functional/Disease/Service/PlayerDiseaseServiceCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

fix: bodyguard public log, cannot be executed on current target (nor stack), costs 1 AP
  Api/src/Action/Actions/Protect.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: ze list do not contain the name of dead immune players
  Api/src/Action/Actions/PrintZeList.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/tests/functional/Action/Actions/PrintZeListCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
