Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat(skill): Panic
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/MushCrewProportionRequirement.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Skill/PanicCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/MushCrewProportionRequirementTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Self-sacrifice
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
  Api/tests/functional/Skill/SelfSacrificeCest.php
  Api/tests/unit/Player/Service/PlayerServiceTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: ProjectRequirement::updateFromConfigData method
  Api/src/Project/Entity/ProjectRequirement.php
Due: api-test, api-lint

feat(action): Televerse Mush Genome Disk
  Api/src/Action/Actions/SearchForMushGenome.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Ninja
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Only current cycle logs are displayed again when place registers logs again
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
Due: api-test, api-lint

feat(skill): Torturer
  .gitlab/merge_request_templates/Default.md
  Api/src/Action/Actions/Torture.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Service/RemoveHealthFromPlayerService.php
  Api/src/Player/Service/RemoveHealthFromPlayerServiceInterface.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Service/ActionHistoryRevealLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/TortureCest.php
  Api/tests/functional/Player/Service/RemoveHealthFromPlayerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Display english trailer
  App/src/components/HomePage.vue
Due: build-front, front-lint, front-test

feat(skill): OCD
  Api/src/Equipment/DataFixtures/GearConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/OcdCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

refactor: Mark player as human after we remove their Mush status only if player is alive (case of transfer and Vaccine)
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

feat(skill): Hygienist
  Api/src/Disease/Entity/Config/DiseaseConfig.php
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Disease/Repository/InMemoryPlayerDiseaseRepository.php
  Api/src/Disease/Repository/PlayerDiseaseRepository.php
  Api/src/Disease/Repository/PlayerDiseaseRepositoryInterface.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Disease/config/services.yaml
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/HygienistCest.php
  Api/tests/unit/Disease/Service/DiseaseCauseServiceTest.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Doorman
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/Entity/Door.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: spawn mush sample
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/tests/functional/Daedalus/Event/FilledDaedalusCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

hotfix: Hide finished research projects from terminal
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Project/Entity/Project.php
  App/src/components/Game/Terminals/ResearchCard.vue
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
  App/src/entities/Project.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(research): Mycoscan creation
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

feat(research): Mycoscan Creation
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

hotfix: Display finished researches
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/ProjectsPanel.vue
  App/src/entities/Daedalus.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

ci: Add parallel jobs to run tests faster
  .gitlab-ci.yml
Due: none

fix: Raluca won't lose morale when she picks Schrödinger
  Api/src/Action/Actions/ShootCat.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
Due: api-test, api-lint

refactor: delete deprecated tests
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Player/Event/PlayerReactsToSchrodingerDeathCest.php
Due: api-test, api-lint

chore: delete deprecated tests
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Player/Event/PlayerReactsToSchrodingerDeathCest.php
Due: api-test, api-lint

lethargy cest for extra triggers caused by hunters shooting
  Api/tests/functional/Skill/LethargyCest.php
Due: api-test, api-lint

fix: Listen to player update instead of status update
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/tests/functional/Skill/LethargyCest.php
Due: api-test, api-lint

fix: Lethargy does not give multiple action points anymore
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix: Clumsiness does not infect anymore
  Api/src/Action/Event/ActionVariableEvent.php
  Api/src/Equipment/Entity/GameItem.php
  Api/tests/functional/Action/Actions/ClumsinessShouldNotInfectCest.php
Due: api-test, api-lint

Fix very potential source of a bug when upgrading Symfony to 6.3.
  Api/tests/functional/Communication/Repository/MessageRepositoryCest.php
  Api/tests/functional/Disease/Listener/ActionEffectSubscriberCest.php
Due: api-test, api-lint

Update Symfony to 6.3
  Api/composer.json
  Api/composer.lock
Due: none

style: apply psalm fixes
  Api/src/Communication/Voter/ChannelVoter.php
  Api/src/Communication/Voter/MessageVoter.php
  Api/src/Daedalus/Voter/ClosedDaedalusVoter.php
  Api/src/Exploration/Voter/ClosedExplorationVoter.php
  Api/src/MetaGame/Voter/NewsVoter.php
  Api/src/Player/Voter/ClosedPlayerVoter.php
  Api/src/Player/Voter/PlayerVoter.php
  Api/src/User/Voter/UserVoter.php
Due: api-test, api-lint

Update Symfony to 6.4
  Api/composer.json
  Api/composer.lock
Due: none

refactor(deprecation): Add getSupportedTypes() method to all normalizer classes
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Alert/Normalizer/AlertNormalizer.php
  Api/src/Communication/Normalizer/ChannelNormalizer.php
  Api/src/Communication/Normalizer/MessageNormalizer.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Disease/Normalizer/DiseaseNormalizer.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattlePatrolShipNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattleTurretNormalizer.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Exploration/Normalizer/ClosedExplorationNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationLogNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationNormalizer.php
  Api/src/Exploration/Normalizer/PlanetNormalizer.php
  Api/src/Exploration/Normalizer/PlanetSectorNormalizer.php
  Api/src/Hunter/Normalizer/HunterNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationChannelNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationMessageNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationRoomLogNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/CommanderMissionNormalizer.php
  Api/src/Player/Normalizer/ContactablePlayerNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Player/Normalizer/SelectableCharacterNormalizer.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/RoomLog/Normalizer/RoomLogNormalizer.php
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/src/User/Normalizer/UserNormalizer.php
Due: api-test, api-lint

refactor(deprecations): Add Doctrine listener attributes to TimestampableListener for enhanced event handling
  Api/src/Game/Listener/TimestampableListener.php
Due: api-test, api-lint

wip
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Alert/Normalizer/AlertNormalizer.php
  Api/src/Communication/Normalizer/ChannelNormalizer.php
  Api/src/Communication/Normalizer/MessageNormalizer.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Disease/Normalizer/DiseaseNormalizer.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattlePatrolShipNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattleTurretNormalizer.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Exploration/Normalizer/ClosedExplorationNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationLogNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationNormalizer.php
  Api/src/Exploration/Normalizer/PlanetNormalizer.php
  Api/src/Exploration/Normalizer/PlanetSectorNormalizer.php
  Api/src/Hunter/Normalizer/HunterNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationChannelNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationMessageNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationRoomLogNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/CommanderMissionNormalizer.php
  Api/src/Player/Normalizer/ContactablePlayerNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Player/Normalizer/SelectableCharacterNormalizer.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/RoomLog/Normalizer/RoomLogNormalizer.php
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/src/User/Normalizer/UserNormalizer.php
  docker/Api/php/php.ini
Due: api-test, api-lint

fix: Do not try to cache all serialized objects by default : this is too much!
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Alert/Normalizer/AlertNormalizer.php
  Api/src/Communication/Normalizer/ChannelNormalizer.php
  Api/src/Communication/Normalizer/MessageNormalizer.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Disease/Normalizer/DiseaseNormalizer.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattlePatrolShipNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattleTurretNormalizer.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Exploration/Normalizer/ClosedExplorationNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationLogNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationNormalizer.php
  Api/src/Exploration/Normalizer/PlanetNormalizer.php
  Api/src/Exploration/Normalizer/PlanetSectorNormalizer.php
  Api/src/Hunter/Normalizer/HunterNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationChannelNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationMessageNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationRoomLogNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/CommanderMissionNormalizer.php
  Api/src/Player/Normalizer/ContactablePlayerNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Player/Normalizer/SelectableCharacterNormalizer.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/RoomLog/Normalizer/RoomLogNormalizer.php
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/src/User/Normalizer/UserNormalizer.php
Due: api-test, api-lint

Cache every normalizer result instead CurrentPlayer one (main entrypoint for others, was probably creating an infinite loop)
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Alert/Normalizer/AlertNormalizer.php
  Api/src/Communication/Normalizer/ChannelNormalizer.php
  Api/src/Communication/Normalizer/MessageNormalizer.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Disease/Normalizer/DiseaseNormalizer.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattlePatrolShipNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattleTurretNormalizer.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Exploration/Normalizer/ClosedExplorationNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationLogNormalizer.php
  Api/src/Exploration/Normalizer/ExplorationNormalizer.php
  Api/src/Exploration/Normalizer/PlanetNormalizer.php
  Api/src/Exploration/Normalizer/PlanetSectorNormalizer.php
  Api/src/Hunter/Normalizer/HunterNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationChannelNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationMessageNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationRoomLogNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/CommanderMissionNormalizer.php
  Api/src/Player/Normalizer/ContactablePlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Player/Normalizer/SelectableCharacterNormalizer.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/RoomLog/Normalizer/RoomLogNormalizer.php
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/src/User/Normalizer/UserNormalizer.php
Due: api-test, api-lint

refactor(deprecation): fix phpunit notices
  Api/tests/unit/Action/Actions/ReadBookActionTest.php
  Api/tests/unit/Daedalus/Service/DaedalusWidgetServiceTest.php
Due: api-test, api-lint

migrate to 7.0 (wip)
  Api/composer.json
  Api/composer.lock
  Api/config/bundles.php
  Api/config/packages/framework.yaml
  Api/config/packages/sensio_framework_extra.yaml
  Api/src/Action/Validator/ClassConstraint.php
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Communication/ParamConverter/MessageCreateParamConverter.php
  Api/src/Communication/Validator/MessageParent.php
  Api/src/Communication/config/services.yaml
  Api/src/Daedalus/DataPersister/DaedalusDataPersister.php
  Api/src/Daedalus/Validator/UniqueName.php
  Api/src/Disease/Normalizer/DiseaseNormalizer.php
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Controller/ResetRulesAcceptanceController.php
  Api/src/MetaGame/Listener/ApiPlatformEventSubscriber.php
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
  Api/src/Player/Validator/UniqueCharacter.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/Skill/Normalizer/SkillConfigNormalizer.php
  Api/src/Skill/Normalizer/SkillNormalizer.php
  Api/src/User/Validator/UniqueUser.php
  Api/symfony.lock
Due: api-test, api-lint

refactor: migrate param converters to Symfony 7.0 standards and clean up service definitions
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Daedalus/ParamConverter/DaedalusCreateRequestConverter.php
  Api/src/Daedalus/config/services.yaml
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/ParamConverter/PlayerCreateRequestConverter.php
  Api/src/Player/config/services.yaml
Due: api-test, api-lint

refactor: add Psalm suppress annotations to ModerationSanctionNormalizer methods
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
