Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

New translations disease+intl-icu.fr.xlf (Spanish)
  Api/translations/es/disease+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations planet+intl-icu.fr.xlf (Spanish)
  Api/translations/es/planet+intl-icu.es.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (Spanish)
  Api/translations/es/skill+intl-icu.es.xlf
Due: translations-lint

fix: super soaper deletes soap
  Api/src/Equipment/ConfigData/ReplaceEquipmentConfigData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

fix: Saop is properly destroyed when Mushicide Soap research project is completed
  Api/src/Equipment/ConfigData/ReplaceEquipmentConfigData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix: Soap is properly destroyed when Mushicide Soap research project is completed
  Api/src/Equipment/ConfigData/ReplaceEquipmentConfigData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

Added "game has started" requirement to all anti-mush research. On a practical level, it means the mycoscan and super soap can no longer be worked on until the mush are selected.
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Enum/ProjectRequirementType.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

fix terminal normalizer cest broken by new research requirement
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

feat: Added "game has started" requirement to all anti-mush research
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Enum/ProjectRequirementType.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

New translations action_fail+intl-icu.fr.xlf (Spanish)
  Api/translations/es/action_fail+intl-icu.es.xlf
Due: translations-lint

New translations project+intl-icu.fr.xlf (Spanish)
  Api/translations/es/project+intl-icu.es.xlf
Due: translations-lint

New translations equipments+intl-icu.fr.xlf (Spanish)
  Api/translations/es/equipments+intl-icu.es.xlf
Due: translations-lint

New translations rooms+intl-icu.fr.xlf (Spanish)
  Api/translations/es/rooms+intl-icu.es.xlf
Due: translations-lint

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

fix: Fix multiple crashes due to hunter targets not being properly deleted
  Api/src/Hunter/Listener/EquipmentEventSubscriber.php
  Api/src/Hunter/Listener/PlayerEventSubscriber.php
  Api/src/Hunter/Repository/HunterRepository.php
  Api/src/Hunter/Repository/HunterRepositoryInterface.php
  Api/src/Hunter/Repository/HunterTargetRepository.php
  Api/src/Hunter/Repository/HunterTargetRepositoryInterface.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Hunter/Service/HunterServiceInterface.php
  Api/src/Player/Service/PlayerService.php
  Api/tests/functional/Hunter/Service/DeleteHunterTargetCest.php
Due: api-test, api-lint

feat: adds 9 (more or less) frequently used emotes from across the MT catalogue, for fun. Added emotes.enum.ts for all non-essential, chat-only image text formatting.
  App/src/assets/images/emotes/Plus1.png
  App/src/assets/images/emotes/calim.gif
  App/src/assets/images/emotes/calimchristmas.gif
  App/src/assets/images/emotes/devilhorns.png
  App/src/assets/images/emotes/h_socks.gif
  App/src/assets/images/emotes/igor.png
  App/src/assets/images/emotes/money.png
  App/src/assets/images/emotes/piou.gif
  App/src/assets/images/emotes/rainbow.gif
  App/src/enums/emotes.enum.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

11 new emotes Changed icon of pariah status
  App/src/assets/images/status/hammer.png
  App/src/assets/images/ui_icons/anim_new.gif
  App/src/assets/images/ui_icons/book.png
  App/src/assets/images/ui_icons/coffee.png
  App/src/assets/images/ui_icons/eden1.png
  App/src/assets/images/ui_icons/eden2.png
  App/src/assets/images/ui_icons/extinguisher.png
  App/src/assets/images/ui_icons/grenade.png
  App/src/assets/images/ui_icons/ration.png
  App/src/assets/images/ui_icons/sol.png
  App/src/assets/images/ui_icons/soldier.png
  App/src/assets/images/ui_icons/survival.png
  App/src/enums/emotes.enum.ts
  App/src/enums/status.player.enum.ts
Due: build-front, front-lint, front-test
