Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: Fix badly formatted English shoot action Critical success log
  Api/translations/en/actions_log+intl-icu.en.xlf
Due: translations-lint

feat(researchs): anabolics
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  App/src/assets/images/items/anabolic.jpg
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(researchs): disable supercalculator on daedalus start
  Api/src/Place/ConfigData/PlaceConfigData.php
Due: api-test, api-lint

feat(researchs): super calculator
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix: lint
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

Antic Perfume gives a 2-cycles-long Immunized status after taking a shower
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

feat(researchs): supercalculator
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix Daedalus creation
  Api/src/Communication/Listener/DaedalusInitSubscriber.php
  Api/src/Equipment/Listener/DaedalusInitEventSubscriber.php
  Api/src/Hunter/Listener/DaedalusInitSubscriber.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Player/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/PetCat.php
Due: api-test, api-lint

refactor: use getMushChannelOrThrow for improved error handling in status application
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Services/ChannelServiceInterface.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Equipment/Listener/PlayerCatOwnerAwakenEventCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Action/Actions/ShootCatCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/RoomLog/Listener/ActionSubscriber.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/TakeCat.php
Due: api-test, api-lint

changes following review
  Api/src/Action/Actions/PetCat.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/EquipmentEventReason.php
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
  Api/src/Equipment/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Action/Actions/TakeCatCest.php
  Api/tests/functional/Equipment/Listener/PlayerCatOwnerAwakenEventCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

feat(researchs): retro fungal serum
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  App/src/assets/images/items/retro_fungal_serum.jpg
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

New translations characters+intl-icu.fr.xlf (English)
  Api/translations/en/characters+intl-icu.en.xlf
Due: translations-lint

Add Antique perfume immunized status and description
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, translations-lint, front-lint, front-test

refactor: Improve player action target validation logic in ActionEvent class
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

Add skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

style: Apply linter fixes
  Api/src/Action/Event/ActionEvent.php
  Api/src/Status/Listener/ActionSubscriber.php
Due: api-test, api-lint

Add skill french translation
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

fix: Mark player as human after we remove their Mush status only if they are alive (case of transfer and Vaccine)
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

New translations end_cause+intl-icu.fr.xlf (English)
  Api/translations/en/end_cause+intl-icu.en.xlf
Due: translations-lint

Add skill to Janice
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Self sacrifice removes one health point when player is at 0 morale point, instead of dying.
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
  Api/tests/functional/Skill/SelfSacrificeCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
