Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check-mr-title
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.5
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

front-lint:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: Prevent planet sprite duplication on scene refresh
  App/src/game/scenes/daedalusScene.ts
Due: build-front, front-lint, front-test

fix: swap sanitize and format steps to prevent xss injection
  App/src/utils/formatText.test.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

chore(release): 0.28.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat: dismantling sofa now provide a thick tube
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

feat: trash load bonus skill changed from robotics to scrapper
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

feat: beat_box project give kit instead of blueprint. Players can see the next free songs with an action on the jukebox. Favorite song is visible in the bio page
  Api/src/Action/Actions/CheckJukeboxSongs.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/CycleHandler/JukeboxCycleHandler.php
  Api/src/Equipment/Service/JukeboxService.php
  Api/src/Game/Service/RandomService.php
  Api/src/Game/Service/RandomServiceInterface.php
  Api/src/MetaGame/Service/GetCharacterBiographyService.php
  Api/tests/api/MetaGame/BiographyControllerCest.php
  Api/tests/functional/Action/Actions/CheckjukeboxSongsCest.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  Api/tests/functional/RoomLog/Event/JukeboxCest.php
  Api/tests/unit/Equipment/Listener/JukeboxTest.php
  Api/tests/unit/Project/Listener/JukeboxProjectTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  App/src/features/biography/CharacterBiographyDetails.vue
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: constipaspore serum reduce AP cost of spore extraction by 1 instead of 2
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/functional/Player/Listener/PlayerStatistics/ActionPointsStatisticCest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: oxygen start at 20. Can't go below that value until the selection
  Api/src/Action/Actions/RetrieveOxygen.php
  Api/src/Communications/Service/GenerateRandomTradeService.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
  Api/translations/fr/daedalus+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: finola list give chun and 2-4 names. One less for 8 players or less ship.
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
Due: api-test, api-lint

feat: extinguish action has a dirty % and manual extinguish action has a highter dirty %
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

feat: remove pheromodem and radio pirate temporary
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
Due: api-test, api-lint

feat: more incidents early in the game. Less incidents for ships with less players, dead players or inactive players.
  Api/src/Game/Service/DifficultyService.php
  Api/tests/unit/Daedalus/Service/DifficultyServiceTest.php
Due: api-test, api-lint

feat: updated rules for suicide
  App/src/i18n/locales/fr.json
Due: none

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/characters+intl-icu.en.xlf
  Api/translations/en/daedalus+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/user_notification+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/daedalus+intl-icu.es.xlf
  Api/translations/es/disease_message+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/user_notification+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/fr/user_notification+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/characters+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-test, translations-lint

chore(release): 0.29.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: jukebox translation
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
Due: api-test, translations-lint

chore(release): 0.29.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: pheromodem is impossible to do without breacking the game
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Enum/ProjectRequirementType.php
Due: api-test, api-lint

chore(release): 0.29.2
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: xyloph configs update their wheight
  Api/src/Communications/Entity/XylophConfig.php
  Api/tests/functional/Triumph/Listener/InfectPlayerCest.php
Due: api-test, api-lint

chore(release): 0.29.3
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

chore: trying to fix the migration
  Api/migrations/Version20260521103451.php
Due: api-test, api-lint

fix: jukebox log show the artist and the name of the song. The playlist do not change randomly
  Api/src/Equipment/CycleHandler/JukeboxCycleHandler.php
  Api/src/Equipment/Service/JukeboxService.php
Due: api-test, api-lint

feat: mycoalarms can now break at cycle change
  Api/src/Game/ConfigData/DifficultyConfigData.php
Due: api-test, api-lint

fix: nerf incident points
  Api/src/Game/Service/DifficultyService.php
  Api/tests/unit/Daedalus/Service/DifficultyServiceTest.php
Due: api-test, api-lint

chore(release): 0.30.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: Player can toggle to comms after validating all trades
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
Due: api-test, api-lint

fix: drones don't try to shoot if they don't have a patrolship
  Api/src/Equipment/Entity/Drone.php
  Api/src/Place/Entity/Place.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/daedalus+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/es/daedalus+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
Due: api-test, translations-lint

chore(release): 0.30.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: fixed discord URL
  App/src/utils/links.ts
Due: build-front, front-lint, front-test

fix: changing random engine for the jukebox to improve reliability
  Api/src/Game/Service/RandomService.php
Due: api-test, api-lint

chore(release): 0.30.2
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: Transforming a broken equipment does not duplicate the alert anymore
  Api/src/Alert/Listener/EquipmentSubscriber.php
  Api/tests/functional/Status/Listener/EquipmentSubscriberCest.php
Due: api-test, api-lint

chore(release): 0.30.3
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: removed kitchen project as it does not have any effect
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

feat: Add a popup when a player is vaccinated
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/assets/images/vaccinated_stamp.png
Due: api-test, api-lint, translations-lint

ci: `check-mr-title` ignore 'Draft: ' prefix
  .gitlab/scripts/conventional_mr_title.sh
Due: none

feat: new non-binary gender for Andie. Updated one translation file to give exemples to the translators.
  Api/src/Game/Enum/CharacterEnum.php
  Api/tests/functional/Skill/Normalizer/SkillNormalizerCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
