Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

feat: megaphone item
  Api/src/Action/Validator/NeedTitleValidator.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/tests/functional/Action/Actions/ComManagerAnnounceCest.php
  Api/tests/functional/Action/Actions/OpenContainerCest.php
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/assets/images/items/speaker.jpg
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(stat): Contaminator
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/PlayerEventSubscriber.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/InfectCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/infecter.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Ship Blanket Item
  Api/src/Action/Actions/LieDownInShip.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/assets/images/items/ship_blanket.png
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(stat): Infected
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/PlayerEventSubscriber.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/InfectCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: One shot kills with Natamy Rifle grant Natamist stat
  Api/src/Equipment/Service/UseWeaponService.php
  Api/src/Equipment/WeaponEffect/OneShotWeaponEffectHandler.php
  Api/tests/functional/Achievement/Event/PlayerDeathEventCest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/statistics+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  App/src/i18n/locales/it.json
Due: api-test, translations-lint

feat: Holiday can start midship
  Api/src/Daedalus/Entity/DaedalusConfig.php
Due: api-test, api-lint

feat: Andie's schoolbooks
  Api/src/Action/Actions/ReadSchoolbooks.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/ReadSchoolbooksCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/assets/images/items/schoolbooks.png
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Reset Vaccine item
  Api/src/Action/Actions/UseResetVaccine.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/UseResetVaccineCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/assets/images/items/reset_vaccine.png
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(stat): Rebellion!
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/RebelBaseDecodedEventSubscriber.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/rebellion.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: evil drone Saki (And fix to patrol ships not moving item to space when destroyed)
  Api/migrations/Version20260102153618.php
  Api/src/Action/Actions/Land.php
  Api/src/Action/Service/PatrolShipManoeuvreService.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Entity/Npc.php
  Api/src/Equipment/Entity/NpcData.php
  Api/src/Equipment/Enum/AIHandlerEnum.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Equipment/NPCTasks/AiHandler/EvilDroneTaskHandler.php
  Api/src/Equipment/NPCTasks/EvilDrone/EvilDroneTasks.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Enum/RoomEnum.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/Status/ChargeStrategies/CycleReset.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/ChargeStrategyTypeEnum.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
  Api/tests/functional/Equipment/NPCTasks/EvilDroneCest.php
  Api/tests/functional/Equipment/Service/GameEquipmentServiceCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/assets/images/items/evil_drone.png
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Remove handling of '\n' in formatText
  App/src/components/Game/ComManagerAnnouncementPanel.vue
  App/src/components/Game/CommanderOrderPanel.vue
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/RichTextEditor/RichTextEditor.vue
  App/src/utils/formatText.test.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
Due: api-test, translations-lint

chore(release): 0.20.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat(stat): Last Man Standing
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/PlayerEventSubscriber.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Player/Service/PlayerServiceInterface.php
  Api/tests/functional/Achievement/Event/PlayerDeathEventCest.php
  Api/tests/functional/Notification/Event/DaedalusEventCest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(stat): Project Team, Research Team
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ProjectEventSubscriber.php
  Api/tests/functional/Achievement/Event/ProjectFinishedEventCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: mush stats
  Api/src/MetaGame/Service/StatsService.php
  Api/src/RoomLog/Entity/RoomLog.php
Due: api-test, api-lint

chore(release): 0.21.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat(stat): Total Clearance
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/PlayerEventSubscriber.php
  Api/src/Exploration/Entity/Planet.php
  Api/src/Exploration/Service/PlanetService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Achievement/Event/PlayerDeathEventCest.php
  Api/tests/unit/Exploration/Service/PlanetServiceTest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/planet_complete.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: orm npc
  Api/src/Equipment/Entity/NpcData.php
Due: api-test, api-lint

chore(release): 0.22.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: gift and containers never reseting their content
  Api/src/Equipment/Entity/Mechanics/Container.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
  Api/translations/fr/statistics+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

chore(release): 0.22.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: new Crowdin translations
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
Due: api-test, translations-lint

chore(release): 0.22.2
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: new Crowdin translations
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, translations-lint

fix: Shooting infected cat with Natamy Rifle by a human grants Natamist stat
  Api/src/Achievement/Listener/EquipmentEventSubscriber.php
  Api/src/Action/Actions/ShootCat.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
Due: api-test, api-lint

fix: Ensure the phaser canvas size has the correct size to avoid tearing
  App/src/components/Game/GameContent.vue
  App/src/components/Game/Ship/PhaserShip.vue
Due: build-front, front-lint, front-test

feat: Rework responsiveness across the app
  Api/src/Player/Normalizer/UserShipsHistoryNormalizer.php
  Api/src/Player/ViewModel/UserShipsHistoryViewModel.php
  Api/tests/api/Player/UserShipsHistoryControllerCest.php
  Api/tests/functional/Player/Query/UserShipsHistoryQueryHandlerCest.php
  Api/tests/unit/Player/Normalizer/UserShipsHistoryNormalizerTest.php
  App/src/assets/scss/_mixins.scss
  App/src/assets/scss/main.scss
  App/src/components/Admin/AdminBanner.vue
  App/src/components/Banner.vue
  App/src/components/CharSelection.vue
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/ComManagerAnnouncementPanel.vue
  App/src/components/Game/CommanderOrderPanel.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/ExpeditionPopUp.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Game/Inventory.vue
  App/src/components/Game/MushGenomeTerminal.vue
  App/src/components/Game/NeronCoreTerminal.vue
  App/src/components/Game/Ship/MiniMap.vue
  App/src/components/Game/Ship/ShipPanel.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/components/Game/TradingTerminal.vue
  App/src/components/HomePage.vue
  App/src/components/Moderation/ModerationBanner.vue
  App/src/components/NewsPage.vue
  App/src/components/Stats/StatsBanner.vue
  App/src/components/User/UserBanner.vue
  App/src/components/Utils/ActionButton.vue
  App/src/components/Utils/Datatable/Datatable.vue
  App/src/features/achievements/UserAchievements.vue
  App/src/features/userProfile/UserShipHistory.vue
  Makefile
Due: build-front, api-test, api-lint, front-lint, front-test

revert: "feat: Rework responsiveness across the app" (bec676731)
  Api/src/Player/Normalizer/UserShipsHistoryNormalizer.php
  Api/src/Player/ViewModel/UserShipsHistoryViewModel.php
  Api/tests/api/Player/UserShipsHistoryControllerCest.php
  Api/tests/functional/Player/Query/UserShipsHistoryQueryHandlerCest.php
  Api/tests/unit/Player/Normalizer/UserShipsHistoryNormalizerTest.php
  App/src/assets/scss/_mixins.scss
  App/src/assets/scss/main.scss
  App/src/components/Admin/AdminBanner.vue
  App/src/components/Banner.vue
  App/src/components/CharSelection.vue
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/ComManagerAnnouncementPanel.vue
  App/src/components/Game/CommanderOrderPanel.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/ExpeditionPopUp.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Game/Inventory.vue
  App/src/components/Game/MushGenomeTerminal.vue
  App/src/components/Game/NeronCoreTerminal.vue
  App/src/components/Game/Ship/MiniMap.vue
  App/src/components/Game/Ship/ShipPanel.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/components/Game/TradingTerminal.vue
  App/src/components/HomePage.vue
  App/src/components/Moderation/ModerationBanner.vue
  App/src/components/NewsPage.vue
  App/src/components/Stats/StatsBanner.vue
  App/src/components/User/UserBanner.vue
  App/src/components/Utils/ActionButton.vue
  App/src/components/Utils/Datatable/Datatable.vue
  App/src/features/achievements/UserAchievements.vue
  App/src/features/userProfile/UserShipHistory.vue
  Makefile
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Hygienist cannot block starting spore
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix: starting spores do not trigger disease for cause infection
  Api/src/Disease/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix: giftboxes only give mush skill to alpha mush
  Api/src/Skill/Listener/PlayerActionSubscriber.php
  Api/tests/functional/Action/Actions/OpenContainerCest.php
Due: api-test, api-lint

fix: can't land when target by hunters and hunters can't target patrolship on the daedalus
  Api/src/Action/Service/PatrolShipManoeuvreService.php
  Api/src/Hunter/Repository/HunterTargetRepository.php
  Api/src/Hunter/Repository/HunterTargetRepositoryInterface.php
  Api/src/Hunter/Service/HunterService.php
Due: api-test, api-lint

chore(release): 0.23.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: new Crowdin translations
  Api/translations/en/status+intl-icu.en.xlf
  App/src/i18n/locales/es.json
Due: api-test, translations-lint

feat(stat): Complete Psychoanalysis
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/DiseaseEventSubscriber.php
  Api/tests/functional/Achievement/Event/DiseaseEventCest.php
  Api/tests/functional/Action/Actions/ConsumeDrugActionCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/shrink_done.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: bric broc remove incident points
  Api/src/Daedalus/Listener/DaedalusCycleSubscriber.php
  Api/src/Daedalus/Service/DispatchCycleIncidentsService.php
  Api/src/Game/Service/DifficultyService.php
  Api/src/Game/Service/DifficultyServiceInterface.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/unit/Daedalus/Service/DispatchCycleIncidentsServiceTest.php
Due: api-test, api-lint

feat(stat): Triumph
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/tests/functional/Achievement/Event/FinishDaedalusEventCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test
