Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Fix French translation for NERON upgrade description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Update French translations for Comms Center terminology
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Actually minor progress does not overflow when major upgrades
  Api/src/Communications/Entity/NeronVersion.php
  Api/src/Communications/Service/NeronMinorVersionIncrementService.php
  Api/src/Communications/Service/UpdateNeronVersionService.php
  Api/tests/unit/Communications/Service/UpdateNeronVersionServiceTest.php
Due: api-test, api-lint

basic ugly UI for upgrading NERON
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
Due: build-front, front-lint, front-test

Connect Update NERON action to front end
  Api/src/Communications/Entity/NeronVersion.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Refactor UpgradeNeronCest to remove FunctionalTester parameter from givenACommsCenterInChunRoom method
  Api/tests/functional/Action/Actions/UpgradeNeronCest.php
Due: api-test, api-lint

Add styling for NERON update section in CommunicationsTerminal
  App/src/assets/images/neron_bg.png
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
Due: build-front, front-lint, front-test

Refactor UpgradeNeronCest to remove unnecessary FunctionalTester parameter from upgrade method calls
  Api/tests/functional/Action/Actions/UpgradeNeronCest.php
Due: api-test, api-lint

fix merge conflict
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Daedalus/Repository/DaedalusRepository.php
  Api/tests/unit/Communications/Service/UpdateNeronVersionServiceTest.php
Due: api-test, api-lint

Create NERON version at Daedalus start
  Api/migrations/Version20250212130156.php
  Api/src/Communications/Entity/NeronVersion.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/NeronVersionRepository.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/unit/Communications/Service/UpdateNeronVersionServiceTest.php
Due: api-test, api-lint

Refactor UpgradeNeron to replace NoMoreNeronProjects instantiation with a new instance for improved clarity
  Api/src/Action/Actions/UpgradeNeron.php
Due: api-test, api-lint

New translations actions_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

Add error handling for missing NERON projects in FinishRandomDaedalusProjectService
  Api/src/Project/Service/FinishRandomDaedalusProjectService.php
Due: api-test, api-lint

chore: end of anniversary event
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

Implement Always valid NERON versions
  Api/src/Communications/Entity/NeronVersion.php
  Api/tests/unit/Communications/Service/UpdateNeronVersionServiceTest.php
Due: api-test, api-lint

delete flaky tests
  Api/tests/functional/Action/Actions/UpgradeNeronCest.php
Due: api-test, api-lint

Lizaro jungle event without cest and accuracy change
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

Ceil neron version increment instead of rounding
  Api/src/Communications/Service/NeronMinorVersionIncrementService.php
Due: api-test, api-lint

fix broken icon on ranking page
  App/src/components/Ranking/ShipRanking.vue
Due: build-front, front-lint, front-test

feat: end of anniversary event
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

hotfix: Tiny fixes on Comms center
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Action/Actions/SearchForMushGenome.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
Due: api-test, api-lint

feat: clickable links in messages
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/enums/ui_icon.enum.ts
  App/src/utils/formatText.test.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

hotfix: Delete Link with Sol and Neron Version entities when Daedalus is deleted
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Action/Validator/LinkWithSolConstraintValidator.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/DoctrineLinkWithSolRepository.php
  Api/src/Communications/Repository/LinkWithSolRepository.php
  Api/src/Communications/Repository/LinkWithSolRepositoryInterface.php
  Api/src/Communications/Repository/NeronVersionRepository.php
  Api/src/Communications/Repository/NeronVersionRepositoryInterface.php
  Api/src/Communications/Service/CreateLinkWithSolForDaedalusService.php
  Api/src/Communications/Service/EstablishLinkWithSolService.php
  Api/src/Communications/config/services.yaml
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
  Api/tests/functional/Action/Actions/UpgradeNeronCest.php
  Api/tests/functional/Communications/Event/DaedalusDeletedEventCest.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  Api/tests/unit/Communications/Service/CreateLinkWithSolForDaedalusServiceTest.php
  Api/tests/unit/Communications/TestDoubles/Repository/InMemoryLinkWithSolRepository.php
  Api/tests/unit/Communications/TestDoubles/Repository/InMemoryNeronVersionRepository.php
Due: api-test, api-lint

hotfix: Emotes work again
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

fix: Character no longer loses burdened status when more than one heavy item is carried
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/functional/Status/Listener/EquipmentSubscriberCest.php
Due: api-test, api-lint

feat: Add Dżanek to the developer team list
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

feat: implement lizaro jungle
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

fix: deaf modifier description
  Api/translations/en/modifiers+intl-icu.en.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/fr/modifiers+intl-icu.fr.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
Due: translations-lint

feat: Link with Sol is broken when Comms center is broken
  Api/src/Alert/Listener/LinkWithSolEventSubscriber.php
  Api/src/Chat/Listener/LinkWithSolEventSubscriber.php
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/Event/LinkWithSolKilledEvent.php
  Api/src/Communications/Listener/StatusEventSubscriber.php
  Api/src/Communications/Service/KillLinkWithSolService.php
  Api/tests/functional/Chat/Listener/StatusSubscriberCest.php
  Api/tests/functional/Communications/Event/CommsCenterBrokenEventCest.php
  Api/tests/functional/Communications/Event/LinkWithSolKilledEventCest.php
  Api/tests/unit/Communications/Service/KillLinkWithSolServiceTest.php
Due: api-test, api-lint

fix: Repaired items in inventory no longer affect the player after dropping
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/tests/functional/Modifier/Service/GearModifierStackingCest.php
Due: api-test, api-lint

feat: knife rework for new weapon structure
  Api/src/Action/Actions/Attack.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Entity/Config/WeaponEffect/DestroyWeaponEffectConfig.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/DestroyWeaponEffectConfigDto.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Equipment/WEAPON_EVENT_README.md
  Api/src/Equipment/WeaponEffect/DestroyWeaponEffectHandler.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/Entity/AbstractEventConfig.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/AttackCest.php
  Api/tests/functional/Disease/Listener/ActionSubscriberCest.php
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Switch to Chaonola + fill-daedalus works with Chaonola ships
  Api/src/Game/Command/FillDaedalusCommand.php
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

fix: expended default holiday dates to last 4 weeks instead of 2
  Api/src/Daedalus/Entity/DaedalusConfig.php
Due: api-test, api-lint

fix: Printed Circuit Jelly boosts research participation efficiency by exactly 3 percentage points
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

feat: character_icon log parameter
  Api/src/Game/Service/TranslationService.php
  Api/tests/unit/Game/Service/TranslationServiceTest.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
