Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: Deaf player message special characters are correctly uppercased
  Api/src/Chat/Services/MessageModifierService.php
  Api/tests/functional/Chat/Service/MessageModifierServiceCest.php
Due: api-test, api-lint

old faithful and lizaro jungle lose charge on shoot_cat
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

fix: old faithful and lizaro jungle lose charge on shoot_cat
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

feat: extract spore description now show the remaining amount of spore for the day
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix test
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
Due: api-test, api-lint

added a test
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
Due: api-test, api-lint

feat: extract spore description now show the remaining amount of spore for the day
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Pages loading ClosedPlayer from the older version will not throw an error
  Api/migrations/Version20250529103754.php
  Api/src/Player/Entity/ClosedPlayer.php
Due: api-test, api-lint

fix: Older ships will have cycles survived displayed
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedPlayer.ts
Due: build-front, front-lint, front-test

Rebasing
  Api/migrations/Version20250529103754.php
  Api/src/Player/Entity/ClosedPlayer.php
Due: api-test, api-lint

fix: Older ships are now compatible with the newer version
  Api/migrations/Version20250529103754.php
  Api/src/Player/Entity/ClosedPlayer.php
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedPlayer.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix translations file
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

docs: Update README to clarify implementation steps for triumph events
  Api/src/Triumph/README.md
Due: none

fix: Add getDaedalus method to TriumphSourceEventInterface
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
Due: api-test, api-lint

feat: Add EXPLORATION triumph
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Equipment/Factory/GameEquipmentFactory.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Hua does not get her personal triumph if she's Mush
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
Due: api-test, api-lint

feat: Add EXPLORATOR Hua's personal triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/README.md
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add triumphs given by "exploration started" event
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Equipment/Factory/GameEquipmentFactory.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

revert debug code
  Api/src/Action/Actions/EstablishLinkWithSol.php
Due: api-test, api-lint

style: nitpicking
  Api/src/Communications/Event/LinkWithSolEstablishedEvent.php
Due: api-test, api-lint

feat: Add CONTACT_SOL triumph gain on first Sol contact
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Communications/Event/LinkWithSolEstablishedEvent.php
  Api/src/Communications/Service/EstablishLinkWithSolService.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Triumph/Event/LinkWithSolEstablishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Introduce tag constraints for triumph events and update related logic
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/README.md
  Api/tests/unit/Triumph/Event/TriumphSourceEventTraitTest.php
  Api/tests/unit/Triumph/TestDoubles/TriumphSourceEventTraitTestClass.php
Due: api-test, api-lint

refactor: Rename Neron project creation methods to a more generic naming convention
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/tests/unit/Player/Entity/PlayerTest.php
Due: api-test, api-lint

refactor: Update namespaces in unit tests for consistency
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/TriumphSourceEventTraitTest.php
  Api/tests/unit/Triumph/TestDoubles/TriumphSourceEventTraitTestClass.php
Due: api-test, api-lint

feat: Add RESEARCH_SMALL triumph
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add RESEARCH_STANDARD triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add RESEARCH_BRILLIANT triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Simplify TriumphSourceEventTraitTestClass by extending AbstractGameEvent and removing unused methods
  Api/tests/unit/Triumph/TestDoubles/TriumphSourceEventTraitTestClass.php
Due: api-test, api-lint

feat: Add RESEARCH_BRILLIANT triumph
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

chore: Remove unnecessary blank line in ProjectFinishedEventTest
  Api/src/Player/Entity/Player.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add PRECIOUS_BODY Chun's personal triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: revert stupidity
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

refactor: Use project requirements to infer which research should give triumph to Finola / Chun, which reduces duplication and is more scalable.
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
Due: api-test, api-lint

fix typo
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat: Add research projects related triumphs
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/tests/unit/Triumph/Event/TriumphSourceEventTraitTest.php
  Api/tests/unit/Triumph/TestDoubles/TriumphSourceEventTraitTestClass.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add Magellan's Ark Kuan Ti's personal triumph
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Small research, Research, Brilliant Research, Mush Specialist, The Precious
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/tests/unit/Triumph/Event/TriumphSourceEventTraitTest.php
  Api/tests/unit/Triumph/TestDoubles/TriumphSourceEventTraitTestClass.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint
