Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: api-lint

New translations event_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: api-lint

New translations event_log+intl-icu.fr.xlf (English)
  Api/translations/en/event_log+intl-icu.en.xlf
Due: api-lint

Update source file event_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-lint

New translations event_log+intl-icu.fr.xlf (French)
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-lint

Update source file terminal+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-lint

fix modifier range
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
Due: api-test, api-lint

Add Thalasso modifiers
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

test: add test exhibiting a modifier handling bug
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/ConfigData/ActionDataLoader.php
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Repository/GameEquipmentRepositoryInterface.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/src/Equipment/config/services.yaml
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/ModifierHandler/AddEvent.php
  Api/src/Modifier/Service/EventCreationService.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/unit/Modifier/ModifierHandler/AddEventTest.php
Due: api-test, api-lint

Mush players does not earn Thalasso bonus
  Api/src/Action/Event/ActionEvent.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

fix: fixed an issue where AddEvent modifier wouldn't find a player to applies the event
  Api/src/Modifier/ConfigData/EventModifierConfigDataLoader.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/src/Modifier/ModifierHandler/AddEvent.php
  Api/src/Modifier/Service/EventCreationService.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/tests/functional/Disease/Listener/ActionSubscriberCest.php
  Api/tests/functional/Disease/Listener/PlayerCycleSubscriberCest.php
  Api/tests/unit/Modifier/ModifierHandler/AddEventTest.php
Due: api-test, api-lint

fix: reduced initial amount of health and morale in fixtures. fix: fixed an issue where playerVariableEVent could change sign eg reducing damage became gaining health
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Event/PlayerVariableEvent.php
  Api/tests/functional/Action/Actions/HealCest.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
  Api/tests/functional/Modifier/Listener/RetroactiveDirectModifierCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

Add randomness to Thalasso modifiers
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

Add missing migration
  Api/migrations/Version20240512145218.php
Due: api-test, api-lint

refactor: Rename a method to make intention more explicit
  Api/src/Action/Actions/Shower.php
Due: api-test, api-lint

feat: Add Thalasso modifiers
  Api/migrations/Version20240512145218.php
  Api/src/Action/Actions/Shower.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/ConfigData/ActionDataLoader.php
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Repository/GameEquipmentRepositoryInterface.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/src/Equipment/config/services.yaml
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/EventModifierConfigDataLoader.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/ModifierHandler/AddEvent.php
  Api/src/Modifier/Service/EventCreationService.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Event/PlayerVariableEvent.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/functional/Action/Actions/HealCest.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/tests/functional/Disease/Listener/ActionSubscriberCest.php
  Api/tests/functional/Disease/Listener/PlayerCycleSubscriberCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
  Api/tests/functional/Modifier/Listener/RetroactiveDirectModifierCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
  Api/tests/unit/Modifier/ModifierHandler/AddEventTest.php
Due: api-test, api-lint

hotfix: Add space between action name and action success rate
  App/src/components/Utils/ActionButton.vue
Due: build-front, front-lint, front-test

hotfix: Fix deployment by setting up default values for new ActionConfig properties
  Api/migrations/Version20240512151520.php
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Action/Enum/ActionHolderEnum.php
  Api/src/Action/Enum/ActionRangeEnum.php
Due: api-test, api-lint

hotfixes: Some fixes on admin panel for new action configs
  Api/config/api_platform/resources/drone_config.yaml
  Api/config/api_platform/resources/equipment_config.yaml
  Api/config/api_platform/serialization/drone_config.yaml
  Api/config/api_platform/serialization/equipment_config.yaml
  App/src/components/Admin/Config/ActionConfig/ActionConfigListPage.vue
  App/src/components/Admin/Config/CharacterConfig/CharacterConfigDetailPage.vue
  App/src/components/Admin/Config/EquipmentConfig/EquipmentConfigDetailPage.vue
  App/src/services/game_config.service.ts
Due: build-front, front-lint, front-test

Lazy loading first poc
  App/src/components/Game/Communications/DiscussionTab.vue
  App/src/components/Game/Communications/TabContainer.vue
Due: build-front, front-lint, front-test

hotfix: Drone actions are properly normalized
  Api/src/Action/Service/GetActionTargetFromContextService.php
  Api/src/Equipment/Entity/Door.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/GameItem.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Exploration/Normalizer/PlanetNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/RoomLog/Enum/LogParameterKeyEnum.php
  Api/tests/unit/Action/Service/GetActionTargetFromContextServiceTest.php
  Api/tests/unit/Action/Validator/ParameterHasActionValidatorTest.php
Due: api-test, api-lint

hot: Add an admin action to create equipment in ongoing daedaluses
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/src/MetaGame/Dto/CreateEquipmentForDaedalusesDto.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix migrations
  Api/migrations/Version20240511083402.php
  Api/migrations/Version20240512151520.php
Due: api-test, api-lint

style: apply linter fixes
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/components/Game/Communications/Messages/LogsUnit.vue
  App/src/components/Game/Communications/RoomEventsTab.vue
Due: build-front, front-lint, front-test

hot: Add an endpoint to delete all statuses by name (so we can remove legacy project participations status)
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/src/MetaGame/Dto/CreateEquipmentForDaedalusesDto.php
  Api/src/Status/Repository/StatusRepository.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Status/Service/StatusServiceCest.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

temporary migration fix
  Api/src/Action/Enum/ActionHolderEnum.php
Due: api-test, api-lint

Hard delete all statuses !
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

Revert "Hard delete all statuses !"
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

Revert "temporary migration fix"
  Api/src/Action/Enum/ActionHolderEnum.php
Due: api-test, api-lint

Prevent admins to make available projects if there are already
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Project/UseCase/ProposeNewNeronProjectsUseCase.php
  Api/tests/unit/Project/UseCase/ProposeNewNeronProjectsUseCaseTest.php
Due: api-test, api-lint

Fix missing Mush actions
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

Fix extinguisher
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

fix crash while analyzing a planet (WTF Typescript ?!)
  App/src/components/Game/Terminals/TerminalExitButton.vue
  App/src/entities/Action.ts
  App/src/services/action.service.ts
Due: build-front, front-lint, front-test

Add an endpoint to create init statuses for in game players
  Api/src/MetaGame/Controller/AdminActionsController.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Drone can now repair Patrol Ships
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
Due: api-test, api-lint

prevent creating duplicated skill
  Api/src/Game/Enum/SkillEnum.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Service/StatusServiceCest.php
Due: api-test, api-lint
