Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat(action): Read Mage Book + A random Mage Book spawns at game start
  Api/migrations/Version20240907113851.php
  Api/src/Action/Actions/ReadBook.php
  Api/src/Action/Validator/DoesNotHaveMageBookSkill.php
  Api/src/Action/Validator/DoesNotHaveMageBookSkillValidator.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/BookConfigFixtures.php
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Book.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/ReadBookCest.php
  Api/tests/functional/Daedalus/Event/FilledDaedalusCest.php
  Api/tests/functional/Modifier/Listener/CreateDestroyEquipmentSubscriberCest.php
  Api/tests/functional/Player/Normalizer/SelectableSkillsCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
  Api/tests/unit/Action/Actions/ReadBookActionTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Cold Blooded
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Handler/ColdBloodedHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/tests/functional/Skill/ColdBloodedCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Apply 2 suggestion(s) to 1 file(s)
  App/src/game/scenes/daedalusScene.ts
Due: build-front, front-lint, front-test

feat: Skills can now spawn items when they are chosen
  Api/src/Equipment/ConfigData/EquipmentCommandConfigDataLoader.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/Entity/Dto/SpawnEquipmentConfigDto.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/tests/functional/Skill/Service/AddSkillToPlayerServiceCest.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
Due: api-test, api-lint

feat: Green Thumb spawns two hydropots when selected
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/GreenThumbCest.php
Due: api-test, api-lint

feat: Green Thumb grafts mature earlier
  Api/src/Action/Actions/Graft.php
  Api/src/Equipment/DataFixtures/FruitPlantConfigFixtures.php
  Api/tests/functional/Action/Actions/GraftCest.php
Due: api-test, api-lint

Add skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Apply correct bonus
  Api/src/Action/Actions/Graft.php
  Api/tests/functional/Action/Actions/GraftCest.php
Due: api-test, api-lint

Add default values to SpawnEquipmentConfig properties
  Api/migrations/Version20240907163337.php
  Api/src/Equipment/Entity/Config/SpawnEquipmentConfig.php
Due: api-test, api-lint

Allow customisation of Green Thumb bonus
  Api/src/Action/Actions/Graft.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

feat(skill): Green Thumb
  Api/migrations/Version20240907163337.php
  Api/src/Action/Actions/Graft.php
  Api/src/Equipment/ConfigData/EquipmentCommandConfigDataLoader.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/DataFixtures/FruitPlantConfigFixtures.php
  Api/src/Equipment/Entity/Config/SpawnEquipmentConfig.php
  Api/src/Equipment/Entity/Dto/SpawnEquipmentConfigDto.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/tests/functional/Action/Actions/GraftCest.php
  Api/tests/functional/Skill/GreenThumbCest.php
  Api/tests/functional/Skill/Service/AddSkillToPlayerServiceCest.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Polyvalent can read Drug properties
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
Due: api-test, api-lint

feat: Polyvalent skill gives bonus to the same projects as Biologist and Botanist
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

feat: Polyvalent can read Plant properties
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Equipment/Normalizer/PlantCest.php
Due: api-test, api-lint

feat: Polyvalent grants an extra fruit in Harvest events
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

feat: Polyvalent can read Fruit properties
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Equipment/Normalizer/FruitCest.php
Due: api-test, api-lint

feat: Polyvalent prevents Fight event in expedition
  Api/src/Exploration/Entity/Exploration.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

Polyvalent cannot read Biologist, Botanist or Diplomat mage book
  Api/src/Action/Validator/DoesNotHaveMageBookSkillValidator.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/tests/functional/Action/Actions/ReadBookCest.php
Due: api-test, api-lint

feat(skill): Polyvalent
  Api/src/Action/Validator/DoesNotHaveMageBookSkillValidator.php
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/tests/functional/Action/Actions/ReadBookCest.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
  Api/tests/functional/Equipment/Normalizer/FruitCest.php
  Api/tests/functional/Equipment/Normalizer/PlantCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add available skills in character selection page
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Normalizer/SelectableCharacterNormalizer.php
  Api/src/Skill/Normalizer/SkillConfigNormalizer.php
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
  App/src/components/CharSelection.vue
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Fix Observant noticed something log
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
Due: api-test, api-lint

feat(skill): Strateguru
  Api/src/Hunter/Entity/HunterConfigCollection.php
  Api/src/Hunter/Event/StrateguruWorkedEvent.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Entity/Collection/ModifierActivationRequirementCollection.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/Modifier/Entity/Config/DirectModifierConfig.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Service/EventCreationService.php
  Api/src/Modifier/Service/EventCreationServiceInterface.php
  Api/src/Modifier/Service/ModifierRequirementService.php
  Api/src/Modifier/Service/ModifierRequirementServiceInterface.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/HunterEventSubscriber.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Hunter/Event/HunterPoolEventCest.php
  Api/tests/functional/Hunter/Event/StrateguruWorkedEventCest.php
  Api/tests/unit/Modifier/Service/EventCreationServiceTest.php
  Api/tests/unit/Modifier/Service/EventModifierServiceTest.php
  Api/tests/unit/Modifier/Service/ModifierCreationServiceTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Observant players print "noticed something log" when they reveal Covert actions
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

docs: Update README
  README.md
Due: none

fix: Black bite will apply on the diseased player instead of the Mush player
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/ModifierHandler/AddEvent.php
  Api/tests/functional/Action/Actions/InfectCest.php
Due: api-test, api-lint

fix: Mush skills are displayed before human skills
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/Entity/SkillCollection.php
  Api/tests/functional/Player/Normalizer/SkillsCest.php
Due: api-test, api-lint

fix: You cannot click on Phaser scene if page data is not fully loaded. This should prevent unwanted room exits.
  App/src/game/scenes/daedalusScene.ts
Due: build-front, front-lint, front-test

perf: Display new news notification only on full page refresh
  App/src/App.vue
Due: build-front, front-lint, front-test

fix: You can now write post-its with more than 255 characters
  Api/src/Status/Entity/ContentStatus.php
Due: api-test, api-lint

fix(perf): Better logic for reading messages and logs
  Api/src/Communication/Entity/Channel.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Services/MessageService.php
  Api/src/RoomLog/Entity/Collection/RoomLogCollection.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
  App/src/entities/Message.ts
  App/src/entities/RoomLog.ts
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix(perf): Optimize channel retrieval by combining private, public, and mush channel queries
  Api/src/Communication/Repository/ChannelRepository.php
Due: api-test, api-lint

hotfix: Fix accept/reject mission popup
  Api/src/Action/Actions/AcceptMission.php
  Api/src/Action/Actions/RejectMission.php
  Api/translations/fr/notification+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix(perf): Remove useless queries loading room log twice after an action
  App/src/store/action.module.ts
Due: build-front, front-lint, front-test

test: Fix false positive tests
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
  Api/tests/functional/Skill/TrackerCest.php
Due: api-test, api-lint

fix: Player killed by a headshot correcly dies beheaded
  Api/src/Action/Actions/Shoot.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
Due: api-test, api-lint

fix: Players killed by a headshot correctly die beheaded
  Api/src/Action/Actions/Shoot.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
Due: api-test, api-lint

fix: Print THE List action does not pretend THE list has a negative amount of names anymore
  Api/src/Action/Actions/PrintZeList.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Do not try to cycle change at all requests, only the most critical ones
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
