Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

implement feedback
  Api/src/Status/ChargeStrategies/AbstractChargeStrategy.php
  Api/src/Status/ChargeStrategies/CoffeeMachineChargeIncrement.php
Due: api-test, api-lint

fix: set demoralized threshold to 5
  Api/src/Status/Service/PlayerStatusService.php
  Api/tests/functional/Player/Event/PlayerModifierEventCest.php
Due: api-test, api-lint

fix: coffee machine charges up while broken
  Api/src/Status/ChargeStrategies/AbstractChargeStrategy.php
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

Added: copy channel image to clipboard
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

chore: Bump version to 0.11.3
  App/package.json
Due: none

feat: Improve moderation sanction list
  App/src/components/Moderation/SanctionDetailPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

test: Ensuring created places in DaedalusFactory have different IDs
  Api/src/Daedalus/Factory/DaedalusFactory.php
Due: api-test, api-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (English)
  Api/translations/en/terminal+intl-icu.en.xlf
Due: translations-lint

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

New translations fr.json (Italian)
  App/src/i18n/locales/it.json
Due: none

New translations fr.json (English)
  App/src/i18n/locales/en.json
Due: none

feat: enhance exportChannelToPDF with clipboard cpoy with image
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, front-lint, front-test

Update source file terminal+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

ci: Update CI pipeline to enforce Conventional Commits format for merge request titles
  .gitlab-ci.yml
  .gitlab/scripts/conventional_mr_title.sh
Due: none

fix: Rebel base decoding is now a double roll
  Api/src/Action/Actions/DecodeRebelSignal.php
Due: api-test, api-lint

New translations status+intl-icu.fr.xlf (French)
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

Update source file status+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (English)
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

ci: Mark check MR title job as optional dependency for jobs not executed in a MR context
  .gitlab-ci.yml
Due: none

feat: New incident system, ported from Mush source code
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusVariables.php
  Api/src/Daedalus/Enum/CycleIncidentEnum.php
  Api/src/Daedalus/Enum/DaedalusVariableEnum.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Daedalus/Listener/DaedalusCycleSubscriber.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Daedalus/Service/DaedalusIncidentServiceInterface.php
  Api/src/Daedalus/Service/DispatchCycleIncidentsService.php
  Api/src/Daedalus/ValueObject/GameDate.php
  Api/src/Equipment/Repository/GameEquipmentRepositoryInterface.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/src/Game/Entity/Collection/ProbaCollection.php
  Api/src/Game/Service/DifficultyService.php
  Api/src/Game/Service/DifficultyServiceInterface.php
  Api/src/Game/Service/Random/FakeGetRandomIntegerService.php
  Api/src/Game/Service/Random/FakeProbaCollectionRandomElementService.php
  Api/src/Game/Service/Random/FakeRandomFloatService.php
  Api/src/Game/Service/Random/RandomFloatService.php
  Api/src/Game/Service/Random/RandomFloatServiceInterface.php
  Api/src/Game/config/services.yaml
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/tests/functional/Action/Actions/ComManagerAnnounceCest.php
  Api/tests/functional/Action/Actions/SlimeTrapCest.php
  Api/tests/functional/Daedalus/Event/CycleIncidentsCest.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Equipment/Event/NewFruitNotHazardousCest.php
  Api/tests/functional/Hunter/Listener/DaedalusCycleSubscriberCest.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
  Api/tests/functional/RoomLog/Event/JukeboxCest.php
  Api/tests/functional/Skill/LogisticsExpertCest.php
  Api/tests/unit/Daedalus/Event/DaedalusCycleEventTest.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
  Api/tests/unit/Daedalus/Service/DispatchCycleIncidentsServiceTest.php
Due: api-test, api-lint

refactor: added ':point: ' in front of disease effects
  Api/src/Disease/Normalizer/DiseaseNormalizer.php
  Api/tests/unit/Disease/Normalizer/DiseaseNormalizerTest.php
Due: api-test, api-lint

fix: You need to play 192 cycles to not be a beginner, not 24
  Api/src/User/Service/UserService.php
  Api/tests/functional/Player/Service/PlayerServiceCest.php
Due: api-test, api-lint

feat: adding PDF print function
  App/package.json
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/export-channel-to-pdf.service.ts
  App/yarn.lock
Due: build-front, front-lint, front-test

New translations fr.json (French)
  App/src/i18n/locales/fr.json
Due: none

fix: Add a feature toggle to delete old disease modifiers granted by a player instead of the disease itself
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/Modifier/Service/ModifierListenerService/DiseaseModifierService.php
Due: api-test, api-lint

fix: more accurate violation messages for coffee machine
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/IsActionProviderOperationalValidator.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Update source file action_fail+intl-icu.fr.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Spanish)
  Api/translations/es/action_fail+intl-icu.es.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Italian)
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (English)
  Api/translations/en/action_fail+intl-icu.en.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
