Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

build-front:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  - bin/console doctrine:fixtures:load -n --env=test
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
  - job: build-front
    optional: true
  script:
  - ./linters.sh

front-lint:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn lint --no-fix

front-test:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn test

refactor: remove dead code
  Api/src/Equipment/Enum/GameRationEnum.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
Due: api-test, api-lint

fix: Decomposing alien steaks will properly gives decomposing standard rations when they are hyperfrozen
  Api/src/Action/Actions/Hyperfreeze.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/GameRationEnum.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
Due: api-test, api-lint

refactor: make a "constant" arraycollection readonly
  Api/src/Action/Actions/Hyperfreeze.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Action/Actions/Hyperfreeze.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Status/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Equipment/Entity/GameEquipment.php
Due: api-test, api-lint

refactor: Move decomposing status creation to the relevant listener.
  Api/src/Action/Actions/Hyperfreeze.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/GameRationEnum.php
  Api/src/Status/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

refactor: remove unneeded level of indirection
  Api/src/Equipment/Entity/GameEquipment.php
Due: api-test, api-lint

refactor: use a `null` case for GameRationEnum instead of bare empty string and move complex condition to a method
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/GameRationEnum.php
Due: api-test, api-lint

refactor: remove more dead code
  Api/src/Equipment/Enum/GameRationEnum.php
Due: api-test, api-lint

fix: Decomposing alien steaks will properly give decomposing standard rations when they are hyperfrozen
  Api/src/Action/Actions/Hyperfreeze.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/GameRationEnum.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
Due: api-test, api-lint

Remove unused package
  Api/composer.json
  Api/composer.lock
Due: none

Install xdebug
  docker/Api/php/Dockerfile
Due: none

Update CI Docker image to install protobuf
  docker/gitlab/Php/Dockerfile
Due: none

remove unused exported ports from `docker-compose` files
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
Due: none

refactor: Add an ApiConfig object to store env variables and use it to setup OpenTelemetry
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/public/index.php
  Api/src/ApiConfig.php
  Api/src/OpenTelemetry.php
Due: api-test, api-lint

Add recommended extension to composer.json
  Api/composer.json
  Api/composer.lock
Due: none

Hello, OpenTelemetry!
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/composer.json
  Api/composer.lock
  Api/config/packages/http_discovery.yaml
  Api/public/index.php
  Api/src/OpenTelemetry.php
  Api/src/Player/Controller/PlayerController.php
  Api/symfony.lock
  Makefile
  docker/Api/php/Dockerfile
  docker/Api/php/php.ini
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
Due: api-test, api-lint

refactor: Add Exception logging through traces
  Api/config/packages/dev/monolog.yaml
  Api/config/packages/prod/monolog.yaml
  Api/config/packages/test/monolog.yaml
  Api/src/Logger/Handler/MonologOpenTelemetryHandler.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/Logger/config/services.yaml
Due: api-test, api-lint

Update OTEL dependencies
  Api/composer.json
  Api/composer.lock
Due: none

refactor: remove OPTL log export. Use `recordException` to attach exception the relevant span.
  Api/config/packages/dev/monolog.yaml
  Api/config/packages/prod/monolog.yaml
  Api/config/packages/test/monolog.yaml
  Api/src/Action/Actions/RejuvenateAlpha.php
  Api/src/Logger/Handler/MonologOpenTelemetryHandler.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/Logger/config/services.yaml
  Api/src/OpenTelemetry.php
Due: api-test, api-lint

fix merge conflict
  Makefile
Due: none

feat: We log all exceptions in PHP console
  Api/config/packages/dev/monolog.yaml
  Api/config/packages/prod/monolog.yaml
  Api/config/packages/test/monolog.yaml
  Api/src/Logger/Handler/MonologOltpHandler.php
  Api/src/Logger/config/services.yaml
  Api/src/OpenTelemetry.php
  Api/src/Player/Controller/PlayerController.php
Due: api-test, api-lint

style: apply linter fixes
  Api/public/index.php
  Api/src/Action/Actions/RejuvenateAlpha.php
  Api/src/ApiConfig.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/OpenTelemetry.php
  Api/src/Player/Controller/PlayerController.php
Due: api-test, api-lint

feat: We now record duration of all API calls to Eternaltwin OLTP endpoint :party:
  Api/public/index.php
Due: api-test, api-lint

refactor: Enhance traces info
  Api/composer.json
  Api/composer.lock
  Api/public/index.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/OpenTelemetry.php
Due: api-test, api-lint

feat(balancing): Remove Rejuvenate action
  Api/src/Action/Actions/RejuvenateAlpha.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Action/Actions/RejuvenateAlpha.php
Due: api-test, api-lint

refactor: Remove protobuf install from CI Docker image and bypass requirements. Also add caching for psalm and php-cs-fixer
  .gitlab-ci.yml
  Api/.gitignore
  Api/psalm.xml
  docker/gitlab/Php/Dockerfile
Due: none

revert: Remove Rejuvenate action
  Api/src/Action/Actions/RejuvenateAlpha.php
Due: api-test, api-lint

Bump version to 0.8.3
  App/package.json
Due: none

feat: New Daedalus now start with 3 Mush players
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

feat: New games now start with 3 Mush players
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Place/DataFixtures/PlaceConfigFixtures.php
Due: api-test, api-lint

feat: New games start without a mycoscan
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/src/Place/DataFixtures/PlaceConfigFixtures.php
Due: api-test, api-lint

chore: Change cache directory for psalm, so we can use it in CI jobs.
  Api/.gitignore
  Api/psalm.xml
Due: none

ci: Put `php-cs-fixer` and `psalm` results in CI cache for faster runs
  .gitlab-ci.yml
Due: none

ci: Add more cache for PHP jobs
  .gitlab-ci.yml
  Api/.gitignore
  Api/psalm.xml
Due: none

feat: Add new rule which forbids Mush cooperation
  App/src/components/Rules.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix grammar
  App/src/i18n/locales/fr.json
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
