Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

internal: Allow moderators to edit usernames
  Api/config/api_platform/resources/user.yaml
  Api/config/api_platform/serialization/user.yaml
  Api/src/User/Voter/UserVoter.php
  App/src/components/Admin/User/UserDetailPage.vue
  App/src/components/Admin/User/UserListPage.vue
  App/src/services/user.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Update eMush username at next login from ET's one
  Api/src/User/Service/LoginService.php
Due: api-test, api-lint

fix: Admins can edit user roles again
  App/src/components/Admin/User/UserDetailPage.vue
Due: build-front, front-lint, front-test

fix: crewlock should lock patrol ships for non pilots
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/tests/functional/Action/Actions/TakeoffToPlanetCest.php
Due: api-test, api-lint

internal: update to moderation tools
  Api/config/api_platform/serialization/channel.yaml
  Api/config/api_platform/serialization/moderation_sanction.yaml
  Api/migrations/Version20250727184637.php
  Api/src/Chat/Controller/ChannelController.php
  Api/src/Chat/Entity/Channel.php
  Api/src/Chat/Entity/Dto/CreateMessage.php
  Api/src/Chat/Entity/Message.php
  Api/src/Chat/ParamConverter/MessageCreateParamConverter.php
  Api/src/Chat/Services/MessageService.php
  Api/src/MetaGame/Entity/ModerationSanction.php
  Api/src/MetaGame/Normalizer/ModerationChannelNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationMessageNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/functional/Action/Actions/ScrewTalkieCest.php
  Api/tests/functional/Chat/Service/MessageServiceCest.php
  Api/tests/functional/Player/Listener/PlayerStatistics/ChatStatisticCest.php
  Api/tests/functional/Project/PatulineScramblerCest.php
  Api/tests/unit/Chat/Service/ChannelServiceTest.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  App/src/components/Moderation/ModerationBanner.vue
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/components/Moderation/ModerationShipListPage.vue
  App/src/components/Moderation/ModerationShipViewPage.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/entities/ModerationSanction.ts
  App/src/entities/ModerationViewPlayer.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/router/index.ts
  App/src/services/communication.service.ts
  App/src/services/moderation.service.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add Eternaltwin games to footer
  App/src/components/Game/Communications/TipsTab.vue
  App/src/components/Thanks.vue
  App/src/i18n/locales/fr.json
  App/src/utils/getEternaltwinGames.ts
Due: build-front, front-lint, front-test

fix: You cannot launch a grenade on your crewmates anymore on expedition
  Api/src/Action/Actions/ThrowGrenade.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
Due: api-test, api-lint

fix: Game won't propose you a Mush skill after you transfer or you've been vaccinated
  Api/src/Player/Entity/Player.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
Due: api-test, api-lint

feat: Add a CLI command to put game in maintenance
  Api/src/Game/Command/ToggleMaintenanceModeCommand.php
  Api/tests/unit/Game/Command/ToggleMaintenanceModeCommandTest.php
  Api/tests/unit/Game/TestDoubles/FakeAdminService.php
Due: api-test, api-lint

chore: Add tiny changes for more reliable third-party deploys
  Api/composer.json
  Api/composer.lock
  Eternaltwin/package.json
Due: none

fix: Always scroll to top when going to (rules) new page
  App/src/router/index.ts
Due: build-front, front-lint, front-test

feat: Add a notification and NERON message at wake up
  Api/src/Action/Actions/AcceptMission.php
  Api/src/Action/Actions/ComManagerAnnounce.php
  Api/src/Action/Actions/CommanderOrder.php
  Api/src/Action/Actions/ExchangeBody.php
  Api/src/Action/Actions/RejectMission.php
  Api/src/Action/Actions/Takeoff.php
  Api/src/Chat/Listener/PlayerSubscriber.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerNotification.php
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/src/Player/Listener/ExplorationEventSubscriber.php
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Player/Service/UpdatePlayerNotificationService.php
  Api/tests/functional/Exploration/Event/ExplorationEventCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
  Api/tests/functional/Player/Event/NewPlayerEventCest.php
  Api/tests/unit/Player/Normalizer/PlayerNotificationNormalizerTest.php
  Api/tests/unit/Player/Service/UpdatePlayerNotificationServiceTest.php
  Api/tests/unit/Player/UseCase/DeletePlayerNotificationUseCaseTest.php
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/components/Game/PlayerNotificationPopUp.vue
  App/src/entities/Player.ts
  App/src/store/popup.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Hunter tooltip will correctly update after one is killed
  App/src/components/Game/SpaceBattleView.vue
Due: build-front, front-lint, front-test

fix: Fix forced get-up interactions
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Action/Listener/ActionSubscriber.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Actions/AutomaticGetUpCest.php
  Api/tests/functional/Action/Actions/ForceGetUpCest.php
  Api/tests/functional/Action/Event/TrappedRoomTriggerCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix: Prevent moderators to view admin banner
  App/src/components/Admin/User/UserListPage.vue
  App/src/router/index.ts
Due: build-front, front-lint, front-test

feat: Add a rule prohibiting metagaming communication about Mush v Human
  App/src/components/Rules.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/highlight+intl-icu.en.xlf
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/chat+intl-icu.es.xlf
  Api/translations/es/daedalus+intl-icu.es.xlf
  Api/translations/es/disease+intl-icu.es.xlf
  Api/translations/es/disease_message+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/fun_facts+intl-icu.es.xlf
  Api/translations/es/highlight+intl-icu.es.xlf
  Api/translations/es/hunter+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/neron+intl-icu.es.xlf
  Api/translations/es/notification+intl-icu.es.xlf
  Api/translations/es/planet+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/rebel_base+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/triumph+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/highlight+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/notification+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: translations-lint

feat: Enable Spanish-speaking ships
  Api/src/Game/Command/CreateDaedalusCommand.php
  Api/src/Game/Command/FillDaedalusCommand.php
  Api/src/Game/ConfigData/LocalizationConfigData.php
  Api/src/Game/Enum/LanguageEnum.php
  App/src/i18n/index.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Allow to scroll too long action histories on theEnd pages (stop surviving)
  App/src/components/Utils/PopUp.vue
Due: build-front, front-lint, front-test

chore: Bump version to 0.12.3
  App/package.json
Due: none

chore(hotfix): Enable Spanish news
  App/src/components/NewsItem.vue
Due: build-front, front-lint, front-test

fix: Only display player channel in moderation player detail view
  Api/config/api_platform/api_filters.yaml
  App/src/components/Moderation/ModerationShipViewPage.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/entities/ModerationChannel.ts
  App/src/services/moderation.service.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/src/Game/Service/TranslationService.php
  Api/tests/unit/Game/Service/TranslationServiceTest.php
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/disease+intl-icu.es.xlf
  Api/translations/es/disease_message+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/es/neron+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-test, api-lint, translations-lint

fix: new Crowdin translations
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/neron+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
Due: api-test, api-lint, translations-lint

New translations disease_message+intl-icu.fr.xlf (Spanish)
  Api/translations/es/disease_message+intl-icu.es.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (Spanish)
  Api/translations/es/the_end+intl-icu.es.xlf
Due: translations-lint

New translations player+intl-icu.fr.xlf (Spanish)
  Api/translations/es/player+intl-icu.es.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Spanish)
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

New translations rebel_base+intl-icu.fr.xlf (Spanish)
  Api/translations/es/rebel_base+intl-icu.es.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

New translations alerts+intl-icu.fr.xlf (Spanish)
  Api/translations/es/alerts+intl-icu.es.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (Spanish)
  Api/translations/es/chat+intl-icu.es.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (Spanish)
  Api/translations/es/skill+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Spanish)
  Api/translations/es/terminal+intl-icu.es.xlf
Due: translations-lint

New translations notification+intl-icu.fr.xlf (Spanish)
  Api/translations/es/notification+intl-icu.es.xlf
Due: translations-lint
