Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

build-front:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  - bin/console doctrine:fixtures:load -n --env=test
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
  - job: build-front
    optional: true
  script:
  - ./linters.sh

front-lint:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn lint --no-fix

front-test:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn test

fix: Add missing logs for some events
  Api/src/Exploration/PlanetSectorEventHandler/NothingToReport.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

fix: Add missing logs for some exploration events
  Api/src/Exploration/PlanetSectorEventHandler/NothingToReport.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

Add test to exhibit the bug
  Api/tests/functional/Disease/Service/DiseaseCauseServiceCest.php
Due: api-test, api-lint

Add new fixtures for tests
  Api/src/Disease/DataFixtures/ConsumableDiseaseConfigFixtures.php
  Api/src/Equipment/DataFixtures/FruitPlantConfigFixtures.php
Due: api-test, api-lint

fix: Consumables will only heal active diseases
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Disease/Service/DiseaseCauseService.php
Due: api-test, api-lint

fix: Consumables won't heal incubating diseases anymore
  Api/src/Disease/DataFixtures/ConsumableDiseaseConfigFixtures.php
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Disease/Service/DiseaseCauseService.php
  Api/src/Equipment/DataFixtures/FruitPlantConfigFixtures.php
  Api/tests/functional/Disease/Service/DiseaseCauseServiceCest.php
Due: api-test, api-lint

refactor(code-quality): refactored some code quality while i was there
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Exploration/Event/PlanetSectorEvent.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/RoomLog/Enum/LogEnum.php
Due: api-test, api-lint

style(linters): fixed linters
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Exploration/PlanetSectorEventHandler/Provision.php
Due: api-test, api-lint

fix(translation): fixed translation logic (maybe) + implemented test suite for it
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Exploration/PlanetSectorEventHandler/Artefact.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
Due: api-test, api-lint

fix(logic): replaced logic and simplified code
  Api/src/Exploration/Entity/PlanetSector.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Exploration/PlanetSectorEventHandler/Artefact.php
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

docs(code-comment): fixed psalm errors
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
Due: api-test, api-lint

test(cest): fixed cest logic
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
Due: api-test, api-lint

style(code): code cleanup (removed unused imports)
  Api/src/Exploration/Entity/PlanetSector.php
  Api/src/Exploration/PlanetSectorEventHandler/Artefact.php
Due: api-test, api-lint

test(test): fixed MR according to the comments
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/Artefact.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
Due: api-test, api-lint

Fix exped translation babel
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Exploration/Event/ExplorationEvent.php
  Api/src/Exploration/Event/PlanetSectorEvent.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/Artefact.php
  Api/src/Exploration/PlanetSectorEventHandler/Provision.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

Display lost player face in the alert
  App/src/components/Game/Ship/Alerts.vue
  App/src/entities/Alerts.ts
Due: build-front, front-lint, front-test

fix: Normalize lost player name in the alert
  Api/src/Alert/Normalizer/AlertNormalizer.php
  Api/tests/functional/Alert/Normalizer/AlertNormalizerCest.php
Due: api-test, api-lint

refactor a random test
  Api/tests/functional/Status/Listener/RepairScrewedTalkieCest.php
Due: api-test, api-lint

fix: Player lost event generates a lost crewmate alert
  Api/src/Alert/Listener/StatusSubscriber.php
  Api/src/Alert/Service/AlertService.php
  Api/src/Alert/Service/AlertServiceInterface.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix: remove lost crewmate alert when a player is found or is dead
  Api/src/Alert/Listener/StatusSubscriber.php
  Api/src/Alert/Service/AlertService.php
  Api/src/Alert/Service/AlertServiceInterface.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

Fix typo in alert description
  Api/translations/fr/alerts+intl-icu.fr.xlf
Due: api-lint

Apply linter fixes
  Api/src/Alert/Service/AlertService.php
  Api/src/Alert/Service/AlertServiceInterface.php
Due: api-test, api-lint

fix broken test
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

fix: Player lost event now generates an alert
  Api/src/Alert/Listener/StatusSubscriber.php
  Api/src/Alert/Normalizer/AlertNormalizer.php
  Api/src/Alert/Service/AlertService.php
  Api/src/Alert/Service/AlertServiceInterface.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Alert/Normalizer/AlertNormalizerCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/functional/Status/Listener/RepairScrewedTalkieCest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
  Api/translations/fr/alerts+intl-icu.fr.xlf
  App/src/components/Game/Ship/Alerts.vue
  App/src/entities/Alerts.ts
Due: build-front, api-test, api-lint, front-lint, front-test

style: rename a method for it to be more accurate
  Api/src/Exploration/Listener/ExplorationEventSubscriber.php
Due: api-test, api-lint

fix: Fix exploration closing if Back event is triggered
  Api/src/Exploration/Listener/ExplorationEventSubscriber.php
Due: api-test, api-lint

fix: Lost sector is now revealed when a player get lost
  Api/src/Exploration/PlanetSectorEventHandler/PlayerLost.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix: Lost sector is now revealed when a player gets lost
  Api/src/Exploration/PlanetSectorEventHandler/PlayerLost.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix: Rope log will be printed in event outcome instead of event description
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

refactor: Use rope modifier to check if rope modifier have been applied are not.
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
Due: api-test, api-lint

refactor: simplify a closure
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
Due: api-test, api-lint

fix: Add MIA sector wander event log
  Api/src/Exploration/PlanetSectorEventHandler/Again.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-test, api-lint

chore: fixed the URL of moderation actions
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Service/ModerationService.php
  Api/src/MetaGame/Service/ModerationServiceInterface.php
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/services/moderation.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Lost player will see the report of their last exploration, instead of the last of the Daedalus
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Exploration/Repository/ClosedExplorationRepository.php
  Api/src/Exploration/Service/ClosedExplorationService.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

Update source file alerts+intl-icu.fr.xlf
  Api/translations/fr/alerts+intl-icu.fr.xlf
Due: api-lint

Update source file planet_sector_event+intl-icu.fr.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-lint

New translations planet_sector_event+intl-icu.fr.xlf (French)
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: api-lint

New translations planet_sector_event+intl-icu.fr.xlf (Spanish)
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
Due: api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
