Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: You are now informed again by expedition progress
  App/src/components/Game/ExpeditionPopUp.vue
Due: build-front, front-lint, front-test

fix: Ian can now select Firefighter
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

fix: Move and Exit terminal are not revealed anymore by Chitchat
  Api/src/Action/Enum/ActionEnum.php
Due: api-test, api-lint

Add Diplomat skill to Janice
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Diplomat prevents the Fight event
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Entity/PlanetSector.php
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix: Diplomat prevents fight events on all sectors, not only "Intelligent" one
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
Due: api-test, api-lint

Add exploration log when Diplomat works
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
  Api/src/Game/Enum/LanguageEnum.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Create Ceasefire action which create a Ceasefire status in player's room.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlaceStatusEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Ceasefire prevents agressive in the room.
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Validator/AggressiveActionOnCeasefire.php
  Api/src/Action/Validator/AggressiveActionOnCeasefireValidator.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Fix Diplomat icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Add Diplomat french description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Ceasefire is impossible in a room already under a ceasefire.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Ceasefire prints a public log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Ceasefire is not visible if player is not in a room.
  Api/src/Action/Actions/Ceasefire.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Ceasefire is available only once per player.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Ceasefire disappear when the Diplomat moves.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Add Ceasefier action confirmation popup description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

fix null access (wtf php ?)
  Api/src/Status/Listener/PlayerSubscriber.php
Due: api-test, api-lint

Ceasefire end at a cycle change prints a public log
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Status/ChargeStrategies/CycleDecrement.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Ceasefire end prints a public log when Diplomat moves
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

apply linter fixes
  Api/src/Status/Listener/PlayerSubscriber.php
Due: api-test, api-lint

Give Diplomat skill to Finola
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

more safety as ceasefire status should always haave target
  Api/src/Status/Entity/Status.php
  Api/src/Status/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix merge conflict residuals
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
Due: api-test, api-lint

fix broken tests
  Api/src/Exploration/PlanetSectorEventHandler/NothingToReport.php
  Api/tests/unit/Status/Strategy/CycleDecrementTest.php
Due: api-test, api-lint

remove development test
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

feat: Add Solid bonus on Hit action
  Api/src/Action/Actions/Hit.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

docs: Update Skill README
  Api/src/Skill/README.md
Due: none

feat: Add Put Through Door action - Send targeted players to a random accessible door - Not visible if player not in a room - Not executable if there is no working door in the room
  Api/src/Action/Actions/PutThroughDoor.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/ClassConstraint.php
  Api/src/Action/Validator/OperationalDoorInRoom.php
  Api/src/Action/Validator/OperationalDoorInRoomValidator.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/PutThroughDoorCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Fix Solid icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Add Put through door action public log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/PutThroughDoorCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Put Through Door costs 1AP less on inactive players
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Action/Actions/PutThroughDoorCest.php
Due: api-test, api-lint

Solid players do not suffer from burdened status malus
  Api/src/Action/Event/ActionEvent.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/MoveCest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Equipment/Entity/Drone.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

Add french description for Solid and Put Through Door action
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

fix broken tests
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix skill translation
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
Due: api-test, api-lint

feat: Add nurse skill points
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/HealCest.php
Due: api-test, api-lint

Add nurse points gain log
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add heal points description
  Api/translations/fr/player+intl-icu.fr.xlf
Due: translations-lint
