Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Revert "install ET server before back end and front so it has time to start"
  Makefile
Due: none

fix daedalus filling
  Makefile
Due: none

Update Contributing.md
  CONTRIBUTING.md
Due: none

fix typos in action module readme
  Api/src/Action/README.md
Due: none

Update Skill module README.md
  Api/README.md
  Api/src/Skill/README.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  Makefile
Due: none

internal: Fix installation and related README
  Api/README.md
  Api/src/Action/README.md
  Api/src/Skill/README.md
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

fix: cannot print list when tabulatrix is broken
  Api/src/Action/Actions/PrintZeList.php
Due: api-test, api-lint

changing visibility constraint to execute
  Api/src/Action/Actions/PrintZeList.php
Due: api-test, api-lint

feat(skill): Opportunist
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/TitleEnum.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Handler/OpportunistHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Skill/OpportunistCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: linting
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/TitleEnum.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Skill/OpportunistCest.php
Due: api-test, api-lint

refactor: move opportunist status array to PlayerStatusEnum
  Api/src/Game/Enum/TitleEnum.php
  Api/src/Skill/Handler/OpportunistHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/src/Status/Enum/PlayerStatusEnum.php
Due: api-test, api-lint

fix: lint
  Api/src/Game/Enum/TitleEnum.php
  Api/src/Status/Enum/PlayerStatusEnum.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Skill/Listener/PlayerEventSubscriber.php
Due: api-test, api-lint

fix: add correct translations
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

feat(skill): Opportunist
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Handler/OpportunistHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Skill/OpportunistCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Fix a crash when validating death
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

docs: Update README and MR templates
  .gitlab/merge_request_templates/Back.md
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/Front.md
  README.md
Due: none

feat: Create installation script for non-Docker environment
  hooks/pre-commit
  hooks/pre-push
  install_without_docker.sh
Due: none

feat: Automate installation process without Docker
  install_without_docker.sh
Due: none

refactor: Refactor installation steps into reusable functions
  install_without_docker.sh
Due: none

feat: Add bare_metal_uninstall.sh script
  bare_metal_uninstall.sh
Due: none

refactor: Refactor uninstallation steps into reusable functions
  bare_metal_uninstall.sh
Due: none

feat: Add bare_metal_install.sh script
  bare_metal_install.sh
Due: none

feat: add function to install packages at OS level
  bare_metal_install.sh
Due: none

feat: Add OS-specific package uninstallation
  bare_metal_uninstall.sh
Due: none

chore: create stop.sh script to stop PHP and Vite servers
  stop.sh
Due: none

chore: add start.sh script to start PHP and Vite servers
  install.sh
  install_without_docker.sh
  start.sh
  stop.sh
Due: none

fix command only available on debian-like OS
  bare_metal_uninstall.sh
Due: none

feat: add bare_metal_install_windows.ps1 script
  windows_install.ps1
Due: none

Add missing env files
  Api/.env.bare-metal
  Api/.env.bare-metal.test
  App/.env.bare-metal
  Eternaltwin/eternaltwin.bare-metal.toml
  bare_metal_install.sh
Due: none

feat: update versions in windows_install.ps1 for Postgres, PHP, and Composer installations
  windows_install.ps1
Due: none

feat: update NODE_VERSION in bare_metal_install.sh to version 22 for compatibility improvements
  bare_metal_install.sh
Due: none

feat: enhance bare_metal_uninstall.sh to remove PHP extensions and dependencies for a complete uninstallation process
  bare_metal_uninstall.sh
Due: none

feat: update bare_metal_install.sh and uninstall.sh for version changes and streamline commands for improved installation process
  bare_metal_install.sh
  bare_metal_uninstall.sh
  install.sh
Due: none

test: fix false positive tests
  Api/tests/functional/Action/Actions/AttackCest.php
Due: api-test, api-lint

test: Add a test exhibiting that cumulated armor can deal positive damage.
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

feat(skill): paranoid
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/ParanoidCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: translation
  Api/translations/en/skill+intl-icu.en.xlf
Due: translations-lint

fix: linting
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
