Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: When sofa is dismantled while a character is sleeping on it, the character no longer receives an extra AP in the next cycles
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

feat: bare hands rework for new weapon structure
  Api/src/Action/Actions/Hit.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Equipment/Service/UseWeaponService.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/AbstractRemoveVariableFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerServiceInterface.php
  Api/src/Player/Service/RemoveHealthFromPlayerServiceInterface.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerServiceInterface.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/unit/Equipment/WeaponEffectHandler/RemoveActionPointsWeaponEffectHandlerTest.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat: Improve Comms center user interface
  App/src/assets/images/neron.png
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
Due: build-front, front-lint, front-test

feat: "share projects" button
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/ProjectsTerminal.vue
  App/src/entities/Project.test.ts
  App/src/entities/Project.ts
  App/src/entities/TerminalButtons.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Ailurophobia and Septicemia description
  Api/translations/en/modifiers+intl-icu.en.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/fr/modifiers+intl-icu.fr.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
Due: translations-lint

Feat/improve moderation view
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

feat: new "first time (Derek)" & "noob (highly inactive)" status icons
  App/src/assets/images/status/first_time.png
  App/src/assets/images/status/noob.png
Due: none

test: Fix some flaky tests
  Api/tests/functional/Action/Actions/AttackCest.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

chore(in progress): Add Decode Rebel base action
  Api/migrations/Version20250221233027.php
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/DecodeRebelSignal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Validator/IsThereContactingRebelBase.php
  Api/src/Action/Validator/IsThereContactingRebelBaseValidator.php
  Api/src/Communications/ConfigData/RebelBaseConfigDataLoader.php
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/DataFixtures/RebelBaseConfigFixtures.php
  Api/src/Communications/Dto/RebelBaseConfigDto.php
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Entity/RebelBaseConfig.php
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Communications/Repository/RebelBaseRepository.php
  Api/src/Communications/Repository/RebelBaseRepositoryInterface.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Game/Entity/VariableEventConfig.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Game/Service/EventService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/RebelBaseModifierConfigFixtures.php
  Api/src/Modifier/Entity/ModifierProvider.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
Due: api-test, api-lint

feat: grenade uses WeaponEvent structure
  Api/src/Action/Actions/ThrowGrenade.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Entity/Config/WeaponEffect/BreakRandomItemsWeaponEffectConfig.php
  Api/src/Equipment/Entity/Config/WeaponEffect/SplashDamageAllWeaponEffectConfig.php
  Api/src/Equipment/Entity/Config/WeaponEffect/SplashInjuryWeaponEffectConfig.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/BreakRandomItemsWeaponEffectConfigDto.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/SplashDamageAllWeaponEffectConfigDto.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/SplashInjuryWeaponEffectConfigDto.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Equipment/Event/WeaponEffect.php
  Api/src/Equipment/Service/UseWeaponService.php
  Api/src/Equipment/WeaponEffect/BreakRandomItemsWeaponEffectHandler.php
  Api/src/Equipment/WeaponEffect/SplashDamageAllWeaponEffectHandler.php
  Api/src/Equipment/WeaponEffect/SplashInjuryWeaponEffectHandler.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/Entity/AbstractEventConfig.php
  Api/src/Place/Entity/Place.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Improve moderation interface
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/tests/functional/Action/Actions/UpgradeNeronCest.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/alerts+intl-icu.en.xlf
  Api/translations/en/debug+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/alerts+intl-icu.es.xlf
  Api/translations/es/chat+intl-icu.es.xlf
  Api/translations/es/debug+intl-icu.es.xlf
  Api/translations/es/end_cause+intl-icu.es.xlf
  Api/translations/es/moderation+intl-icu.es.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/es/player+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/debug+intl-icu.fr.xlf
  Api/translations/fr/disease+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/alerts+intl-icu.fr.it.xlf
  Api/translations/it/debug+intl-icu.fr.it.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
  Api/translations/it/terminal+intl-icu.fr.it.xlf
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-test, api-lint, translations-lint

feat: Tracker can now see which patrol ship was used
  Api/src/Action/Event/ActionEvent.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

chore: Bump version to 0.11.0
  App/package.json
Due: none

fix: new Crowdin translations
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

fix: Supervitamin bar now can give slight nausea
  Api/src/Disease/ConfigData/ConsumableDiseaseConfigData.php
Due: api-test, api-lint

fix: Fix badly formatted knife log
  Api/translations/en/weapon_event+intl-icu.en.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (French)
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (English)
  Api/translations/en/weapon_event+intl-icu.en.xlf
Due: translations-lint

fix: Hidden item no longer keeps hidden status when turned into another item (e.g. when cooking a hidden ration)
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/functional/Status/Listener/EquipmentSubscriberCest.php
Due: api-test, api-lint

feat(wip): Rebel bases contact the Daedalus
  Api/migrations/Version20250223114835.php
  Api/src/Action/Actions/DecodeRebelSignal.php
  Api/src/Chat/Listener/RebelBaseEventSubscriber.php
  Api/src/Communications/ConfigData/RebelBaseConfigDataLoader.php
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/DataFixtures/RebelBaseConfigFixtures.php
  Api/src/Communications/Dto/RebelBaseConfigDto.php
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Entity/RebelBaseConfig.php
  Api/src/Communications/Event/RebelBaseStartedContactEvent.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/RebelBaseRepository.php
  Api/src/Communications/Repository/RebelBaseRepositoryInterface.php
  Api/src/Communications/Service/TriggerNextRebelBaseContactService.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Game/Enum/EventPriorityEnum.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Communications/Event/DaedalusDeletedEventCest.php
  Api/tests/functional/Communications/Event/DaedalusFullEventCest.php
  Api/tests/functional/Communications/Event/DaedalusNewCycleEventCest.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/functional/Communications/Event/RebelBaseStartedContactCest.php
  Api/tests/functional/Communications/Repository/RebelBaseRepositoryCest.php
Due: api-test, api-lint

feat(wip): Rebel base contacts are lost at cycle change after 8-16 cycles
  Api/migrations/Version20250224213034.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/RebelBaseRepository.php
  Api/src/Communications/Repository/RebelBaseRepositoryInterface.php
  Api/src/Communications/Service/KillExpiredRebelBaseContactsService.php
  Api/src/Communications/Service/TriggerNextRebelBaseContactService.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/src/Status/Listener/DaedalusEventSubscriber.php
  Api/tests/functional/Communications/Event/DaedalusNewCycleEventCest.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/functional/Communications/Event/RebelBaseStartedContactCest.php
  Api/tests/functional/Equipment/Event/NewFruitNotHazardousCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
Due: api-test, api-lint

feat: Link with Sol may break at cycle change
  Api/migrations/Version20250225204439.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/RebelBaseRepository.php
  Api/src/Communications/Service/KillLinkWithSolService.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Game/ConfigData/DifficultyConfigData.php
  Api/src/Game/ConfigData/DifficultyConfigDataLoader.php
  Api/src/Game/DataFixtures/DifficultyConfigFixtures.php
  Api/src/Game/Entity/DifficultyConfig.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
  Api/tests/functional/Action/Actions/UpgradeNeronCest.php
  Api/tests/functional/Alert/Service/AlertServiceCest.php
  Api/tests/functional/Communications/Event/CommsCenterBrokenEventCest.php
  Api/tests/functional/Communications/Event/DaedalusDeletedEventCest.php
  Api/tests/functional/Communications/Event/DaedalusFullEventCest.php
  Api/tests/functional/Communications/Event/DaedalusNewCycleEventCest.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/functional/Communications/Event/LinkWithSolKilledEventCest.php
  Api/tests/functional/Communications/Event/RebelBaseStartedContactCest.php
  Api/tests/functional/Daedalus/Event/DaedalusDestroyedOnEndDayCest.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  Api/tests/unit/Communications/Service/KillLinkWithSolServiceTest.php
Due: api-test, api-lint

fix: Do not display multiple signal icons if it reaches 25%
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
Due: build-front, front-lint, front-test

fix: Jukebox correctly adjusts the first song to an existing crewmember
  Api/src/Equipment/CycleHandler/JukeboxCycleHandler.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/RoomLog/Event/JukeboxCest.php
  Api/tests/unit/Project/Listener/JukeboxProjectTest.php
Due: api-test, api-lint

feat: Express Cook action can break Link with Sol
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Chat/Listener/LinkWithSolEventSubscriber.php
  Api/src/Communications/Listener/ActionEventSubscriber.php
  Api/src/Communications/Service/KillLinkWithSolService.php
  Api/tests/functional/Action/Actions/ExpressCookCest.php
  Api/tests/functional/Communications/Event/LinkWithSolKilledEventCest.php
Due: api-test, api-lint

fix: Health loss log from Torture is now correctly private
  Api/src/Player/Service/RemoveHealthFromPlayerServiceInterface.php
Due: api-test, api-lint

feat: Comms manager can now decode rebel base signals from Comms center
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Entity/RebelBaseConfig.php
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Communications/Normalizer/RebelBaseNormalizer.php
  Api/src/Communications/Repository/RebelBaseRepository.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Communications/Normalizer/RebelBaseNormalizerCest.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/rebel_base+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/assets/images/rebel_bases/bases_centauri.png
  App/src/assets/images/rebel_bases/bases_cygni.png
  App/src/assets/images/rebel_bases/bases_kaladaan.png
  App/src/assets/images/rebel_bases/bases_luyten-ceti.png
  App/src/assets/images/rebel_bases/bases_sirius.png
  App/src/assets/images/rebel_bases/bases_wolf.png
  App/src/assets/images/rebel_bases/centauri.png
  App/src/assets/images/rebel_bases/cygni.png
  App/src/assets/images/rebel_bases/kaladaan.png
  App/src/assets/images/rebel_bases/luyten_ceti.png
  App/src/assets/images/rebel_bases/sirius.png
  App/src/assets/images/rebel_bases/wolf.png
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/entities/RebelBase.ts
  App/src/entities/Terminal.ts
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: implement rocket launcher
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Entity/Config/WeaponEffect/DestroyOrBreakRandomItemsWeaponEffectConfig.php
  Api/src/Equipment/Entity/Config/WeaponEffect/InflictRandomInjuryWeaponEffectConfig.php
  Api/src/Equipment/Entity/Config/WeaponEffect/OneShotWeaponEffectConfig.php
  Api/src/Equipment/Entity/Config/WeaponEffect/SplashRandomWeaponEffectConfig.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/DestroyOrBreakRandomItemsWeaponEffectConfigDto.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/InflictRandomInjuryWeaponEffectConfigDto.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/OneShotWeaponEffectConfigDto.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/SplashRandomWeaponEffectConfigDto.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Equipment/Service/DeleteEquipmentService.php
  Api/src/Equipment/WeaponEffect/DestroyOrBreakRandomItemsWeaponEffectHandler.php
  Api/src/Equipment/WeaponEffect/DestroyWeaponEffectHandler.php
  Api/src/Equipment/WeaponEffect/OneShotWeaponEffectHandler.php
  Api/src/Equipment/WeaponEffect/RandomInjuryWeaponEffectHandler.php
  Api/src/Equipment/WeaponEffect/SplashRandomWeaponEffectHandler.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/Entity/AbstractEventConfig.php
  Api/src/Place/Entity/Place.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
  Api/tests/unit/Equipment/WeaponEffectHandler/RandomInjuryWeaponEffectHandlerTest.php
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat(wip): Introducing Xyloph
  Api/migrations/Version20250228172347.php
  Api/src/Action/Actions/ContactXyloph.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/AllXylophDatabasesDecoded.php
  Api/src/Action/Validator/AllXylophDatabasesDecodedValidator.php
  Api/src/Communications/ConfigData/XylophConfigDataLoader.php
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/DataFixtures/XylophConfigFixtures.php
  Api/src/Communications/Dto/XylophConfigDto.php
  Api/src/Communications/Entity/XylophConfig.php
  Api/src/Communications/Entity/XylophEntry.php
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/XylophRepository.php
  Api/src/Communications/Repository/XylophRepositoryInterface.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Communications/Service/DecodeXylophDatabaseServiceInterface.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Game/Service/RandomService.php
  Api/src/Game/Service/RandomServiceInterface.php
  Api/src/Modifier/DataFixtures/XylophModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/ContactXylophCest.php
  Api/tests/functional/Communications/Event/DaedalusDeletedEventCest.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/functional/Communications/Repository/XylophRepositoryCest.php
Due: api-test, api-lint

fix: Broken edit message icon for gold nova player
  App/src/components/Ranking/TheEndPage.vue
Due: build-front, front-lint, front-test

feat(xyloph): Wireless Infidelity (Magnetite)
  Api/migrations/Version20250228172347.php
  Api/src/Action/Actions/ContactXyloph.php
  Api/src/Communications/ConfigData/XylophConfigDataLoader.php
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/DataFixtures/XylophConfigFixtures.php
  Api/src/Communications/Dto/XylophConfigDto.php
  Api/src/Communications/Entity/LinkWithSol.php
  Api/src/Communications/Entity/XylophConfig.php
  Api/src/Communications/Entity/XylophEntry.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Communications/Service/DecodeXylophDatabaseServiceInterface.php
  Api/tests/functional/Action/Actions/ContactXylophCest.php
Due: api-test, api-lint

feat: Comms manager can contact Xyloph
  Api/migrations/Version20250301203551.php
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Normalizer/XylophEntryNormalizer.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/tests/functional/Communications/Normalizer/XylophEntryNormalizerCest.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
  App/src/assets/images/bdd.png
  App/src/assets/images/bdd_off.png
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/entities/Terminal.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/entities/XylophEntry.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(rebel): Sirius
  Api/src/Action/Actions/DecodeRebelSignal.php
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Communications/Service/DecodeRebelSignalService.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/RebelBaseModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Equipment/Normalizer/RationCest.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/translations/fr/rebel_base+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

docs: Add communications module README
  Api/src/Communications/README.md
Due: none

feat(xyloph): Access the Lost NERON Database (Version)
  Api/migrations/Version20250301203551.php
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Communications/Service/UpdateNeronVersionService.php
  Api/tests/functional/Action/Actions/ContactXylophCest.php
Due: api-test, api-lint

chore: Fix deployment by fixing name of new weapon effect in database
  Api/src/Equipment/Entity/Config/WeaponEventConfig.php
  Api/src/Game/Command/MigrateCommand.php
  Api/src/Game/Entity/AbstractEventConfig.php
Due: api-test, api-lint

fix: Fix too much talkative Comms Managers
  App/src/components/Game/PlayerNotificationPopUp.vue
Due: build-front, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
