Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Add Apprentice to Stephen
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Add apprentice skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Add learn action french description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Fix apprentice skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Refactorize ChooseSkillUseCase to use addSkillService.
  Api/src/Action/Actions/Learn.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/Repository/InMemorySkillConfigRepository.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Skill/UseCase/ChooseSkillUseCase.php
  Api/src/Skill/config/services.yaml
  Api/tests/functional/Skill/Service/AddSkillToPlayerServiceCest.php
  Api/tests/functional/Skill/UseCase/ChooseSkillUseCaseCest.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
Due: api-test, api-lint

Prevent to take Apprenticeship again after Learn action
  Api/src/Action/Actions/Learn.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/LearnCest.php
Due: api-test, api-lint

Add user interface for Learn action
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/LearnSkillMenu.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/entities/Player.ts
  App/src/enums/action.enum.ts
  App/src/i18n/locales/fr.json
  App/src/store/popup.module.ts
Due: build-front, front-lint, front-test

Allow players to select Mush skills
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/UseCase/ChooseSkillUseCase.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Factory/StatusFactory.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
Due: api-test, api-lint

feat: Players with anonymous skill appear as human, instead of appearing as Mush.
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/unit/Daedalus/Normalizer/AnonymushTest.php
Due: api-test, api-lint

Load status skill configs in database
  Api/migrations/Version20240803171112.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Status/ConfigData/ChargeStatusConfigDataLoader.php
  Api/src/Status/ConfigData/ContentStatusConfigDataLoader.php
  Api/src/Status/ConfigData/StatusConfigDataLoader.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
Due: api-test, api-lint

Display available Mush skills for selection
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Status/Entity/Status.php
Due: api-test, api-lint

Add Anonymous french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Add Anonymous icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

style: fix typo
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
Due: api-test, api-lint

Mush skills are now stored in Game config rather than status configs
  Api/migrations/Version20240803171112.php
  Api/migrations/Version20240806215920.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Game/Exception/GameException.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Status/ConfigData/ChargeStatusConfigDataLoader.php
  Api/src/Status/ConfigData/ContentStatusConfigDataLoader.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/ConfigData/StatusConfigDataLoader.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Entity/Status.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
Due: api-test, api-lint

Remove one function call (breut's suggestion)
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
Due: api-test, api-lint

style: apply psalm fix
  Api/src/Daedalus/Factory/DaedalusFactory.php
Due: api-test, api-lint

fix broken tests
  Api/src/Player/Entity/Player.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
Due: api-test, api-lint

test: Add some tests on skill normalization
  Api/src/Equipment/Normalizer/SpaceBattlePatrolShipNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattleTurretNormalizer.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Player/Normalizer/SelectableSkillsCest.php
  Api/tests/functional/Player/Normalizer/SkillsCest.php
Due: api-test, api-lint

Add Presentiment skill Premonition action which reveals the last action of the target.
  .gitignore
  Api/src/Action/Actions/Premonition.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/GameVariableLevel.php
  Api/src/Action/Validator/GameVariableLevelValidator.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/PremonitionCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add presentiment skill to Chun
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Add Premonition action french description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Add Presentiment skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Fix Presentiment skill incon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Display morale cost in front end
  App/src/components/Utils/ActionButton.vue
  App/src/entities/Action.ts
Due: build-front, front-lint, front-test

refactor: Chitchat and Premonition now uses a common service to generate the revealed action log
  Api/src/Action/Actions/Chitchat.php
  Api/src/Action/Actions/Premonition.php
  Api/src/Action/Service/ActionHistoryLogService.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Fix Shoot hunter with a turret translation in reveal log
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

apply psalm fixes
  Api/src/Action/Service/ActionHistoryLogService.php
Due: api-test, api-lint

fix: Cycle change is now rollback if there was an issue. This should avoid skipped cycles
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

fix broken tests
  Api/tests/unit/Game/Service/CycleServiceTest.php
Due: api-test, api-lint

Close entity manager as told by Doctrine documentation
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

feat(skill): NERON's only friend
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Normalizer/SkillConfigNormalizer.php
  Api/src/Skill/Normalizer/SkillNormalizer.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

New translations actions+intl-icu.fr.xlf (French)
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (English)
  Api/translations/en/actions+intl-icu.en.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (French)
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: translations-lint

Sneak skill adds a -25% malus on hit and attack actions
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

Add Sneak skill to Chun
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Add Sneak french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Fix Sneak icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

New translations event_log+intl-icu.fr.xlf (English)
  Api/translations/en/event_log+intl-icu.en.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
