Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: Add ScrewTalkieCest functional test
  Api/tests/functional/Action/Actions/ScrewTalkieCest.php
Due: api-test, api-lint

Myco alarm detects Make sick
  Api/src/Action/Actions/MakeSick.php
  Api/src/Action/Event/ActionEvent.php
  Api/tests/functional/Action/Actions/MakeSickActionCest.php
Due: api-test, api-lint

Myco alarm detects Fungal Kitchen
  Api/src/Action/Event/ActionEvent.php
  Api/tests/functional/Action/Actions/MixRationSporeCest.php
Due: api-test, api-lint

fix action log printing
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
Due: api-test, api-lint

Myco alarm detects Transfert
  Api/src/Action/Event/ActionEvent.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

feat: add test for screw talkie action making myco alarm ring
  Api/tests/functional/Action/Actions/ScrewTalkieCest.php
Due: api-test, api-lint

Myco alarm detects Give Nightmare
  Api/src/Action/Event/ActionEvent.php
  Api/tests/functional/Action/Actions/GiveNightmareCest.php
Due: api-test, api-lint

feat(research): MycoAlarm
  Api/src/Action/Actions/ConvertCat.php
  Api/src/Action/Actions/MakeSick.php
  Api/src/Action/Actions/ScrewTalkie.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ConvertCatCest.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/GiveNightmareCest.php
  Api/tests/functional/Action/Actions/InfectCest.php
  Api/tests/functional/Action/Actions/MakeSickActionCest.php
  Api/tests/functional/Action/Actions/MixRationSporeCest.php
  Api/tests/functional/Action/Actions/ScrewTalkieCest.php
  Api/tests/functional/Action/Actions/TrapClosetCest.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

test: Add a test exhibiting that cumulated armor can deal positive damage.
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

Add GAIN tag constraint to armor modifier so it does not proc on health gain
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
Due: api-test, api-lint

fix: We know properly detect a sign change for player variable events.
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Player/Event/PlayerVariableEvent.php
Due: api-test, api-lint

fix: Change GLOBAL_MORALE_LOSS_SCHRODINGER_DEATH to a tiny negative value so modifiers are applied properly
  Api/src/Player/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

fix: Cumulated armor does not deal negative damage
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Event/PlayerVariableEvent.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

chore: Update Node to v22
  docker/App/Dockerfile
Due: none

chore: create stop.sh script to stop PHP and Vite servers
  stop.sh
Due: none

feat: Add OS-specific package uninstallation
  bare_metal_uninstall.sh
Due: none

feat: add function to install packages at OS level
  bare_metal_install.sh
Due: none

feat: Add bare_metal_uninstall.sh script
  bare_metal_uninstall.sh
Due: none

feat: update bare_metal_install.sh and uninstall.sh for version changes and streamline commands for improved installation process
  bare_metal_install.sh
  bare_metal_uninstall.sh
  install.sh
Due: none

chore: add start.sh script to start PHP and Vite servers
  install.sh
  install_without_docker.sh
  start.sh
  stop.sh
Due: none

feat: add bare_metal_install_windows.ps1 script
  windows_install.ps1
Due: none

feat: enhance bare_metal_uninstall.sh to remove PHP extensions and dependencies for a complete uninstallation process
  bare_metal_uninstall.sh
Due: none

feat: Automate installation process without Docker
  install_without_docker.sh
Due: none

refactor: Refactor installation steps into reusable functions
  install_without_docker.sh
Due: none

refactor: Refactor uninstallation steps into reusable functions
  bare_metal_uninstall.sh
Due: none

feat: Create installation script for non-Docker environment
  hooks/pre-commit
  hooks/pre-push
  install_without_docker.sh
Due: none

feat: Add bare_metal_install.sh script
  bare_metal_install.sh
Due: none

Add missing env files
  Api/.env.bare-metal
  Api/.env.bare-metal.test
  App/.env.bare-metal
  Eternaltwin/eternaltwin.bare-metal.toml
  bare_metal_install.sh
Due: none

feat: update versions in windows_install.ps1 for Postgres, PHP, and Composer installations
  windows_install.ps1
Due: none

feat: update NODE_VERSION in bare_metal_install.sh to version 22 for compatibility improvements
  bare_metal_install.sh
Due: none

fix command only available on debian-like OS
  bare_metal_uninstall.sh
Due: none

fix: Rewrite hooks to check for required commands before execution
  hooks/pre-commit
  hooks/pre-push
Due: none

fix: Rewrite hooks to try local commands first, then fall back to docker commands
  hooks/pre-commit
  hooks/pre-push
Due: none

feat: Add installation and uninstallation scripts for Unix-like systems to streamline setup and teardown processes
  unix_like_install.sh
  unix_like_uninstall.sh
Due: none

feat: Add Windows uninstall script
  windows_uninstall.ps1
Due: none

feat: create windows uninstall script
  windows_uninstall.ps1
Due: none

fix: enhance uninstall script for Unix-like systems with improved package removal and OS support logging
  unix_like_uninstall.sh
Due: none

First functional versions
  .gitignore
  Api/.env.bare-metal
  Api/.env.bare-metal.test
  Api/.env.test
  App/install.log
  Eternaltwin/.yarn/releases/yarn-4.1.0.cjs
  Eternaltwin/.yarn/releases/yarn-4.5.1.cjs
  Eternaltwin/.yarnrc.yml
  Eternaltwin/eternaltwin.bare-metal.toml
  Eternaltwin/package.json
  Makefile
  install.log
  start.sh
  stop.sh
  uninstall.log
  unix_like_install.sh
  unix_like_uninstall.sh
Due: none

fix: simplify pre-commit and pre-push hooks to check for PHP instead of php-cs-fixer and other tools
  hooks/pre-commit
  hooks/pre-push
Due: none

fix: add ext-mbstring requirement and update dependencies in composer files for improved compatibility
  Api/composer.json
  Api/composer.lock
  unix_like_install.sh
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
