Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: new Crowdin translations
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
Due: none

feat: nurse buffed to 2 daily Nurse Points
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/tests/functional/Action/Actions/HealCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Observant no longer "notices" already revealed secret logs
  Api/migrations/Version20251117192039.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/unit/RoomLog/Listener/ActionSubscriberTest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: deleted drop_success log dupe of drop action log
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat(stat): Revolution!
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/RebelBaseDecodedEventSubscriber.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/revolution.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: mush channel has pheromodem icon for humans + finish project admin endpoint
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/src/MetaGame/Dto/CreateProjectForDaedalusDto.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/RoomLog/Listener/ProjectEventSubscriber.php
  Api/tests/unit/Disease/Listener/PlayerSubscriberTest.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/components/Game/Communications/Tab.vue
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(stat): Plasma Shield
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ProjectEventSubscriber.php
  Api/tests/functional/Achievement/Event/ProjectFinishedEventCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: You cannot Run Home from an expedition if you're lost
  Api/src/Action/Actions/RunHome.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/tests/functional/Action/Actions/RunHomeCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(community suggestion): Less ingame popups setting
  Api/src/Player/Entity/PlayerNotification.php
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Player/Service/UpdatePlayerNotificationService.php
  Api/tests/unit/Player/Normalizer/PlayerNotificationNormalizerTest.php
  Api/tests/unit/Player/Service/UpdatePlayerNotificationServiceTest.php
  App/src/components/Hud/UserMenu.vue
  App/src/entities/Player.ts
  App/src/features/achievements/enum.test.ts
  App/src/features/settings/store.test.ts
  App/src/features/settings/store.ts
  App/src/i18n/locales/fr.json
  App/src/services/player.service.ts
  App/src/store/popup.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Extinguish fire manually gives Fire extinguish stat
  Api/src/Action/Actions/ExtinguishManually.php
  Api/tests/functional/Action/Actions/ExtinguishManuallyActionCest.php
Due: api-test, api-lint

feat: U-Turn and Traitor can see which sector is next in Expedition
  Api/migrations/Version20251121183400.php
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Entity/PlanetSector.php
  Api/src/Exploration/Listener/ExplorationEventSubscriber.php
  Api/src/Exploration/Normalizer/ExplorationNormalizer.php
  Api/src/Exploration/Normalizer/PlanetSectorNormalizer.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ExplorationEventSubscriber.php
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/planet+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Game/ExpeditionPanel.vue
  App/src/entities/PlanetSector.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Do not send Push notifications every time user does not have eMush open
  App/src/sw.js
Due: none

feat(42nd Floor): Burnt plants leave an hydropot
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Listener/EquipmentSubscriber.php
  Api/src/Equipment/Service/DamageEquipmentService.php
  Api/tests/functional/Equipment/Service/DamageEquipmentServiceCest.php
  Api/tests/functional/Status/CycleHandler/FireCest.php
Due: api-test, api-lint

feat(stat): Grenadier
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/EquipmentEventSubscriber.php
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/ItemLostHandlerCest.php
  Api/tests/unit/Exploration/PlanetSectorEventHandler/FightTest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/grenadier.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Support female titles
  Api/src/Achievement/Normalizer/AchievementNormalizer.php
  Api/src/Achievement/Normalizer/StatisticNormalizer.php
  Api/src/Achievement/Query/GetUserAchievementsQuery.php
  Api/src/Achievement/Query/GetUserStatisticsQuery.php
  Api/tests/api/Achievement/AchievementControllerCest.php
  Api/tests/functional/Achievement/Normalizer/StatisticNormalizerCest.php
  Api/tests/http/Achievements/test.http
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/female.png
  App/src/assets/images/male.png
  App/src/features/achievements/UserAchievements.vue
  App/src/features/achievements/gateway.ts
  App/src/features/achievements/models.ts
  App/src/features/achievements/store.test.ts
  App/src/features/achievements/store.ts
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: do not display fertile bonus as skill points
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/Entity/SkillCollection.php
  Api/tests/unit/Player/Normalizer/CurrentPlayerNormalizerTest.php
Due: api-test, api-lint

feat: Evian is no longer in 42nd Floor
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

fix: Cannot join already filled Daedalus
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

feat(community suggestion): Add an emoji to minimap reported fires for colorblind users
  App/src/components/Game/Ship/MiniMap.vue
Due: build-front, front-lint, front-test

feat: add biography page
  Api/src/MetaGame/Controller/BiographyController.php
  Api/src/MetaGame/Service/GetCharacterBiographyService.php
  Api/tests/api/MetaGame/BiographyControllerCest.php
  Api/tests/unit/MetaGame/Service/GetCharacterBiographyServiceTest.php
  Api/translations/en/characters+intl-icu.en.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  App/src/components/Game/BannerPanel.vue
  App/src/features/biography/CharacterBiographyDetails.vue
  App/src/features/biography/CharacterBiographyTimeLine.vue
  App/src/features/biography/CharacterBiographyView.vue
  App/src/features/biography/store.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/router/index.ts
  App/src/services/biography.service.ts
  App/src/store/index.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(community suggestion): New Push notifications when daedalus is filled and finished
  Api/config/services_test.yaml
  Api/src/Notification/Enum/NotificationEnum.php
  Api/src/Notification/Listener/DaedalusEventListener.php
  Api/tests/functional/Achievement/Command/UnlockStatisticAchievementCommandHandlerCest.php
  Api/tests/functional/Notification/Event/DaedalusEventCest.php
  Api/tests/http/Notification/test.http
  Api/translations/fr/user_notification+intl-icu.fr.xlf
  App/src/features/notification/store.test.ts
  App/src/features/notification/store.ts
  App/src/store/plugins/service.worker.listener.ts
  App/src/sw.js
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

chore(hotfix): Fix biography display on mobile
  App/src/features/biography/CharacterBiographyView.vue
Due: build-front, front-lint, front-test

feat: Instead of doubling negative event weights, Traitor can guarantee a negative event on one sector per exploration
  Api/migrations/Version20251121204805.php
  Api/src/Action/Actions/SabotageExploration.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/ExplorationAlreadySabotaged.php
  Api/src/Action/Validator/ExplorationAlreadySabotagedValidator.php
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Listener/PlanetSectorEventSubscriber.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Listener/PlayerStatisticsSubscriber.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ExplorationEventSubscriber.php
  Api/src/RoomLog/Listener/PlanetSectorEventSubscriber.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/ExplorationEventSubscriber.php
  Api/tests/functional/Action/Actions/SabotageExplorationCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: new Crowdin translations
  Api/src/Achievement/Event/AchievementUnlockedEvent.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/planet+intl-icu.en.xlf
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/en/user_notification+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/disease+intl-icu.es.xlf
  Api/translations/es/end_cause+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/highlight+intl-icu.es.xlf
  Api/translations/es/notification+intl-icu.es.xlf
  Api/translations/es/planet+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/rebel_base+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/user_notification+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/statistics+intl-icu.fr.xlf
  Api/translations/fr/user_notification+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/characters+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/planet+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  Api/translations/it/user_notification+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: api-test, api-lint, translations-lint

feat: Satiety works the same for mush as for humans
  Api/src/Equipment/Listener/ApplyEffectSubscriber.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Listener/ApplyEffectSubscriber.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Player/Event/PlayerModifierEventCest.php
  Api/tests/functional/Status/Event/StarvingStatusCest.php
  Api/tests/unit/Action/Actions/ConsumeActionTest.php
  Api/tests/unit/Player/Service/PlayerVariableServiceTest.php
  Api/tests/unit/Status/Service/PlayerStatusServiceTest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  App/src/i18n/locales/it.json
Due: api-test, translations-lint

fix: You can unlock multiple acheivements for the same statistic
  Api/src/Achievement/Command/UnlockStatisticAchievementCommandHandler.php
  Api/src/Achievement/Repository/AchievementRepository.php
  Api/src/Achievement/Repository/AchievementRepositoryInterface.php
  Api/tests/unit/Achievement/Command/UnlockStatisticAchievementCommandHandlerTest.php
  Api/tests/unit/Achievement/TestDoubles/InMemoryAchievementRepository.php
Due: api-test, api-lint

feat: Stats are displayed in a Hordes-like grid
  App/src/features/achievements/UserAchievements.vue
Due: build-front, front-lint, front-test

fix: Remove drone upgrade placeholder when examinating drones if not upgraded
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
Due: api-test, api-lint

chore(release): 0.18.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat(stat): Yeti
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/EquipmentEventSubscriber.php
  Api/tests/functional/Action/Actions/ConsumeFrozenFoodCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(community suggestion): Add a link to bio in crewmate panel and character selection
  App/src/components/CharSelection.vue
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/GoToCharacterBiographyButton.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
Due: build-front, front-lint, front-test

feat: Ze List no longer gives info about number of mush alive, printable even with 0 mushes
  Api/src/Action/Actions/PrintZeList.php
  Api/tests/functional/Action/Actions/PrintZeListCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat: Jumpkins are 1 satiety
  Api/src/Equipment/ConfigData/MechanicsData.php
Due: api-test, api-lint

fix: Fix a database migration
  Api/migrations/Version20251121204805.php
  Api/src/Exploration/Entity/Exploration.php
Due: api-test, api-lint

feat: Add a search bar to stalk your friends
  .gitlab-ci.yml
  Api/config/services_test.yaml
  Api/migrations/Version20251204180153.php
  Api/src/User/Controller/UserController.php
  Api/src/User/Query/SearchUsersByUsernameQuery.php
  Api/src/User/Query/SearchUsersByUsernameQueryHandler.php
  Api/src/User/ViewModel/UserSearchViewModel.php
  Api/tests/api/User/User/UserControllerCest.php
  Api/tests/functional/User/Query/SearchUsersByUsernameQueryHandlerCest.php
  App/src/components/Hud/TopBar.vue
  App/src/features/userSearch/UserSearchBar.vue
  App/src/features/userSearch/gateway.ts
  App/src/features/userSearch/index.ts
  App/src/features/userSearch/models.ts
  App/src/features/userSearch/store.test.ts
  App/src/features/userSearch/store.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/store/index.ts
  docker/Database/install.sh
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Use portraits instead of initials in minimap with ACTOPI
  Api/src/Daedalus/Service/DaedalusWidgetService.php
  Api/tests/functional/Daedalus/Service/DaedalusWidgetServiceCest.php
  App/src/components/Game/Ship/MiniMap.vue
  App/src/entities/Minimap.ts
Due: build-front, api-test, api-lint, front-lint, front-test

ci: actually run all tests instead of only one!
  .gitlab-ci.yml
Due: none
