Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Apply 13 suggestion(s) to 4 file(s)
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
Due: api-test, api-lint

fixed broken infection by cat message, linted
  Api/src/Communication/Listener/PlayerSubscriber.php
Due: api-test, api-lint

New translations actions+intl-icu.fr.xlf (French)
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (French)
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (English)
  Api/translations/en/actions_log+intl-icu.en.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (French)
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (English)
  Api/translations/en/event_log+intl-icu.en.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (French)
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (English)
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (French)
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Spanish)
  Api/translations/es/action_fail+intl-icu.es.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Italian)
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (English)
  Api/translations/en/action_fail+intl-icu.en.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (English)
  Api/translations/en/actions+intl-icu.en.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Spanish)
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Italian)
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: translations-lint

fix typo
  Api/src/Action/Actions/DoorSabotage.php
Due: api-test, api-lint

fix broken tests
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

feat(skill): Nightmarish
  Api/src/Action/Actions/GiveNightmare.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/GiveNightmareCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add fitful sleep status and adjust French translation for character gender in actions log
  Api/src/Game/ConfigData/GameConfigData.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add validation for reach in GiveNightmare action and update French translation for character proximity log
  Api/src/Action/Actions/GiveNightmare.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add reach validator to Daunt action for room visibility checks
  Api/src/Action/Actions/Daunt.php
Due: api-test, api-lint

New translations skill+intl-icu.fr.xlf (English)
  Api/translations/en/skill+intl-icu.en.xlf
Due: translations-lint

feat: Extract planet name translation to method
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

feat: Add ninja skill and implement anonymous logging for hits in the room log when a player is a ninja
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add French translations and skill icon for 'ninja' with associated descriptions in the XLF and enum files
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, translations-lint, front-lint, front-test

refactor: Implement getActionTargetAsPlanet() method and refactor planet name translation in RoomLogService to use it
  Api/src/Action/Event/ActionEvent.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

Add skill
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

feat: Add NeronDepress action
  Api/src/Action/Actions/NeronDepress.php
Due: api-test, api-lint

feat: Move changeNeronCpuPriority and changeCrewLock methods into DepressNeronService
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Daedalus/Service/DepressNeronService.php
Due: api-test, api-lint

feat: expose execute method in DepressNeronService
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Daedalus/Service/DepressNeronService.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
