Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: add interface for DepressNeronService
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Daedalus/Service/DepressNeronService.php
  Api/src/Daedalus/Service/DepressNeronServiceInterface.php
Due: api-test, api-lint

feat: replace DepressNeronService with NERON_DEPRESSION status
  Api/src/Action/Actions/NeronDepress.php
Due: api-test, api-lint

feat: implement NERON_DEPRESSION handling in various services and actions, add tests and translations for new status functionality
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Daedalus/Enum/NeronCrewLockEnum.php
  Api/src/Daedalus/Listener/StatusEventSubscriber.php
  Api/src/Daedalus/Service/DepressNeronService.php
  Api/src/Daedalus/Service/DepressNeronServiceInterface.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/NeronDepressCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

wip PWA
  App/dev-dist/sw.js
  App/dev-dist/workbox-b5f7729d.js
  App/package.json
  App/public/apple-touch-icon-180x180.png
  App/public/favicon.ico
  App/public/maskable-icon-512x512.png
  App/public/pwa-192x192.png
  App/public/pwa-512x512.png
  App/public/pwa-64x64.png
  App/src/App.vue
  App/src/components/ReloadPWA.vue
  App/vite.config.js
  App/yarn.lock
Due: build-front, front-lint, front-test

feat: Update PWA with new icons, manifest settings, and dark/light theme colors in index.html and vite.config.js
  App/.gitignore
  App/dev-dist/sw.js
  App/dev-dist/workbox-b5f7729d.js
  App/index.html
  App/public/apple-touch-icon-180x180.png
  App/public/favicon-16x16.png
  App/public/favicon-32x32.png
  App/public/favicon.ico
  App/public/icon.ico
  App/public/maskable-icon-512x512.png
  App/public/pwa-192x192.png
  App/public/pwa-512x512.png
  App/public/pwa-64x64.png
  App/public/pwa-maskable-192x192.png
  App/public/pwa-maskable-512x512.png
  App/vite.config.js
Due: none

New translations status+intl-icu.fr.xlf (French)
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (English)
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (English)
  Api/translations/en/actions+intl-icu.en.xlf
Due: translations-lint

New translations equipments+intl-icu.fr.xlf (English)
  Api/translations/en/equipments+intl-icu.en.xlf
Due: translations-lint

New translations player+intl-icu.fr.xlf (English)
  Api/translations/en/player+intl-icu.en.xlf
Due: translations-lint

fix: Update video source on HomePage to use English trailer instead of French
  App/src/components/HomePage.vue
Due: build-front, front-lint, front-test

fix: Display english trailer
  App/src/components/HomePage.vue
Due: build-front, front-lint, front-test

refactor: Migrate to a non-modifier solution, so we can actually doubles Lethargy player action points.
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Player/Listener/SkillEventSubscriber.php
  Api/src/Player/Service/RaisePlayerVariableMaximumService.php
  Api/src/Player/Service/RaisePlayerVariableMaximumServiceInterface.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Event/SkillCreatedEvent.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
Due: api-test, api-lint

Lethargy doubles maximum amount of action points
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/LethargyCest.php
Due: api-test, api-lint

refactor: rename a modifier for it to be more accurate with its effect
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Lethargy gives an extra action points if player has been sleeping for 4 cycles or more.
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/StatusChargeReachesRequirement.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Entity/StatusHolderInterface.php
  Api/src/Status/Factory/StatusFactory.php
  Api/tests/functional/Skill/LethargyCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/StatusChargeReachesRequirementTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Revert Lethargy bonus when skill is deleted (case of apprenticeship then transfer)
  Api/src/Player/Listener/SkillEventSubscriber.php
  Api/src/Player/Service/ChangePlayerVariableMaximumService.php
  Api/src/Player/Service/ChangePlayerVariableMaximumServiceInterface.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Event/AbstractSkillEvent.php
  Api/src/Skill/Event/SkillDeletedEvent.php
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/tests/functional/Skill/LethargyCest.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
Due: api-test, api-lint

Add Lethargy french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

remove dead code
  Api/src/Game/ConfigData/EventConfigData.php
Due: api-test, api-lint

feat(skill): Lethargy
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/StatusChargeReachesRequirement.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Listener/SkillEventSubscriber.php
  Api/src/Player/Service/ChangePlayerVariableMaximumService.php
  Api/src/Player/Service/ChangePlayerVariableMaximumServiceInterface.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Event/AbstractSkillEvent.php
  Api/src/Skill/Event/SkillCreatedEvent.php
  Api/src/Skill/Event/SkillDeletedEvent.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Entity/StatusHolderInterface.php
  Api/src/Status/Factory/StatusFactory.php
  Api/tests/functional/Skill/LethargyCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/StatusChargeReachesRequirementTest.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Only current cycle logs are displayed again when place registers logs again
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
Due: api-test, api-lint

Add Panic bonus : +1AP and +1MP if Mush controls more than 50% of the crew
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/MushCrewProportionRequirement.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Skill/PanicCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/MushCrewProportionRequirementTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add Panic french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

refactor: update assertions in MushCrewProportionRequirementTest for clarity and maintainability
  Api/tests/unit/Modifier/ModifierRequirementHandler/MushCrewProportionRequirementTest.php
Due: api-test, api-lint

feat(skill): Panic
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/MushCrewProportionRequirement.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Skill/PanicCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/MushCrewProportionRequirementTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Fix report button
  App/src/components/Moderation/ReportPopup.vue
Due: build-front, front-lint, front-test

wip DIP
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Disease/Repository/InMemoryPlayerDiseaseRepository.php
  Api/src/Disease/Repository/PlayerDiseaseRepository.php
  Api/src/Disease/Repository/PlayerDiseaseRepositoryInterface.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/tests/unit/Disease/Service/DiseaseCauseServiceTest.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
Due: api-test, api-lint

Hygienist skill prevents to catch a physical disease with a 50% chance
  Api/src/Disease/Entity/Config/DiseaseConfig.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
Due: api-test, api-lint

refactor: Move hardcoded value to configurable modifier
  Api/src/Disease/Repository/PlayerDiseaseRepository.php
  Api/src/Disease/config/services.yaml
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
Due: api-test, api-lint

Add Hygienist french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Add Hygienist icon
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/tests/functional/Skill/HygienistCest.php
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Hygienist prevents Mush infections at 50% chance
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/HygienistCest.php
Due: api-test, api-lint

Update Hygienist French description to emphasize 50% chance of resistance and insensitivity to Mush infections
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

feat(skill): Hygienist
  Api/src/Disease/Entity/Config/DiseaseConfig.php
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Disease/Repository/InMemoryPlayerDiseaseRepository.php
  Api/src/Disease/Repository/PlayerDiseaseRepository.php
  Api/src/Disease/Repository/PlayerDiseaseRepositoryInterface.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Disease/config/services.yaml
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/HygienistCest.php
  Api/tests/unit/Disease/Service/DiseaseCauseServiceTest.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Antic Perfume gives a 2-cycles-long Immunized status after taking a shower
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

style: Apply linter fixes
  Api/src/Action/Event/ActionEvent.php
  Api/src/Status/Listener/ActionSubscriber.php
Due: api-test, api-lint

Add skill french translation
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Add skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
