Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Apply 10 suggestion(s) to 4 file(s)
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/en/terminal+intl-icu.en.xlf
Due: api-test, api-lint, translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
Due: api-test, api-lint

test(terminal normalizer): improve readibility
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

refactor: add getItems por Place
  Api/src/Place/Entity/Place.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

fix: error due to name change
  Api/src/Daedalus/Entity/Daedalus.php
Due: api-test, api-lint

refactor: extract hasPlayerByName method to Place
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
Due: api-test, api-lint

fix: filter by alive players too for isChunIn method
  Api/src/Place/Entity/Place.php
Due: api-test, api-lint

fix: Inactivity status is updated every 24h, instead of every day at midnight
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
  Api/tests/unit/Status/Service/MakePlayerInactiveUseCaseTest.php
Due: api-test, api-lint

chore: Bump version to 0.9.5
  App/package.json
Due: none

feat: Add valen as a contributor. Change Princess Félicie badge from artist to developer one.
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

chore: Add valen as a contributor. Change Princess Félicie badge from artist to developer one.
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

fix: Fix multiple hunger log
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/RoomLog/Listener/PlayerVariableSubscriber.php
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

fix: Use RoomLog instead of monolog log in CycleEventCest test
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

fix: Add test for single starving log when player has flu
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

fix: Fix multiple hunger log
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/RoomLog/Listener/PlayerVariableSubscriber.php
Due: api-test, api-lint

fix: Fix a crash when validating death
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

fix: You can properly see logs produced by cycle change in a room delogged in previous cycle
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
  Api/tests/functional/Action/Actions/DelogCest.php
Due: api-test, api-lint

docs: Clarify licensing terms for source code and assets in README.md
  App/src/assets/LICENSE
  README.md
Due: none

fix: Status tooltips now adapt to character gender
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/tests/functional/Status/Normalizer/StatusNormalizerCest.php
Due: api-test, api-lint

fix: Extinguish and Repair actions are no more always successful
  Api/src/Action/Service/ActionService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Action/Actions/ExtinguishCest.php
  Api/tests/functional/Action/Actions/RepairActionCest.php
Due: api-test, api-lint

fix: Exploration steps are triggered even if no explorator is present
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Game/Service/CycleService.php
  Api/src/Game/Service/CycleServiceInterface.php
  Api/src/Player/Controller/PlayerController.php
Due: api-test, api-lint

style: update comment
  Api/src/Player/Controller/PlayerController.php
Due: api-test, api-lint

fix: Fix closed expedition report logs order
  App/src/components/Game/ClosedExpeditionPanel.vue
Due: build-front, front-lint, front-test

feat: Robotics Expert spawns a Support Drone blueprint
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/DataFixtures/BlueprintConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/RoboticsExpertCest.php
Due: api-test, api-lint

feat: Add Turbo Upgrade
  Api/src/Action/Actions/UpgradeDroneToTurbo.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/HasEquipment.php
  Api/src/Action/Validator/HasEquipmentValidator.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Equipment/DroneTasks/DroneTasksHandler.php
  Api/src/Equipment/DroneTasks/MoveInRandomAdjacentRoomTask.php
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/functional/Action/Actions/UpgradeDroneToTurboCest.php
  Api/tests/unit/Action/Validator/HasEquipmentValidatorTest.php
  Api/tests/unit/Equipment/DroneTasks/DroneTasksHandlerTest.php
  Api/tests/unit/Equipment/DroneTasks/RepairBrokenEquipmentTaskTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  docker/Api/php/Dockerfile
Due: api-test, api-lint, translations-lint

refactor: Move common logic to abstract class
  Api/src/Action/Actions/AbstractUpgradeDrone.php
  Api/src/Action/Actions/UpgradeDroneToTurbo.php
  Api/tests/_support/AbstractUpgradeDroneCest.php
  Api/tests/functional/Action/Actions/UpgradeDroneToTurboCest.php
Due: api-test, api-lint

feat: Add Firefighter upgrade
  Api/src/Action/Actions/AbstractUpgradeDrone.php
  Api/src/Action/Actions/UpgradeDroneToFirefighter.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Repository/ActionConfigRepository.php
  Api/src/Action/Repository/ActionConfigRepositoryInterface.php
  Api/src/Action/Repository/InMemoryActionConfigRepository.php
  Api/src/Action/config/services.yaml
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Equipment/DataFixtures/ToolConfigFixtures.php
  Api/src/Equipment/DroneTasks/AbstractDroneTask.php
  Api/src/Equipment/DroneTasks/DroneTasksHandler.php
  Api/src/Equipment/DroneTasks/ExtinguishFireTask.php
  Api/src/Equipment/DroneTasks/MoveInRandomAdjacentRoomTask.php
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Equipment/Event/DroneExtinguishedFireEvent.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/DroneEventSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/_support/AbstractUpgradeDroneCest.php
  Api/tests/functional/Action/Actions/UpgradeDroneToFirefighterCest.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
  Api/tests/functional/Equipment/Service/GameEquipmentServiceCest.php
  Api/tests/unit/Equipment/DroneTasks/DroneTasksHandlerTest.php
  Api/tests/unit/Equipment/DroneTasks/ExtinguishFireTaskTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Each drone task has its own count of failed attempts
  Api/src/Equipment/DroneTasks/ExtinguishFireTask.php
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/src/Status/Service/FakeStatusService.php
  Api/tests/unit/Status/Strategy/PlantStrategyTest.php
Due: api-test, api-lint

fix: Add log when Turbo Upgrade works + fix Extinguish task being available if drone does not have relevant upgrade
  Api/src/Equipment/DroneTasks/AbstractDroneTask.php
  Api/src/Equipment/DroneTasks/ExtinguishFireTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Event/DroneTurboWorkedEvent.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/DroneEventSubscriber.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
  Api/tests/unit/Equipment/DroneTasks/ExtinguishFireTaskTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add Shoot Hunter Task
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/DroneTasks/DroneTasksHandler.php
  Api/src/Equipment/DroneTasks/ShootHunterTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Place/Entity/Place.php
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
Due: api-test, api-lint

refactor: move specific logic to concrete implementations
  Api/src/Action/Actions/AbstractUpgradeDrone.php
  Api/src/Action/Actions/UpgradeDroneToFirefighter.php
  Api/src/Action/Actions/UpgradeDroneToTurbo.php
Due: api-test, api-lint

Add pilot upgrade (wip)
  Api/src/Action/Actions/UpgradeDroneToPilot.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/_support/AbstractUpgradeDroneCest.php
  Api/tests/functional/Action/Actions/UpgradeDroneToPilotCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add Takeoff Task
  Api/src/Equipment/DroneTasks/AbstractDroneTask.php
  Api/src/Equipment/DroneTasks/DroneTasksHandler.php
  Api/src/Equipment/DroneTasks/TakeoffTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Event/DroneTakeoffEvent.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/DroneEventSubscriber.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
  Api/tests/functional/Equipment/DroneTasks/TakeoffTaskCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix shoot hunter logs
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Simplify fire task applicability check in the Drone class
  Api/src/Equipment/DroneTasks/ExtinguishFireTask.php
  Api/src/Equipment/DroneTasks/ShootHunterTask.php
  Api/src/Equipment/Entity/Drone.php
Due: api-test, api-lint

feat: Add logs when drone hit and kill a hunter
  Api/src/Equipment/DroneTasks/ShootHunterTask.php
  Api/src/Equipment/Event/DroneHitHunterEvent.php
  Api/src/Equipment/Event/DroneKillHunterEvent.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/DroneEventSubscriber.php
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
