Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

New translations status+intl-icu.fr.xlf (Spanish)
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Spanish)
  Api/translations/es/action_fail+intl-icu.es.xlf
Due: translations-lint

New translations hunter+intl-icu.fr.xlf (Spanish)
  Api/translations/es/hunter+intl-icu.es.xlf
Due: translations-lint

New translations neron+intl-icu.fr.xlf (Spanish)
  Api/translations/es/neron+intl-icu.es.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/disease+intl-icu.es.xlf
  Api/translations/es/end_cause+intl-icu.es.xlf
  Api/translations/es/neron+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/rooms+intl-icu.es.xlf
Due: translations-lint

fix: Fix skill name for Spanish mage books
  Api/src/Action/Actions/ReadBook.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/triumph+intl-icu.en.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/triumph+intl-icu.es.xlf
  Api/translations/fr/triumph+intl-icu.fr.xlf
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: translations-lint

fix: Fix private channels loading for moderators
  Api/config/api_platform/api_filters.yaml
  App/src/services/moderation.service.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/trade+intl-icu.es.xlf
Due: translations-lint

feat(community suggestion): Clicking on "Reply" focuses on text input
  App/src/components/Game/Communications/Messages/MessageInput.vue
Due: build-front, front-lint, front-test

feat: Replace video trailer by the interactive trailer!
  App/.gitignore
  App/index.html
  App/src/assets/swfs/trailer_en.swf
  App/src/assets/swfs/trailer_es.swf
  App/src/assets/swfs/trailer_fr.swf
  App/src/components/HomePage.vue
  App/src/components/RuffleContent.vue
  App/src/utils/getSwfUrl.ts
Due: build-front, front-lint, front-test

fix: Links in news are now green
  App/src/components/NewsItem.vue
Due: build-front, front-lint, front-test

fix: You won't get clumsiness pop-up if the event was prevented
  Api/src/Game/Entity/Collection/EventChain.php
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/tests/functional/Player/Event/StatusAppliedCest.php
Due: api-test, api-lint

fix: Race condition on private channel number
  Api/migrations/Version20250816132926.php
  Api/src/Chat/Repository/ChannelRepository.php
  Api/src/Chat/Repository/ChannelRepositoryInterface.php
  Api/src/Chat/Repository/InMemoryChannelRepository.php
  Api/src/Chat/Services/ChannelService.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix: Pilot drones land when their patrol ship is empty
  Api/src/Equipment/Entity/Drone.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
  Api/tests/functional/Equipment/DroneTasks/LandTaskCest.php
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
Due: api-test, api-lint

fix: Prevent concurrent Daedalus creation
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Daedalus/Repository/DaedalusInfoRepository.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Daedalus/Service/DaedalusServiceInterface.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
Due: api-test, api-lint

fix: Inactivity criteria is now loading main page info or messages, instead of an action
  Api/migrations/Version20250816183108.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Status/Service/MakePlayerActiveService.php
  Api/src/Status/Service/MakePlayerInactiveService.php
  Api/src/User/Entity/User.php
  Api/src/User/Service/TokenService.php
  Api/src/User/Subscriber/UserActivitySubscriber.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
  Api/tests/unit/Status/Service/MakePlayerActiveUseCaseTest.php
  Api/tests/unit/Status/Service/MakePlayerInactiveUseCaseTest.php
Due: api-test, api-lint

feat: Add a Twinoid-like NavBar
  App/src/App.vue
  App/src/assets/scss/_mixins.scss
  App/src/components/Hud/TopBar.vue
  App/src/components/Hud/UserMenu.vue
  App/src/components/Thanks.vue
  App/src/components/Utils/LocaleChange.vue
  App/src/i18n/index.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/main.ts
  App/src/services/locale.service.ts
  App/src/store/auth.module.ts
  App/src/store/index.ts
  App/src/store/locale.module.ts
  App/src/store/popup.module.ts
  App/src/utils/getEternaltwinGames.ts
  App/tsconfig.json
Due: build-front, front-lint, front-test

feat(community suggestion): Tips channel is now highlighted for beginners until it's selected, or for new missions
  Api/migrations/Version20250816075348.php
  Api/migrations/Version20250818202834.php
  Api/src/Chat/Controller/TipsChannelController.php
  Api/src/Chat/Entity/Channel.php
  Api/src/Chat/Normalizer/ChannelNormalizer.php
  Api/src/Chat/Normalizer/TipsChannelNormalizer.php
  Api/src/Chat/Services/ChannelService.php
  Api/src/Chat/Services/ChannelServiceInterface.php
  Api/src/Player/Controller/CommanderMissionController.php
  Api/src/Player/Entity/CommanderMission.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CommanderMissionNormalizer.php
  Api/src/Player/UseCase/MarkMissionAsReadUseCase.php
  Api/src/RoomLog/Controller/RoomLogController.php
  Api/tests/functional/Chat/Service/ChannelServiceCest.php
  Api/tests/unit/Chat/Normalizer/TipsChannelNormalizerTest.php
  Api/tests/unit/Chat/Service/ChannelServiceTest.php
  Api/tests/unit/Player/Normalizer/CommanderMissionNormalizerTest.php
  Api/tests/unit/Player/UseCase/MarkMissionAsReadUseCaseTest.php
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/components/Game/Communications/Tab.vue
  App/src/components/Game/Communications/TipsTab.vue
  App/src/entities/Channel.ts
  App/src/services/communication.service.ts
  App/src/services/player.service.ts
  App/src/store/communication.module.ts
  App/src/store/player.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Alpha Mush Eleesha gets chronic vertigos when joining last
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
Due: api-test, api-lint

chore(hotfix): Self-host Ruffle to avoid CORS issues
  App/index.html
  App/package.json
  App/vite.config.js
  App/yarn.lock
Due: none

fix: Unknown sectors will correctly be put at the end when sharing a planet
  App/src/entities/Planet.test.ts
  App/src/entities/Planet.ts
Due: build-front, front-lint, front-test

fix: More tiny pop-ups for mobile devices
  App/src/components/Utils/PopUp.vue
Due: build-front, front-lint, front-test

fix: Reported patrol ships are displayed on minimap
  Api/src/Daedalus/Service/DaedalusWidgetService.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/SpaceShip.php
  Api/tests/functional/Daedalus/Service/DaedalusWidgetServiceCest.php
  App/src/components/Game/Ship/MiniMap.vue
  App/src/entities/Minimap.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Cold Blooded is not triggered by happy ends
  Api/src/Skill/Handler/ColdBloodedHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/tests/functional/Skill/ColdBloodedCest.php
Due: api-test, api-lint

fix: Fix research terminal on mobile devices
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Pilot drones do not attack transports anymore. They land if only transports are around Daedalus.
  Api/src/Equipment/DroneTasks/ShootHunterTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
Due: api-test, api-lint

chore: Update yarn to latest versions
  App/.yarn/install-state.gz
  App/.yarn/releases/yarn-4.9.3.cjs
  App/.yarnrc.yml
  App/package.json
  App/src/services/communication.service.ts
  App/yarn.lock
  Eternaltwin/.yarn/releases/yarn-4.1.0.cjs
  Eternaltwin/.yarn/releases/yarn-4.9.3.cjs
  Eternaltwin/package.json
Due: build-front, front-lint, front-test

chore: Pin Node version to ^22
  App/package.json
Due: none

chore: Remove yarn version constraint from package.json
  App/package.json
Due: none

fix: You can still access Mush channel with Pheromodem after a transfer or a cure
  Api/src/Chat/Listener/StatusSubscriber.php
  Api/tests/functional/Chat/Event/StatusRemovedEventCest.php
  Api/tests/functional/Daedalus/Event/DaedalusDestroyedOnEndDayCest.php
Due: api-test, api-lint

fix: You cannot access admin pages
  App/src/components/ErrorPage.vue
  App/src/components/FakeAdminPage.vue
  App/src/components/MaintenancePage.vue
  App/src/components/NotFoundPage.vue
  App/src/components/Token.vue
  App/src/i18n/locales/fr.json
  App/src/router/index.ts
  App/src/services/api.service.ts
Due: build-front, front-lint, front-test

chore: Allow to install the project with Devbox
  .gitignore
  Api/.env.bare.metal
  Api/.env.bare.metal.test
  App/.env.bare.metal
  App/.yarn/install-state.gz
  Eternaltwin/eternaltwin.bare.metal.toml
  README.md
  devbox.json
  devbox.lock
  devbox_install.sh
  init_db.sh
Due: none

feat: improve global layout and expandable comms panel (chat, logs, ...)
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/ExpeditionPanel.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Game/Ship/ShipPanel.vue
Due: build-front, front-lint, front-test

fix: Multiple protections against duplicate modifiers
  Api/migrations/Version20250831164437.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Entity/ModifierHolder.php
  Api/src/Modifier/Entity/ModifierProvider.php
  Api/src/Modifier/Repository/ModifierRepository.php
  Api/src/Modifier/Repository/ModifierRepositoryInterface.php
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/Modifier/Service/ModifierListenerService/EquipmentModifierService.php
  Api/tests/unit/Modifier/Service/ModifierCreationServiceTest.php
  Api/tests/unit/Modifier/TestDoubles/InMemoryModifierRepository.php
Due: api-test, api-lint

chore: Update .gitignore to exclude package-lock.json and add yarn.lock
  Eternaltwin/.gitignore
  Eternaltwin/yarn.lock
Due: none

fix: Drones won't try to pilot when they can't
  Api/src/Equipment/Entity/Drone.php
  Api/tests/functional/Equipment/DroneTasks/LandTaskCest.php
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
  Api/tests/functional/Equipment/DroneTasks/TakeoffTaskCest.php
Due: api-test, api-lint

fix: keep purgatory layout left to right on landscape and improve it for mobile
  App/src/components/PurgatoryPage.vue
Due: build-front, front-lint, front-test
