Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

feat(skill): Nimble Fingers
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/AnathemaCest.php
  Api/tests/functional/Skill/NimbleFingersCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Add skill to Eleesha
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Polymath reduces actions success rate by 10%
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/PolymathCest.php
Due: api-test, api-lint

Polymath grants 2 IT points per day
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Skill/PolymathCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

wip private channels as gamevariable
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Specification/canCreateChannel.php
  Api/src/Player/Entity/PlayerVariables.php
  Api/src/Player/Enum/PlayerVariableEnum.php
Due: api-test, api-lint

Polymath grants 2 extra private channels
  Api/src/Communication/Repository/ChannelPlayerRepository.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Specification/canCreateChannel.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: `ChannelPlayerRepositoryCest`
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
Due: api-test, api-lint

feat: Extract helper methods for test setup, actions, and assertions
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
Due: api-test, api-lint

feat: add FunctionalTester parameter to whenSearchingForAvailablePlayers method
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
Due: api-test, api-lint

Add skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

fix: remove unused tester property
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
Due: api-test, api-lint

feat(skill): Polymath
  Api/src/Communication/Repository/ChannelPlayerRepository.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Specification/canCreateChannel.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerVariables.php
  Api/src/Player/Enum/PlayerVariableEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
  Api/tests/functional/Skill/PolymathCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Nightmarish
  Api/src/Action/Actions/GiveNightmare.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/GiveNightmareCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add validation for reach in GiveNightmare action and update French translation for character proximity log
  Api/src/Action/Actions/GiveNightmare.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add fitful sleep status and adjust French translation for character gender in actions log
  Api/src/Game/ConfigData/GameConfigData.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Extract planet name translation to method
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

feat: Add ninja skill and implement anonymous logging for hits in the room log when a player is a ninja
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add French translations and skill icon for 'ninja' with associated descriptions in the XLF and enum files
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, translations-lint, front-lint, front-test

refactor: Implement getActionTargetAsPlanet() method and refactor planet name translation in RoomLogService to use it
  Api/src/Action/Event/ActionEvent.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

fix false positive test
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

started work on comms announcement, very wip, very incomplete
  Api/src/Action/Actions/ComManagerAnnounce.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Player/Entity/ComManagerAnnouncement.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/AddComManagerAnnouncementToPlayerService.php
Due: api-test, api-lint

fix: can't anathema before mush arrive
  Api/src/Action/Actions/Anathema.php
Due: api-test, api-lint

feat(skill): Ninja
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Add skill
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

feat: expose execute method in DepressNeronService
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Daedalus/Service/DepressNeronService.php
Due: api-test, api-lint

feat: add interface for DepressNeronService
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Daedalus/Service/DepressNeronService.php
  Api/src/Daedalus/Service/DepressNeronServiceInterface.php
Due: api-test, api-lint

feat: Move changeNeronCpuPriority and changeCrewLock methods into DepressNeronService
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Daedalus/Service/DepressNeronService.php
Due: api-test, api-lint

feat: Add NeronDepress action
  Api/src/Action/Actions/NeronDepress.php
Due: api-test, api-lint

feat: replace DepressNeronService with NERON_DEPRESSION status
  Api/src/Action/Actions/NeronDepress.php
Due: api-test, api-lint

feat: implement NERON_DEPRESSION handling in various services and actions, add tests and translations for new status functionality
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Daedalus/Enum/NeronCrewLockEnum.php
  Api/src/Daedalus/Listener/StatusEventSubscriber.php
  Api/src/Daedalus/Service/DepressNeronService.php
  Api/src/Daedalus/Service/DepressNeronServiceInterface.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/NeronDepressCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): NERON Depression
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Daedalus/Enum/NeronCrewLockEnum.php
  Api/src/Daedalus/Listener/StatusEventSubscriber.php
  Api/src/Daedalus/Service/DepressNeronService.php
  Api/src/Daedalus/Service/DepressNeronServiceInterface.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/NeronDepressCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/Anathema.php
Due: api-test, api-lint

linting
  Api/src/Action/Actions/Anathema.php
Due: api-test, api-lint

feat: Add SearchForMushGenome action
  Api/src/Action/Actions/SearchForMushGenome.php
Due: api-test, api-lint

feat: Implement status tracking for MUSH_GENOME_DISK_FOUND and update related configuration and tests
  Api/src/Action/Actions/SearchForMushGenome.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
Due: api-test, api-lint

feat: Implement SearchForMushGenome action to create MUSH_GENOME_DISK
  Api/src/Action/Actions/SearchForMushGenome.php
Due: api-test, api-lint

Add action logs
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint
