Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

style: apply linter fixes
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
Due: api-test, api-lint

hidden food unlocks research projects for everyone.
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

feat: Add Constipaspore Serum project to game configuration data
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

fix: Add Food requirement for constipaspore serum
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Enum/ProjectRequirementType.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

test: add test for Fertile skill interaction with Constipaspore Serum
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
Due: api-test, api-lint

remvoe dead code
  Api/src/Place/Entity/Place.php
Due: api-test, api-lint

feat(research): Constipaspore serum
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Enum/ProjectRequirementType.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

Super Soaper removes one spore to human players
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/GearConfigFixtures.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

Research project spawns a super soap
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

Add Super Soap icon
  App/src/enums/item.ts
Due: build-front, front-lint, front-test

test: Add extra tests
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/tests/functional/Action/Actions/WashInSinkActionCest.php
Due: api-test, api-lint

feat(research): Mushicide Soap
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/DataFixtures/GearConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/tests/functional/Action/Actions/WashInSinkActionCest.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Meridon scrambler makes hunter aim each other with a 20% chance
  Api/migrations/Version20241031200357.php
  Api/src/Action/Actions/CollectScrap.php
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Entity/HunterCollection.php
  Api/src/Hunter/Entity/HunterTarget.php
  Api/src/Hunter/Listener/DaedalusEventSubscriber.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Action/Actions/CollectScrapCest.php
  Api/tests/functional/Project/MeridonScramblerCest.php
Due: api-test, api-lint

refactor a bit the hunter aiming method
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
Due: api-test, api-lint

add project to game config
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

refactor Meridon scrambler method name for clarity in HunterService class
  Api/src/Hunter/Service/HunterService.php
Due: api-test, api-lint

fix: Meridon Scrambler apply only to simple hunters
  Api/src/Hunter/Entity/Hunter.php
  Api/tests/functional/Project/MeridonScramblerCest.php
Due: api-test, api-lint

feat(research): Meridon Scrambler
  Api/migrations/Version20241031200357.php
  Api/src/Action/Actions/CollectScrap.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Entity/HunterCollection.php
  Api/src/Hunter/Entity/HunterTarget.php
  Api/src/Hunter/Listener/DaedalusEventSubscriber.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Action/Actions/CollectScrapCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
  Api/tests/functional/Project/MeridonScramblerCest.php
Due: api-test, api-lint

refactor: listen to equipment created event to create metalworker success log
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Metalworker success rate can improve
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Status/Listener/ActionSubscriber.php
Due: api-test, api-lint

feat(genmetal): enable player status for GenMetal action with daily limit message
  Api/src/Action/Actions/GenMetal.php
Due: api-test, api-lint

fix false positive test
  Api/tests/functional/Project/MeridonScramblerCest.php
Due: api-test, api-lint

fix: Metalworker success rate can improve
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Project/MeridonScramblerCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Icarus is lost if all explorators are lost
  Api/src/Equipment/Listener/ExplorationEventSubscriber.php
  Api/src/Exploration/Entity/Exploration.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint

Apply 2 suggestion(s) to 1 file(s)
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Exploration/Entity/Exploration.php
Due: api-test, api-lint

Add new priority to terminal
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(cpu_priority): add research priority constant and adjust efficiency calculation accordingly
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

feat: Add Research CPU priority
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add new crew lock to terminal
  Api/src/Action/Validator/NeronCrewLockValidator.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(research): Add support for Research terminals and associated crew lock validations in NeronCrewLockValidator
  Api/src/Action/Validator/NeronCrewLockValidator.php
  Api/src/Daedalus/Enum/NeronCrewLockEnum.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/tests/functional/Action/Actions/AccessTerminalActionCest.php
Due: api-test, api-lint

feat: Add Research crew lock
  Api/src/Action/Validator/NeronCrewLockValidator.php
  Api/src/Daedalus/Enum/NeronCrewLockEnum.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/tests/functional/Action/Actions/AccessTerminalActionCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Revert "fix: Do not pass player skills in each ActionEvent tags. This prevents skill logs like Self-sacrifice to be triggered at each action"
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

fix: Do not pass player skills in each ActionEvent tags. This prevents skill logs like Self-sacrifice to be triggered at each action
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

Change the name of tag passed for self sacrifice modifier
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
Due: api-test, api-lint

fix: Abngeation log is not printed at each paying action
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
Due: api-test, api-lint

wip
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

add test for the fixed bug
  Api/tests/functional/Skill/PolymathCest.php
Due: api-test, api-lint

fix: Polymath players properly have 2 more private channels available
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/PolymathCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
