Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Edit RebelBase.php
  Api/src/Communications/Entity/RebelBase.php
Due: api-test, api-lint

feat(triumph): Rebel Contact, Rebel Wolf, Looking for Kivanç
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Event/XylophEntryDecodedEvent.php
  Api/src/Communications/Service/DecodeRebelSignalService.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/RebelBaseModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/XylophModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

style: lint
  Api/src/Equipment/Service/GameEquipmentService.php
Due: api-test, api-lint

test: Adjusting HideActionTest:execute
  Api/tests/unit/Action/Actions/HideActionTest.php
Due: api-test, api-lint

fix: Ensuring explorators don't gain glory when a non-first starmap fragment is found somewhere else
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

fix: Make starmap triumph work
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

refactor: Moving tag to the event
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Equipment/Service/GameEquipmentService.php
Due: api-test, api-lint

feat(triumph): Starmap
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Equipment/Event/EquipmentEvent.php
Due: api-test, api-lint

feat(triumph): Star Map
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/unit/Action/Actions/HideActionTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: do not display watch alongside "New cycle" button
  App/src/components/Game/BannerPanel.vue
Due: build-front, front-lint, front-test

fix: "New cycle" button will appear without a page refresh
  App/src/components/Game/BannerPanel.vue
  App/src/components/Utils/CountdownTimer.vue
Due: build-front, front-lint, front-test

fix: Fixing the formula with the regressive factor
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Listener/HunterCest.php
Due: api-test, api-lint

feat(triumph): Daedalus Defender, Hunter Nemesis
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Hunter/Event/HunterEvent.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Listener/HunterCest.php
  Api/tests/functional/Triumph/Listener/InfectPlayerCest.php
  Api/tests/functional/Triumph/Listener/KillPlayerCest.php
  Api/tests/functional/Triumph/Listener/PregnantCest.php
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
  Api/tests/unit/Triumph/Event/ExplorationStartedEventTest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
  Api/tests/unit/Triumph/Event/LinkWithSolEstablishedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectAdvancedEventTest.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

Rebasing fix
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

refactor: personal_triumph_regression charge status starting at 0 on creation
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

Translation expansion
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Planet Finder
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Jin Su has to be the commander to gain glory
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphTarget.php
Due: api-test, api-lint

feat(triumph): Planet Searcher
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/tests/functional/Triumph/Listener/PlanetCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Adjusting tests to commander title constraint
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
Due: api-test, api-lint

feat(triumph): New Planet
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Fast Forward
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Lander
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Anathem
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
Due: api-test, api-lint

refactor: Changed Mush subject tagging
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
Due: api-test, api-lint

refactor: Actually, let's not pass tags to compute when we can make another config
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

fix: Death player event is tagged with end cause enum, not the action.
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

internal: Removing logging used for debugging
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
Due: api-test, api-lint

feat(triumph): Anathema
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Action/Actions/AnathemaCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Separate anathem triumph loss log from triumph gain log
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Changed Mush subject tagging
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
Due: api-test, api-lint

fix: Restoring cycle length
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

feat(triumph): Anathema
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

refactor: Actually, let's not pass tags to compute when we can make another config
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

fix: Death player event is tagged with end cause enum, not the action.
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
