Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

test: added a functional test for logistic test: improved readability of EventCreationServiceTest.php feat: added string for logistics
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/ConfigData/TriggerEventModifierConfigDataLoader.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/ModifierHandler/AddEvent.php
  Api/src/Modifier/README.md
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/tests/functional/Place/Event/PlaceEventCest.php
  Api/tests/unit/Modifier/ModifierHandler/AddEventTest.php
  Api/tests/unit/Modifier/Service/EventCreationServiceTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add Transfert skill and Exchange body action
  Api/src/Action/Actions/ExchangeBody.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Handle side effects of exchange body actions on channels
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Services/ChannelServiceInterface.php
Due: api-test, api-lint

refactor: Simplify deleting player human skills in PlayerEventSubscriber
  Api/src/Skill/Listener/PlayerEventSubscriber.php
Due: api-test, api-lint

Add pop-up after transfert through player notification system.
  Api/migrations/Version20240812212707.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Entity/PlayerNotification.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Player/Repository/InMemoryPlayerNotificationRepository.php
  Api/src/Player/Repository/PlayerNotificationRepository.php
  Api/src/Player/Repository/PlayerNotificationRepositoryInterface.php
  Api/src/Player/Service/UpdatePlayerNotificationService.php
  Api/src/Player/UseCase/DeletePlayerNotificationUseCase.php
  Api/src/Player/config/services.yaml
  Api/tests/unit/Player/Service/UpdatePlayerNotificationServiceTest.php
  Api/tests/unit/Player/UseCase/DeletePlayerNotificationUseCaseTest.php
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/App.vue
  App/src/components/Banner.vue
  App/src/components/ErrorPopup.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Game/PlayerNotificationPopUp.vue
  App/src/components/Game/SpaceBattleView.vue
  App/src/entities/Player.ts
  App/src/game/scenes/daedalusScene.ts
  App/src/i18n/locales/fr.json
  App/src/services/player.service.ts
  App/src/services/user.service.ts
  App/src/store/auth.module.ts
  App/src/store/player.module.ts
  App/src/store/popup.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Handle Exchange body side effects on skills
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/src/Skill/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

fix typos
  Api/src/Action/Actions/ExchangeBody.php
Due: api-test, api-lint

Remove victim spores after Exchange Body action
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

Handle front-end actualization after transfert : basically refresh user info so they have access to the right player
  App/src/enums/action.enum.ts
  App/src/enums/skill.enum.ts
  App/src/store/action.module.ts
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

fix broken tests
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/tests/functional/Daedalus/Event/DaedalusDestroyedOnEndDayCest.php
  Api/tests/functional/Daedalus/Event/LastPlayerCloseGameCest.php
  Api/tests/functional/Player/Event/PlayerEventCest.php
Due: api-test, api-lint

fix broken test
  Api/src/Action/Actions/ExchangeBody.php
Due: api-test, api-lint

Exchange Body is an aggressive action
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

Remove deprecated translations
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Add a comment
  Api/src/Action/Actions/ExchangeBody.php
Due: api-test, api-lint

fix: Failed graft creates a hydropot
  Api/src/Action/Actions/Graft.php
  Api/tests/functional/Action/Actions/GraftCest.php
Due: api-test, api-lint

fix: check for exploration cycle change at HTTP request level
  Api/src/Action/Controller/ActionController.php
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/MetaGame/Controller/DebugController.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

fix: Prevent potential concurrency issues on cycle changes
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

Add protections to explorations as well
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

hotfix: Prevent potential concurrency issues on cycle changes
  Api/src/Action/Controller/ActionController.php
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Game/Service/CycleService.php
  Api/src/MetaGame/Controller/DebugController.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

fix: Mush players can read food properties
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Equipment/Normalizer/RationCest.php
Due: api-test, api-lint

fix: You can report fires
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

Add notification via toast when a new news is posted
  Api/migrations/Version20240813234103.php
  Api/src/MetaGame/Controller/MarkLatestNewsAsUnreadController.php
  Api/src/MetaGame/UseCase/MarkLatestNewsAsUnreadForAllUsersUseCase.php
  Api/src/User/Controller/UserController.php
  Api/src/User/Entity/User.php
  Api/src/User/Service/UserService.php
  Api/src/User/Service/UserServiceInterface.php
  App/src/App.vue
  App/src/components/Admin/News/NewsWritePage.vue
  App/src/components/Utils/Toast.vue
  App/src/entities/News.ts
  App/src/entities/User.ts
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/services/news.service.ts
  App/src/services/user.service.ts
  App/src/store/admin.actions.module.ts
  App/src/store/toast.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Use an event to update news read flag, to avoid freezing front end during a long time.
  Api/src/MetaGame/Controller/MarkLatestNewsAsUnreadController.php
  Api/src/MetaGame/Listener/ApiPlatformEventSubscriber.php
  App/src/components/Admin/News/NewsWritePage.vue
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Add a notification when a news is published
  Api/migrations/Version20240813234103.php
  Api/src/MetaGame/Listener/ApiPlatformEventSubscriber.php
  Api/src/MetaGame/UseCase/MarkLatestNewsAsUnreadForAllUsersUseCase.php
  Api/src/User/Controller/UserController.php
  Api/src/User/Entity/User.php
  Api/src/User/Service/UserService.php
  Api/src/User/Service/UserServiceInterface.php
  App/src/App.vue
  App/src/components/Admin/News/NewsWritePage.vue
  App/src/components/Utils/Toast.vue
  App/src/entities/News.ts
  App/src/entities/User.ts
  App/src/i18n/locales/fr.json
  App/src/services/news.service.ts
  App/src/services/user.service.ts
  App/src/store/toast.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Bump version to 0.9.1
  App/package.json
Due: none

New translations action_fail+intl-icu.fr.xlf (French)
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Spanish)
  Api/translations/es/action_fail+intl-icu.es.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Italian)
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (English)
  Api/translations/en/action_fail+intl-icu.en.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (French)
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (English)
  Api/translations/en/actions+intl-icu.en.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (English)
  Api/translations/en/actions_log+intl-icu.en.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (Spanish)
  Api/translations/es/chat+intl-icu.es.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (English)
  Api/translations/en/chat+intl-icu.en.xlf
Due: translations-lint
