Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

Rewrite Shoot action tests so they are more reliable
  Api/src/Disease/Entity/PlayerDisease.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
Due: api-test, api-lint

fix potential false positive test
  Api/tests/functional/Action/Actions/AttackCest.php
Due: api-test, api-lint

feat: Blaster and Knife work onboard again
  Api/src/Action/Actions/Attack.php
  Api/src/Action/Actions/Shoot.php
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/AttackCest.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
  Api/tests/unit/Action/Actions/AttackActionTest.php
  Api/tests/unit/Action/Actions/ShootActionTest.php
Due: api-test, api-lint

feat(skill): Bacterophilia
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Human players cannot throw grenades if NERON is inhibited
  Api/src/Action/Actions/ThrowGrenade.php
  Api/src/Action/Validator/GrenadeInhibit.php
  Api/src/Action/Validator/GrenadeInhibitValidator.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
Due: api-test, api-lint

Add throw grenade public log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

You cannot throw grenade if you are alone in the room
  Api/src/Action/Actions/ThrowGrenade.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
Due: api-test, api-lint

Add Throw grenade which destroys grenade and remove health to other players in room
  Api/src/Action/Actions/ThrowGrenade.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
Due: api-test, api-lint

fix grenade damage range
  Api/src/Equipment/ConfigData/MechanicsData.php
Due: api-test, api-lint

apply linter fixes
  Api/src/Communication/Listener/NeronEventSubscriber.php
  Api/src/Daedalus/Event/NeronEvent.php
Due: api-test, api-lint

Do not record toggle neron inhibition in action history
  Api/src/Action/Enum/ActionEnum.php
Due: api-test, api-lint

Add Toggle NERON inhibition action
  Api/src/Action/Actions/ToggleNeronInhibition.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Communication/Listener/NeronEventSubscriber.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/Daedalus/Event/NeronEvent.php
  Api/src/Daedalus/Service/NeronService.php
  Api/src/Daedalus/Service/NeronServiceInterface.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/ToggleNeronInhibitionCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/entities/Terminal.ts
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Add throw grenade french description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

feat: Update grenade damage range for WeaponConfigFixtures
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
Due: api-test, api-lint

feat(action): Throw Grenade
  Api/src/Action/Actions/ThrowGrenade.php
  Api/src/Action/Actions/ToggleNeronInhibition.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/GrenadeInhibit.php
  Api/src/Action/Validator/GrenadeInhibitValidator.php
  Api/src/Communication/Listener/NeronEventSubscriber.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/Daedalus/Event/NeronEvent.php
  Api/src/Daedalus/Service/NeronService.php
  Api/src/Daedalus/Service/NeronServiceInterface.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
  Api/tests/functional/Action/Actions/ToggleNeronInhibitionCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/entities/Terminal.ts
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Pyromaniac
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Fix some issues with loading screens
  App/src/store/action.module.ts
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

fix: Do not load space battle if not needed
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

fix: Hunter stays selected after a hit
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

feat: Chef can read food properties
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Equipment/Normalizer/RationCest.php
Due: api-test, api-lint

feat: Chef has Cook points giving free Cook and Hyperfreeze actions
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/CookActionCest.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

refactor: use sligthly shorter method
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

feat(skill): Chef
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/CookActionCest.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
  Api/tests/functional/Equipment/Normalizer/RationCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

feat: Observant reveals covert actions done by other players, with a 25% chance
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Observant prints "noticed something" log if they can read secret revealed log, at a 25% chance.
  Api/migrations/Version20240830185401.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/config/services.yaml
  Api/tests/unit/RoomLog/Listener/ActionSubscriberTest.php
Due: api-test, api-lint

feat: Observant can search for zero action points
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
Due: api-test, api-lint

fix: Any player can trigger Observant skill
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
Due: api-test, api-lint

feat: Add Observant french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

style: apply linter fixes
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/tests/unit/RoomLog/Listener/ActionSubscriberTest.php
Due: api-test, api-lint

feat(skill): Observant
  Api/migrations/Version20240830185401.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/config/services.yaml
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/tests/unit/RoomLog/Listener/ActionSubscriberTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Caffeine Junkie gives 2 extra AP when consuming a coffee
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/ConsumeCoffeeCest.php
Due: api-test, api-lint

Add a test on printed log
  Api/tests/functional/Action/Actions/ConsumeCoffeeCest.php
Due: api-test, api-lint

Trying to use a modifier to print a single log with the modified value
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
Due: api-test, api-lint

Check that Mush player do not gain AP from Caffeine Junkie
  Api/tests/functional/Action/Actions/ConsumeCoffeeCest.php
Due: api-test, api-lint

fix: change variable event triggered on consume get the name of the consumed ration as tag. Also added fruit and drug tags (will be usefull for frugivorous)
  Api/src/Equipment/Listener/ApplyEffectSubscriber.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

feat(skill): Caffeine Junkie
  Api/src/Equipment/Listener/ApplyEffectSubscriber.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/ConsumeCoffeeCest.php
Due: api-test, api-lint

feat: Detached crewmember does not lose morale points when a crewmate dies
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/DetachedCrewmemberCest.php
Due: api-test, api-lint

feat: Detached crewmember does not get trauma while witnessing a death
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/src/Player/Entity/Player.php
  Api/tests/unit/Disease/Listener/PlayerSubscriberTest.php
Due: api-test, api-lint

Add skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint
