Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat(xyloph): Roger's Kitchenary 2830 (Cook)
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Listener/StatusEventSubscriber.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Communications/Service/PrintDocumentService.php
  Api/src/Communications/Service/PrintDocumentServiceInterface.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Listener/EquipmentSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/EventEnum.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/src/Place/DataFixtures/PlaceConfigFixtures.php
  Api/src/Place/Enum/PlaceTypeEnum.php
  Api/src/Place/Enum/RoomEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/ContactXylophCest.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/en/xyloph_log+intl-icu.en.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/xyloph_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

Adding 10th Xyloph entry
  Api/migrations/Version20250305191949.php
  Api/migrations/Version20250305220634.php
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Entity/XylophConfig.php
  Api/src/Communications/Entity/XylophEntry.php
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Entity/UniqueItems.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Service/RandomService.php
  Api/src/Game/Service/RandomServiceInterface.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
  Api/tests/functional/Hunter/Event/HunterNewCycleEventCest.php
  Api/tests/functional/Hunter/Service/HunterNormalizerHelperCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
  Api/tests/functional/Project/MeridonScramblerCest.php
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
  Api/translations/it/xyloph_entry+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

Starting mage book is no longer guaranteed to be unique
  Api/migrations/Version20250305191949.php
  Api/migrations/Version20250305220634.php
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Entity/UniqueItems.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/Service/RandomService.php
  Api/src/Game/Service/RandomServiceInterface.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/translations/en/xyloph_log+intl-icu.en.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/xyloph_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

wip PWA
  App/dev-dist/sw.js
  App/dev-dist/workbox-b5f7729d.js
  App/package.json
  App/public/apple-touch-icon-180x180.png
  App/public/favicon.ico
  App/public/maskable-icon-512x512.png
  App/public/pwa-192x192.png
  App/public/pwa-512x512.png
  App/public/pwa-64x64.png
  App/src/App.vue
  App/src/components/ReloadPWA.vue
  App/vite.config.js
  App/yarn.lock
Due: build-front, front-lint, front-test

refactor: update dependencies in package.json and yarn.lock for improved performance and compatibility, removing unused packages
  App/package.json
  App/yarn.lock
Due: none

feat: Update PWA with new icons, manifest settings, and dark/light theme colors in index.html and vite.config.js
  App/index.html
  App/public/apple-touch-icon-180x180.png
  App/public/favicon-16x16.png
  App/public/favicon-32x32.png
  App/public/favicon.ico
  App/public/icon.ico
  App/public/maskable-icon-512x512.png
  App/public/pwa-192x192.png
  App/public/pwa-512x512.png
  App/public/pwa-64x64.png
  App/public/pwa-maskable-192x192.png
  App/public/pwa-maskable-512x512.png
  App/vite.config.js
Due: none

chore: update .gitignore to add /dev-dist and remove sw.js and workbox files from the dev-dist folder
  App/.gitignore
  App/dev-dist/sw.js
  App/dev-dist/workbox-b5f7729d.js
Due: none

chore: Add default robots.txt for web crawlers
  App/public/robots.txt
  App/src/App.vue
  App/src/components/ReloadPWA.vue
Due: build-front, front-lint, front-test

chore: Update Workbox and PWA plugin dependencies to latest versions
  App/package.json
  App/vite.config.js
  App/yarn.lock
Due: none

feat(xyloph): School Workbooks (Mage Books)
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Entity/XylophConfig.php
  Api/src/Communications/Entity/XylophEntry.php
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
  Api/tests/functional/Hunter/Event/HunterNewCycleEventCest.php
  Api/tests/functional/Hunter/Service/HunterNormalizerHelperCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
  Api/tests/functional/Project/MeridonScramblerCest.php
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/en/xyloph_log+intl-icu.en.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/xyloph_entry+intl-icu.fr.it.xlf
  Api/translations/it/xyloph_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat: Allow to install the site as Progressive Web App
  App/.gitignore
  App/offline.html
  App/package.json
  App/public/apple-touch-icon-180x180.png
  App/public/favicon-16x16.png
  App/public/favicon-32x32.png
  App/public/favicon.ico
  App/public/maskable-icon-512x512.png
  App/public/pwa-192x192.png
  App/public/pwa-512x512.png
  App/public/pwa-64x64.png
  App/public/pwa-maskable-192x192.png
  App/public/pwa-maskable-512x512.png
  App/public/robots.txt
  App/src/sw.js
  App/vite.config.js
  App/yarn.lock
Due: none

feat(xyloph): Finola's Lost Research (List)
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/en/xyloph_log+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/xyloph_entry+intl-icu.fr.it.xlf
  Api/translations/it/xyloph_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat(xyloph): Workshop Manuals (Blueprints)
  Api/migrations/Version20250308091447.php
  Api/src/Action/Actions/ContactXyloph.php
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/UniqueItems.php
  Api/src/Equipment/Listener/DaedalusInitEventSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/tests/functional/Action/Actions/ContactXylophCest.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/en/xyloph_log+intl-icu.en.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/xyloph_entry+intl-icu.fr.it.xlf
  Api/translations/it/xyloph_log+intl-icu.fr.it.xlf
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(rebel): Luyten-Ceti
  Api/migrations/Version20250308192829.php
  Api/src/Action/Actions/TriggerAllRebelContacts.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Communications/ConfigData/RebelBaseConfigDataLoader.php
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/DataFixtures/RebelBaseConfigFixtures.php
  Api/src/Communications/Dto/RebelBaseConfigDto.php
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Entity/RebelBaseConfig.php
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Communications/Event/RebelBaseDecodedEvent.php
  Api/src/Communications/Service/DecodeRebelSignalService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Chat/Event/NeronMessageCycleCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/rebel_base+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: cygni rebel base
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/RebelBaseModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Action/Actions/ShootHunterPatrolShipCest.php
  Api/translations/fr/rebel_base+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Bump version to 0.11.1
  App/package.json
Due: none

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/characters+intl-icu.en.xlf
  Api/translations/en/rebel_base+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/en/xyloph_log+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/disease+intl-icu.es.xlf
  Api/translations/es/end_cause+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/rebel_base+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/xyloph_entry+intl-icu.es.xlf
  Api/translations/es/xyloph_log+intl-icu.es.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/rebel_base+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/rebel_base+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
Due: translations-lint

fix: new Crowdin translations
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/rooms+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: translations-lint

fix: Rebel bases will contact in the right order
  Api/src/Communications/ConfigData/RebelBaseConfigDataLoader.php
  Api/src/Communications/ConfigData/XylophConfigDataLoader.php
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Repository/RebelBaseRepository.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
Due: api-test, api-lint

fix: Full room logs are correctly visible until 8 cycles ago (16 for trackers)
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/ValueObject/DaedalusDate.php
  Api/src/Daedalus/ValueObject/GameDate.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/RoomLog/Repository/InMemoryRoomLogRepository.php
  Api/src/RoomLog/Repository/RoomLogRepository.php
  Api/src/RoomLog/Repository/RoomLogRepositoryInterface.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
  Api/tests/functional/Action/Actions/DelogCest.php
  Api/tests/functional/RoomLog/Repository/RoomLogRepositoryCest.php
  Api/tests/unit/Daedalus/ValueObject/GameDateTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
  Makefile
Due: api-test, api-lint

fix: Rebel bases will contact at the same cycle as the first one
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Service/TriggerNextRebelBaseContactService.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/tests/functional/Communications/Event/DaedalusNewCycleEventCest.php
  Api/tests/functional/Game/Service/CycleServiceCest.php
Due: api-test, api-lint

fix: Kill all rebel base contacts on Daedalus travel
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Entity/RebelBaseConfig.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Service/KillAllRebelBaseContactsService.php
  Api/tests/functional/Communications/Event/DaedalusTravelEventCest.php
  Api/tests/unit/Communications/Service/KillAllContactingRebelBasesServiceTest.php
  Api/tests/unit/Communications/Service/KillRebelBaseContactsServiceTest.php
  Api/tests/unit/Communications/TestDoubles/Repository/InMemoryRebelBaseRepository.php
Due: api-test, api-lint

fix: Do not display Sirius effect for non-concerned consumables
  Api/src/Equipment/DataFixtures/DrugConfigFixtures.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
Due: api-test, api-lint

fix: Research items in player's inventory are correctly replaced when their research project is finished
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix: Fixed an issue where actions allowing different skill points subtracted each of these skill points when the player had the skills set in specific order
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Enum/ModifierPriorityEnum.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
Due: api-test, api-lint

hotfix: Update modifier names for IT expert and polymath skill points for consistency
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
  Api/tests/functional/Equipment/Normalizer/FruitCest.php
Due: api-test, api-lint

feat: Guarana Cappuccino research
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/ValueObject/GameDate.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Enum/ProjectName.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Status/ChargeStrategies/CoffeeMachineChargeIncrement.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/tests/functional/Action/Actions/ConsumeCoffeeCest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/assets/images/researches/guarana_cappuccino.png
Due: api-test, api-lint, translations-lint

feat: april fools event
  Api/migrations/Version20250313172938.php
  Api/migrations/Version20250313174551.php
  Api/migrations/Version20250314162556.php
  Api/src/Chat/Services/MessageModifierService.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Daedalus/Enum/CharacterSetEnum.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Game/Command/FillDaedalusCommand.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/Game/Enum/HolidayEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Config/CharacterConfigCollection.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Daedalus/Service/DaedalusServiceCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
  Api/tests/unit/Chat/Service/DiseaseMessageServiceTest.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
Due: api-test, api-lint

fix: removed debug text on drone repair action
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/translations/en/debug+intl-icu.en.xlf
  Api/translations/es/debug+intl-icu.es.xlf
  Api/translations/fr/debug+intl-icu.fr.xlf
  Api/translations/it/debug+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat: Add Lunchbox
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: No more duplicate blueprints from Xyloph + starting blueprints spawn in storages
  Api/src/Equipment/Listener/DaedalusInitEventSubscriber.php
Due: api-test, api-lint

fix: daedalus launches on full players
  Api/src/Daedalus/Listener/PlayerSubscriber.php
Due: api-test, api-lint

feat: message on april fools event begin
  Api/src/Chat/Enum/NeronMessageEnum.php
  Api/src/Chat/Listener/DaedalusSubscriber.php
  Api/translations/en/neron+intl-icu.en.xlf
  Api/translations/fr/neron+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Reduce amount of scrap drop by hunters, accordingly to Mush data
  Api/src/Hunter/ConfigData/HunterConfigData.php
Due: api-test, api-lint

fix: Polyvalent skill no longer stacks with its base skills for project and research efficiency.
  Api/src/Player/Entity/Player.php
  Api/tests/unit/Player/Entity/PlayerTest.php
Due: api-test, api-lint

fix: Add missing MIA event for Forest sector
  Api/src/Exploration/ConfigData/PlanetSectorConfigData.php
Due: api-test, api-lint

fix: Polyvalent skill no longer displayed on research and projects to make it clear this skill doesn't stack with its base skills
  Api/src/Action/Validator/DoesNotHaveMageBookSkillValidator.php
  Api/src/Action/Validator/NeronCrewLockValidator.php
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
Due: api-test, api-lint

chore: Bump version to 0.11.2 + update front-end dependencies
  App/package.json
  App/src/main.ts
  App/yarn.lock
Due: build-front, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
