Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

style: apply linter fixes
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/components/Moderation/SanctionDetailPage.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/store/moderation.module.ts
Due: build-front, front-lint, front-test

Change button order to respect Mush layout
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

fix: you can now correctly access endPage from report page
  App/src/components/Moderation/ModerationReportListPage.vue
Due: build-front, front-lint, front-test

Fix translations
  App/src/i18n/locales/fr.json
Due: none

Optimize requests when viewing player details.
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
Due: build-front, front-lint, front-test

fix broken test
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
Due: api-test, api-lint

Prevent moderators to see reports from their own ships.
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/entities/PlayerInfo.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: list of report correctly update when archiving on playerDetail page
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
Due: build-front, front-lint, front-test

Also allow front-end errors in store / toast / popups.
  App/src/store/error.module.ts
Due: build-front, front-lint, front-test

feat(skill): Creative
  Api/src/Action/ConfigData/ActionDataLoader.php
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/CreativeCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Tag action as "zero action cost" after computing its cost with modifiers.
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Entity/ActionConfig.php
Due: api-test, api-lint

fix unit tests
  Api/tests/unit/Action/Actions/AbstractActionTest.php
Due: api-test, api-lint

feat(skill): Creative
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/ConfigData/ActionDataLoader.php
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/CreativeCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/tests/unit/Action/Actions/AbstractActionTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Mankind's Only Hope modifier does not work anymore if there is no player with the skill alive.
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/ModifierActivationRequirement.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementSkillHolderIsAlive.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/SkillHolderIsAliveTest.php
Due: api-test, api-lint

refactor: Delete all related modifiers at player death, which appropriately removes only hope modifier
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Entity/ModifierHolderInterface.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/Factory/GameModifierFactory.php
  Api/src/Modifier/Listener/PlayerEventSubscriber.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementSkillHolderIsAlive.php
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/Modifier/Service/ModifierCreationServiceInterface.php
  Api/src/Modifier/Service/ModifierListenerService/DeletePlayerRelatedModifiersService.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/SkillHolderIsAliveTest.php
  Api/tests/unit/Modifier/Service/ModifierListenerService/DeletePlayerRelatedModifiersServiceTest.php
Due: api-test, api-lint

fix: Mankind's Only Hope modifier does not work anymore if there is no player with the skill alive.
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/src/Modifier/Entity/Config/ModifierActivationRequirement.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Entity/ModifierHolderInterface.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/Factory/GameModifierFactory.php
  Api/src/Modifier/Listener/PlayerEventSubscriber.php
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/Modifier/Service/ModifierCreationServiceInterface.php
  Api/src/Modifier/Service/ModifierListenerService/DeletePlayerRelatedModifiersService.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/unit/Modifier/Service/ModifierListenerService/DeletePlayerRelatedModifiersServiceTest.php
Due: api-test, api-lint

hotfix: Creative will work properly on critical events
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Action/Service/ActionService.php
  Api/tests/functional/Action/Actions/CreativeCest.php
Due: api-test, api-lint

fix: Add bold to revealed actions in the log
  Api/src/Action/Actions/Chitchat.php
  Api/tests/functional/Action/Actions/ChitchatCest.php
Due: api-test, api-lint

feat: Add Confident skill
  Api/migrations/Version20240727134811.php
  Api/src/Action/Actions/Chitchat.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/ChitchatCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Exclude some specific actions (take, drop, examine...) from revealed actions
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Action/Actions/ChitchatCest.php
Due: api-test, api-lint

fix: created a modifier that prevent spoken action when mute
  Api/src/Disease/ConfigData/DiseaseConfigData.php
  Api/src/Disease/DataFixtures/InjuryConfigFixtures.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

feat(skill): Confident
  Api/migrations/Version20240727134811.php
  Api/src/Action/Actions/Chitchat.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Disease/ConfigData/DiseaseConfigData.php
  Api/src/Disease/DataFixtures/InjuryConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/ChitchatCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Survivalist
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToAllExplorators.php
  Api/src/Exploration/PlanetSectorEventHandler/KillRandom.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

test: Add more precise tests on action logs
  Api/tests/functional/Action/Actions/GraftCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix broken tests
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

Graft action is only available if fruit to graft is in player's inventory
  Api/src/Action/Actions/Graft.php
  Api/src/Action/Validator/ActionProviderIsInPlayerInventory.php
  Api/src/Action/Validator/ActionProviderIsInPlayerInventoryValidator.php
  Api/tests/functional/Action/Actions/GraftCest.php
Due: api-test, api-lint

refactor: Update ActionPanel.vue to use action IDs for comparison
  App/src/components/Game/Ship/ActionPanel.vue
Due: build-front, front-lint, front-test

Print grafted fruit in logs instead of the obtained plant
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Action/Actions/GraftCest.php
Due: api-test, api-lint

fix config loading
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

feat: Add botanist points gain log
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add Graft action confirmation popup
  Api/src/Action/ConfigData/ActionData.php
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add PILGRED points
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
Due: api-test, api-lint

Add pilgred points gain log
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Physicist
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Update skill selection menu to match Mush
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/misc+intl-icu.en.xlf
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/player+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/player+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
  Api/translations/it/planet_sector_event+intl-icu.fr.it.xlf
  Api/translations/it/player+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: translations-lint

fix: You can invite players to a private channel again
  App/src/components/Game/Communications/InvitationPrivateChannelMenu.vue
  App/src/components/Thanks.vue
Due: build-front, front-lint, front-test
