Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check-mr-title
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

front-lint:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: More protections on private channel number
  Api/migrations/Version20251114071538.php
  Api/src/Chat/Services/ChannelService.php
  Api/src/Game/Entity/Collection/GameVariableCollection.php
  Api/src/Game/Entity/GameVariable.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Chat/Event/ChannelSubscriberCest.php
  Api/tests/functional/Chat/Service/GetContactablePlayersCest.php
Due: api-test, api-lint

fix: Remove spoiler vector of attacks for moderators
  Api/config/api_platform/resources/daedalus.yaml
  App/src/components/Moderation/ModerationBanner.vue
  App/src/components/Moderation/ModerationPlayerListPage.vue
  App/src/components/Moderation/ModerationShipListPage.vue
  App/src/router/index.ts
Due: build-front, front-lint, front-test

chore(hotfix): Clearing cache does not log you out
  App/src/App.vue
  App/src/services/user.service.ts
  App/src/store/auth.module.ts
Due: build-front, front-lint, front-test

fix: Losing a heavy item in expedition will properly remove Burdened status
  Api/src/Equipment/DataFixtures/FruitPlantConfigFixtures.php
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Exploration/Entity/Planet.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/ItemLostHandlerCest.php
Due: api-test, api-lint

refactor: Rename CanContactACrewmate to CanOrderACrewmate and update related services and components
  Api/src/Action/Actions/CommanderOrder.php
  Api/src/Action/Validator/CanContactACrewmate.php
  Api/src/Action/Validator/CanOrderACrewmate.php
  Api/src/Action/Validator/CanOrderACrewmateValidator.php
  Api/src/Chat/Services/GetAvailableSubordinatesForMissionService.php
  Api/src/Player/Controller/AvailableSubordinatesForMissionController.php
  Api/tests/functional/Chat/Service/GetAvailableSubordinatesForMissionServiceCest.php
  Api/tests/unit/Chat/UseCase/GetAvailableSubordinatesForMissionServiceTest.php
  App/src/components/Game/CommanderOrderPanel.vue
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Instead of scrolling, let's fit content of tables tight!
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/components/Utils/Datatable/Datatable.vue
Due: build-front, front-lint, front-test

feat(stat): Drugs taken
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Actions/ConsumeDrugActionCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(communication): isolate typedMessage per channel
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

feat: new admin action force exploration step
  Api/src/Action/Actions/ForceExplorationStep.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(stat): Kivanc Terzi contacted
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/XylophEntryDecodedEventSubscriber.php
  Api/src/Communications/Event/XylophEntryDecodedEvent.php
  Api/tests/functional/Achievement/Event/XylophEntryDecodedEventCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/kivanc.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Fix crash when displaying deactivated artefact specialist stat
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  App/src/assets/images/achievements/collection.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Character cycle stats are correctly linked to the user, to take account of transfers
  Api/migrations/Version20251115105434.php
  Api/src/Achievement/Command/IncrementUserStatisticCommandHandler.php
  Api/src/Achievement/Command/UnlockStatisticAchievementCommand.php
  Api/src/Achievement/Command/UpdateUserStatisticIfSuperiorCommandHandler.php
  Api/src/Achievement/Entity/PendingStatistics.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Event/StatisticIncrementedEvent.php
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/src/Achievement/ValueObject/CycleCounts.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Service/PlayerService.php
  Api/src/User/Entity/User.php
  Api/tests/functional/Achievement/Event/FinishDaedalusEventCest.php
  Api/tests/functional/Player/Service/PlayerServiceCest.php
  Api/tests/unit/Achievement/ValueObject/CycleCountsTest.php
Due: api-test, api-lint

fix: You cannot participate in an unproposed project
  Api/src/Action/Actions/AbstractParticipateAction.php
  Api/src/Action/Validator/TargetProjectFinished.php
  Api/src/Action/Validator/TargetProjectProposed.php
  Api/src/Action/Validator/TargetProjectProposedValidator.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
Due: api-test, api-lint

feat: Replace old french Twinpedia link to eMushpedia wiki in tips channel
  Api/translations/fr/chat+intl-icu.fr.xlf
Due: api-test, translations-lint

fix: NERON announcement announcing new merchant will be sync with cycle change
  Api/src/Communications/Service/CreateTransportTradeService.php
  Api/src/Hunter/Listener/HunterCycleSubscriber.php
  Api/src/Hunter/Service/CreateHunterService.php
  Api/tests/unit/Communications/Service/CreateTransportServiceTest.php
Due: api-test, api-lint

fix: Improve version mismatch detection to tell people to clear cache
  Api/src/User/Controller/InfoController.php
  App/src/App.vue
  App/src/i18n/locales/fr.json
  App/src/services/user.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore: fake disease is not a mush action so it can be used by human admins with action tabs
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/tests/functional/Action/Actions/GoBerserkCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/en/characters+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/disease_message+intl-icu.es.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
Due: api-test, api-lint, translations-lint

fix: You cannot move with right click
  App/src/game/scenes/daedalusScene.ts
Due: build-front, front-lint, front-test

fix: Sync food destruction log time with cycle change
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
Due: api-test, api-lint

fix: Completing Mushicide soap with the soap in the inventory will properly give a Super soap
  Api/src/Equipment/ConfigData/ReplaceEquipmentConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix: Bump Neron failure threads when reporting equipment issues
  Api/src/Chat/Listener/ApplyEffectSubscriber.php
  Api/tests/functional/Action/Actions/ReportEquipmentCest.php
  Api/tests/functional/Action/Actions/ReportFireCest.php
Due: api-test, api-lint

feat: spread fire trigger next cycle (42)
  Api/src/Action/Actions/SpreadFire.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Daedalus/Service/DispatchCycleIncidentsService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Listener/StatusSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlaceStatusEnum.php
  Api/tests/functional/Action/Actions/SpreadFireCest.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat: Add Aeon as a contributor
  App/src/components/Thanks.vue
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/tests/functional/Disease/Normalizer/DiseaseNormalizerCest.php
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/modifiers+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/modifiers+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: api-test, api-lint, translations-lint

fix: Do not print enter/exit logs for planet or patrolships
  Api/src/RoomLog/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/ReportEquipmentCest.php
  Api/tests/functional/Action/Actions/ReportFireCest.php
  Api/tests/functional/RoomLog/Event/PlayerChangedPlaceEventCest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/i18n/locales/it.json
Due: api-test, translations-lint

chore(release): 0.17.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: Ensure game pop-ups are always closable
  App/src/components/Game/ExpeditionPopUp.vue
  App/src/components/Utils/GamePopUp.vue
Due: build-front, front-lint, front-test

chore(release): 0.17.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat: New banner style + add new links to banner and user menu
  App/src/assets/images/logout.png
  App/src/components/Banner.vue
  App/src/components/Hud/UserMenu.vue
  App/src/components/Login.vue
  App/src/features/rankings/gateway.ts
  App/src/features/userProfile/store.ts
  App/src/i18n/locales/fr.json
  App/src/store/index.ts
  App/src/utils/links.ts
Due: build-front, front-lint, front-test

feat: can add the option to give random spores when a ship is full
  Api/config/api_platform/serialization/difficulty_config.yaml
  Api/config/api_platform/serialization/game_config.yaml
  Api/migrations/Version20251114145051.php
  Api/src/Daedalus/Listener/DaedalusSubscriber.php
  Api/src/Game/ConfigData/DifficultyConfigData.php
  Api/src/Game/ConfigData/DifficultyConfigDto.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/DifficultyConfig.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Game/Enum/GameConfigEnum.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/tests/functional/Daedalus/Event/FilledDaedalusCest.php
  App/src/components/Admin/Config/DifficultyConfig/DifficultyConfigDetailPage.vue
  App/src/components/Admin/Config/GameConfig/GameConfigDetailPage.vue
  App/src/entities/Config/DifficultyConfig.ts
  App/src/entities/Config/GameConfig.ts
  App/src/entities/Config/TriumphConfig.ts
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, front-lint, front-test

chore(hotfix): fix default values for special options in DB
  Api/migrations/Version20251117095642.php
  Api/src/Game/Entity/DifficultyConfig.php
  Api/src/Game/Entity/GameConfig.php
Due: api-test, api-lint

fix: don't throw if trying to convert to mush a player with full private channels
  Api/src/Chat/Services/ChannelService.php
Due: api-test, api-lint

fix: Fix Kivanç stat icon
  App/src/features/achievements/enum.test.ts
  App/src/features/achievements/enum.ts
Due: build-front, front-lint, front-test

fix: Fix Adapt Epigenetics log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/AdaptEpigeneticsCest.php
Due: api-test, api-lint

fix: Fertile do not give free spore anymore when skill is lost
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/AdaptEpigeneticsCest.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
Due: api-test, api-lint

fix: moved background image down 32px to account for presence of top bar
  App/src/App.vue
Due: build-front, front-lint, front-test

fix: Fertile is not usable during the same day if you lost and takes it again
  Api/src/Action/Actions/ExtractSpore.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/unit/Action/Actions/ExtractSporeActionTest.php
Due: api-test, api-lint

fix: new Crowdin translations
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
