Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (French)
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (English)
  Api/translations/en/actions+intl-icu.en.xlf
Due: translations-lint

New translations fr.json (English)
  App/src/i18n/locales/en.json
Due: none

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/chat+intl-icu.en.xlf
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/chat+intl-icu.es.xlf
  Api/translations/es/notification+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/chat+intl-icu.fr.it.xlf
  Api/translations/it/notification+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (French)
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: translations-lint

fix typo in translation files
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: translations-lint

fix: Fix Chef points gain log
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: translations-lint

fix: invertebrate shell works
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

fix player has dirty status requirement fixture
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

feat: germaphobe status
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix fixtures
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
Due: api-test, api-lint

feat: germaphobe status
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

New translations event_log+intl-icu.fr.xlf (English)
  Api/translations/en/event_log+intl-icu.en.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (French)
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: translations-lint

fix blaster successful shot data & weapon event readme
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/WEAPON_EVENT_README.md
Due: api-test, api-lint

Fix way too lucky shooter
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/WEAPON_EVENT_README.md
Due: api-test, api-lint

feat: hyperactive status
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
Due: api-test, api-lint

fix: Delete equipment left on planet on expedition failure
  Api/src/Equipment/Listener/ExplorationEventSubscriber.php
Due: api-test, api-lint

fix torn tongue incorrectly displayed description
  Api/translations/en/modifiers+intl-icu.en.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/fr/modifiers+intl-icu.fr.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
Due: translations-lint

New translations modifiers+intl-icu.fr.xlf (French)
  Api/translations/fr/modifiers+intl-icu.fr.xlf
Due: translations-lint

New translations modifiers+intl-icu.fr.xlf (Spanish)
  Api/translations/es/modifiers+intl-icu.es.xlf
Due: translations-lint

New translations modifiers+intl-icu.fr.xlf (Italian)
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
Due: translations-lint

New translations modifiers+intl-icu.fr.xlf (English)
  Api/translations/en/modifiers+intl-icu.en.xlf
Due: translations-lint

fix: ensure player state is saved and transaction committed when player is dead
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

fix: Ensure cycle change is committed to database
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

reformated repairBrokenEquipmentTask to match other drone tasks. Added a throw to BrokenEquipmentTask, which should help in debugging the source of drone errors.
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/src/Equipment/Entity/Drone.php
Due: api-test, api-lint

fix: drugs have different variable effects
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
Due: api-test, api-lint

changed from throw to debug logs
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/translations/en/debug+intl-icu.en.xlf
  Api/translations/fr/debug+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

drone selects first broken equipment
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
Due: api-test, api-lint

fix tests
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/src/Equipment/Factory/GameEquipmentFactory.php
  Api/tests/unit/Equipment/DroneTasks/DroneTasksHandlerTest.php
  Api/tests/unit/Equipment/DroneTasks/RepairBrokenEquipmentTaskTest.php
Due: api-test, api-lint

inactives only drop Critical items
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
Due: api-test, api-lint

feat: inactive players drop their non-personal items
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint
