Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Add skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

feat(skill): Detached crewmember
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/DetachedCrewmemberCest.php
  Api/tests/unit/Disease/Listener/PlayerSubscriberTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Expert
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/ExpertCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Gear bonus and maluses will be correctly removed/recreates when they are broken/repaired
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Status/Event/StatusEvent.php
  Api/tests/functional/Equipment/BrokenOxygenTankCest.php
Due: api-test, api-lint

fix: Splashproof Mush players won't gain Thalasso bonus
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

hotfix: Inform player how many names there are currently on ZE list
  Api/src/Action/Actions/PrintZeList.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: fixed tests
  Api/tests/functional/Modifier/Listener/DropSubscriberCest.php
  Api/tests/functional/Modifier/Listener/HideSubscriberCest.php
  Api/tests/functional/Modifier/Listener/MoveSubscriberCest.php
  Api/tests/unit/Modifier/Entity/Collection/ModifierCollectionTest.php
  Api/tests/unit/Modifier/Service/ModifierCreationServiceTest.php
Due: api-test, api-lint

fix: fixed tests
  Api/tests/functional/Modifier/ModifierProviderCorrectlyDeletedCest.php
Due: api-test, api-lint

fix: fixed a bug on modifier deletion when there were 2 modifiers with the same config. Now provider is also used to select the correct gameModifier to delete
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Modifier/ModifierProviderCorrectlyDeletedCest.php
Due: api-test, api-lint

fix: fixed a bug on modifier deletion when there were 2 modifiers with the...
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Modifier/Listener/DropSubscriberCest.php
  Api/tests/functional/Modifier/Listener/HideSubscriberCest.php
  Api/tests/functional/Modifier/Listener/MoveSubscriberCest.php
  Api/tests/functional/Modifier/ModifierProviderCorrectlyDeletedCest.php
  Api/tests/unit/Modifier/Entity/Collection/ModifierCollectionTest.php
  Api/tests/unit/Modifier/Service/ModifierCreationServiceTest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/chat+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/modifiers+intl-icu.en.xlf
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/rooms+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/chat+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/es/notification+intl-icu.es.xlf
  Api/translations/es/rooms+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/notification+intl-icu.fr.xlf
  Api/translations/fr/player+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/chat+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
  Api/translations/it/notification+intl-icu.fr.it.xlf
  Api/translations/it/rooms+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/terminal+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: translations-lint

feat: Players now start with 14 morale points
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

hotfix: Remove final keyword from Doctrine entity
  Api/src/Equipment/Entity/Mechanics/Exploration.php
Due: api-test, api-lint

fix: Fix hunter actions display refresh
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Modifier/Listener/StatusSubscriber.php
Due: api-test, api-lint

fix: fixed tests
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/tests/functional/Action/Actions/ShootHunterActionCest.php
  Api/tests/unit/Modifier/Service/ModifierRequirementServiceTest.php
Due: api-test, api-lint

fix: all modifier now have a modifierName fix: fixed an issue where modifier provider of a modifier without a name were always considered as operational
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/Entity/Config/VariableEventModifierConfig.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Event/ModifierEvent.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Modifier/ModifierHandler/MessageModifier.php
  Api/src/Modifier/ModifierHandler/SymptomModifierHandler.php
  Api/src/Modifier/Service/EventModifierService.php
  Api/src/RoomLog/Listener/ModifierSubscriber.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Equipment/Entity/GameEquipment.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Modifier/Service/EventModifierService.php
Due: api-test, api-lint

fix: broken gear are correctly deactivated
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/Entity/Config/VariableEventModifierConfig.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Event/ModifierEvent.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Modifier/ModifierHandler/MessageModifier.php
  Api/src/Modifier/ModifierHandler/SymptomModifierHandler.php
  Api/src/RoomLog/Listener/ModifierSubscriber.php
  Api/tests/functional/Action/Actions/ShootHunterActionCest.php
  Api/tests/unit/Modifier/Service/ModifierRequirementServiceTest.php
Due: api-test, api-lint

fix: Add log and notification for dropping critical item during takeoff
  Api/src/Action/Actions/Takeoff.php
  Api/src/Equipment/Entity/GameItem.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/translations/fr/notification+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix broken test
  Api/tests/unit/Action/Actions/TakeoffActionTest.php
Due: api-test, api-lint

fix: Add log and notification for dropping critical item during takeoff
  Api/src/Action/Actions/Takeoff.php
  Api/src/Equipment/Entity/GameItem.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/tests/unit/Action/Actions/TakeoffActionTest.php
  Api/translations/fr/notification+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Rollback to uniform draw for attempt action success rate.
  Api/src/Action/Actions/AttemptAction.php
Due: api-test, api-lint

fix broken tests
  Api/tests/unit/Action/Actions/DisassembleActionTest.php
  Api/tests/unit/Action/Actions/ExtinguishActionTest.php
  Api/tests/unit/Action/Actions/ExtinguishManuallyActionTest.php
  Api/tests/unit/Action/Actions/PlayDynarcadeTest.php
  Api/tests/unit/Action/Actions/RepairActionTest.php
  Api/tests/unit/Action/Actions/SabotageActionTest.php
  Api/tests/unit/Action/Actions/StrengthenActionTest.php
Due: api-test, api-lint

fix: Rollback to uniform draw for attempt action success rate.
  Api/src/Action/Actions/AttemptAction.php
  Api/tests/unit/Action/Actions/DisassembleActionTest.php
  Api/tests/unit/Action/Actions/ExtinguishActionTest.php
  Api/tests/unit/Action/Actions/ExtinguishManuallyActionTest.php
  Api/tests/unit/Action/Actions/PlayDynarcadeTest.php
  Api/tests/unit/Action/Actions/RepairActionTest.php
  Api/tests/unit/Action/Actions/SabotageActionTest.php
  Api/tests/unit/Action/Actions/StrengthenActionTest.php
Due: api-test, api-lint

Revert "fix: broken gear are correctly deactivated"
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/Entity/Config/VariableEventModifierConfig.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Event/ModifierEvent.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Modifier/ModifierHandler/MessageModifier.php
  Api/src/Modifier/ModifierHandler/SymptomModifierHandler.php
  Api/src/RoomLog/Listener/ModifierSubscriber.php
  Api/tests/functional/Action/Actions/ShootHunterActionCest.php
  Api/tests/unit/Modifier/Service/ModifierRequirementServiceTest.php
Due: api-test, api-lint

revert: "fix: broken gear are correctly deactivated"
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
  Api/src/Modifier/Entity/Config/VariableEventModifierConfig.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Event/ModifierEvent.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Modifier/ModifierHandler/MessageModifier.php
  Api/src/Modifier/ModifierHandler/SymptomModifierHandler.php
  Api/src/RoomLog/Listener/ModifierSubscriber.php
  Api/tests/functional/Action/Actions/ShootHunterActionCest.php
  Api/tests/unit/Modifier/Service/ModifierRequirementServiceTest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/es/notification+intl-icu.es.xlf
  Api/translations/fr/notification+intl-icu.fr.xlf
  Api/translations/it/notification+intl-icu.fr.it.xlf
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: translations-lint

hotfix: Add missing enum entry
  Api/src/Action/Enum/ActionEnum.php
Due: api-test, api-lint

fix: Fix a crash when displaying skills
  App/src/components/Game/CharPanel.vue
Due: build-front, front-lint, front-test

fix: Fix Take Shower action translation
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

fix: Fix Take Shower action translation
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

fix: Fix invite button
  App/src/components/Game/Communications/InvitationPrivateChannelMenu.vue
  App/src/services/communication.service.ts
Due: build-front, front-lint, front-test

fix: Fix a crash due to badly formatted notifications
  Api/migrations/Version20240902175157.php
  Api/src/Player/Entity/PlayerNotification.php
Due: api-test, api-lint

fix: Hit action is not visible if you have a knife
  Api/src/Action/Actions/Hit.php
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

fix: Fix invite button action
  Api/src/Player/Normalizer/ContactablePlayerNormalizer.php
  Api/tests/unit/Player/Normalizer/ContactablePlayerNormalizerTest.php
  App/src/entities/ContactablePlayer.ts
  App/src/services/communication.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
