Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

Fixed test
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
Due: api-test, api-lint

feat: Added lore in project tooltips
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/DaedalusProjectCard.vue
  App/src/components/Game/Terminals/ProjectCard.vue
  App/src/entities/Project.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Fixed the animation in engine_room
  App/src/game/assets/engine_room.json
Due: none

Added the config data for the Auxiliary Terminals
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

Front : auxiliary terminal can now be interacted with when the project is finished Fixed the animation of the auxiliary terminal in medlab
  App/src/game/assets/engine_room.json
  App/src/game/assets/mush_medlab.json
Due: none

Updated the translation of the auxiliary terminal panel title
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-lint

Added a test validating that the project "Auxiliary terminal" creates two equipment in two different rooms! Renamed the first test shouldCreateItemWhenProjectIsFinished
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

Fixed test
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  App/src/game/assets/alpha_dorm.json
  App/src/game/assets/bravo_dorm.json
Due: api-test, api-lint

feat: auxiliary terminal can now be interacted with when the project is finished
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/game/assets/alpha_dorm.json
  App/src/game/assets/bravo_dorm.json
  App/src/game/assets/engine_room.json
  App/src/game/assets/mush_medlab.json
Due: api-test, api-lint

fix: several fix to make the change work
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/DoTheThing.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Controller/ActionController.php
  Api/src/Action/Entity/ActionConfig.php
  Api/src/Action/Entity/ActionHolderInterface.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Normalizer/ActionHolderNormalizerTrait.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Action/Service/ActionStrategyService.php
  Api/src/Action/Service/GetActionTargetFromContextService.php
  Api/src/Action/Validator/HasActionValidator.php
  Api/src/Equipment/Entity/Door.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/GameItem.php
  Api/src/Exploration/Entity/Planet.php
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Normalizer/HunterNormalizer.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Project/Entity/Project.php
  Api/tests/unit/Action/Service/GetActionTargetFromContextServiceTest.php
  App/src/entities/Action.ts
  App/src/services/action.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: merged deveop to avoid conflict
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/ResetSpecialistPoints.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Action/Service/ActionStrategyService.php
  Api/src/Action/Service/GetActionTargetFromContextService.php
  Api/src/Action/Validator/HasActionValidator.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Listener/ActionSubscriber.php
Due: api-test, api-lint

Implemented a query that only query the Equipment from a daedalus when relevant
  Api/src/Action/Actions/AbstractMoveDaedalusAction.php
  Api/src/Action/Validator/IsPasiphaeDestroyedValidator.php
  Api/src/Communication/Listener/EquipmentSubscriber.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Equipment/Service/GameEquipmentServiceInterface.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

Fixed equipment query (woops)
  Api/src/Equipment/Repository/GameEquipmentRepository.php
Due: api-test, api-lint

Fixed api-lint
  Api/src/Equipment/Service/GameEquipmentServiceInterface.php
Due: api-test, api-lint

fix: terminal action format
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Entity/GameEquipment.php
  App/src/components/Game/Terminals/TerminalExitButton.vue
  App/src/entities/Terminal.ts
  App/src/services/action.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix : Implemented a query that only query the Room Equipment from a daedalus when relevant
  Api/src/Action/Actions/AbstractMoveDaedalusAction.php
  Api/src/Action/Validator/IsPasiphaeDestroyedValidator.php
  Api/src/Communication/Listener/EquipmentSubscriber.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Equipment/Service/GameEquipmentServiceInterface.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

Added the Thalasso Added the replace equipment logic
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/Entity/Config/SpawnEquipmentConfig.php
  Api/src/Equipment/Entity/Dto/SpawnEquipmentConfigDto.php
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint

Fixed tooltip issue
  App/src/components/Game/DaedalusProjectCard.vue
Due: build-front, front-lint, front-test

Removed the thalasso from the dorm_bravo
  Api/src/Place/ConfigData/PlaceConfigData.php
Due: api-test, api-lint

Updated the replace equipment logic
  .gitignore
  Api/migrations/Version20240508165201.php
  Api/src/Equipment/ConfigData/EquipmentCommandConfigDataLoader.php
  Api/src/Equipment/ConfigData/ReplaceEquipmentConfigData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ReplaceEquipmentConfigFixtures.php
  Api/src/Equipment/DataFixtures/SpawnEquipmentConfigFixtures.php
  Api/src/Equipment/Entity/Config/ReplaceEquipmentConfig.php
  Api/src/Equipment/Entity/Dto/ReplaceEquipmentConfigDto.php
  Api/src/Equipment/Entity/Dto/SpawnEquipmentConfigDto.php
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectConfigDataLoader.php
  Api/src/Project/DataFixtures/ProjectConfigFixtures.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

Tweaked the efficiency
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

Lint issue fixes
  Api/src/Equipment/DataFixtures/ReplaceEquipmentConfigFixtures.php
  Api/src/Equipment/Entity/Dto/ReplaceEquipmentConfigDto.php
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

Fixed migration
  Api/migrations/Version20240508165201.php
Due: api-test, api-lint

Fix linter
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
  Api/src/Project/Entity/Project.php
Due: api-test, api-lint

Woops
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
Due: api-test, api-lint

Fixed an issue in ProjectConfigDataLoader!
  Api/src/Project/ConfigData/ProjectConfigDataLoader.php
Due: api-test, api-lint

feat(projects): Added the Thalasso
  .gitignore
  Api/migrations/Version20240508165201.php
  Api/src/Equipment/ConfigData/EquipmentCommandConfigDataLoader.php
  Api/src/Equipment/ConfigData/ReplaceEquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ReplaceEquipmentConfigFixtures.php
  Api/src/Equipment/DataFixtures/SpawnEquipmentConfigFixtures.php
  Api/src/Equipment/Entity/Config/ReplaceEquipmentConfig.php
  Api/src/Equipment/Entity/Dto/ReplaceEquipmentConfigDto.php
  Api/src/Equipment/Entity/Dto/SpawnEquipmentConfigDto.php
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectConfigDataLoader.php
  Api/src/Project/DataFixtures/ProjectConfigFixtures.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/DaedalusProjectCard.vue
Due: build-front, api-test, api-lint, front-lint, front-test

- Added the Designer skill and neron specitialist point - Renamed designer as conceptor everywhere - Setup Raluca and Kuan-Ti with the conceptor skill
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/SkillEnum.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Status/ConfigData/StatusConfigData.php
  App/src/enums/skill.enum.ts
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Fixed linter issue in ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
Due: api-test, api-lint

Applied translation suggestion from Evian
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-lint

Fixed ParticipateCest.php tests
  Api/tests/functional/Action/Actions/ParticipateCest.php
Due: api-test, api-lint

Fixed an issue with the type of Participate
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

Fixed linter
  Api/tests/functional/Action/Actions/ParticipateCest.php
Due: api-test, api-lint

Added the Core specialist point translation
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-lint

Added the fixtures and test
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
Due: api-test, api-lint

Added the conceptor french translation
  Api/translations/fr/status+intl-icu.fr.xlf
Due: api-lint

Revert "feat: Added lore in project tooltips"
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/DaedalusProjectCard.vue
  App/src/components/Game/Terminals/ProjectCard.vue
  App/src/entities/Project.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Added the Conceptor Skill and Neron specitialist point
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/SkillEnum.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/translations/fr/player+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Display Sol banner on theEnd page if the Daedalus went back to Sol
  App/src/components/PurgatoryPage.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedPlayer.ts
  App/src/entities/DeadPlayerInfo.ts
  Makefile
Due: build-front, front-lint, front-test

fix: The equipment of a player dying in exploration is lost
  Api/src/Player/Service/PlayerService.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint
