Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: Add PLAYER_ALWAYS_SUCCEDS_REPAIR_ACTION modifier to StatusConfigData
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

Add Genius skill, action and status french descriptions
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

Add Genius idea status icon
  App/src/enums/status.player.enum.ts
Due: build-front, front-lint, front-test

Become Genius is available once per game
  Api/src/Action/Actions/BecomeGenius.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/BecomeGeniusCest.php
Due: api-test, api-lint

fix merge conflict
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
Due: api-test, api-lint

apply linter fixes
  Api/src/Player/Entity/Player.php
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

feat(skill): Genius
  Api/src/Action/Actions/BecomeGenius.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Listener/ActionSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/Entity/Project.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/BecomeGeniusCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/RepairActionCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Add Presentiment skill Premonition action which reveals the last action of the target.
  .gitignore
  Api/src/Action/Actions/Premonition.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/GameVariableLevel.php
  Api/src/Action/Validator/GameVariableLevelValidator.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/PremonitionCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add presentiment skill to Chun
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Add Premonition action french description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Add Presentiment skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Fix Presentiment skill incon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Fix Shoot hunter with a turret translation in reveal log
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Display morale cost in front end
  App/src/components/Utils/ActionButton.vue
  App/src/entities/Action.ts
Due: build-front, front-lint, front-test

refactor: Chitchat and Premonition now uses a common service to generate the revealed action log
  Api/src/Action/Actions/Chitchat.php
  Api/src/Action/Actions/Premonition.php
  Api/src/Action/Service/ActionHistoryLogService.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

apply psalm fixes
  Api/src/Action/Service/ActionHistoryLogService.php
Due: api-test, api-lint

refactor: move ActionHistoryLogService to RoomLog module
  Api/src/Action/Actions/Chitchat.php
  Api/src/Action/Actions/Premonition.php
  Api/src/RoomLog/Service/ActionHistoryRevealLogService.php
Due: api-test, api-lint

feat(skill): Presentiment
  .gitignore
  Api/src/Action/Actions/Chitchat.php
  Api/src/Action/Actions/Premonition.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/GameVariableLevel.php
  Api/src/Action/Validator/GameVariableLevelValidator.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Service/ActionHistoryRevealLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/PremonitionCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Utils/ActionButton.vue
  App/src/entities/Action.ts
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Cycle change is now rollback if there was an issue. This should avoid skipped cycles.
  Api/src/Game/Service/CycleService.php
  Api/tests/unit/Game/Service/CycleServiceTest.php
Due: api-test, api-lint

feat(skill): NERON's only friend
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Normalizer/SkillConfigNormalizer.php
  Api/src/Skill/Normalizer/SkillNormalizer.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix Mush skill config fetching
  Api/src/Skill/Repository/SkillConfigRepository.php
  Api/tests/_support/AbstractFunctionalTest.php
Due: api-test, api-lint

remove merge conflict residuals
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
Due: api-test, api-lint

feat(skill): Mycelium Spirit
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/DirectModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/MyceliumSpiritCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

refactor: Change Daedlaus spores variables logic to be more coherent with player one
  Api/src/Action/Actions/ExtractSpore.php
  Api/src/Daedalus/Entity/DaedalusVariables.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Mycelium Spirit
  Api/src/Action/Actions/ExtractSpore.php
  Api/src/Daedalus/Entity/DaedalusVariables.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/DirectModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Repository/SkillConfigRepository.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Skill/MyceliumSpiritCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Fertile
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Splashproof
  Api/src/Action/Actions/Shower.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Diplomat prevents fight events on all sectors, not only "Intelligent" one
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
Due: api-test, api-lint

Diplomat prevents the Fight event
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Entity/PlanetSector.php
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

Add Diplomat skill to Janice
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Add exploration log when Diplomat works
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
  Api/src/Game/Enum/LanguageEnum.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Create Ceasefire action which create a Ceasefire status in player's room.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlaceStatusEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Ceasefire prints a public log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Ceasefire is impossible in a room already under a ceasefire.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Ceasefire disappear when the Diplomat moves.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Ceasefire end at a cycle change prints a public log
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Status/ChargeStrategies/CycleDecrement.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Fix Diplomat icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

apply linter fixes
  Api/src/Status/Listener/PlayerSubscriber.php
Due: api-test, api-lint

Give Diplomat skill to Finola
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Add Ceasefier action confirmation popup description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
