Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/characters+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: api-test, translations-lint

chore(release): 0.25.3
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat: Certain items spawn all over Daedalus
  Api/config/api_platform/resources/daedalus_config.yaml
  Api/migrations/Version20260323145445.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/ConfigData/RandomItemPlacesData.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Daedalus/Entity/RandomItemPlaces.php
  Api/src/Equipment/Listener/DaedalusInitEventSubscriber.php
  Api/tests/functional/Daedalus/Service/CreateDaedalusCest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
  App/src/components/Admin/Config/DaedalusConfig/DaedalusConfigDetailPage.vue
  App/src/entities/Config/DaedalusConfig.ts
  App/src/i18n/locales/en.json
Due: build-front, api-test, api-lint, front-lint, front-test

feat: pavlov joins explorations + some pavlov code cleanup
  Api/src/Equipment/Event/AnnoyCatEvent.php
  Api/src/Equipment/NPCTasks/AiHandler/DogTasksHandler.php
  Api/src/Equipment/NPCTasks/Pavlov/AnnoyCatTask.php
  Api/src/Equipment/NPCTasks/Pavlov/MoveTowardsIcarusBayTask.php
  Api/src/Equipment/NPCTasks/Pavlov/PavlovExplorationEventSubscriber.php
  Api/src/Exploration/Enum/PlanetSectorEnum.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Exploration/Service/ExplorationServiceInterface.php
  Api/src/Game/Service/RandomService.php
  Api/src/Game/Service/RandomServiceInterface.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/NPCEventSubscriber.php
  Api/tests/functional/Equipment/NPCTasks/PavlovCest.php
  Api/tests/functional/Exploration/Event/ExplorationWithPavlovCest.php
  Api/tests/unit/Equipment/NPCTasks/PavlovAnnoyCatTest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: ne longer change the config when checking for the holiday. Anniversary and halloween are shorter
  Api/src/Chat/Listener/DaedalusSubscriber.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Daedalus/Service/GetHolidayForDaedalusService.php
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Listener/PlaceInitSubscriber.php
  Api/tests/functional/Triumph/Listener/InfectPlayerCest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
  Api/tests/unit/Equipment/CycleHandler/PlantCycleHandlerTest.php
  Api/tests/unit/Equipment/Listener/PlaceInitSubscriberTest.php
Due: api-test, api-lint

feat: Metalworker can be used in all storages once per day
  Api/migrations/Version20260328120000.php
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Validator/HasGenMetalForCurrentStorage.php
  Api/src/Action/Validator/HasGenMetalForCurrentStorageValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/ClumsinessShouldNotInfectCest.php
  Api/tests/functional/Action/Actions/GenMetalCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  App/src/enums/emotes/skills.enum.ts
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: new skill infantryman
  Api/src/Action/Actions/Disassemble.php
  Api/src/Action/Actions/Hide.php
  Api/src/Action/Actions/Reinforce.php
  Api/src/Action/Actions/Shoot.php
  Api/src/Action/Actions/ShootCat.php
  Api/src/Action/Actions/Take.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/PrivateProperty.php
  Api/src/Action/Validator/PrivatePropertyValidator.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Event/DayEventCest.php
  Api/tests/functional/Status/Service/StatusServiceCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/assets/images/items/security_blaster.png
  App/src/components/Game/CharPanel.vue
  App/src/enums/item.ts
  App/src/enums/skill.enum.ts
  App/src/enums/status.item.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: eden biodiversity stat and achievements + admin action to create status on daedalus
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/src/MetaGame/Dto/CreateStatusForHolderOnDaedalusDto.php
  Api/tests/functional/Achievement/Event/FinishDaedalusEventCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/features/achievements/enum.ts
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: trash load project give 5 items at random from a predifined list and create random item when using generic name
  Api/migrations/Version20260329180330.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/EquipmentMechanic.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Listener/DaedalusInitEventSubscriber.php
  Api/src/Equipment/Listener/ProjectEventSubscriber.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/Service/RandomService.php
  Api/src/Game/Service/RandomServiceInterface.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  Api/tests/functional/Project/TrashLoadCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: remove intimidating from Chao
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/notification+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
Due: api-test, translations-lint

fix: new Crowdin translations
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, translations-lint

chore(release): 0.26.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

internal: new button to open all message in player page
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: drone sensor upgrade status no longer visible
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

fix: quarentine always have an announcement
  Api/src/Chat/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix: news show time according to user config
  App/src/components/NewsItem.vue
Due: build-front, front-lint, front-test

fix: doors don't show names and status
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  App/src/entities/Door.ts
  App/src/entities/Equipment.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: fumble with knife remove ap from shooter
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Game/ConfigData/EventConfigData.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-test, translations-lint

chore(release): 0.26.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: status not showing
  App/src/entities/Door.ts
  App/src/entities/Equipment.ts
Due: build-front, front-lint, front-test

chore(release): 0.26.2
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

refactor: Refactor admin datable
  App/src/components/Admin/Config/ActionConfig/ActionConfigListPage.vue
  App/src/components/Admin/Config/CharacterConfig/CharacterConfigListPage.vue
  App/src/components/Admin/Config/ConsumableDiseaseConfig/ConsumableDiseaseConfigListPage.vue
  App/src/components/Admin/Config/DaedalusConfig/DaedalusConfigListPage.vue
  App/src/components/Admin/Config/DifficultyConfig/DifficultyConfigListPage.vue
  App/src/components/Admin/Config/DiseaseCauseConfig/DiseaseCauseConfigListPage.vue
  App/src/components/Admin/Config/DiseaseConfig/DiseaseConfigListPage.vue
  App/src/components/Admin/Config/EquipmentConfig/EquipmentConfigListPage.vue
  App/src/components/Admin/Config/EventConfig/EventConfigListPage.vue
  App/src/components/Admin/Config/GameConfig/GameConfigListPage.vue
  App/src/components/Admin/Config/HunterConfig/HunterConfigListPage.vue
  App/src/components/Admin/Config/Mechanics/MechanicsListPage.vue
  App/src/components/Admin/Config/ModifierConfig/ModifierConfigListPage.vue
  App/src/components/Admin/Config/PlaceConfig/PlaceConfigListPage.vue
  App/src/components/Admin/Config/RandomItemPlaces/RandomItemPlacesListPage.vue
  App/src/components/Admin/Config/StatusConfig/StatusConfigListPage.vue
  App/src/components/Admin/Config/TriumphConfig/TriumphConfigListPage.vue
  App/src/components/Admin/Daedalus/DaedalusListPage.vue
  App/src/components/Admin/News/NewsListPage.vue
  App/src/components/Admin/User/UserListPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/mixin/dataTableMixin.ts
Due: build-front, front-lint, front-test

fix: Add emushpedia.com to the allowed list of URL
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

fix: back to root stat not given when mush return to sol
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
Due: api-test, api-lint

fix: play with pavlov blocked by asteroid and trader
  Api/src/Action/Actions/PlayWithDogFake.php
Due: api-test, api-lint

chore(release): 0.26.3
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat: deactivated random spores
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

feat: infect action can be used every 4 cycles. Infector Skill is removed
  Api/src/Action/Actions/Infect.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Action/Validator/DailySporesLimit.php
  Api/src/Action/Validator/DailySporesLimitValidator.php
  Api/src/Action/Validator/HasStatus.php
  Api/src/Action/Validator/HasStatusValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Entity/ChargeStatus.php
  Api/tests/functional/Action/Actions/InfectCest.php
  Api/tests/functional/Player/Normalizer/SelectableSkillsCest.php
  Api/tests/unit/Action/Actions/InfectActionTest.php
  Api/tests/unit/Action/Validator/DailySporesLimitValidatorTest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: showers can't be dismantled. A single tube is dropped in one storage at the start of the game
  Api/src/Daedalus/ConfigData/RandomItemPlacesData.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/tests/functional/Action/Actions/AutomaticGetUpCest.php
  Api/tests/functional/Action/Actions/DisassembleCest.php
Due: api-test, api-lint

fix: Shower now always cost at least one AP
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierStrategyEnum.php
Due: api-test, api-lint

feat: splashproof do not reduce cost of taking shower
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

feat: new wiki link added
  App/src/utils/links.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/highlight+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/chat+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  App/src/i18n/locales/es.json
Due: api-test, translations-lint

chore(release): 0.27.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: Shower cannot break anymore
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Game/ConfigData/DifficultyConfigData.php
  Api/tests/functional/Action/Actions/MushInteractingWithShowerCest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/fun_facts+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/user_notification+intl-icu.en.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/disease_message+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/user_notification+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/fr/user_notification+intl-icu.fr.xlf
  App/src/i18n/locales/es.json
Due: api-test, translations-lint

chore(release): 0.27.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat: Add flag icon on game start button
  App/src/components/CharSelection.vue
Due: build-front, front-lint, front-test
