Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

New translations items+intl-icu.fr.xlf (Spanish)
  Api/translations/es/items+intl-icu.es.xlf
Due: translations-lint

New translations characters+intl-icu.fr.xlf (Spanish)
  Api/translations/es/characters+intl-icu.es.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Spanish)
  Api/translations/es/terminal+intl-icu.es.xlf
Due: translations-lint

New translations alerts+intl-icu.fr.xlf (Spanish)
  Api/translations/es/alerts+intl-icu.es.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (Spanish)
  Api/translations/es/chat+intl-icu.es.xlf
Due: translations-lint

New translations rooms+intl-icu.fr.xlf (English)
  Api/translations/en/rooms+intl-icu.en.xlf
Due: translations-lint

New translations daedalus+intl-icu.fr.xlf (Spanish)
  Api/translations/es/daedalus+intl-icu.es.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations end_cause+intl-icu.fr.xlf (Spanish)
  Api/translations/es/end_cause+intl-icu.es.xlf
Due: translations-lint

feat: holiday switcher feat: Halloween
  Api/migrations/Version20241207175301.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Equipment/Listener/PlaceInitSubscriber.php
  Api/src/Game/Enum/HolidayEnum.php
Due: api-test, api-lint

Frieda puts her glasses down while sleeping Vampire Jin Su hides in a coffin Built Terrence's wheelchair for future reference
  App/public/phaser/characters.ase
  App/public/phaser/characters.png
  App/public/phaser/characters.xcf
Due: none

feat: containers can contain different items for different characters
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
Due: api-test, api-lint

Balance: Mycoalarm research count lowered to 3
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint
