Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

hotfix: Add an endpoint to delete all statuses by name (so we can remove legacy project participations status)
  Api/src/MetaGame/Controller/AdminActionsController.php
  Api/src/MetaGame/Dto/CreateEquipmentForDaedalusesDto.php
  Api/src/Status/Repository/StatusRepository.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Status/Service/StatusServiceCest.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

hotfix: Prevent admins to make available projects if there are already
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Project/UseCase/ProposeNewNeronProjectsUseCase.php
  Api/tests/unit/Project/UseCase/ProposeNewNeronProjectsUseCaseTest.php
Due: api-test, api-lint

test: Add a specification test
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
Due: api-test, api-lint

Add Magnetic net behavior
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
Due: api-test, api-lint

refactor: unify how we make patrol ships takeoff and lands, fix some broken tests
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/Land.php
  Api/src/Action/Actions/Takeoff.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Action/Listener/ActionSubscriber.php
  Api/src/Action/Service/PatrolShipManoeuvreService.php
  Api/src/Action/Service/PatrolShipManoeuvreServiceInterface.php
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Listener/ChargeStatusEventSubscriber.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Modifier/Listener/ActionSubscriber.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/CollectScrapCest.php
  Api/tests/functional/Action/Actions/LandActionCest.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/tests/functional/Action/Listener/ActionSubscriberCest.php
  Api/tests/unit/Action/Actions/LandActionTest.php
  Api/tests/unit/Action/Actions/TakeoffActionTest.php
Due: api-test, api-lint

Add magnetic net to game config data
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

Bump version to 0.8.2
  App/package.json
Due: none

fix: fixed impossible to target hunters
  Api/src/Action/Actions/ShootHunter.php
  Api/src/Hunter/Normalizer/HunterNormalizer.php
Due: api-test, api-lint

test: Add a test confirming the bug has been fixed
  Api/src/Hunter/Normalizer/HunterNormalizer.php
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
Due: api-test, api-lint

fix expected vs actual
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
Due: api-test, api-lint

refactor: simplify the way we recover shoot hunter action id
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
Due: api-test, api-lint

fix broken unit test
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
  Api/tests/unit/Hunter/Normalizer/HunterNormalizerTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/tests/unit/Hunter/Normalizer/HunterNormalizerTest.php
Due: api-test, api-lint

fix: Aiming at hunter is possible again
  Api/src/Action/Actions/ShootHunter.php
  Api/src/Hunter/Normalizer/HunterNormalizer.php
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
  Api/tests/unit/Hunter/Normalizer/HunterNormalizerTest.php
Due: api-test, api-lint

fix broken test
  Api/tests/unit/Action/Actions/MoveActionTest.php
Due: api-test, api-lint

fix: improved MoveSubscriberCest. Fixed an issue where modifiers provided by equipment were not correctly deleted on player movement
  Api/src/Modifier/Listener/PlayerEventSubscriber.php
  Api/src/Modifier/Service/ModifierListenerService/EquipmentModifierService.php
  Api/src/Modifier/Service/ModifierListenerService/PlayerModifierService.php
  Api/tests/functional/Modifier/Listener/MoveSubscriberCest.php
Due: api-test, api-lint

Add project french translations
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint

fix: Fix a potential crash if Magentic Net worked on a patrol ship without a pilot
  Api/src/Action/Service/PatrolShipManoeuvreService.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
Due: api-test, api-lint

fix typing
  Api/src/Equipment/Entity/GameEquipment.php
Due: api-test, api-lint

fix: Destroy patrol ship when hit by hunters
  Api/src/Action/Service/PatrolShipManoeuvreService.php
  Api/src/Equipment/Listener/ChargeStatusEventSubscriber.php
Due: api-test, api-lint

fix: Use player service to move modifiers after Move action
  Api/src/Action/Actions/Move.php
  Api/src/Modifier/Listener/PlayerEventSubscriber.php
  Api/src/Modifier/Service/ModifierListenerService/PlayerModifierService.php
  Api/src/Modifier/Service/ModifierListenerService/PlayerModifierServiceInterface.php
  Api/src/Player/Event/PlayerChangedPlaceEvent.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Service/PlayerService.php
  Api/tests/functional/Modifier/Listener/MoveSubscriberCest.php
Due: api-test, api-lint

fix: fixed unit test
  Api/tests/unit/Modifier/Service/EquipmentModifierServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Modifier/Service/ModifierListenerService/PlayerModifierService.php
Due: api-test, api-lint

style: fix some typos
  Api/src/Action/Service/PatrolShipManoeuvreService.php
Due: api-test, api-lint

Customize the error message when it is Access Denied exception.
  Api/config/packages/security.yaml
  Api/src/Game/Listener/AccessDeniedListener.php
  Api/src/Game/Security/AccessDeniedExceptionDto.php
  Api/src/Game/Security/AccessDeniedHandler.php
  Api/src/Game/Security/AuthenticationEntryPoint.php
Due: api-test, api-lint

update composer.json
  Api/composer.json
Due: none

trying to implement custom exception handling in api level?
  Api/config/packages/security.yaml
Due: none

fix: Banned users will see a relevant message when they try to access a ship
  Api/composer.json
  Api/config/packages/security.yaml
  Api/src/Game/Listener/AccessDeniedListener.php
  Api/src/Game/Security/AccessDeniedExceptionDto.php
  Api/src/Game/Security/AccessDeniedHandler.php
  Api/src/Game/Security/AuthenticationEntryPoint.php
Due: api-test, api-lint

fix: vue component correctly stop the touch down event, preventing touch screen users to interact with phaser through vue
  App/src/components/Game/Ship/ShipPanel.vue
Due: build-front, front-lint, front-test

fix: Touching an element of phaser through an overlaping element has been removed (touch screen)
  App/src/components/Game/Ship/ShipPanel.vue
Due: build-front, front-lint, front-test

fix: Expedition reports will correctly logs Rope effect
  Api/src/Equipment/Entity/Drone.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix: Expedition reports will correctly log Rope effect
  Api/src/Equipment/Entity/Drone.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix: Icarus Bay <-> Rear Bravo Turret door will be correctly reported on minimap
  App/src/enums/doors.enum.ts
Due: build-front, front-lint, front-test

fix: Fix some disease descriptions
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/tests/functional/Disease/Normalizer/DiseaseNormalizerCest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/it/project+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: api-lint
