Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: prevent highlight creation for events without author
  Api/src/Player/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix: Add check for author presence before creating highlights
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

feat: Display player highlights on purgatory and theEnd pages
  Api/migrations/Version20250607115313.php
  Api/src/Action/Actions/ExchangeBody.php
  Api/src/Action/Actions/Search.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Event/PlayerHighlightSourceEventInterface.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerHighlightNormalizer.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/src/Player/ValueObject/PlayerHighlightTargetInterface.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/functional/Player/Event/ConversionEventCest.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
  Api/translations/fr/highlight+intl-icu.fr.xlf
  App/src/components/Game/HistoryLogs.vue
  App/src/components/PurgatoryPage.vue
  App/src/components/Ranking/PlayerHistoryPopup.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedPlayer.ts
  App/src/entities/DeadPlayerInfo.ts
  App/src/store/popup.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

chore: Bump version to 0.12.2
  App/package.json
Due: none

refactor: Remove unused translation units for player conversion
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: translations-lint

fix: You won't get a double trauma after killing a player
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/tests/unit/Disease/Listener/PlayerSubscriberTest.php
Due: api-test, api-lint

chore: Turn off free love setting
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

hotfix: remove unnecessary autogenerated Zone.Identifier file
  App/public/phaser/characters.json:Zone.Identifier
Due: none

chore: remove unnecessary autogenerated Zone.Identifier file
  App/public/phaser/characters.json:Zone.Identifier
Due: none

fix: Triumph is displayed based on cycles survived when null
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  App/src/components/User/UserShips.vue
Due: build-front, api-test, api-lint, front-lint, front-test

feat: 'My Account' data displays time survived and glory instead of days survived and cycles survived
  App/src/components/User/UserShips.vue
  App/src/components/Utils/Datatable/Datatable.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: Cycles are computed in backend
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  App/src/components/User/UserShips.vue
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Triumph icon properly displayed - now the field checks if the image is 'triumphIcon'
  App/src/components/Utils/Datatable/Datatable.vue
Due: build-front, front-lint, front-test

fix: Cycle length 180
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

fix: Sorting ships fixed
  Api/config/api_platform/api_filters.yaml
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  App/src/components/User/UserShips.vue
Due: build-front, api-test, api-lint, front-lint, front-test

feat: 'My Account' data displays time survived and glory instead of days survived and cycles survived
  Api/config/api_platform/api_filters.yaml
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  App/src/components/User/UserShips.vue
  App/src/components/Utils/Datatable/Datatable.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Action player highlights are recorded from on result action event
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Player/Event/ActionEventCest.php
Due: api-test, api-lint

test: Adjusting test case to reversed action order
  Api/tests/functional/Action/Actions/SearchActionCest.php
Due: api-test, api-lint

feat: Cat destroyed highlight
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/translations/en/highlight+intl-icu.en.xlf
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Cat destroyed highlight
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/translations/en/highlight+intl-icu.en.xlf
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Research finished highlight
  Api/src/Player/Listener/ProjectSubscriber.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Event/ProjectEvent.php
  Api/tests/functional/Player/Event/ProjectFinishedEventCest.php
  Api/translations/en/highlight+intl-icu.en.xlf
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Fixing an error that is thrown when project is finished by upgrading NERON
  Api/src/Player/Listener/ProjectSubscriber.php
Due: api-test, api-lint

feat: Spread fire highlight includes the place's name.
  Api/src/Action/Event/ActionEvent.php
  Api/src/Place/Entity/Place.php
  Api/tests/functional/Action/Actions/SpreadFireCest.php
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Fixing test case where self action with null target sets place as highlight parameter
  Api/tests/functional/Player/Event/ActionEventCest.php
Due: api-test, api-lint

Parametrize highlight french translation
  Api/src/Game/Enum/LanguageEnum.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Game/Service/TranslationServiceTest.php
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Adding proposed change
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

feat: Spread fire highlight includes the place's name.
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/Enum/LanguageEnum.php
  Api/src/Place/Entity/Place.php
  Api/tests/functional/Action/Actions/SpreadFireCest.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Game/Service/TranslationServiceTest.php
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Single planet sector event should not trigger both configs
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

fix: Ian no longer sees Eden triumph tooltip
  Api/src/Triumph/Enum/TriumphEnum.php
Due: api-test, api-lint

fix: Prevented fight does not give Janice's personal glory
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix: Janice now should gain personal glory from prevented fight
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix: Preventing Janice double triumph gain on fight prevented. Fixed personal glory display on tooltip.
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

added test
  Api/src/Exploration/Service/CreateAPlanetInOrbitServiceInterface.php
  Api/tests/functional/Exploration/Service/CreateAPlanetInOrbitServiceCest.php
Due: api-test, api-lint

pushed the logic into a new CreateAPlanetInOrbitService
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Exploration/Service/CreateAPlanetInOrbitService.php
  Api/src/Exploration/Service/CreateAPlanetInOrbitServiceInterface.php
Due: api-test, api-lint

Applied suggestions
  Api/src/Exploration/Service/CreateAPlanetInOrbitService.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
Due: api-test, api-lint

feat: new admin action create planet
  Api/src/Daedalus/Controller/DaedalusController.php
  App/src/components/Admin/Daedalus/DaedalusListPage.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/daedalus.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: new admin action create planet
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Exploration/Service/CreateAPlanetInOrbitService.php
  Api/src/Exploration/Service/CreateAPlanetInOrbitServiceInterface.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/tests/functional/Exploration/Service/CreateAPlanetInOrbitServiceCest.php
  App/src/components/Admin/Daedalus/DaedalusListPage.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/daedalus.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
