Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: read message children too when marking a channel as read
  Api/src/Communication/Services/MessageService.php
Due: api-test, api-lint

fix report popup
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

fix type of data loaded for messages
  App/src/services/communication.service.ts
Due: build-front, front-lint, front-test

fix post message in favorites
  Api/src/Communication/Controller/ChannelController.php
Due: api-test, api-lint

ci: fix release job
  .gitlab-ci.yml
Due: none

fix: new Crowdin translations
  Api/translations/en/chat+intl-icu.en.xlf
  Api/translations/es/chat+intl-icu.es.xlf
  Api/translations/fr/chat+intl-icu.fr.xlf
  Api/translations/it/chat+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-lint

ci: Fix release job
  .gitlab-ci.yml
Due: none

revert: Disable moderation warnings display
  App/src/App.vue
  App/src/components/GamePage.vue
Due: build-front, front-lint, front-test

fix: fix Uncaught Error: Typed property Mush\RoomLog\Entity\RoomLog::$readers must not be accessed before initialization
  Api/src/RoomLog/Entity/RoomLog.php
Due: api-test, api-lint

fix: fix Uncaught Error: Typed property Mush\RoomLog\Entity\RoomLog::$readers...
  Api/src/RoomLog/Entity/RoomLog.php
Due: api-test, api-lint

fix: Fix double mush shower log
  Api/src/RoomLog/Enum/LogEnum.php
Due: api-test, api-lint

test: add a test
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

fix extra lying_down log
  Api/src/RoomLog/Enum/LogEnum.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
Due: api-test, api-lint

fix broken test
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

fix: Add message action tooltip descriptions
  App/src/i18n/locales/fr.json
Due: none

fix asset url
  App/src/components/Ranking/ShipRanking.vue
Due: build-front, front-lint, front-test

fix broken french
  App/src/i18n/locales/fr.json
Due: none

style: apply linter fixes
  Api/tests/functional/Action/Actions/ShowerActionCest.php
Due: api-test, api-lint

fix: Add white flag image
  App/src/enums/item.ts
Due: build-front, front-lint, front-test

fix(cs-fixer): Removed covers nothing rule
  Api/.php-cs-fixer.dist.php
Due: api-test, api-lint

fix: Prevent loading duplicate messages
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, front-lint, front-test

style: remove comma
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, front-lint, front-test

fix: Fix modifier ghost logs
  Api/src/RoomLog/Enum/LogEnum.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
Due: api-test, api-lint

fix: Add missing message action tooltips
  App/src/components/Ranking/ShipRanking.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

Downpatch to vue-tippy 6.3.1
  App/package.json
  App/yarn.lock
Due: none

fix: Fix tooltip weird behavior
  App/package.json
  App/yarn.lock
Due: none

fix: Fix channel loading crash
  App/src/store/action.module.ts
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

fix broken tests
  Api/tests/unit/Communication/Voter/ChannelVoterTest.php
Due: api-test, api-lint

fix: Favorites channel is not visible if you can't communicate
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Communication/Entity/Channel.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Voter/ChannelVoter.php
Due: api-test, api-lint

test: add some tests
  Api/src/Communication/Voter/ChannelVoter.php
  Api/tests/unit/Communication/Voter/ChannelVoterTest.php
Due: api-test, api-lint

fix: Favorites channel is not visible if you can't communicate
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Communication/Entity/Channel.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Voter/ChannelVoter.php
  Api/tests/unit/Communication/Voter/ChannelVoterTest.php
Due: api-test, api-lint

Bump version to 0.7.17
  App/package.json
Due: none

fix: Favorites messages are now ordered by updated date
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix: do not change update date when putting a thread in favorites
  Api/src/Communication/Services/MessageService.php
Due: api-test, api-lint

refactor: rename a method
  Api/src/Communication/Services/MessageService.php
Due: api-test, api-lint

fix: Favorite messages will be ordered by descending age
  Api/src/Communication/Services/MessageService.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint
