Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

internal: Removing actions done statistic
  Api/src/Player/Entity/PlayerStatistics.php
  Api/tests/functional/Player/Listener/PlayerStatistics/ActionPointsStatisticCest.php
Due: api-test, api-lint

Modifying flirts database
  Api/migrations/Version20250607170826.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix: Changing margin value to legacy code
  App/src/components/Ranking/TheEndPage.vue
Due: build-front, front-lint, front-test

fix: Changed data that is inserted into funFacts to names only
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Daedalus/Service/FunFactsService.php
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedDaedalus.ts
Due: build-front, api-test, api-lint, front-lint, front-test

test: Adding case of free action
  Api/tests/functional/Player/Listener/PlayerStatistics/ActionPointsStatisticCest.php
Due: api-test, api-lint

feat: Displaying fun facts in the-end page
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
Due: api-test, api-lint

test: Changing player to chun
  Api/tests/functional/Player/Listener/PlayerStatistics/ChatStatisticCest.php
Due: api-test, api-lint

test: Adding tests
  Api/tests/functional/Daedalus/Service/GenerateFunFactsCest.php
Due: api-test, api-lint

feat: Adding fun facts
  Api/migrations/Version20250612145334.php
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Daedalus/Enum/FunFactEnum.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Daedalus/Service/FunFactsService.php
  Api/src/Daedalus/Service/FunFactsServiceInterface.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/PlayerStatistics.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
Due: api-test, api-lint

test: Further attempt to fix test
  Api/tests/functional/Player/Listener/PlayerStatistics/ChatStatisticCest.php
Due: api-test, api-lint

feat(triumph): Naturalist
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
Due: api-test, api-lint

fix: Checking for flirts no longer throws errors
  Api/migrations/Version20250607170826.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

chore: Adding translation file
  Api/translations/fr/fun_facts+intl-icu.fr.xlf
Due: translations-lint

feat: Adding a fun fact title to tippy
  App/src/components/Ranking/TheEndPage.vue
Due: build-front, front-lint, front-test

New translations triumph+intl-icu.fr.xlf (French)
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

New translations triumph+intl-icu.fr.xlf (English)
  Api/translations/en/triumph+intl-icu.en.xlf
Due: translations-lint

feat: Generate fun facts and display on TheEnd page
  Api/migrations/Version20250612145334.php
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Daedalus/Enum/FunFactEnum.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Daedalus/Service/FunFactsService.php
  Api/src/Daedalus/Service/FunFactsServiceInterface.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/PlayerStatistics.php
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/tests/functional/Daedalus/Service/GenerateFunFactsCest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
  Api/translations/fr/fun_facts+intl-icu.fr.xlf
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedDaedalus.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

chore(hotfix): Jin Su gains Fast Forward glory only when Daedaluses moves to a planet
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
Due: api-test, api-lint

New translations fun_facts+intl-icu.fr.xlf (French)
  Api/translations/fr/fun_facts+intl-icu.fr.xlf
Due: translations-lint

New translations fun_facts+intl-icu.fr.xlf (Spanish)
  Api/translations/es/fun_facts+intl-icu.es.xlf
Due: translations-lint

New translations fun_facts+intl-icu.fr.xlf (Italian)
  Api/translations/it/fun_facts+intl-icu.fr.it.xlf
Due: translations-lint

New translations fun_facts+intl-icu.fr.xlf (English)
  Api/translations/en/fun_facts+intl-icu.en.xlf
Due: translations-lint

refactor: move Jin Su triumph test from functional to unit tests
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

chore(hotfix): Jin Su gains Fast Forward glory only when Daedalus moves to a planet
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

feat: Title holders are saved in DaedalusInfo
  Api/migrations/Version20250614103607.php
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
Due: api-test, api-lint

feat: add the Cure Cat Action
  Api/src/Action/Actions/CureCat.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Added title holder normalizer
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/translations/fr/the_end+intl-icu.fr.xlf
  App/src/components/Game/CharacterSignature.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedDaedalus.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Normalize titles without assigned players
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  App/src/entities/ClosedDaedalus.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Displaying title holders on TheEnd page
  App/src/components/Ranking/TheEndPage.vue
Due: build-front, front-lint, front-test

feat: Displaying title holders on TheEnd page
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/translations/fr/the_end+intl-icu.fr.xlf
  App/src/components/Game/CharacterSignature.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedDaedalus.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

New translations triumph+intl-icu.fr.xlf (Spanish)
  Api/translations/es/triumph+intl-icu.es.xlf
Due: translations-lint

New translations triumph+intl-icu.fr.xlf (Italian)
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (French)
  Api/translations/fr/the_end+intl-icu.fr.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (Spanish)
  Api/translations/es/the_end+intl-icu.es.xlf
Due: translations-lint
