Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

add database migration
  Api/migrations/Version20240918214639.php
Due: api-test, api-lint

fix: fix tests after rebasing
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/User/Entity/User.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/tests/unit/Place/Normalizer/PlaceNormalizerTest.php
  Api/tests/unit/Player/Normalizer/OtherPlayerNormalizerTest.php
Due: api-test, api-lint

feat: added skin enums
  Api/src/MetaGame/Enum/SkinEnum.php
  App/public/phaser/skin.enum.ts
  App/src/game/tiled/mushTiledMap.ts
  App/src/game/tiled/mushTiledObject.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: added project skin logic in back feat: added equipment skin in front
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/EquipmentConfigDataLoader.php
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/MetaGame/ConfigData/SkinData.php
  Api/src/MetaGame/ConfigData/SkinDataLoader.php
  Api/src/MetaGame/ConfigData/SkinSlotConfigData.php
  Api/src/MetaGame/ConfigData/SkinSlotConfigDataLoader.php
  Api/src/MetaGame/Entity/Skin/Skin.php
  Api/src/MetaGame/Entity/Skin/SkinSlot.php
  Api/src/MetaGame/Entity/Skin/SkinSlotConfig.php
  Api/src/MetaGame/Entity/Skin/SkinableEntityInterface.php
  Api/src/MetaGame/Entity/Skin/SkinableEntityTrait.php
  Api/src/MetaGame/Entity/UnlockCondition.php
  Api/src/MetaGame/Enum/SkinEnum.php
  Api/src/MetaGame/Listener/ProjectEventSubscriber.php
  Api/src/MetaGame/Service/SkinService.php
  Api/src/MetaGame/Service/SkinServiceInterface.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectConfigDataLoader.php
  Api/src/Project/DataFixtures/ProjectConfigFixtures.php
  Api/src/Project/Entity/ProjectConfig.php
  App/public/phaser/skin.enum.ts
  App/src/entities/Equipment.ts
  App/src/entities/Skin.ts
  App/src/game/objects/decorationObject.ts
  App/src/game/tiled/mushTextureProperties.ts
  App/src/game/tiled/mushTiledObject.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Frieda puts her glasses down while sleeping Vampire Jin Su hides in a coffin Built Terrence's wheelchair for future reference
  App/public/phaser/characters.png
Due: none

refactor: project skins are now added using a map in equipmentNormalizer and place normalizer feat: skins can add new elements on the tiled room
  Api/migrations/Version20240918214639.php
  Api/src/Equipment/ConfigData/EquipmentConfigDataLoader.php
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/MetaGame/ConfigData/SkinData.php
  Api/src/MetaGame/ConfigData/SkinDataLoader.php
  Api/src/MetaGame/ConfigData/SkinSlotConfigData.php
  Api/src/MetaGame/ConfigData/SkinSlotConfigDataLoader.php
  Api/src/MetaGame/Entity/Skin/Skin.php
  Api/src/MetaGame/Entity/Skin/SkinSlot.php
  Api/src/MetaGame/Entity/Skin/SkinSlotConfig.php
  Api/src/MetaGame/Entity/Skin/SkinableConfigInterface.php
  Api/src/MetaGame/Entity/Skin/SkinableEntityInterface.php
  Api/src/MetaGame/Entity/Skin/SkinableEntityTrait.php
  Api/src/MetaGame/Enum/SkinEnum.php
  Api/src/MetaGame/Listener/ProjectEventSubscriber.php
  Api/src/MetaGame/Service/SkinService.php
  Api/src/MetaGame/Service/SkinServiceInterface.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Entity/PlaceConfig.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectConfigDataLoader.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  App/public/phaser/skin.enum.ts
  App/public/phaser/tilemaps/nexus.json
  App/public/phaser/tilemaps/rear_alpha_storage.json
  App/public/phaser/tilemaps/rear_bravo_storage.json
  App/src/entities/Room.ts
  App/src/game/tiled/mushTextureProperties.ts
  App/src/game/tiled/mushTiledMap.ts
  App/src/game/tiled/mushTiledObject.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: project skins are now added using a map in equipmentNormalizer and place normalizer feat: skins can add new elements on the tiled room
  App/src/game/tiled/mushTextureProperties.ts
  App/src/game/tiled/mushTiledMap.ts
Due: build-front, front-lint, front-test

fix: Logs extending charge statuses are now hidden.
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

test: Uncommenting tests
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

test: Moving new tests to existing file
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Skill/Service/DeletePlayerSkillServiceCest.php
  Api/tests/functional/Status/Service/ChargeStatusExtensionCest.php
Due: api-test, api-lint

fix: IT points stack when picking a skill.
  Api/tests/functional/Action/Actions/ParticipateCest.php
Due: api-test, api-lint

test: Adjusting fake status service
  Api/src/Status/Service/FakeStatusService.php
Due: api-test, api-lint

fix: Finding charge status config to cut the status shouldn't throw when none found.
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

fix: Removing deprecated modifier name from logic
  Api/src/Player/Listener/PlayerStatisticsSubscriber.php
Due: api-test, api-lint

Fix: Skill points are increase daily properly
  Api/src/Status/Entity/ChargeStatus.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

feat: Adding charge status cut during skill removal
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
  Api/tests/functional/Status/Service/ChargeStatusExtensionCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Skill/Service/AddSkillToPlayerService.php
Due: api-test, api-lint

refactor: Charge status will be updated with same discharge strategies instead of modifier configs
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

fix: icarus cant takeoff to planet
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

Rebasing changes
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

Rebasing changes: handling linting errors
  Api/src/Hunter/Service/HunterService.php
  Api/src/Skill/Handler/OpportunistHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
Due: api-test, api-lint

fix: IT points from IT expert and polymath skill now stack together
  Api/src/Hunter/Service/HunterService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Listener/PlayerStatisticsSubscriber.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Skill/Handler/OpportunistHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Entity/ChargeStatus.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
  Api/tests/functional/Skill/Service/DeletePlayerSkillServiceCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

fix test
  Api/tests/functional/Equipment/Event/ExplorationRationStayFreshCest.php
Due: api-test, api-lint

add food destruction bios option
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/TerminalSectionTitles.ts
Due: build-front, front-lint, front-test

fix tests
  Api/tests/functional/Equipment/CycleHandler/RationCycleHandlerCest.php
  Api/tests/unit/Equipment/CycleHandler/RationCycleHandlerTest.php
Due: api-test, api-lint

fix for self review
  Api/src/Action/DataFixtures/ActionsFixtures.php
Due: api-test, api-lint

add food destruction bios option
  Api/migrations/Version20250716175322.php
  Api/src/Action/Actions/ChangeNeronFoodDestruction.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/Daedalus/Enum/NeronFoodDestructionEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Equipment/Service/DeleteEquipmentService.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Equipment/CycleHandler/RationCycleHandlerCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/unit/Equipment/CycleHandler/RationCycleHandlerTest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

applied suggestions
  Api/src/Action/Actions/ChangeNeronFoodDestruction.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: bios food destruction
  Api/migrations/Version20250716175322.php
  Api/src/Action/Actions/ChangeNeronFoodDestruction.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/Daedalus/Enum/NeronFoodDestructionEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Equipment/Service/DeleteEquipmentService.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Equipment/Event/ExplorationRationStayFreshCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/unit/Equipment/CycleHandler/RationCycleHandlerTest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Prevent concurrent status creations
  Api/migrations/Version20250719211709.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

hotfix: Still display apron prevented soilure log
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Action/Service/ActionSideEffectServiceCest.php
Due: api-test, api-lint

fix: Add unique constraint to PlayerInfo entity
  Api/migrations/Version20250719221337.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

fix Add unique constraint for alert_element entities
  Api/migrations/Version20250719222651.php
  Api/src/Alert/Entity/AlertElement.php
Due: api-test, api-lint

test: fix flaky tests
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/migrations/Version20250719222651.php
Due: api-test, api-lint

fix: Prevent multiple race conditions
  Api/migrations/Version20250719211709.php
  Api/migrations/Version20250719221337.php
  Api/migrations/Version20250719222651.php
  Api/src/Alert/Entity/AlertElement.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Service/ActionSideEffectServiceCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint
