Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Ceasefire end prints a public log when Diplomat moves
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Ceasefire is available only once per player.
  Api/src/Action/Actions/Ceasefire.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Ceasefire prevents agressive in the room.
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Validator/AggressiveActionOnCeasefire.php
  Api/src/Action/Validator/AggressiveActionOnCeasefireValidator.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

fix null access (wtf php ?)
  Api/src/Status/Listener/PlayerSubscriber.php
Due: api-test, api-lint

Ceasefire is not visible if player is not in a room.
  Api/src/Action/Actions/Ceasefire.php
  Api/tests/functional/Action/Actions/CeasefireCest.php
Due: api-test, api-lint

Add Diplomat french description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

fix broken tests
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

fix skill translation
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
Due: api-test, api-lint

fix merge conflict residuals
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
Due: api-test, api-lint

more safety as ceasefire status should always haave target
  Api/src/Status/Entity/Status.php
  Api/src/Status/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix broken tests
  Api/src/Exploration/PlanetSectorEventHandler/NothingToReport.php
  Api/tests/unit/Status/Strategy/CycleDecrementTest.php
Due: api-test, api-lint

refactor: use a modifier to prevent aggressive actions
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Validator/AggressiveActionOnCeasefire.php
  Api/src/Action/Validator/AggressiveActionOnCeasefireValidator.php
  Api/src/Action/Validator/ModifierPreventActionValidator.php
  Api/src/Disease/ConfigData/DiseaseConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

Remove deprecated tests
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
Due: api-test, api-lint

Revert "Remove deprecated tests"
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
Due: api-test, api-lint

fix: Fix available spores and infection reset, and add tests for this
  Api/src/Daedalus/Listener/DaedalusCycleSubscriber.php
  Api/src/Game/Entity/GameVariable.php
  Api/src/Status/ChargeStrategies/DailyDecrementReset.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/ChargeStrategyTypeEnum.php
  Api/tests/functional/Action/Actions/InfectCest.php
  Api/tests/functional/Daedalus/Event/SporesCest.php
  Api/tests/unit/Status/Strategy/DailyDecrementResetTest.php
Due: api-test, api-lint

fix broken tests
  Api/tests/unit/Action/Validator/DailySporesLimitValidatorTest.php
Due: api-test, api-lint

remove deprecated test
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
Due: api-test, api-lint

feat(skill): Infector
  Api/src/Action/Actions/Infect.php
  Api/src/Action/Validator/DailySporesLimitValidator.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/tests/functional/Action/Actions/InfectCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Infector
  Api/src/Action/Actions/Infect.php
  Api/src/Action/Validator/DailySporesLimitValidator.php
  Api/src/Daedalus/Listener/DaedalusCycleSubscriber.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Entity/GameVariable.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ChargeStrategies/DailyDecrementReset.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/ChargeStrategyTypeEnum.php
  Api/tests/functional/Action/Actions/InfectCest.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Daedalus/Event/SporesCest.php
  Api/tests/unit/Action/Validator/DailySporesLimitValidatorTest.php
  Api/tests/unit/Status/Strategy/DailyDecrementResetTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Failed graft creates an hydropot
  Api/src/Action/Actions/Graft.php
  Api/tests/functional/Action/Actions/GraftCest.php
Due: api-test, api-lint

fix: Chitchat revealed actions will be translated correctly
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Service/ActionHistoryRevealLogService.php
  Api/tests/functional/Action/Actions/ChitchatCest.php
Due: api-test, api-lint

fix: You can report fires
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

fix: check for exploration cycle change at HTTP request level
  Api/src/Action/Controller/ActionController.php
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Game/Service/CycleService.php
  Api/src/MetaGame/Controller/DebugController.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

Sneak skill adds a -25% malus on hit and attack actions
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HitActionCest.php
Due: api-test, api-lint

Add Sneak skill to Chun
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Fix Sneak icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Add Sneak french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Add Guard acction which prevents to move freely to other rooms, except for Sneak players.
  Api/src/Action/Actions/Guard.php
  Api/src/Action/Actions/Move.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/Guardian.php
  Api/src/Action/Validator/GuardianValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/GuardCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix typos
  Api/src/Action/Enum/ActionEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
Due: api-test, api-lint

fix typos
  Api/src/Action/Validator/Guardian.php
Due: api-test, api-lint

fix tests
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/functional/Communication/Listener/PrivateChannelAuthorizationCest.php
  Api/tests/functional/Disease/Listener/ActionSubscriberCest.php
  Api/tests/functional/Modifier/Listener/MoveSubscriberCest.php
Due: api-test, api-lint

feat(skill): Sneak
  Api/src/Action/Actions/Guard.php
  Api/src/Action/Actions/Move.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/Guardian.php
  Api/src/Action/Validator/GuardianValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/GuardCest.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/functional/Communication/Listener/PrivateChannelAuthorizationCest.php
  Api/tests/functional/Disease/Listener/ActionSubscriberCest.php
  Api/tests/functional/Modifier/Listener/MoveSubscriberCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: added logistic modifier fixture
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
Due: api-test, api-lint

Apply 3 suggestion(s) to 2 file(s)
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
Due: api-test, api-lint

fix: removed unused files
  Api/src/Skill/SkillHandler/AbstractSymptomHandler.php
  Api/src/Skill/SkillHandler/Logistics.php
Due: api-test, api-lint

feat: added logistic skill
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Event/ModifierEvent.php
  Api/src/Modifier/ModifierHandler/AbstractModifierHandler.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: adapted front to the changes in directModifier and TriggerEventModifier
  Api/config/api_platform/serialization/modifier_config.yaml
  App/src/components/Admin/Config/ModifierConfig/DirectModifierDetailPage.vue
  App/src/components/Admin/Config/ModifierConfig/EventModifierDetailPage.vue
  App/src/entities/Config/ModifierConfig.ts
Due: build-front, front-lint, front-test

Apply 1 suggestion(s) to 1 file(s)
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
