Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check-mr-title
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

front-lint:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat(stat): Venereal Disease
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/DiseaseEventSubscriber.php
  Api/src/Action/Actions/DoTheThing.php
  Api/tests/functional/Achievement/Event/DiseaseEventCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/venerian.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: ship have always at least one alpha mush
  Api/src/Daedalus/Service/DaedalusService.php
  Api/tests/functional/Daedalus/Event/FilledDaedalusCest.php
  Api/tests/functional/Daedalus/Service/DaedalusServiceCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
Due: api-test, api-lint

feat(Chat): Expanding a thread now scroll to its first unread message or the last message
  App/src/components/Game/Communications/DiscussionTab.vue
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/entities/Message.ts
Due: build-front, front-lint, front-test

feat: Rework responsiveness across the app
  Api/src/Player/Normalizer/UserShipsHistoryNormalizer.php
  Api/src/Player/ViewModel/UserShipsHistoryViewModel.php
  Api/tests/api/Player/UserShipsHistoryControllerCest.php
  Api/tests/functional/Player/Query/UserShipsHistoryQueryHandlerCest.php
  Api/tests/unit/Player/Normalizer/UserShipsHistoryNormalizerTest.php
  App/src/assets/scss/_mixins.scss
  App/src/assets/scss/main.scss
  App/src/components/Admin/AdminBanner.vue
  App/src/components/Banner.vue
  App/src/components/CharSelection.vue
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/ComManagerAnnouncementPanel.vue
  App/src/components/Game/CommanderOrderPanel.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/ExpeditionPopUp.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Game/Inventory.vue
  App/src/components/Game/MushGenomeTerminal.vue
  App/src/components/Game/NeronCoreTerminal.vue
  App/src/components/Game/Ship/MiniMap.vue
  App/src/components/Game/Ship/ShipPanel.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/components/Game/TradingTerminal.vue
  App/src/components/HomePage.vue
  App/src/components/Moderation/ModerationBanner.vue
  App/src/components/NewsPage.vue
  App/src/components/Stats/StatsBanner.vue
  App/src/components/User/UserBanner.vue
  App/src/components/Utils/ActionButton.vue
  App/src/components/Utils/Datatable/Datatable.vue
  App/src/features/achievements/UserAchievements.vue
  App/src/features/userProfile/UserShipHistory.vue
  Makefile
Due: build-front, api-test, api-lint, front-lint, front-test

fix(chat): The RTE does not crop on small width device anymore
  App/src/components/Game/Communications/Messages/RichTextEditor/RichTextEditor.vue
Due: build-front, front-lint, front-test

fix: When checking for a new cycle create a lock for each daedalus. Added race condition protection for handling exploration steps
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

fix: should not give oxygen and fuel found in exploration if explorators are all lost or dead
  Api/src/Status/Listener/ExplorationEventSubscriber.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint

fix: Exploration cycle is not updated upon parameter change
  Api/migrations/Version20260117112225.php
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Normalizer/ExplorationNormalizer.php
  Api/src/Game/Service/CycleService.php
  Api/tests/functional/Action/Actions/SabotageExplorationCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationNormalizerCest.php
Due: api-test, api-lint

fix: excl mark in eKanit webfont
  App/src/assets/fonts/eKanit-SemiBold.ttf
  App/src/assets/fonts/eKanit-SemiBoldItalic.ttf
Due: none

feat: per player daily use limit on mycoscan
  Api/src/Action/Actions/CheckSporeLevel.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/CheckSporeLevelActionCest.php
  Api/tests/unit/Action/Actions/CheckSporeLevelActionTest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: installing & removing camera has a 5% chance for clumsiness
  Api/src/Action/ConfigData/ActionData.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
Due: api-test, api-lint

fix: Statuses and titles overlapping on crewmate panel
  App/src/assets/images/status/spore.png
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/components/Utils/Statuses.vue
Due: build-front, front-lint, front-test

feat(game): Multiple hunters of same kind and hp stack in the space battle view
  Api/src/Hunter/Service/HunterNormalizerHelper.php
  Api/src/Hunter/Service/HunterNormalizerHelperInterface.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/tests/functional/Hunter/Service/HunterNormalizerHelperCest.php
  Api/tests/unit/Player/Normalizer/CurrentPlayerNormalizerTest.php
  App/src/components/Game/SpaceBattleView.vue
  App/src/entities/Hunter.ts
  App/src/enums/hunter.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: fixed flaking cest
  Api/tests/functional/Modifier/Listener/RetroactiveDirectModifierCest.php
Due: api-test, api-lint

fix: fixed other flaky cest
  Api/tests/functional/Modifier/Listener/DirectModifierCreationCest.php
  Api/tests/functional/Modifier/Listener/RetroactiveDirectModifierCest.php
Due: api-test, api-lint

fix: Correcting logs timestamps printed for exploration cycle
  Api/src/Exploration/Listener/ExplorationEventSubscriber.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Exploration/Service/ExplorationServiceInterface.php
  Api/src/RoomLog/Listener/ExplorationEventSubscriber.php
  Api/src/RoomLog/Listener/PlanetSectorEventSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Skill/TrackerCest.php
  Api/tests/unit/Communications/Service/CreateOfferedTradeAssetsServiceTest.php
  Api/tests/unit/RoomLog/Listener/CatMeowTest.php
  Api/tests/unit/RoomLog/Service/ActionHistoryRevealLogServiceTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

fix: Add a MaxLengthConstrait to the 'ComManagerAnnounce', 'CommanderOrder' and 'Write' actions
  Api/src/Action/Actions/ComManagerAnnounce.php
  Api/src/Action/Actions/CommanderOrder.php
  Api/src/Action/Actions/Write.php
  Api/src/Action/Validator/MaxLengthConstraint.php
  Api/src/Action/Validator/MaxLengthConstraintValidator.php
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Dto/ReportPlayerDto.php
  Api/tests/unit/Action/Validator/MaxLengthConstraintValidatorTest.php
Due: api-test, api-lint

fix: eden penalty only applies to active diseases
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
Due: api-test, api-lint

feat: spore sucker can be used as mush
  Api/src/Action/Actions/AbstractWashSelfAction.php
  Api/src/Action/Actions/RemoveSpore.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Entity/ActionResult/MushDamage.php
  Api/src/Game/Enum/ActionOutputEnum.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/RemoveSporeActionCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: torture costs 2 AP to execute
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

fix: Trail Reductor wasn't reducing following hunters correctly
  Api/migrations/Version20260130222746.php
  Api/src/Game/ConfigData/DifficultyConfigData.php
  Api/src/Game/ConfigData/DifficultyConfigDto.php
  Api/src/Game/Entity/DifficultyConfig.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Status/Listener/DaedalusEventSubscriber.php
  Api/tests/functional/Daedalus/Event/TravelEventCest.php
Due: api-test, api-lint

fix: Move hunters below UI menu in space battle view
  App/src/components/Game/SpaceBattleView.vue
Due: build-front, front-lint, front-test

chore: removed deprecated fire & "update" icons
  App/src/assets/images/status/fire.png
  App/src/assets/images/status/update.png
  App/src/enums/emotes/status.enum.ts
  App/src/enums/status.item.enum.ts
Due: build-front, front-lint, front-test

chore: restricted Remove Beginner Badge action to admins only
  Api/src/Action/Actions/RemoveBeginner.php
Due: api-test, api-lint

fix: fixed diseasecauseconfigdata to be accurate to BM datasheets
  Api/src/Disease/ConfigData/ConsumableDiseaseConfigData.php
  Api/src/Disease/ConfigData/DiseaseCauseConfigData.php
  Api/src/Disease/Enum/DiseaseCauseEnum.php
Due: api-test, api-lint

feat: button to deliver pending stats and cheaters do not get stats when ship end
  Api/src/Achievement/Controller/AchievementController.php
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Player/Query/UserShipsHistoryQueryHandler.php
  Api/tests/functional/Achievement/Event/FinishDaedalusEventCest.php
  Api/tests/functional/Player/Query/UserShipsHistoryQueryHandlerCest.php
  App/src/components/Admin/Daedalus/DaedalusListPage.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/admin.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore: made findNextRoomTowardsConditionService easier to understand
  Api/src/Place/Service/FindNextRoomTowardsConditionService.php
  Api/tests/unit/Place/Service/FindNextRoomTowardsConditionTest.php
Due: api-test, api-lint

feat: cure (rfs), fungal kitchen, and participate_research now have private logs
  Api/src/Action/ConfigData/ActionData.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/tests/functional/Action/Actions/CureActionCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: neron announcement to spanish ships and to single ship
  Api/src/MetaGame/Controller/AdminController.php
  App/src/components/Admin/Daedalus/NeronAnnouncementPage.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/admin.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: new poll entity
  Api/config/api_platform/resources/poll.yaml
  Api/config/api_platform/serialization/news.yaml
  Api/config/api_platform/serialization/poll.yaml
  Api/migrations/Version20260206224254.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/MetaGame/Controller/PollActionsController.php
  Api/src/MetaGame/Entity/News.php
  Api/src/MetaGame/Entity/Poll/Poll.php
  Api/src/MetaGame/Entity/Poll/PollOption.php
  Api/src/MetaGame/Entity/Poll/Vote.php
  Api/src/MetaGame/Normalizer/NewsNormalizer.php
  Api/src/MetaGame/Normalizer/PollNormalizer.php
  Api/src/MetaGame/Service/PollService.php
  Api/src/User/Repository/InMemoryUserRepository.php
  Api/src/User/Repository/UserRepository.php
  Api/src/User/Repository/UserRepositoryInterface.php
  Api/src/User/Service/UserService.php
  Api/src/User/Service/UserServiceInterface.php
  Api/tests/functional/MetaGame/Normalizer/PollNormalizerCest.php
  App/src/components/Admin/News/NewsWritePage.vue
  App/src/components/NewsItem.vue
  App/src/components/Utils/Poll.vue
  App/src/entities/News.ts
  App/src/entities/Poll.ts
  App/src/entities/PollOption.ts
  App/src/i18n/locales/fr.json
  App/src/services/user.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: get up and lie down are Private visibility when Ninja
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Action/Actions/GetUpCest.php
  Api/tests/functional/Action/Actions/LieDownCest.php
  Api/tests/unit/Action/Actions/GetUpActionTest.php
  Api/tests/unit/Action/Actions/LieDownActionTest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/statistics+intl-icu.en.xlf
  Api/translations/en/triumph+intl-icu.en.xlf
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/statistics+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/triumph+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/chat+intl-icu.fr.xlf
  Api/translations/fr/disease+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/neron+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/statistics+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: api-test, translations-lint

internal: updated contributors
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

chore: cannot Do The Thing with inactive players
  Api/src/Action/Actions/DoTheThing.php
Due: api-test, api-lint

fix: small news are bigger on the homepage
  App/src/components/HomePage.vue
  App/src/components/Utils/Poll.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

internal: admin can send delete request for equipment configs
  Api/config/api_platform/resources/equipment_config.yaml
Due: none

internal: added eternaltwin in the whitelist
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
  Api/translations/it/statistics+intl-icu.fr.it.xlf
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-test, translations-lint

chore(release): 0.24.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
