Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

build-front:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  - bin/console doctrine:fixtures:load -n --env=test
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
  - job: build-front
    optional: true
  script:
  - ./linters.sh

front-lint:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn lint --no-fix

front-test:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn test

fix: Add a limit to number of messages loaded, and add a button to load more.
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Communication/Entity/Dto/CreateMessage.php
  Api/src/Communication/ParamConverter/MessageCreateParamConverter.php
  Api/src/Communication/Repository/MessageRepository.php
  Api/src/Communication/Services/MessageService.php
  Api/src/Communication/Services/MessageServiceInterface.php
  Api/tests/unit/Communication/Service/MessageServiceTest.php
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/entities/Channel.ts
  App/src/i18n/locales/fr.json
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Symptoms are now super dirty
  Api/src/Disease/Event/SymptomEvent.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
  Api/tests/functional/Disease/Event/SymptomEventCest.php
Due: api-test, api-lint

Add starving warning status and update player status service
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Service/PlayerStatusService.php
  Api/tests/functional/Player/Event/PlayerModifierEventCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
  Api/tests/unit/Status/Service/PlayerStatusServiceTest.php
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

test: Add a test to exhibit the bug
  Api/tests/functional/Status/Event/CycleEventCest.php
Due: api-test, api-lint

fix: Starving won't be triggered early
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Service/PlayerStatusService.php
  Api/tests/functional/Player/Event/PlayerModifierEventCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
  Api/tests/unit/Status/Service/PlayerStatusServiceTest.php
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(enum): added Absent Status to clarify the random 0 val
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Entity/Config/ModifierActivationRequirement.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHasStatus.php
Due: api-test, api-lint

test: Add test to exhibit the bug
  Api/tests/functional/Action/Actions/WashInSinkActionCest.php
Due: api-test, api-lint

Add a Daily use charge on the kitchen for Wash in sink action
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
Due: api-test, api-lint

Update action to changes
  Api/src/Action/Actions/WashInSink.php
Due: api-test, api-lint

refactor: Sink charge is not an electric charge anymore
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
Due: api-test, api-lint

fix broken test
  Api/tests/unit/Action/Actions/WashInSinkActionTest.php
Due: api-test, api-lint

fix: Better loading of action game variables. Allow to make tests actions with a 100% dirty rate without them being super dirty.
  Api/src/Action/ConfigData/ActionDataLoader.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Entity/Action.php
Due: api-test, api-lint

fix: Super dirty actions are correctly typed at loading, so apron does not prevent to soil players
  Api/src/Action/Entity/Action.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
Due: api-test, api-lint

refactor: rework action data loading so super dirty actions are correctly tagged
  Api/src/Action/ConfigData/ActionDataLoader.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Entity/Action.php
Due: api-test, api-lint

fix: Wash in Sink is available once per day for all crewmates
  Api/src/Action/Actions/WashInSink.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/functional/Action/Actions/WashInSinkActionCest.php
  Api/tests/unit/Action/Actions/WashInSinkActionTest.php
Due: api-test, api-lint

fix: Super dirty actions correctly make players dirty, even with Stainproof Apron
  Api/src/Action/ConfigData/ActionDataLoader.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Entity/Action.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
Due: api-test, api-lint

build(composer): upgraded composer deps
  Api/composer.json
  Api/composer.lock
Due: none

docs(composer): bump composer.json
  Api/composer.json
  Api/composer.lock
Due: none

build(symfony): update symfony recipes
  Api/symfony.lock
Due: none

build(symfony): updated codeception recipe
  Api/.gitignore
  Api/symfony.lock
  Api/tests/_data/.gitignore
  Api/tests/_support/FunctionalTester.php
  Api/tests/_support/Helper/Functional.php
  Api/tests/_support/Helper/Unit.php
  Api/tests/_support/UnitTester.php
  Api/tests/_support/_generated/.gitignore
  Api/tests/functional/.gitignore
  Api/tests/unit/.gitignore
Due: api-test, api-lint

build(symfony): updated recipe cs-fixer
  Api/.gitignore
  Api/.php-cs-fixer.dist.php
  Api/symfony.lock
Due: api-test, api-lint

fix(codeception): apply migration to codeception config
  Api/symfony.lock
  Api/tests/api.suite.yml
  Api/tests/functional.suite.yml
Due: none

style(cs-fixer): removed usage of aliased functions
  Api/.php-cs-fixer.dist.php
  Api/src/Action/Entity/Action.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Action/Service/ActionService.php
  Api/src/Communication/Normalizer/ChannelNormalizer.php
  Api/src/Modifier/Entity/Config/AbstractModifierConfig.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/tests/unit/Disease/Service/ConsumableDiseaseServiceTest.php
  Api/tests/unit/Disease/Service/DiseaseCauseServiceTest.php
Due: api-test, api-lint

style(psalm): suppressed some psalm warning
  Api/psalm.xml
  Api/src/Communication/Services/ChannelService.php
  Api/src/Exploration/Entity/ExplorationLogCollection.php
  Api/src/Game/Command/FillDaedalusCommand.php
  Api/src/Hunter/Entity/HunterCollection.php
  Api/src/Logger/Handler/MonologDiscordWebHookHandler.php
  Api/src/Player/Entity/Player.php
  Api/src/Status/Event/ChargeStatusEvent.php
  Api/src/Status/Event/StatusEvent.php
Due: api-test, api-lint

fix(tests): added missing test files
  Api/.gitignore
  Api/tests/_support/FunctionalTester.php
  Api/tests/_support/Helper/Functional.php
  Api/tests/_support/Helper/Unit.php
  Api/tests/_support/UnitTester.php
Due: api-test, api-lint

fix: You now have a chance to return dirty from an exploration
  Api/src/Status/Listener/ExplorationEventSubscriber.php
  Api/tests/unit/Status/Listener/ExplorationEventSubscriberTest.php
Due: api-test, api-lint

test(order): fixed normalized ordering
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
  Api/tests/unit/Daedalus/Service/DaedalusServiceTest.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/tests/unit/Game/Service/CycleServiceTest.php
  Api/tests/unit/MetaGame/Service/ModerationServiceTest.php
  Api/tests/unit/Modifier/Service/EventModifierServiceTest.php
  Api/tests/unit/Modifier/Service/ModifierRequirementServiceTest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
  Api/tests/unit/Player/Normalizer/OtherPlayerNormalizerTest.php
Due: api-test, api-lint

style(fix): linted
  Api/.php-cs-fixer.dist.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
Due: api-test, api-lint

test(fix): fixed remaining failling tests
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

fix: We now print a private log telling player they are dirty at the end of the explo
  Api/src/Status/Listener/ExplorationEventSubscriber.php
Due: api-test, api-lint

fix probability of getting dirty after expo from empirical data
  Api/src/Status/Listener/ExplorationEventSubscriber.php
Due: api-test, api-lint

fix: Explorators stucked in the icarus do not get dirty at exploration return
  Api/src/Status/Listener/ExplorationEventSubscriber.php
Due: api-test, api-lint

refactor(perf): use some static closures in exploration entity for performance boost 🚀
  Api/src/Exploration/Entity/Exploration.php
Due: api-test, api-lint

fix broken test
  Api/tests/unit/Status/Listener/ExplorationEventSubscriberTest.php
Due: api-test, api-lint

ci: Update Node versions
  .gitlab-ci.yml
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
