Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: new Crowdin translations
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
Due: api-test, translations-lint

fix: fixed the missing tabulatrix
  Api/src/Place/Normalizer/PlaceNormalizer.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
Due: api-test, translations-lint

fix: log for bond action, log for exploration fight result and migration recreate properly modifiers for the status of daedalus
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/src/MetaGame/Normalizer/ModerationSanctionNormalizer.php
  Api/src/Modifier/Service/ModifierCreateByDaedalusService.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/tests/unit/Exploration/PlanetSectorEventHandler/FightTest.php
Due: api-test, api-lint

chore(release): 0.31.3
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: someone has gender
  Api/src/Game/Enum/CharacterEnum.php
Due: api-test, api-lint

chore(release): 0.31.4
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: typo
  Api/translations/en/weapon_event+intl-icu.en.xlf
Due: api-test, translations-lint

chore(release): 0.31.5
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: rebel bases do not give moral
  Api/src/Communications/Entity/RebelBaseConfig.php
Due: api-test, api-lint

chore(release): 0.31.6
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: new Crowdin translations
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, translations-lint

chore(release): 0.31.7
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: Make the report and sanction texts larger
  App/src/assets/images/ui_icons/player_details.png
  App/src/assets/images/ui_icons/sanction_details.png
  App/src/assets/images/ui_icons/sanction_list.png
  App/src/components/Moderation/ModerationDatatable/ModerationActorCell.vue
  App/src/components/Moderation/ModerationDatatable/ModerationCollapsibleMessage.vue
  App/src/components/Moderation/ModerationDatatable/ModerationRowActions.vue
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
  App/src/utils/moderation/playerStatusLookup.ts
Due: build-front, front-lint, front-test

internal: trying to fix the updates
  Api/src/Game/Command/MigrateCommand.php
  Api/src/MetaGame/Controller/AdminController.php
  App/src/components/Admin/Daedalus/DaedalusListPage.vue
  App/src/services/admin.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore(release): 0.31.8
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix(chat): prevent favoriting non-public messages which allowed unauthorized access
  Api/src/Chat/Controller/ChannelController.php
  Api/src/Chat/Services/MessageService.php
  Api/src/Chat/Voter/MessageVoter.php
  Api/tests/api/Chat/FavoriteMessageCest.php
  Api/tests/unit/Chat/Service/MessageServiceTest.php
  Api/tests/unit/Chat/Voter/MessageVoterTest.php
Due: api-test, api-lint

feat: change fungal kitchen order
  Api/src/Action/Actions/Consume.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Equipment/Listener/ApplyEffectSubscriber.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/ConsumeDrugActionCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add fish and insect meat to the game
  Api/src/Disease/ConfigData/ConsumableDiseaseConfigData.php
  Api/src/Disease/Listener/DaedalusInitSubscriber.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/GameRationEnum.php
  Api/src/Exploration/ConfigData/PlanetSectorConfigData.php
  Api/src/Exploration/ConfigData/PlanetSectorEventConfigData.php
  Api/src/Exploration/Event/PlanetSectorEvent.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  App/src/assets/images/items/alien_fish.png
  App/src/assets/images/items/alien_insect.png
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: All signaled broken door are now displayed on the minimap
  App/src/enums/doors.enum.ts
Due: build-front, front-lint, front-test

feat: ip ban is back + add way for admin to remove IP from the list of banned one
  Api/src/MetaGame/Controller/AdminController.php
  Api/src/User/Repository/BannedIpRepository.php
  Api/src/User/Repository/BannedIpRepositoryInterface.php
  Api/src/User/Voter/UserVoter.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/en/triumph+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, translations-lint

chore(release): 0.32.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

fix: super nova button
  Api/src/Daedalus/Controller/DaedalusController.php
Due: api-test, api-lint

chore(release): 0.32.1
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

internal-24h-block
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

internal: anti spam activation
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Player/Service/PlayerServiceInterface.php
Due: api-test, api-lint

feat: Admin action to hotswap character
  Api/src/Action/Actions/UsurpIdentity.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/tests/functional/Action/Actions/UsurpIdentityCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  App/src/entities/Action.ts
  App/src/enums/action.enum.ts
  App/src/store/action.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

chore(release): 0.33.0
  Api/composer.json
  App/package.json
  CHANGELOG.md
Due: none

feat: very mysterious things you should not know about (please don't share if you look ! It's a secret !)
  Api/src/Action/Actions/AnalyzePlanet.php
  Api/src/Action/Actions/SummerEventActions/TravelToEventPlanet.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Chat/Enum/NeronMessageEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Exploration/DataFixtures/PlanetSectorEventConfigFixtures.php
  Api/src/Exploration/Normalizer/PlanetNormalizer.php
  Api/src/Exploration/Service/PlanetService.php
  Api/src/Exploration/Service/PlanetServiceInterface.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Collection/PlaceCollection.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/src/Status/Listener/DaedalusEventSubscriber.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/SummerEventActions/TravelToEventPlanetCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/neron+intl-icu.fr.xlf
  App/src/assets/images/astro/planet_2048.png
  App/src/assets/images/astro/planet_2048_small.png
  App/src/components/Game/Terminals/CommandTerminal.vue
  App/src/enums/action.enum.ts
  App/src/game/assets/tilemaps/planet_2048.png
  App/src/game/scenes/daedalusScene.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: fix recursion error and colon handling in url regex
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

feat: buff panic
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/ModifierRequirementHandler/MushCrewProportionRequirement.php
  Api/tests/functional/Skill/PanicCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/MushCrewProportionRequirementTest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: mycoalarm research give 3 myco instead of one.
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

feat: super soap need cristalite shard
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

feat: spore sucker no longer tell if you removed a spore. Spore sucker can only be used every 4 cycles. Spore sucker stop you from lying down for 4 cycles.
  Api/src/Action/Actions/RemoveSpore.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/RemoveSporeActionCest.php
  Api/tests/unit/Action/Actions/RemoveSporeActionTest.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  App/src/assets/images/status/injury_spore_sucker.png
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: descriptions for alien fruits now properly give the info that curing disease is % based.
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/translations/fr/misc+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: more secret stuffs
  Api/migrations/Version20260728183447.php
  Api/src/Action/Actions/SummerEventActions/TravelToEventPlanet.php
  Api/src/Exploration/ConfigData/PlanetConfigData.php
  Api/src/Exploration/ConfigData/PlanetConfigDataloader.php
  Api/src/Exploration/ConfigData/PlanetSectorConfigData.php
  Api/src/Exploration/ConfigData/PlanetSectorConfigDataLoader.php
  Api/src/Exploration/DataFixtures/PlanetConfigFixtures.php
  Api/src/Exploration/DataFixtures/PlanetSectorConfigFixtures.php
  Api/src/Exploration/Entity/PlanetConfig.php
  Api/src/Exploration/Entity/PlanetSectorConfig.php
  Api/src/Exploration/Enum/PlanetConfigsEnum.php
  Api/src/Exploration/Listener/SummerEventSubscriber.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Exploration/Service/PlanetService.php
  Api/src/Exploration/Service/PlanetServiceInterface.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/tests/functional/Exploration/Listener/SummerEventSubscriberCest.php
  Api/tests/functional/Exploration/Service/PlanetServiceCest.php
  Api/tests/unit/Exploration/Service/PlanetServiceTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: summer event is added. When the ship is filled, a new special trader appear that offer the tablet. Added back command manual and research manual to the game !
  Api/src/Action/Actions/PlayWithDogFake.php
  Api/src/Action/Actions/RefuseTrade.php
  Api/src/Communications/ConfigData/TradeAssetConfigData.php
  Api/src/Communications/ConfigData/TradeConfigData.php
  Api/src/Communications/ConfigData/TradeOptionConfigData.php
  Api/src/Communications/Enum/TradeEnum.php
  Api/src/Communications/Service/CreateTransportTradeService.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Service/GetHolidayForDaedalusService.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/HolidayEnum.php
  Api/src/Hunter/ConfigData/HunterConfigData.php
  Api/src/Hunter/DataFixtures/HunterConfigFixtures.php
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Entity/HunterCollection.php
  Api/src/Hunter/Enum/HunterEnum.php
  Api/src/Hunter/Listener/DaedalusEventSubscriber.php
  Api/src/Hunter/Listener/HunterCycleSubscriber.php
  Api/src/Hunter/Service/CreateHunterService.php
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/tests/functional/Daedalus/Service/HolidayCest.php
  Api/tests/unit/Communications/Service/CreateOfferedTradeAssetsServiceTest.php
  Api/tests/unit/Equipment/Service/GameEquipmentServiceTest.php
  Api/translations/fr/document+intl-icu.fr.xlf
  Api/translations/fr/hunter+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/trade+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: redesign homepage
  Api/src/MetaGame/Controller/BiographyController.php
  Api/src/MetaGame/Controller/GameCountersController.php
  Api/src/MetaGame/Query/CachedGetGameCountersQueryHandler.php
  Api/src/MetaGame/Query/GetGameCountersQuery.php
  Api/src/MetaGame/Query/GetGameCountersQueryHandler.php
  Api/src/MetaGame/Service/GetCharacterBiographyService.php
  Api/src/MetaGame/ViewModel/GameCountersViewModel.php
  Api/tests/api/MetaGame/BiographyControllerCest.php
  Api/tests/api/MetaGame/GameCountersControllerCest.php
  Api/tests/functional/MetaGame/Query/GetGameCountersQueryCest.php
  App/src/assets/images/homepage/channels.avif
  App/src/assets/images/homepage/participate.avif
  App/src/assets/images/homepage/storage.avif
  App/src/components/HomePage.vue
  App/src/enums/character.ts
  App/src/features/homePage/store.test.ts
  App/src/features/homePage/store.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/services/biography.service.ts
  App/src/services/game_counters.service.ts
  App/src/store/index.ts
  App/src/utils/getImgUrl.ts
Due: build-front, api-test, api-lint, front-lint, front-test
