Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

reimplemented test
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
Due: api-test, api-lint

test: Refactor tests so they have a single point of failure
  Api/src/Place/Entity/Place.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

fix: Players can only take a metal plate to the dome when they are aboard the Daedalus
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
Due: api-test, api-lint

fix: Fix a crash when validating death
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

docs: Update READMEs
  Api/src/Modifier/README.md
Due: none

fix: Fix closed expedition report logs order
  App/src/components/Game/ClosedExpeditionPanel.vue
Due: build-front, front-lint, front-test

fix: Medic and Biologist Mage books cannot spawn for now
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Entity/SkillConfigCollection.php
  Api/src/Skill/Repository/SkillConfigRepository.php
Due: api-test, api-lint

feat(skill): Opportunist
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Handler/OpportunistHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Skill/OpportunistCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

chore: Add valen as a contributor. Change Princess Félicie badge from artist to developer one.
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

internal: Fix installation and related README
  Api/README.md
  Api/src/Action/README.md
  Api/src/Skill/README.md
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

feat(skill): Crazy eye
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/CrazyEyeCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Fix flaky Attack action tests
  Api/tests/functional/Action/Actions/AttackCest.php
Due: api-test, api-lint

fix: You can properly see logs produced by cycle change in a room delogged in previous cycle
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/RoomLog/Service/FakeRoomLogService.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
  Api/tests/functional/Action/Actions/DelogCest.php
Due: api-test, api-lint

fix: Fix multiple hunger log
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/RoomLog/Listener/PlayerVariableSubscriber.php
Due: api-test, api-lint

fix: Status tooltips now adapt to character gender
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/tests/functional/Status/Normalizer/StatusNormalizerCest.php
Due: api-test, api-lint

docs: Clarify licensing terms for source code and assets in README.md
  App/src/assets/LICENSE
  README.md
Due: none

docs: Update README and MR templates
  .gitlab/merge_request_templates/Back.md
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/Front.md
  README.md
Due: none

docs: Add user story template
  .gitlab/issue_templates/user_story.md
Due: none

feat(skill): Biologist
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
Due: api-test, api-lint

fix: Inactivity status is updated every 24h, instead of every day at midnight
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
  Api/tests/unit/Status/Service/MakePlayerInactiveUseCaseTest.php
Due: api-test, api-lint

fix: Players can only take a metal plate to the dome when they are aboard the Daedalus
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

chore: Bump version to 0.9.5
  App/package.json
Due: none

feat(skill): paranoid
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/ParanoidCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Medic
  Api/src/Action/Actions/Surgery.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Validator/MedicalSuppliesOnReach.php
  Api/src/Action/Validator/MedicalSuppliesOnReachValidator.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Disease/Service/PlayerDiseaseServiceInterface.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/HealCest.php
  Api/tests/functional/Action/Actions/SelfHealCest.php
  Api/tests/functional/Action/Actions/SurgeryCest.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Radio Expert
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

docs: Update Skill README
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/README.md
Due: api-test, api-lint

internal: Remove duplicated translations
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/project+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/terminal+intl-icu.fr.it.xlf
Due: translations-lint

docs: Add a better deed fot AGPL3 LICENCE
  README.md
Due: none

Improve a bit the summary
  README.md
Due: none

docs: Add a better summary for AGPL3 LICENCE
  README.md
Due: none

chore: Fix test broken by new Crowdin translations
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
Due: api-test, api-lint

chore: Update CI rules to include .xlf files for API tests in merge request events
  .gitlab-ci.yml
Due: none

chore: Fix test broken by new Crowdin translations
  .gitlab-ci.yml
  Api/tests/functional/Equipment/DroneTasks/ShootHunterTaskCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
