Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

feat: Add French translations for "upload Mush genome" action and its description
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

feat: Add ActionServiceInterface dependency to SearchForMushGenome
  Api/src/Action/Actions/SearchForMushGenome.php
Due: api-test, api-lint

feat: Add MUSH_GENOME_DISK to item enum with associated image path
  App/src/enums/item.ts
Due: build-front, front-lint, front-test

Action success rate is now 1%
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

feat: extract MUSH_GENOME_DISK creation to dedicated method
  Api/src/Action/Actions/SearchForMushGenome.php
Due: api-test, api-lint

feat: Add action configs
  Api/src/Action/Actions/SearchForMushGenome.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
Due: api-test, api-lint

feat(action): Televerse Mush Genome Disk
  Api/src/Action/Actions/SearchForMushGenome.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

internal: Hide incomplete research projects
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

Bump version to 0.10.0
  App/package.json
Due: none

feat(translation): Add French translations for "Participate Research" action
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

feat(action): Add ParticipateResearch action and integrate into ActionData and EquipmentConfigFixtures
  Api/src/Action/Actions/ParticipateResearch.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
Due: api-test, api-lint

feat(action): Add PARTICIPATE_RESEARCH_SUCCESS log constant and integrate into ACTION_LOGS structure
  Api/src/RoomLog/Enum/ActionLogEnum.php
Due: api-test, api-lint

fix: last advanced research feedback
  Api/src/Project/Collection/ProjectCollection.php
  Api/src/Project/Entity/Project.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Project/Entity/Project.php
Due: api-test, api-lint

Add a public log when a research is completed
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ProjectEventSubscriber.php
  Api/tests/functional/RoomLog/Event/ProjectFinishedEventCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: fix visibility of action in front end
  App/src/entities/Project.ts
  App/src/enums/action.enum.ts
Due: build-front, front-lint, front-test

test: remove outdated test cases for participation actions and add new tests for ParticipateResearch action
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

feat(skill): Rebel
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

hotfix: Participate to a research can make dirty + last research advanced visual feedback
  Api/src/Action/Actions/ParticipateResearch.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Project/Collection/ProjectCollection.php
  Api/src/Project/Entity/Project.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ProjectEventSubscriber.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
  Api/tests/functional/RoomLog/Event/ProjectFinishedEventCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  App/src/entities/Project.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(researchs): retro fungal serum
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  App/src/assets/images/items/retro_fungal_serum.jpg
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(skill): Nimble Fingers
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/AnathemaCest.php
  Api/tests/functional/Skill/NimbleFingersCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Polymath
  Api/src/Communication/Repository/ChannelPlayerRepository.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Specification/canCreateChannel.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerVariables.php
  Api/src/Player/Enum/PlayerVariableEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
  Api/tests/functional/Skill/PolymathCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: can't anathema before mush arrive
  Api/src/Action/Actions/Anathema.php
Due: api-test, api-lint

feat(researchs): anabolics
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
  App/src/assets/images/items/anabolic.jpg
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(skill): Intimidating
  Api/src/Action/Actions/Daunt.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Service/AbstractRemoveVariableFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerServiceInterface.php
  Api/src/Player/Service/RemoveHealthFromPlayerService.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerService.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerServiceInterface.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DauntCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): NERON Depression
  Api/src/Action/Actions/NeronDepress.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Daedalus/Enum/NeronCrewLockEnum.php
  Api/src/Daedalus/Listener/StatusEventSubscriber.php
  Api/src/Daedalus/Service/DepressNeronService.php
  Api/src/Daedalus/Service/DepressNeronServiceInterface.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/NeronDepressCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(researchs): supercalculator
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix: Fix report button
  App/src/components/Moderation/ReportPopup.vue
Due: build-front, front-lint, front-test

feat(skill): Nightmarish
  Api/src/Action/Actions/GiveNightmare.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/GiveNightmareCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Added Polyvalent to Noise Reducer and all research
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

feat(skill): Metalworker
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Validator/PlaceName.php
  Api/src/Action/Validator/PlaceNameValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/GenMetalCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Antic Perfume
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(action): cure
  Api/src/Action/Actions/Cure.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/tests/functional/Action/Actions/CureActionCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: researchs requirements
  Api/migrations/Version20241013190634.php
  Api/migrations/Version20241013193113.php
  Api/src/Action/Actions/AbstractParticipateAction.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/ProjectRequirements.php
  Api/src/Action/Validator/ProjectRequirementsValidator.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectConfigDataLoader.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsDataLoader.php
  Api/src/Project/DataFixtures/ProjectConfigFixtures.php
  Api/src/Project/DataFixtures/ProjectRequirementsFixtures.php
  Api/src/Project/Dto/ProjectRequirementConfigDto.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Enum/ProjectRequirementType.php
  Api/src/Project/Repository/ProjectRequirementRepository.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

feat(skill): Lethargy
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/StatusChargeReachesRequirement.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Listener/SkillEventSubscriber.php
  Api/src/Player/Service/ChangePlayerVariableMaximumService.php
  Api/src/Player/Service/ChangePlayerVariableMaximumServiceInterface.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Event/AbstractSkillEvent.php
  Api/src/Skill/Event/SkillCreatedEvent.php
  Api/src/Skill/Event/SkillDeletedEvent.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Entity/StatusHolderInterface.php
  Api/src/Status/Factory/StatusFactory.php
  Api/tests/functional/Skill/LethargyCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/StatusChargeReachesRequirementTest.php
  Api/tests/unit/Skill/Service/AddSkillToPlayerServiceTest.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint
