Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: Fix multiple issues regarding statuses deletion
  Api/src/Alert/Listener/StatusSubscriber.php
  Api/src/Equipment/Listener/RoomSubscriber.php
  Api/src/Place/Listener/DaedalusSubscriber.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Entity/StatusTarget.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Daedalus/Event/DaedalusDeletedEventCest.php
  Api/tests/functional/Daedalus/Event/LastPlayerCloseGameCest.php
Due: api-test, api-lint

style: rename variable
  Api/src/Equipment/Listener/RoomSubscriber.php
Due: api-test, api-lint

fix: Properly delete status entities
  Api/src/Alert/Listener/StatusSubscriber.php
  Api/src/Equipment/Listener/RoomSubscriber.php
  Api/src/Place/Listener/DaedalusSubscriber.php
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

fix: Properly delete all gear at the end of the ship
  Api/src/Equipment/Listener/RoomSubscriber.php
Due: api-test, api-lint

fix tests
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

fix: Prevent handling of repaired equipment when DELETE_DAEDALUS tag is present
  Api/src/Status/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

chore: remove debug logs
  Api/tests/functional/Daedalus/Event/LastPlayerCloseGameCest.php
Due: api-test, api-lint

Revert "fix: Fix multiple issues regarding statuses deletion"
  Api/src/Alert/Listener/StatusSubscriber.php
  Api/src/Equipment/Listener/RoomSubscriber.php
  Api/src/Place/Listener/DaedalusSubscriber.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Entity/StatusTarget.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Daedalus/Event/DaedalusDeletedEventCest.php
  Api/tests/functional/Daedalus/Event/LastPlayerCloseGameCest.php
Due: api-test, api-lint

fix: Properly delete all gear at the end of the ship
  Api/src/Alert/Listener/StatusSubscriber.php
  Api/src/Equipment/Listener/RoomSubscriber.php
  Api/src/Place/Listener/DaedalusSubscriber.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/src/Status/Service/StatusService.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

fix: Force full channel refresh after any action so the number of logs is accurate with the new action log
  Api/src/Action/Actions/Drop.php
  Api/src/Action/Actions/Take.php
  Api/src/Chat/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/MoveCest.php
  App/src/store/action.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Correctly update current channel number of new messages from the store
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

fix: Mark all room logs as read will work properly
  App/src/entities/Message.ts
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

fix: Try to fix mark all room logs as read exception, but cannot reproduce...
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

fix: Mark channel as read also read thread children messages
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

fix: Fix multiple issues regarding channels
  Api/src/Action/Actions/Drop.php
  Api/src/Action/Actions/Take.php
  Api/src/Chat/Listener/ActionSubscriber.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Action/Actions/MoveCest.php
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/entities/Message.ts
  App/src/store/action.module.ts
  App/src/store/communication.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Examine a Support Drone now tells the upgrades of that drone
  Api/src/Equipment/Entity/Drone.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

New translations end_cause+intl-icu.fr.xlf (Spanish)
  Api/translations/es/end_cause+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

fix: Limit drone success rates to 99%
  Api/src/Equipment/Entity/Drone.php
Due: api-test, api-lint

Create popup richtext previsualization
  App/src/assets/images/comms/format.png
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Buttons are now inline (flex-flow)
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Feature can be tested (some bugs)
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

could be tested in beta conditions
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Error on button (inversion B and I)
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Good correction on formatting switch (N, B, I, B+I order)
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Simplifying code, adding keyName in char enum for composed name --- like Jin su or Kuan Ti with underscore needed.
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
  App/src/enums/character.ts
Due: build-front, front-lint, front-test

Correction for composed names (Jin su...)
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Cosmetic change and better logic (MessageInputAdvanced component)
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Ready to test (devs or those who are able to compile emush)
  App/src/assets/images/comms/characters.png
Due: none

Ready to test in more cases
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Replace button by tippy to add tips (and add xx.json properties)
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: build-front, front-lint, front-test

Manage multiples format clic selection to avoid ******word******
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
