Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix(perf): Reduce a lot, if not eliminate, errors at cycle change
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/disease_message+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/misc+intl-icu.en.xlf
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/es/notification+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
  Api/translations/it/notification+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: translations-lint

test: fix broken tests by new translations
  Api/tests/functional/Action/Actions/DepressCest.php
  Api/tests/functional/Hunter/Event/StrateguruWorkedEventCest.php
Due: api-test, api-lint

fix: Do not print critical item drop for Mush players
  Api/src/Action/Actions/Takeoff.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

refactor: Listen to critical item drop event to print the log, instead of doing it in the action
  Api/src/Action/Actions/Takeoff.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/tests/unit/Action/Actions/TakeoffActionTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Create drop critical item log before takeoff log
  Api/src/Action/Actions/Takeoff.php
Due: api-test, api-lint

fix: Do not print critical item drop for Mush players
  Api/src/Action/Actions/Takeoff.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  Api/tests/unit/Action/Actions/TakeoffActionTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

perf: Apply some optimisation tricks described in Symfony description
  Api/config/packages/translation.yaml
  Api/config/services.yaml
Due: none

fix(perf): Apply some optimisation tricks described in Symfony documentation
  Api/config/packages/translation.yaml
  Api/config/services.yaml
Due: none

Use same php.ini settings than productions
  docker/Api/php/php.ini
Due: none

Add preload file optimisation
  Api/config/preload.php
  docker/Api/php/php.ini
Due: api-test, api-lint

Revert "Add preload file optimisation"
  Api/config/preload.php
  docker/Api/php/php.ini
Due: api-test, api-lint

tiny fixes
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Normalizer/SelectableCharacterNormalizer.php
Due: api-test, api-lint

internal: Enable opcache
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Normalizer/SelectableCharacterNormalizer.php
  docker/Api/php/php.ini
Due: api-test, api-lint

fix: new Crowdin translations
  Api/src/MetaGame/Normalizer/ModerationRoomLogNormalizer.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

hotfix: Channel visibility is correctly updated when dropping/taking talkie
  App/src/store/action.module.ts
Due: build-front, front-lint, front-test

fix: Grenade inflicts a different amount of damage for each player in the room
  Api/src/Action/Actions/ThrowGrenade.php
Due: api-test, api-lint

fix: The same action given by two different skills will be display once only (e.g. Put Through Door for a Solid Wrestler)
  Api/src/Action/Entity/Action.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Player/Normalizer/PlayerNormalizerCest.php
Due: api-test, api-lint

fix(perf): Reload channels only when manipulating a talkie
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/Drop.php
  Api/src/Action/Actions/Take.php
  Api/src/Equipment/Entity/GameItem.php
  App/src/entities/Action.ts
  App/src/store/action.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: You now start with 10 morale points
  Api/src/Player/ConfigData/CharacterConfigData.php
Due: api-test, api-lint

fix: Update channel access when moving without a talkie
  Api/src/Action/Actions/Move.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Communication/Listener/ActionSubscriber.php
  Api/src/Communication/Repository/ChannelRepository.php
  Api/tests/functional/Action/Actions/MoveCest.php
Due: api-test, api-lint

fix: FIx a crash while trying to display tabulatrix
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
Due: api-test, api-lint

fix: Fix a crash while trying to display tabulatrix with other items in the shelf
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
Due: api-test, api-lint

feat: created entities for skins
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/MetaGame/Entity/Skin/Skin.php
  Api/src/MetaGame/Entity/Skin/SkinSlot.php
  Api/src/MetaGame/Entity/Skin/SkinSlotConfig.php
  Api/src/MetaGame/Entity/Skin/SkinableConfigInterface.php
  Api/src/MetaGame/Entity/Skin/SkinableEntityInterface.php
  Api/src/MetaGame/Entity/UnlockCondition.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Entity/PlaceConfig.php
  Api/src/Place/Service/PlaceService.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/User/Entity/User.php
Due: api-test, api-lint

feat: normalize skins
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
Due: api-test, api-lint

refactor: phaser asset are now loaded as texture atlas rather than loading multiple tileset. This should improve performances
  Api/src/MetaGame/Entity/Skin/Skin.php
  Api/src/MetaGame/Entity/Skin/SkinSlotConfig.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Service/PlayerService.php
  App/src/game/assets/mush_lab.json
  App/src/game/objects/characterObject.ts
  App/src/game/objects/decorationObject.ts
  App/src/game/objects/doorGroundObject.ts
  App/src/game/objects/doorObject.ts
  App/src/game/objects/equipmentObject.ts
  App/src/game/objects/interactObject.ts
  App/src/game/objects/patrolShipObject.ts
  App/src/game/objects/playableCharacterObject.ts
  App/src/game/objects/shelfObject.ts
  App/src/game/scenes/daedalusScene.ts
  App/src/game/tiled/mushTextureProperties.ts
  App/src/game/tiled/mushTiledMap.ts
  App/src/game/tiled/mushTiledObject.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: fix tests after rebasing
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/User/Entity/User.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/tests/unit/Place/Normalizer/PlaceNormalizerTest.php
  Api/tests/unit/Player/Normalizer/OtherPlayerNormalizerTest.php
Due: api-test, api-lint

add database migration
  Api/migrations/Version20240918214639.php
Due: api-test, api-lint

Add Symfony WebProfilerBundle for enhanced debugging in dev environment with configurations for profiling requests
  Api/composer.json
  Api/composer.lock
  Api/config/bundles.php
  Api/config/packages/web_profiler.yaml
  Api/config/routes/web_profiler.yaml
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/symfony.lock
Due: api-test, api-lint

fix: Fix report popup
  App/src/components/Moderation/ReportPopup.vue
  App/src/services/moderation.service.ts
  App/src/store/moderation.module.ts
Due: build-front, front-lint, front-test

fixed public_broadcast
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

fix: Alien TV can be used
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

fix: You can copy-paste logs more easily
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/components/Game/Communications/Messages/LogsUnit.vue
Due: build-front, front-lint, front-test

profiler
  Api/composer.json
  Api/composer.lock
  Api/config/bundles.php
  Api/config/packages/web_profiler.yaml
  Api/config/routes/web_profiler.yaml
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/symfony.lock
  Makefile
Due: api-test, api-lint

Revert "profiler"
  Api/composer.json
  Api/composer.lock
  Api/config/bundles.php
  Api/config/packages/web_profiler.yaml
  Api/config/routes/web_profiler.yaml
  Api/src/Communication/Entity/Message.php
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/symfony.lock
  Makefile
Due: api-test, api-lint

fix(perf): Optimize messages loading
  Api/src/Communication/Entity/Message.php
Due: api-test, api-lint

perf: Optimize messages loading
  Api/src/Communication/Entity/Message.php
Due: api-test, api-lint

fix: Guardians won't prevent themselves to move freely
  Api/src/Action/Validator/GuardianValidator.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Action/Actions/GuardCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
