Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

Add PlayerInfoVoter preventing moderators to see players from their own ships
  Api/config/api_platform/resources/player_info.yaml
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Communication/Voter/ChannelVoter.php
  Api/src/Communication/Voter/MessageVoter.php
  Api/src/Daedalus/Controller/DaedalusController.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Game/Command/ValidateCrewDeathCommand.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Repository/InMemoryPlayerInfoRepository.php
  Api/src/Player/Repository/PlayerInfoRepository.php
  Api/src/Player/Repository/PlayerInfoRepositoryInterface.php
  Api/src/Player/Voter/PlayerInfoVoter.php
  Api/src/Player/config/services.yaml
  Api/src/RoomLog/Controller/RoomLogController.php
  Api/src/User/Normalizer/UserNormalizer.php
  Api/tests/unit/Communication/Voter/ChannelVoterTest.php
  Api/tests/unit/Communication/Voter/MessageVoterTest.php
  Api/tests/unit/Player/Voter/PlayerInfoVoterTest.php
Due: api-test, api-lint

Actually prevent moderator to see players from their ship from Normalizer instead of a Voter
  Api/config/api_platform/resources/character_config.yaml
  Api/config/api_platform/serialization/character_config.yaml
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/Player/Repository/InMemoryPlayerInfoRepository.php
  Api/src/Player/Voter/PlayerInfoVoter.php
  Api/tests/unit/MetaGame/Normalizer/ModerationPlayerInfoNormalizerTest.php
  App/src/services/moderation.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Moderator can now see all logs / message for the selected filter
  Api/config/api_platform/resources/room_log.yaml
  App/src/services/moderation.service.ts
Due: build-front, front-lint, front-test

fix broken tests
  Api/src/Communication/Voter/ChannelVoter.php
  Api/src/Communication/Voter/MessageVoter.php
  Api/src/Player/Service/PlayerService.php
  Api/tests/unit/Communication/Voter/ChannelVoterTest.php
  Api/tests/unit/Communication/Voter/MessageVoterTest.php
  Api/tests/unit/Player/Service/PlayerServiceTest.php
Due: api-test, api-lint

style; apply linter fixes
  Api/src/Communication/Voter/ChannelVoter.php
  Api/src/Communication/Voter/MessageVoter.php
  Api/src/Player/Repository/InMemoryPlayerInfoRepository.php
  Api/src/Player/Repository/PlayerInfoRepository.php
  Api/src/Player/Repository/PlayerInfoRepositoryInterface.php
  Api/src/Player/Repository/PlayerRepository.php
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

fix broken test
  Api/src/Player/Repository/PlayerRepository.php
Due: api-test, api-lint

internal: moderationSanction now have a author value that is displayed on the sanction list
  Api/config/api_platform/serialization/moderation_sanction.yaml
  Api/migrations/Version20240526160823.php
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Entity/ModerationSanction.php
  Api/src/MetaGame/Enum/ModerationSanctionEnum.php
  Api/src/MetaGame/Service/ModerationService.php
  Api/src/MetaGame/Service/ModerationServiceInterface.php
  App/src/components/Moderation/SanctionListPage.vue
  App/src/entities/ModerationSanction.ts
  App/src/enums/moderation_reason.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore: created a pop up that displays details of a sanction
  Api/config/api_platform/serialization/moderation_sanction.yaml
  Api/src/MetaGame/Entity/ModerationSanction.php
  Api/src/MetaGame/Service/ModerationService.php
  App/src/components/Moderation/SanctionDetailPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/components/Utils/Datatable/Datatable.vue
  App/src/entities/ModerationSanction.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix migration
  Api/migrations/Version20240531205330.php
Due: api-test, api-lint

Add a boolean to tell if player has left a private channel or not, instead of deleting the entity.
  Api/migrations/Version20240601081402.php
  Api/src/Communication/Entity/ChannelPlayer.php
  Api/src/Communication/Repository/ChannelRepository.php
  Api/src/Communication/Services/ChannelService.php
Due: api-test, api-lint

Do not delete empty private channels
  Api/src/Communication/Listener/ChannelSubscriber.php
  Api/tests/functional/Communication/Service/ChannelServiceCest.php
Due: api-test, api-lint

fix broken test
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Communication/Listener/ChannelSubscriber.php
Due: api-test, api-lint

fix box-container css clipping content
  App/src/assets/scss/main.scss
Due: build-front, front-lint, front-test

Add project french translations
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/SkillEnum.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Food Retailer move fruits produced in garden to refectory
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/tests/functional/Equipment/Event/EquipmentCycleEventCest.php
Due: api-test, api-lint

fix broken tests
  Api/tests/unit/Equipment/CycleHandler/PlantCycleHandlerTest.php
Due: api-test, api-lint

chore: moderator can now check the details of a sanction, including the author and the player incriminated
  Api/config/api_platform/serialization/moderation_sanction.yaml
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Entity/ModerationSanction.php
  App/src/components/Moderation/SanctionDetailPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/entities/ModerationSanction.ts
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, front-lint, front-test

feat: added back logic for report submission and processing
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Enum/ModerationSanctionEnum.php
  Api/src/MetaGame/Service/ModerationService.php
  Api/src/MetaGame/Service/ModerationServiceInterface.php
Due: api-test, api-lint

chore: added migrations
  Api/migrations/Version20240602062247.php
Due: api-test, api-lint

Add logs in Garden and refectory telling a fruit has been transported
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Equipment/Event/EquipmentCycleEventCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Fix Chef skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

feat: modified reportPopup to fit implementation
  Api/src/MetaGame/Controller/ModerationController.php
  App/src/App.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/components/Moderation/ModerationBanner.vue
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/components/ReportPopup.vue
  App/src/i18n/locales/fr.json
  App/src/router/index.ts
  App/src/services/moderation.service.ts
  App/src/store/popup.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix broken test
  Api/tests/functional/Equipment/Listener/PlantCycleEventCest.php
Due: api-test, api-lint

fix: fixed cpu modifier config
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

internal: added a test for turret discharge
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/ShootHunterActionCest.php
Due: api-test, api-lint

fix: Shooting with a turret with Defense System CPU priority won't give you extra ammo
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/tests/functional/Action/Actions/ShootHunterActionCest.php
Due: api-test, api-lint

ci: Migrate PHP image to Alpine to reduce its size
  docker/gitlab/Php/Dockerfile
Due: none

ci: Use sh to launch `api-lint` job
  .gitlab-ci.yml
Due: none

ci: Migrate PHP CI image to Alpine
  .gitlab-ci.yml
  docker/gitlab/Php/Dockerfile
Due: none

style: apply linter fixes
  App/src/components/Game/Ship/MiniMap.vue
Due: build-front, front-lint, front-test

Fix Nurse skill and heal points icons
  App/src/enums/skill.enum.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

Add project french translations
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix broken test
  Api/tests/unit/Daedalus/Service/DaedalusWidgetServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/tests/functional/Daedalus/Service/DaedalusWidgetServiceCest.php
Due: api-test, api-lint

Replace Nurse skill by Paranoid skill as project skill bonus
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Sending player initials and color on minimap when project is finished
  Api/src/Daedalus/Service/DaedalusWidgetService.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Daedalus/Service/DaedalusWidgetServiceCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

First functional version of Who's Who minimap
  Api/src/Game/Enum/CharacterEnum.php
  App/src/components/Game/Ship/MiniMap.vue
  App/src/entities/Minimap.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: Use the colors sent by the server instead of hardcoding it in the template.
  App/src/components/Game/Ship/MiniMap.vue
Due: build-front, front-lint, front-test

chore(docker): Enable OPcache in PHP docker image for a performance boost 🚀
  docker/Api/php/Dockerfile
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
