Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: Synchronize NERON depression messages
  Api/src/Daedalus/Listener/StatusEventSubscriber.php
  Api/src/Daedalus/Service/DepressNeronService.php
  Api/src/Daedalus/Service/NeronService.php
  Api/src/Daedalus/Service/NeronServiceInterface.php
  Api/tests/functional/Action/Actions/NeronDepressCest.php
Due: api-test, api-lint

fix: Taking block of post-it ejects focused players
  Api/src/Status/Entity/Status.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/TakeCest.php
Due: api-test, api-lint

fix: Adjust modal box dimensions for better responsiveness
  App/src/components/Utils/PopUp.vue
Due: build-front, front-lint, front-test

fix: You won't be able to talk from your old body after being transferred into
  Api/src/Chat/Controller/ChannelController.php
  Api/src/Chat/Entity/Dto/CreateMessage.php
  Api/src/Chat/ParamConverter/MessageCreateParamConverter.php
  Api/src/Chat/Services/MessageService.php
  Api/tests/functional/Chat/Service/MessageServiceCest.php
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Logout redirects to HomePage
  App/src/components/Hud/UserMenu.vue
  App/src/components/Login.vue
Due: build-front, front-lint, front-test

fix: Fix Examine log for containers
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/SpaceShip.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/RoomLog/Entity/ExaminableInterface.php
  Api/src/RoomLog/Service/RoomLogService.php
  App/src/sw.js
Due: api-test, api-lint

fix: Fix Spread Fire highlight
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

fix: Printing enter / exit logs when player is put through door
  Api/src/Action/Actions/PutThroughDoor.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/RoomLog/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/PutThroughDoorCest.php
Due: api-test, api-lint

fix: Add missing triumph translations
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

fix: Upgraded equipment shown on minimap
  App/src/components/Game/Ship/MiniMap.vue
Due: build-front, front-lint, front-test

fix: Add moderators and Nickboom to eMush team
  App/src/assets/images/project_roles/moderatorPicto.svg
  App/src/components/Thanks.vue
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

fix: My Account button now properly displays user's own ship history
  App/src/components/User/UserShips.vue
  App/src/components/Utils/LocaleChange.vue
Due: build-front, front-lint, front-test

fix: Items with multiple statuses will form a distinct pile
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/functional/Place/Normalizer/PlaceNormalizerCest.php
Due: api-test, api-lint

fix: Adjust button dimensions and text wrapping for better responsiveness
  App/src/components/Hud/UserMenu.vue
Due: build-front, front-lint, front-test

fix: Close private channel invitation menu when channel is closed
  App/src/components/Game/Communications/PrivateTab.vue
Due: build-front, front-lint, front-test

fix: Display Pasiphae in space battle
  Api/src/Equipment/Normalizer/SpaceBattlePatrolShipNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
Due: api-test, api-lint

chore: Remove duplicate translation for Andie's fate
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

fix: fix duplicate translation entries
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

chore: Remove duplicate translations again
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
  Api/translations/en/equipments+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/triumph+intl-icu.en.xlf
  Api/translations/es/equipments+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/highlight+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/triumph+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/equipments+intl-icu.fr.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/equipments+intl-icu.fr.it.xlf
  Api/translations/it/triumph+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-test, api-lint, translations-lint

feat: Add an initial notification if user never opened user menu
  App/src/features/notification/store.test.ts
  App/src/features/notification/store.ts
  App/src/i18n/locales/fr.json
  App/src/store/popup.module.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: none

chore(hotfix): Fix a crash at patrol ship takeoff
  App/src/entities/SpaceBattle.ts
Due: build-front, front-lint, front-test

chore: Bump to 0.13.0
  App/package.json
Due: none

fix: Fix block of post-it access
  Api/src/Status/Listener/ActionSubscriber.php
Due: api-test, api-lint

feat: Disabled players have a unique icon if they learn Sprinter skill
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Skill/Normalizer/SkillConfigNormalizer.php
  Api/src/Skill/Normalizer/SkillNormalizer.php
  Api/tests/functional/Skill/Normalizer/SkillNormalizerCest.php
  App/src/assets/images/skills/human/disabled_sprinter.png
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: Add a toast on new versions to tell user to clear cache
  App/src/i18n/locales/fr.json
  App/src/services/api.service.ts
  App/src/store/plugins/service.worker.listener.ts
  App/src/store/toast.module.ts
  App/src/sw.js
Due: build-front, front-lint, front-test

feat(community suggestion): Add a count of people in a room in the minimap
  App/src/components/Game/Ship/MiniMap.vue
Due: build-front, front-lint, front-test

feat: Human and Mush triumph ranking
  Api/config/api_platform/api_filters.yaml
  Api/config/api_platform/serialization/daedalus_closed.yaml
  Api/migrations/Version20250921125713.php
  Api/src/Daedalus/Entity/ClosedDaedalus.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Daedalus/Service/DaedalusService.php
  App/src/components/Ranking/ShipRanking.vue
  App/src/components/Utils/Datatable/Datatable.vue
  App/src/entities/ClosedDaedalus.ts
  App/src/i18n/locales/en.json
Due: build-front, api-test, api-lint, front-lint, front-test

feat(community suggestion): Logistics ignores highly inactive players
  Api/src/Skill/Handler/LogisticsExpertHandler.php
  Api/tests/functional/Skill/LogisticsExpertCest.php
Due: api-test, api-lint

feat(community suggestion): highly inactive players drop items marked critical
  Api/src/Player/Entity/Player.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
Due: api-test, api-lint

fix: Better protections against concurrent project completion
  Api/migrations/Version20250923195400.php
  Api/src/Action/Actions/AbstractParticipateAction.php
  Api/src/Action/Service/ActionStrategyService.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  Api/tests/unit/Project/UseCase/AdvanceProjectUseCaseTest.php
Due: api-test, api-lint

fix: Cascade delete modifiers please
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Entity/ModifierProvider.php
Due: api-test, api-lint

feat(42nd Floor): Mushovore Bacteria efficiency is now 3-4%
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

feat(42nd Floor): Cameras do not detect their own slime trap
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Action/Actions/SlimeObjectCest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/equipments+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/es/equipments+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/fr/equipments+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: translations-lint

chore(fix): Tiny fixes
  Api/src/RoomLog/Enum/ActionLogEnum.php
  App/src/components/User/UserPage.vue
  App/src/components/User/UserShips.vue
  App/src/features/userProfile/UserShipHistory.vue
  App/src/router/index.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(action): Check Roster
  AGENTS.md
  Api/migrations/Version20250630184550.php
  Api/migrations/Version20250630185333.php
  Api/src/Action/Actions/CheckRoster.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Entity/RoomLogTableContent.php
  Api/src/RoomLog/Normalizer/RoomLogNormalizer.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
  Api/src/Status/Enum/PlayerActivityLevelEnum.php
  Api/tests/functional/Action/Actions/CheckRosterCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/misc+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/entities/RoomLog.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
