Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

Polymath reduces actions success rate by 10%
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/PolymathCest.php
Due: api-test, api-lint

Polymath grants 2 extra private channels
  Api/src/Communication/Repository/ChannelPlayerRepository.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Specification/canCreateChannel.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Communication/Repository/ChannelPlayerRepositoryCest.php
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, api-test, api-lint, front-lint, front-test

Add skill to Terrence
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Add GenMetal acton which generates a random item when player is in a storage
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Validator/PlaceName.php
  Api/src/Action/Validator/PlaceNameValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/GenMetalCest.php
Due: api-test, api-lint

Add french descriptions
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Add skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Fix French translation in actions log for gender-specific character references
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

added en translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
Due: translations-lint

wip doorman
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/Entity/Door.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Action/Actions/ShootCatCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/TakeCat.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/PetCat.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Equipment/Listener/PlayerCatOwnerAwakenEventCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Player/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/RoomLog/Listener/ActionSubscriber.php
Due: api-test, api-lint

refactor: use getMushChannelOrThrow for improved error handling in status application
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Services/ChannelServiceInterface.php
Due: api-test, api-lint

changes following review
  Api/src/Action/Actions/PetCat.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Enum/EquipmentEventReason.php
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
  Api/src/Equipment/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Action/Actions/TakeCatCest.php
  Api/tests/functional/Equipment/Listener/PlayerCatOwnerAwakenEventCest.php
Due: api-test, api-lint

fix Daedalus creation
  Api/src/Communication/Listener/DaedalusInitSubscriber.php
  Api/src/Equipment/Listener/DaedalusInitEventSubscriber.php
  Api/src/Hunter/Listener/DaedalusInitSubscriber.php
Due: api-test, api-lint

fix translation file
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

fix broken tests
  Api/tests/functional/Action/Actions/AttemptActionChangeCest.php
  Api/tests/functional/Action/Actions/AutomaticGetUpCest.php
  Api/tests/functional/Action/Actions/BoringSpeechActionCest.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/ConsumeChargeOnActionCest.php
  Api/tests/functional/Action/Actions/DoTheThingCest.php
  Api/tests/functional/Action/Actions/ExtinguishManuallyActionCest.php
  Api/tests/functional/Action/Actions/MotivationalSpeechActionCest.php
  Api/tests/functional/Action/Actions/MovementPointConversionCest.php
  Api/tests/functional/Action/Actions/PublicBroadcastActionCest.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/tests/functional/Action/Actions/TakeDropActionCest.php
  Api/tests/functional/Action/Actions/TransplantActionCest.php
  Api/tests/functional/Action/Listener/ActionSubscriberCest.php
  Api/tests/functional/Alert/Listener/DuplicateFiresAlertCest.php
  Api/tests/functional/Alert/Listener/EquipmentSubscriberCest.php
  Api/tests/functional/Alert/Listener/StatusSubscriberCest.php
  Api/tests/functional/Communication/Event/NeronMessageCycleCest.php
  Api/tests/functional/Communication/Listener/PrivateChannelAuthorizationCest.php
  Api/tests/functional/Disease/Listener/ActionSubscriberCest.php
  Api/tests/functional/Disease/Listener/EatSpoiledFoodCest.php
  Api/tests/functional/Disease/Listener/PlayerCycleSubscriberCest.php
  Api/tests/functional/Equipment/Event/EquipmentEventCest.php
  Api/tests/functional/Equipment/Listener/PlantCycleEventCest.php
  Api/tests/functional/Modifier/Listener/HideSubscriberCest.php
  Api/tests/functional/Modifier/Listener/MoveSubscriberCest.php
  Api/tests/functional/Place/Event/RoomEventCest.php
  Api/tests/functional/Player/Event/PlayerModifierEventCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
  Api/tests/functional/Status/Event/DayEventCest.php
  Api/tests/functional/Status/Service/StatusServiceCest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
Due: api-test, api-lint

fix more broken tests
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/ConsumeChargeOnActionCest.php
Due: api-test, api-lint

Door sabotage action breaks a random room dor
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Equipment/Entity/Door.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
Due: api-test, api-lint

Add action success log
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

You can sabotage door only once per day
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
Due: api-test, api-lint

Add french description
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/DoorSabotage.php
Due: api-test, api-lint

Nimble fingers makes camera manipulation secret
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/NimbleFingersCest.php
Due: api-test, api-lint

Add skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint
