Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

build-front:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  - bin/console doctrine:fixtures:load -n --env=test
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
  - job: build-front
    optional: true
  script:
  - ./linters.sh

front-lint:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn lint --no-fix

front-test:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn test

fix: Prevent sending a sanction without a reason
  App/src/components/Moderation/ModerationActionPopup.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

Add tooltip description for warning button
  App/src/i18n/locales/fr.json
Due: none

fix: Put user moderation warnings in store for them to be more reactive. Refactor API calls into a service and store.
  Api/config/api_platform/api_filters.yaml
  Api/config/api_platform/resources/moderation_sanction.yaml
  App/src/App.vue
  App/src/components/GamePage.vue
  App/src/components/Moderation/ModerationWarningBanner.vue
  App/src/entities/ModerationSanction.ts
  App/src/services/moderation_sanction.service.ts
  App/src/store/index.ts
  App/src/store/moderation.module.ts
Due: build-front, front-lint, front-test

Add sanction end date in warning banner
  App/src/components/Moderation/ModerationWarningBanner.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix a translation
  App/src/components/Moderation/ModerationActionPopup.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: Lizaro Jungle gives a thick tube when dismounted
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

fix: Fix planet name generation to fit Mush one
  Api/src/Exploration/Service/PlanetService.php
Due: api-test, api-lint

fix broken tests
  Api/tests/unit/Exploration/Service/PlanetServiceTest.php
Due: api-test, api-lint

fix: Fix planet name generation to fit Mush one
  Api/src/Exploration/Service/PlanetService.php
  Api/tests/unit/Exploration/Service/PlanetServiceTest.php
Due: api-test, api-lint

fix deployment
  Api/migrations/Version20240327150942.php
  Api/src/Game/ConfigData/DifficultyConfigDataLoader.php
  Api/src/Game/Entity/DifficultyConfig.php
Due: api-test, api-lint

fix: Armor modifier reduces damage instead of improving it
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix: Armor modifier reduces damage instead of increasing it
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

feat: Add Report buttons
  App/src/App.vue
  App/src/components/ErrorPopupTesting.vue
  App/src/components/Utils/Toast.vue
Due: build-front, front-lint, front-test

Better handling with a container component
  App/src/App.vue
  App/src/assets/images/ready.png
  App/src/components/ErrorPopupTesting.vue
  App/src/components/ToastContainer.vue
  App/src/components/Utils/Toast.vue
Due: build-front, front-lint, front-test

Hide toasts component
  App/src/App.vue
Due: build-front, front-lint, front-test

chore: Create a toast template
  App/src/App.vue
  App/src/assets/images/ready.png
  App/src/components/ToastContainer.vue
  App/src/components/Utils/Toast.vue
Due: build-front, front-lint, front-test

fix: Add missing items icons
  App/src/enums/item.ts
Due: build-front, front-lint, front-test

Migrate tests to Vitest
  .gitlab-ci.yml
  App/package.json
  App/src/utils/formatText.test.ts
  App/vite.config.js
  App/yarn.lock
Due: build-front, front-lint, front-test

Force CommonJS eslint (https://stackoverflow.com/a/77341106)
  App/.eslintrc.cjs
  App/package.json
Due: none

Try to fix base path in production
  App/vite.config.js
Due: none

Fix image links in CSS code
  App/src/App.vue
  App/src/components/CharSelection.vue
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/ClosedExpeditionPage.vue
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/components/Game/Communications/MushTab.vue
  App/src/components/Game/Communications/TipsTab.vue
  App/src/components/Game/ExpeditionPanel.vue
  App/src/components/Game/NeronCoreTerminal.vue
  App/src/components/Game/Ship/ShipPanel.vue
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/Game/Terminals/CommandTerminal.vue
  App/src/components/Game/TradingTerminal.vue
  App/src/components/HomePage.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/components/Thanks.vue
  App/src/components/Utils/PopUp.vue
Due: build-front, front-lint, front-test

Fix some image links
  App/src/enums/alerts.enum.ts
  App/src/enums/character.ts
  App/src/enums/hunter.enum.ts
  App/src/enums/item.ts
  App/src/enums/status.item.enum.ts
  App/src/enums/status.player.enum.ts
  App/src/enums/title.enum.ts
  App/src/i18n/index.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

Working build
  App/index.html
  App/package.json
  App/src/assets/scss/_mixins.scss
  App/src/assets/scss/_placeholders.scss
  App/src/assets/scss/_variables.scss
  App/src/assets/scss/main.scss
  App/src/components/CharSelection.vue
  App/src/components/Game/Communications/ActionButtons.vue
  App/src/components/Game/Communications/Tab.vue
  App/src/components/Game/Inventory.vue
  App/src/components/Game/SpaceBattleView.vue
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/HomePage.vue
  App/src/components/Ranking/ShipRanking.vue
  App/src/components/Thanks.vue
  App/src/components/User/UserShips.vue
  App/src/components/Utils/Statuses.vue
  App/src/components/Utils/TitleImage.vue
  App/src/enums/alerts.enum.ts
  App/src/enums/character.ts
  App/src/enums/hunter.enum.ts
  App/src/enums/item.ts
  App/src/enums/status.item.enum.ts
  App/src/enums/status.player.enum.ts
  App/src/enums/title.enum.ts
  App/src/i18n/index.ts
  App/src/utils/formatText.ts
  App/tsconfig.json
  App/vite.config.js
  App/vue.config.js
  App/yarn.lock
  docker/App/Dockerfile
  docker/docker-compose.dev.yml
Due: build-front, front-lint, front-test

Update dependencies for Vite migration
  App/package.json
  App/yarn.lock
Due: none

Update yarn scripts to use vite
  App/package.json
Due: none

fix: Resolve full URL of assets to avoid problems in production
  App/src/components/Game/CharPanel.vue
  App/src/enums/alerts.enum.ts
  App/src/enums/character.ts
  App/src/enums/hunter.enum.ts
  App/src/enums/item.ts
  App/src/enums/status.item.enum.ts
  App/src/enums/status.player.enum.ts
  App/src/enums/title.enum.ts
  App/src/i18n/index.ts
  App/src/utils/formatText.ts
  App/src/utils/getImgUrl.ts
Due: build-front, front-lint, front-test

Remove Babel config
  App/babel.config.js
Due: none

fix url of some images
  App/src/assets/scss/_mixins.scss
Due: build-front, front-lint, front-test

Update index.html as nothing is auto injected now
  App/public/index.html
Due: none

Update ESlint to es2022
  App/.eslintrc.js
Due: none

fix character images
  App/src/enums/character.ts
Due: build-front, front-lint, front-test

fix broken Eternaltwin yarn
  EternalTwin/.yarn/releases/yarn-3.2.3.cjs
Due: none

Update Gitpod install to use Vite
  docker/docker-compose.gitpod.yml
Due: none

Add Vue config
  App/vite.config.js
Due: none

fix thermosensor link
  App/src/enums/item.ts
Due: build-front, front-lint, front-test

fix: Resolve missing image links
  App/src/components/Admin/AdminConfigBanner.vue
  App/src/components/Banner.vue
  App/src/components/CharSelection.vue
  App/src/components/ErrorPopup.vue
  App/src/components/ExperiencePage.vue
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/ClosedExpeditionPage.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/RoomEventsTab.vue
  App/src/components/Game/Communications/TipsTab.vue
  App/src/components/Game/ExpeditionPanel.vue
  App/src/components/Game/HistoryLogs.vue
  App/src/components/Game/MushGenomeTerminal.vue
  App/src/components/Game/NeronCoreTerminal.vue
  App/src/components/Game/ProjectsPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/components/Game/Terminals/CommandTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/components/Game/TradingTerminal.vue
  App/src/components/HomePage.vue
  App/src/components/MaintenancePage.vue
  App/src/components/NewsItem.vue
  App/src/components/NewsPage.vue
  App/src/components/PurgatoryPage.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/components/Utils/ActionButton.vue
  App/src/components/Utils/ChildcollectionManager.vue
  App/src/components/Utils/GamePopUp.vue
  App/src/components/Utils/Spinner.vue
  App/src/entities/Planet.ts
Due: build-front, front-lint, front-test

Try conditional resolve of img url given environment
  App/src/utils/getImgUrl.ts
Due: build-front, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
