Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

refactor: Skills now provide actions
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Entity/ActionProviderInterface.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/ConfigData/SkillConfigDataLoader.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  hooks/pre-push
Due: api-test, api-lint

feat: Add Leader skill
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/MotivationalSpeechActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix merge conflict residuals
  Api/tests/functional/Action/Actions/MotivationalSpeechActionCest.php
Due: api-test, api-lint

chore: actually run git `pre-push` hook no matter what
  hooks/pre-push
Due: none

feat(skill): Firefighter
  Api/src/Action/Service/ActionService.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ExtinguishCest.php
  Api/tests/functional/Action/Actions/ExtinguishManuallyActionCest.php
Due: api-test, api-lint

feat: Add Motivator skill
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/BoringSpeechActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): IT Expert
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/AnalyzePlanetCest.php
  Api/tests/functional/Action/Actions/HackCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Astrophysicist
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/AnalyzePlanetCest.php
  Api/tests/functional/Action/Actions/ScanCest.php
Due: api-test, api-lint

hotfix: Correctly load alerts and minimap when user starts a new game
  App/src/store/daedalus.module.ts
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

undo dummy commit
  Api/public/index.php
Due: api-test, api-lint

ci: Parallelize PHP tests with 3 jobs
  .gitlab-ci.yml
Due: none

dummy commit to trigger php tests
  Api/public/index.php
Due: api-test, api-lint

test: Add more precise test on room disorder room log, detecting a bug
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Disease/Event/DisorderCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Fix a mismatch between constant name and its value
  Api/src/RoomLog/Enum/LogEnum.php
Due: api-test, api-lint

fix false positive tests
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

fix false positive test again
  Api/tests/functional/Action/Actions/WriteCest.php
Due: api-test, api-lint

refactor: simplify method introduced to check translated room log in tests
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Disease/Event/DisorderCest.php
Due: api-test, api-lint

fix: Fix Disorder cured log (for good)
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/WriteCest.php
  Api/tests/functional/Disease/Event/DisorderCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Leader
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/MotivationalSpeechActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/enums/skill.enum.ts
  hooks/pre-push
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Revert "feat(skill): Firefighter"
  Api/src/Action/Service/ActionService.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ExtinguishCest.php
  Api/tests/functional/Action/Actions/ExtinguishManuallyActionCest.php
Due: api-test, api-lint

feat(skill): Motivator
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/BoringSpeechActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add IT points gain log
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): IT Expert
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/AnalyzePlanetCest.php
  Api/tests/functional/Action/Actions/HackCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: used modifer rather than hardcoded condition for extinguish automatic success
  Api/src/Action/Service/ActionService.php
  Api/src/Game/Entity/GameVariable.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/ModifierHandler/VariableModifier.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

fix: used modifer rather than hardcoded condition for extinguish automatic success
  Api/src/Action/Service/ActionService.php
  Api/src/Modifier/ModifierHandler/VariableModifier.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

docs: Update READMEs
  Api/src/Action/README.md
  Api/src/Project/README.md
  Api/src/Skill/README.md
  README.md
Due: none

fix: small fix and completed test to check that action config values remains unchanged
  Api/src/Modifier/ModifierHandler/VariableModifier.php
  Api/tests/functional/Action/Actions/ExtinguishCest.php
Due: api-test, api-lint

feat(skill): Firefighter
  Api/src/Game/Entity/GameVariable.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/ModifierHandler/VariableModifier.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/ExtinguishCest.php
  Api/tests/functional/Action/Actions/ExtinguishManuallyActionCest.php
Due: api-test, api-lint

internal: moderationSanction now have a author value that is displayed on the sanction list
  Api/config/api_platform/serialization/moderation_sanction.yaml
  Api/migrations/Version20240526160823.php
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Entity/ModerationSanction.php
  Api/src/MetaGame/Enum/ModerationSanctionEnum.php
  Api/src/MetaGame/Service/ModerationService.php
  Api/src/MetaGame/Service/ModerationServiceInterface.php
  App/src/components/Moderation/SanctionListPage.vue
  App/src/entities/ModerationSanction.ts
  App/src/enums/moderation_reason.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: added a route to get report for a given player
  Api/src/MetaGame/Controller/ModerationSanctionController.php
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/services/moderation_sanction.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
