Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

Added [Esc] key management on textArea.
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

comment on what does beforeSelected()
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Ajout style barré sur la classe format-button
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

chore: More precise error messages for git hooks
  hooks/pre-commit
  hooks/pre-push
Due: none

Handle triumph given by Daedalus finished event
  Api/src/Triumph/Event/TriumphChangedEvent.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/DaedalusEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: a single integration test file for all triumph source events
  Api/tests/functional/Triumph/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
Due: api-test, api-lint

docs: Add documentation on how to add a new triumph
  Api/src/Triumph/README.md
Due: none

test: remove stale tests
  Api/src/Player/Service/PlayerService.php
  Api/tests/unit/Player/Service/PlayerServiceTest.php
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
Due: api-test, api-lint

test: Chun still gains Chun lives! when inactive!
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
Due: api-test, api-lint

Do not give cyclic triumph to inactive players. add a test to check dead players do not get triumph
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

Example of giving triumph targeting Daedalus Finished event
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
Due: api-test, api-lint

docs: Improve documentation
  Api/src/Triumph/README.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  Api/migrations/Version20250501184525.php
Due: api-test, api-lint

Earning triumph now prints a custom log
  Api/composer.json
  Api/src/RoomLog/Listener/TriumphEventSubscriber.php
  Api/src/Triumph/DataFixtures/TriumphConfigFixtures.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphChangedEvent.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Triumph cannot go lower than 0
  Api/src/Player/Entity/PlayerVariables.php
Due: api-test, api-lint

feat: Add MUSH_INITIAL_BONUS triumph
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: update triumph scope names so there are more accurate
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphScope.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

feat: Change triumph icon for Mush players
  App/src/components/Game/BannerPanel.vue
Due: build-front, front-lint, front-test

fix: Ensure quantity returned from TriumphConfig logging is always positive
  Api/src/Triumph/Event/TriumphChangedEvent.php
Due: api-test, api-lint

First version of the service computing the triumph when listening to PlayerNewCycle event.
  Api/migrations/Version20250501102308.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Repository/TriumphConfigRepository.php
  Api/src/Triumph/Repository/TriumphConfigRepositoryInterface.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
  Api/tests/unit/Triumph/TestDoubles/Repository/InMemoryTriumphConfigRepository.php
Due: api-test, api-lint

style: apply linter fixes
  Api/tests/unit/Triumph/TestDoubles/Repository/InMemoryTriumphConfigRepository.php
Due: api-test, api-lint

Create new TriumphConfig entity
  Api/config/api_platform/resources/game_config.yaml
  Api/config/api_platform/resources/triumph_config.yaml
  Api/config/api_platform/serialization/triumph_config.yaml
  Api/config/api_platform/validation/triumph_config.yaml
  Api/config/packages/doctrine.yaml
  Api/config/routes/annotations.yaml
  Api/config/services.yaml
  Api/migrations/Version20250501091856.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/ConfigData/TriumphConfigData.php
  Api/src/Game/ConfigData/TriumphConfigDataLoader.php
  Api/src/Game/DataFixtures/TriumphConfigFixtures.php
  Api/src/Game/Entity/Collection/TriumphConfigCollection.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Game/Entity/TriumphConfig.php
  Api/src/Game/Enum/TriumphEnum.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/ConfigData/TriumphConfigDataLoader.php
  Api/src/Triumph/DataFixtures/TriumphConfigFixtures.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Entity/TriumphConfigCollection.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphTeam.php
  Api/src/Triumph/Enum/TriumphVisibility.php
  Api/src/Triumph/Repository/TriumphConfigRepository.php
  Api/src/Triumph/config/services.yaml
Due: api-test, api-lint

refactor: Improve PHPDocs
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphVisibility.php
Due: api-test, api-lint

fix: Target daedalus new cycle event for cyclic triumph gain to avoid giving too much
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Game/Enum/EventPriorityEnum.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/DaedalusCycleEventSubscriber.php
  Api/tests/functional/Triumph/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

feat: Introduce SOL_MUSH_INTRUDER triumph configuration and update related logic for player triumph calculation
  Api/migrations/Version20250501184525.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Dto/TriumphConfigDto.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Triumph/Event/FinishDaedalusEventTest.php
Due: api-test, api-lint

feat: Add new French translations for triumph events and update existing ones
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

style: apply linter fixes
  Api/src/Triumph/DataFixtures/TriumphConfigFixtures.php
  Api/src/Triumph/Entity/TriumphConfigCollection.php
Due: api-test, api-lint

style: apply linter fixes
  Api/tests/unit/Triumph/Event/DaedalusFullEventTest.php
Due: api-test, api-lint

update API platform triumphConfig routes
  Api/config/api_platform/serialization/triumph_config.yaml
  Api/config/api_platform/validation/triumph_config.yaml
Due: none

Error on button (inversion B and I)
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Correction on formating color with italic or bold+italic -- using deep selector but still blue...
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Feature can be tested (some bugs)
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Buttons are now inline (flex-flow)
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Final version
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Create popup richtext previsualization
  App/src/assets/images/comms/format.png
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Ready to test in more cases
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Correction for composed names (Jin su...)
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Cosmetic change and better logic (MessageInputAdvanced component)
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
Due: build-front, front-lint, front-test

Simplifying code, adding keyName in char enum for composed name --- like Jin su or Kuan Ti with underscore needed.
  App/src/components/Game/Communications/Messages/TextFormatDialog.vue
  App/src/enums/character.ts
Due: build-front, front-lint, front-test
