Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

internal: Enable OpenTelemetry Support
  .gitlab-ci.yml
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/composer.json
  Api/composer.lock
  Api/config/packages/http_discovery.yaml
  Api/public/index.php
  Api/src/ApiConfig.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/OpenTelemetry.php
  Api/symfony.lock
  Makefile
  docker/Api/php/Dockerfile
  docker/Api/php/php.ini
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
Due: api-test, api-lint

ci: Ignore `ext-protobuf` PHP extension as it is unused in CI jobs.
  .gitlab-ci.yml
Due: none

chore: Add `ext-opentelemetry` to composer dependencies
  .gitlab-ci.yml
  Api/composer.json
  Api/composer.lock
Due: none

feat: Add Mankind Only Hope skill
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Hydroponic Incubator will correctly spawn when project is finished
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

fix: Patrol ship pilots are correctly moved back to landing bays with Magnetic Net project
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Listener/DaedalusEventSubscriber.php
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
Due: api-test, api-lint

chore: Bump version to 0.8.4
  App/package.json
Due: none

fix: Armour Corridor does not add +1 hull when Plasma shield is finished
  Api/src/Hunter/Service/HunterService.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
Due: api-test, api-lint

patch: Add LeCamaradeSavva to contributors list
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

fix: Fix disorder cured log
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/DiseaseEventSubscriber.php
  Api/tests/functional/Disease/Service/PlayerDiseaseServiceCest.php
Due: api-test, api-lint

fix: Starving players now dies from Starvation death cause
  Api/src/Player/Enum/EndCauseEnum.php
  Api/tests/functional/Status/Event/StarvingStatusCest.php
Due: api-test, api-lint

fix: Only hunter death log is displayed when you kill a hunter with Blaster Gun
  Api/src/Action/Actions/ShootHunter.php
  Api/tests/functional/Action/Actions/ShootHunterPatrolShipCest.php
Due: api-test, api-lint

chore: Remove opentelemetry PHP extension dependency
  .gitlab-ci.yml
  Api/composer.json
  Api/composer.lock
  docker/Api/php/Dockerfile
  docker/Api/php/php.ini
Due: none

fix: Shrinks now heal only one disorder at a time
  Api/src/Disease/Entity/Collection/PlayerDiseaseCollection.php
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Disease/Listener/PlayerCycleSubscriber.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Disease/Service/PlayerDiseaseServiceInterface.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Disease/Event/DisorderCest.php
  Api/tests/functional/Disease/Service/PlayerDiseaseServiceCest.php
Due: api-test, api-lint

chore: Fix duplicate entry in translation file
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/it/project+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
Due: api-test, api-lint, translations-lint

fix PHP linter warnings
  Api/linters.sh
  Api/psalm.xml
  Api/tests/unit/Action/Normalizer/ActionHolderNormalizerTraitTest.php
Due: api-test, api-lint

internal: create crew with Eternaltwin seed user config
  Api/src/Game/Command/CreateCrewEternalTwinAccountCommand.php
  Eternaltwin/eternaltwin.toml
  Makefile
Due: api-test, api-lint

hotfix: Fix a mismatch between Mankind's only Hope modifier config data and fixtures
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

Trying to get the real error message for 500 errors in production
  Api/src/Game/Listener/AccessDeniedListener.php
Due: api-test, api-lint

internal: Git hooks do not require to install PHP anymore
  Makefile
  composer.json
  composer.lock
  hooks/pre-commit
  hooks/pre-push
  install_php_debian.sh
  install_php_macos.sh
Due: none

fix: Project NERON crew lock does not apply to PILGRED
  Api/src/Action/Validator/NeronCrewLockValidator.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/tests/functional/Action/Actions/AccessTerminalActionCest.php
Due: api-test, api-lint

fix: Players floating in space are correctly killed even when Magnetic Net is finished
  Api/src/Player/Listener/DaedalusEventSubscriber.php
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
Due: api-test, api-lint

fix: You cannot trap closet on planets or patrol ships anymore
  Api/src/Action/Actions/TrapCloset.php
  Api/tests/functional/Action/Actions/TrapClosetCest.php
Due: api-test, api-lint

feat: Add a feedback to display last advanced project
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Project/Collection/ProjectCollection.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
  Api/tests/functional/Daedalus/Service/DaedalusWidgetServiceCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
  Api/tests/unit/Equipment/CycleHandler/PlantCycleHandlerTest.php
  Api/tests/unit/Project/Listener/DaedalusCycleEventSubscriberTest.php
  Api/tests/unit/Status/Strategy/PlantStrategyTest.php
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/Game/Terminals/ProjectCard.vue
  App/src/components/Utils/DropList.vue
  App/src/entities/Project.ts
  App/src/enums/footer.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: You can now toggle Plasma Shield activation from BIOS Terminal
  Api/migrations/Version20240713151424.php
  Api/src/Action/Actions/TogglePlasmaShield.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementProjectIsActive.php
  Api/src/Project/Entity/Project.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/TogglePlasmaShieldCest.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Daedalus/Normalizer/DaedalusNormalizerCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/ProjectIsActiveTest.php
  Api/translations/fr/daedalus+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/assets/images/plasma_off.png
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/Thanks.vue
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
  App/src/enums/footer.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add a basic Tips tab
  Api/src/Communication/Controller/TipsChannelController.php
  Api/src/Communication/Entity/Channel.php
  Api/src/Communication/Enum/ChannelScopeEnum.php
  Api/src/Communication/Normalizer/ChannelNormalizer.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Player/UseCase/GetUserCurrentPlayerUseCase.php
  Api/tests/functional/Communication/Normalizer/TipsChannelNormalizerCest.php
  Api/tests/functional/Player/UseCase/GetUserCurrentPlayerUseCaseTest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/chat+intl-icu.fr.xlf
  App/src/assets/images/char/head/lambda_m.png
  App/src/assets/scss/_mixins.scss
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Communications/Tab.vue
  App/src/components/Game/Communications/TipsTab.vue
  App/src/entities/Channel.ts
  App/src/entities/Player.ts
  App/src/enums/character.ts
  App/src/enums/communication.enum.ts
  App/src/enums/status.player.enum.ts
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
  App/src/utils/formatText.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Revert "internal: Enable OpenTelemetry Support"
  .gitlab-ci.yml
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/composer.json
  Api/composer.lock
  Api/config/packages/http_discovery.yaml
  Api/public/index.php
  Api/src/ApiConfig.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/OpenTelemetry.php
  Api/symfony.lock
  Makefile
  docker/Api/php/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
Due: api-test, api-lint

feat: Add Inactivity statuses
  Api/migrations/Version20240718211440.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/src/Status/Listener/PlayerCycleSubscriber.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/MakePlayerActiveService.php
  Api/src/Status/Service/MakePlayerInactiveService.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
  Api/tests/unit/Status/Service/MakePlayerActiveUseCaseTest.php
  Api/tests/unit/Status/Service/MakePlayerInactiveUseCaseTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: You can now toggle Magnetic Net activation from BIOS Terminal
  Api/migrations/Version20240720092758.php
  Api/src/Action/Actions/ToggleMagneticNet.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Player/Listener/DaedalusEventSubscriber.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/_support/AbstractMoveDaedalusActionCest.php
  Api/tests/functional/Action/Actions/ToggleMagneticNetCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Participate in a NERON project prints a log based on NERON mood
  Api/src/Communication/Services/NeronMessageService.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Minimap halo now adapts to Plasma Shield state
  App/src/assets/images/plasma_off.png
  App/src/components/Game/Ship/MiniMap.vue
  App/src/entities/Daedalus.ts
  App/src/utils/toArray.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/tests/functional/Communication/Normalizer/TipsChannelNormalizerCest.php
  Api/translations/en/characters+intl-icu.en.xlf
  Api/translations/en/chat+intl-icu.en.xlf
  Api/translations/en/equipments+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/chat+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/equipments+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/it/characters+intl-icu.fr.it.xlf
  Api/translations/it/chat+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
  Api/translations/it/project+intl-icu.fr.it.xlf
  Api/translations/it/terminal+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

fix: Fix a crash at cycle change due to Jukebox logic
  Api/src/Equipment/CycleHandler/JukeboxCycleHandler.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

feat: Enable skill selection user interface
  App/src/assets/images/skills/basicplus.png
  App/src/assets/images/skills/goldplus.png
  App/src/assets/images/skills/onceplus.png
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/SkillSelectionMenu.vue
  App/src/components/Utils/GamePopUp.vue
  App/src/components/Utils/NewRulesPopUp.vue
  App/src/entities/Character.ts
  App/src/entities/Player.ts
  App/src/store/popup.module.ts
Due: build-front, front-lint, front-test

chore: Bump version to 0.9.0
  App/package.json
Due: none

Downpatch CI image to 8.3.0
  .gitlab-ci.yml
  docker/gitlab/Php/Dockerfile
Due: none

dummy commit to trigger CI
  Api/public/index.php
Due: api-test, api-lint

chore: Update composer install command to use --no-cache flag
  .gitlab-ci.yml
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
