Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

internal: Adding 'fr' translation initial segments
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

Edit triumph+intl-icu.fr.xlf
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Solve MAD Kube
  Api/src/Action/Actions/TryKube.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Action/Actions/TryKubeCest.php
  Api/tests/unit/Action/Actions/TryKubeTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

doc: Triumph scope clarification
  Api/src/Triumph/README.md
Due: none

test: Add tests to adress Félicie's concern
  Api/tests/functional/Action/Actions/TryKubeCest.php
Due: api-test, api-lint

Removing handled TODO comment.
  Api/src/Action/Actions/TryKube.php
Due: api-test, api-lint

test: Added expectation for statusService mock
  Api/tests/unit/Action/Actions/TryKubeTest.php
Due: api-test, api-lint

feat(triumph): Mush return to Sol
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

refactor(triumph): Eliminate instance type checking by enhancing TriumphSourceEventInterface and simplifying ChangeTriumphFromEventService
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

Apply 2 suggestion(s) to 1 file(s)
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

Rebasing
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
Due: api-test, api-lint

feat(triumph): Solve MAD Kube
  Api/src/Action/Actions/TryKube.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Action/Actions/TryKubeCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Action/Actions/TryKubeTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

Fixing translation file
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Mush Victory
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

Add 'fr' translation unit
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

fix: Recover Mush Victory triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

chore(hotfix): Prevent Stephen to earn Ambitous glory if he's not the one gaining the title
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
Due: api-test, api-lint

feat(triumph): Chun died
  Api/src/Modifier/Entity/Config/EventModifierConfig.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

chore(hotfix): Fix missing POINTLESS_PLAYER status in GameConfigData
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

feat: Adding an advanced message editor to comms
  App/src/assets/images/comms/buttonCharacters.png
  App/src/assets/images/comms/buttonErase.png
  App/src/assets/images/comms/buttonFormat.png
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/RichTextEditor/RichTextEditor.vue
  App/src/components/Game/Communications/Messages/RichTextEditor/RichTextEditorButton.vue
  App/src/components/Game/Communications/Messages/RichTextEditor/RichTextEditorCharacterEmotes.vue
  App/src/components/Game/Communications/Messages/RichTextEditor/RichTextEditorConfig.ts
  App/src/enums/character.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
  App/src/utils/formatText.test.ts
  App/src/utils/formatText.ts
  App/src/utils/richTextFormatter.spec.ts
  App/src/utils/richTextFormatter.ts
  App/tsconfig.json
Due: build-front, front-lint, front-test

feat(triumph): Naturalist
  Api/src/Action/Actions/Transplant.php
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Action/Actions/TransplantActionCest.php
  Api/tests/unit/Action/Actions/HideActionTest.php
  Api/tests/unit/Triumph/Event/EquipmentCreatedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Do not give triumph to Mush Ian
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/tests/unit/Triumph/Event/EquipmentCreatedEventTest.php
Due: api-test, api-lint

feat(triumph): Mush Fear
  Api/src/Player/Service/PlayerService.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/functional/Triumph/Listener/OnPlayerDeathCest.php
Due: api-test, api-lint

style: Typo in test naming
  Api/tests/functional/Triumph/Listener/OnPlayerDeathCest.php
Due: api-test, api-lint

internal: 'fr' translation fill
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Mushicide, humanocide
  Api/src/Action/Actions/ShootCat.php
  Api/src/Equipment/Event/EquipmentEvent.php
  Api/src/Equipment/Event/InteractWithEquipmentEvent.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Triumph/Listener/OnPlayerDeathCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Checking glory gain when killing with a weapon.
  Api/tests/functional/Action/Actions/AttackCest.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
Due: api-test, api-lint

feat(triumph): Psychopat
  Api/src/Equipment/Event/InteractWithEquipmentEvent.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Listener/PlayerVariableSubscriber.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
  Api/tests/functional/Triumph/Listener/OnPlayerDeathCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Merging config keys that are supposed to have the same log name
  Api/src/Triumph/Event/TriumphChangedEvent.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Fixing a parameter in a test
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
Due: api-test, api-lint

feat(triumph): Alien Science
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Triumph/Listener/KillPlayerCest.php
  Api/tests/unit/Communications/Service/ConsumeRequiredTradeAssetsServiceTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Revoking changes in test file
  Api/tests/unit/Communications/Service/ConsumeRequiredTradeAssetsServiceTest.php
Due: api-test, api-lint

refactor: Revoking change to event priority
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
Due: api-test, api-lint

feat(triumph): Super Nova
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/functional/Triumph/Listener/KillPlayerCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor(migration): Remove obsolete columns from equipment_mechanic table and update project and triumph_config defaults
  Api/migrations/Version20250530082655.php
Due: api-test, api-lint

feat: Record triumph gains in Closed Player
  Api/migrations/Version20250529123724.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/src/Triumph/ValueObject/TriumphGain.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Player/Entity/ClosedPlayerTriumphGainTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

Send triumph gains to front end
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Triumph/Entity/TriumphConfig.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Event/TriumphChangedEvent.php
  Api/src/Triumph/Normalizer/TriumphGainNormalizer.php
  Api/src/Triumph/ValueObject/TriumphGain.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Player/Entity/ClosedPlayerTriumphGainTest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
  Api/tests/unit/Triumph/Normalizer/TriumphGainNormalizerTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
  App/src/entities/ClosedPlayer.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Fix mush glory emote
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Normalizer/TriumphGainNormalizerTest.php
Due: api-test, api-lint

feat: Mush triumph is red on Purgatory page
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/Communications/TipsTab.vue
  App/src/components/PurgatoryPage.vue
  App/src/entities/Player.ts
  App/src/store/player.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: Update showTriumphGainsDetails method to showPlayerTriumphGainsDetails for better clarity and specificity
  App/src/components/Ranking/TheEndPage.vue
Due: build-front, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
