Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix cest
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Status/Listener/InactivityStatusCest.php
Due: api-test, api-lint

feat: clickable links in messages
  App/src/enums/ui_icon.enum.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

added logging of charge count
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/translations/en/debug+intl-icu.en.xlf
Due: api-test, api-lint, translations-lint

feat: knife rework for new weapon structure
  Api/src/Action/Actions/Attack.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/Config/WeaponEffect/DestroyWeaponEffectConfig.php
  Api/src/Equipment/Entity/Dto/WeaponEffect/DestroyWeaponEffectConfigDto.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Equipment/WEAPON_EVENT_README.md
  Api/src/Equipment/WeaponEffect/DestroyWeaponEffectHandler.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/Entity/AbstractEventConfig.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

internal: added debug logs to Drone's RepairBrokenEquipmentTask
  Api/src/Equipment/DroneTasks/RepairBrokenEquipmentTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Factory/GameEquipmentFactory.php
  Api/tests/unit/Equipment/DroneTasks/DroneTasksHandlerTest.php
  Api/tests/unit/Equipment/DroneTasks/RepairBrokenEquipmentTaskTest.php
  Api/translations/en/debug+intl-icu.en.xlf
  Api/translations/fr/debug+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
Due: translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Equipment/ConfigData/MechanicsData.php
Due: api-test, api-lint

chore: Bump version to 0.10.4
  App/package.json
Due: none

chore: Bump version to 0.10.4 and update front dependencies
  App/package.json
  App/yarn.lock
Due: none

fix: new Crowdin translations
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/modifiers+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  Api/translations/it/modifiers+intl-icu.fr.it.xlf
Due: translations-lint

feat: Player can access Comms center (with placeholder data)
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/assets/images/sensor01.png
  App/src/assets/images/sensor02.png
  App/src/assets/images/sensor03.png
  App/src/assets/images/sensor04.png
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/enums/action.enum.ts
  App/src/enums/terminal.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: update French translation for communication center name
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

feat: Player can access Comms center
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/assets/images/sensor01.png
  App/src/assets/images/sensor02.png
  App/src/assets/images/sensor03.png
  App/src/assets/images/sensor04.png
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/enums/action.enum.ts
  App/src/enums/terminal.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Spanish)
  Api/translations/es/terminal+intl-icu.es.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Italian)
  Api/translations/it/terminal+intl-icu.fr.it.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (English)
  Api/translations/en/terminal+intl-icu.en.xlf
Due: translations-lint

fix: Fix drone always moving on turbo action if first action was moving
  Api/src/Equipment/DroneTasks/AbstractDroneTask.php
  Api/src/Equipment/DroneTasks/DroneTasksHandler.php
Due: api-test, api-lint

fix: Fix an infinite loop if drone does not have any task available
  Api/src/Equipment/DroneTasks/AbstractDroneTask.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
Due: api-test, api-lint

fix: Reset task applicability for turbo drone to allow task re-execution
  Api/src/Equipment/DroneTasks/AbstractDroneTask.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
Due: api-test, api-lint

fix: fix drone always moving on turbo action if first action was moving
  Api/src/Equipment/DroneTasks/AbstractDroneTask.php
  Api/src/Equipment/DroneTasks/DroneTasksHandler.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
Due: api-test, api-lint

fix: Drone do not get charges when they break at cycle change
  Api/src/Equipment/Listener/EquipmentCycleSubscriber.php
  Api/src/Status/Listener/EquipmentCycleSubscriber.php
  Api/tests/functional/Equipment/Event/DroneChargesCest.php
  Api/tests/functional/Equipment/Event/PlantNewDayCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Equipment/Event/DroneChargesCest.php
Due: api-test, api-lint

moved away from randomelements
  Api/translations/en/debug+intl-icu.en.xlf
  Api/translations/fr/debug+intl-icu.fr.xlf
Due: translations-lint

fix drone debug log name
  Api/translations/en/debug+intl-icu.en.xlf
  Api/translations/fr/debug+intl-icu.fr.xlf
Due: translations-lint

New translations debug+intl-icu.fr.xlf (French)
  Api/translations/fr/debug+intl-icu.fr.xlf
Due: translations-lint

New translations debug+intl-icu.fr.xlf (Spanish)
  Api/translations/es/debug+intl-icu.es.xlf
Due: translations-lint

New translations debug+intl-icu.fr.xlf (Italian)
  Api/translations/it/debug+intl-icu.fr.it.xlf
Due: translations-lint

New translations debug+intl-icu.fr.xlf (English)
  Api/translations/en/debug+intl-icu.en.xlf
Due: translations-lint

Implement printed circuit jelly + test
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/Entity/Project.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

Old line since I was coding without the most recent dev push
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

added open with codeanywhere badge to README file
  README.md
Due: none

Remove whitespace
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

Add Nexus Room in Test since it is necessary when checking research
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

Apply MR suggestion (Fix commentary)
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
Due: api-test, api-lint

feat: Implement printed circuit jelly
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/Entity/Project.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
