Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: Add void check roster action to Cryo Module
  Api/src/Action/Actions/CheckRoster.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

fix: Action should only be available if the player is in the room
  Api/src/Action/Actions/CheckRoster.php
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

feat: add activity levels as strings
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Status/Enum/PlayerActivityLevelEnum.php
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

fix: Add default values for the Activity Level statuses config
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Entity/RoomLogTableContent.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerActivityLevelEnum.php
  Api/tests/functional/Action/Actions/CheckRosterCest.php
Due: api-test, api-lint

fix: translate action in english and spanish
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

fix: Fix number of days survived in rankings
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
Due: api-test, api-lint

feat(triumph): Perpetual hydration
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

style: apply linter fixes
  Api/src/Action/ValueObject/ActionHighlight.php
Due: api-test, api-lint

refactor: update PlayerHighlight normalization and translation keys
  Api/src/Player/Normalizer/PlayerHighlightNormalizer.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Player highlights can now be created from any GameEvent implementing PlayerHighlightTargetInterface. Use this refactor to implement "item found" highlight.
  Api/src/Action/Actions/Search.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Event/PlayerHighlightSourceEventInterface.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/src/Player/ValueObject/PlayerHighlightTargetInterface.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Introduce ActionHighlight value object and its normalization logic
  Api/src/Action/Normalizer/ActionHighlightNormalizer.php
  Api/src/Action/ValueObject/ActionHighlight.php
  Api/tests/functional/Action/Normalizer/ActionHighlightNormalizerCest.php
  Api/tests/unit/Action/Normalizer/ActionHighlightNormalizerTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix tests
  Api/tests/functional/Action/Actions/SearchActionCest.php
Due: api-test, api-lint

test: fix tests
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
Due: api-test, api-lint

fix: prevent highlight creation for events without author
  Api/src/Player/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix tests
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/tests/functional/Player/Event/ActionEventCest.php
Due: api-test, api-lint

feat: Register highlights after each action and send them to front end
  Api/migrations/Version20250607115313.php
  Api/src/Action/ValueObject/ActionHighlight.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/tests/functional/Action/Normalizer/ActionHighlightNormalizerCest.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/unit/Action/Normalizer/ActionHighlightNormalizerTest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
Due: api-test, api-lint

feat: Add "Convert player" and "Being converted" highlights
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Player/Event/PlayerHighlightSourceEventInterface.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/tests/functional/Player/Event/ConversionEventCest.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

style: apply linter fixes
  Api/src/Action/Event/ActionEvent.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Status/Event/StatusEvent.php
Due: api-test, api-lint

fix: Add highlights in anti-chronological order
  Api/src/Player/Entity/ClosedPlayer.php
Due: api-test, api-lint

refactor: rename action highlights to player highlights across the codebase
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
  App/src/components/Game/HistoryLogs.vue
  App/src/components/PurgatoryPage.vue
  App/src/entities/ClosedPlayer.ts
  App/src/entities/DeadPlayerInfo.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: rename ActionHighlights to PlayerHighlights
  Api/migrations/Version20250607115313.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerHighlightNormalizer.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
Due: api-test, api-lint

Display highlights on theEnd and purgatory pages
  App/src/components/Game/HistoryLogs.vue
  App/src/components/PurgatoryPage.vue
  App/src/components/Ranking/PlayerHistoryPopup.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedPlayer.ts
  App/src/store/popup.module.ts
Due: build-front, front-lint, front-test

remove search highlights translation
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: translations-lint

Add highlights translations
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

style: apply linter fixes
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

feat: Allow to read highlights on purgatory page
  App/src/components/Game/HistoryLogs.vue
Due: build-front, front-lint, front-test

feat: Welcome to the cause, dearest MUSH
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Triumph/Entity/TriumphConfigCollection.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/assets/images/mush_stamp.png
  App/src/components/Game/PlayerNotificationPopUp.vue
  App/src/components/Utils/PopUp.vue
  App/src/entities/Player.ts
  App/src/store/popup.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Added notification to getting dirty or injured
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/functional/Action/Service/ActionSideEffectServiceCest.php
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/fr/notification+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Fixing error in code
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

Apply 2 suggestion(s) to 1 file(s)
  Api/src/Player/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

feat: Added notification to getting dirty or injured
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/src/Player/Listener/PlayerSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Triumph/Entity/TriumphConfigCollection.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Action/Actions/ExtractSporeCest.php
  Api/tests/functional/Action/Service/ActionSideEffectServiceCest.php
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/assets/images/mush_stamp.png
  App/src/components/Game/PlayerNotificationPopUp.vue
  App/src/components/Utils/PopUp.vue
  App/src/entities/Player.ts
  App/src/store/popup.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Creating a new migration for updated PlayerNotification
  Api/migrations/Version20240827195517.php
  Api/migrations/Version20250626175508.php
Due: api-test, api-lint

refactor: Removing deprecated variable
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix: Notifications stack
  Api/migrations/Version20240827195517.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerNotification.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Repository/PlayerNotificationRepository.php
  Api/src/Player/Service/UpdatePlayerNotificationService.php
  Api/tests/functional/Action/Actions/ComManagerAnnounceCest.php
  Api/tests/functional/Action/Actions/CommanderOrderCest.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  App/src/components/Game/PlayerNotificationPopUp.vue
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Notifications stack
  Api/migrations/Version20250626175508.php
  Api/src/Player/Controller/PlayerController.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerNotification.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Repository/PlayerNotificationRepository.php
  Api/src/Player/Service/UpdatePlayerNotificationService.php
  Api/tests/functional/Action/Actions/ComManagerAnnounceCest.php
  Api/tests/functional/Action/Actions/CommanderOrderCest.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/TakeoffActionCest.php
  App/src/components/Game/PlayerNotificationPopUp.vue
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Fix duplicate alerts with safer object comparison
  Api/src/Alert/Service/AlertService.php
  Api/tests/unit/Alert/Service/AlertServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Alert/Service/AlertService.php
Due: api-test, api-lint

added hiss noise when you failed to cure the cat
  Api/src/RoomLog/Listener/ActionSubscriber.php
Due: api-test, api-lint

feat: add the Cure Cat Action
  Api/src/Action/Actions/CureCat.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
