Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

refactor: Improve player action target validation logic in ActionEvent class
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

Add Antique perfume immunized status and description
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, translations-lint, front-lint, front-test

feat(skill): Antic Perfume
  Api/src/Action/Event/ActionEvent.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ShowerActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Self sacrifice removes one health point when player is at 0 morale point, instead of dying.
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
  Api/tests/functional/Skill/SelfSacrificeCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add skill to Janice
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Add skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

test: Add missing test case for depression deaths
  Api/tests/unit/Player/Service/PlayerServiceTest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
Due: api-test, api-lint

Add skill french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

style: apply linter fixes
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
Due: api-test, api-lint

feat(skill): Self-sacrifice
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Player/Normalizer/SelectableCharacterNormalizerCest.php
  Api/tests/functional/Skill/SelfSacrificeCest.php
  Api/tests/unit/Player/Service/PlayerServiceTest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Add skill to Chao
  Api/src/Action/Actions/Daunt.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Daunt action removes 2 AP
  Api/src/Action/Actions/Daunt.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Player/Service/AbstractRemoveVariableFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerServiceInterface.php
  Api/src/Player/Service/RemoveHealthFromPlayerService.php
  Api/tests/functional/Action/Actions/DauntCest.php
Due: api-test, api-lint

Daunt action remove 4MP from target
  Api/src/Action/Actions/Daunt.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerService.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerServiceInterface.php
  Api/tests/functional/Action/Actions/DauntCest.php
Due: api-test, api-lint

Daunt action prints a public log
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/DauntCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Daunt action is available once per day
  Api/src/Action/Actions/Daunt.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DauntCest.php
Due: api-test, api-lint

Add reach validator to Daunt action for room visibility checks
  Api/src/Action/Actions/Daunt.php
Due: api-test, api-lint

Add french translations
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

feat(skill): Intimidating
  Api/src/Action/Actions/Daunt.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Service/AbstractRemoveVariableFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerServiceInterface.php
  Api/src/Player/Service/RemoveHealthFromPlayerService.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerService.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerServiceInterface.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DauntCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Add skill to Terrence
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
Due: api-test, api-lint

Add GenMetal acton which generates a random item when player is in a storage
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Validator/PlaceName.php
  Api/src/Action/Validator/PlaceNameValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/GenMetalCest.php
Due: api-test, api-lint

Fix French translation in actions log for gender-specific character references
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

Add french descriptions
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

feat(skill): Metalworker
  Api/src/Action/Actions/GenMetal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Validator/PlaceName.php
  Api/src/Action/Validator/PlaceNameValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/GenMetalCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

wip doorman
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/Entity/Door.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
Due: api-test, api-lint

Door sabotage action breaks a random room dor
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Equipment/Entity/Door.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
Due: api-test, api-lint

Add action success log
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

You can sabotage door only once per day
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
Due: api-test, api-lint

fix typo
  Api/src/Action/Actions/DoorSabotage.php
Due: api-test, api-lint

Add french description
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/DoorSabotage.php
Due: api-test, api-lint

feat(skill): Doorman
  Api/src/Action/Actions/DoorSabotage.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/Entity/Door.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/DoorSabotageCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Nimble fingers makes camera manipulation secret
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/NimbleFingersCest.php
Due: api-test, api-lint

fix: Fix Pariah actions and secret / covert action reveal
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/functional/Action/Actions/AnathemaCest.php
Due: api-test, api-lint

refactor: cleaning
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint
