Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check-mr-title
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:php-8.4
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - echo 'memory_limit=256M' > /usr/local/etc/php/conf.d/ci-memory.ini
  - cd Api
  - composer install --ignore-platform-req=ext-protobuf
  ...

front-lint:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:lts-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check-mr-title
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

chore: Re-enable OpenTelemetry to get traces in third party dashboard, waiting for Eternaltwin service
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/public/index.php
  Api/src/Config.php
  Api/src/Game/Listener/KernelEventListener.php
  Api/src/OpenTelemetry.php
  docker/Api/php/Dockerfile
  docker/docker-compose.yml
Due: api-test, api-lint

feat: action tabs
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/Ship/ActionPanel.vue
  App/src/components/Game/Ship/ActionTabs.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/components/Utils/ActionButton.vue
  App/src/entities/Action.ts
  App/src/enums/character.ts
  App/src/features/settings/store.test.ts
  App/src/features/settings/store.ts
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, front-lint, front-test

chore(hotfix): Fix action tabs position for items on shelf
  App/src/components/Game/Ship/ActionPanel.vue
Due: build-front, front-lint, front-test

fix: Add Direct Quiz favicon
  App/src/utils/getEternaltwinGames.ts
Due: build-front, front-lint, front-test

feat: hard boiled no longer blocks damage on expedition fights
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Mass mushification doesn't remove 2 AP to mush players
  Api/src/Action/Actions/MassGgedon.php
  Api/tests/functional/Action/Actions/MassGgedonCest.php
Due: api-test, api-lint

feat: "extinguish manually" buff
  Api/src/Action/Actions/ExtinguishManually.php
  Api/src/Action/ConfigData/ActionData.php
Due: api-test, api-lint

feat: determined buffed to x1.5
  Api/src/Modifier/Service/EventModifierService.php
  Api/tests/functional/Action/Actions/DeterminedCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Epigenetics (mush perk)
  Api/src/Action/Actions/AdaptEpigenetics.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/AdaptEpigeneticsCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/assets/images/skills/mush/beta_mush.png
  App/src/assets/images/ui_icons/beta_icon_small.png
  App/src/enums/skill.enum.ts
  App/src/enums/ui_icon.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Schrodinger wanders about the ship
  Api/src/Equipment/Listener/EquipmentCycleSubscriber.php
  Api/src/Equipment/NPCTasks/Schrodinger/AbstractCatTask.php
  Api/src/Equipment/NPCTasks/Schrodinger/CatTasksHandler.php
  Api/src/Equipment/NPCTasks/Schrodinger/MoveAwayFromPeopleTask.php
  Api/src/Equipment/NPCTasks/Schrodinger/MoveInRandomAdjacentRoomTask.php
  Api/src/Equipment/NPCTasks/Schrodinger/MoveTowardsOwnerTask.php
  Api/src/Equipment/NPCTasks/Schrodinger/catflowchart.png
  Api/src/Game/Service/Random/FakeD100RollService.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Service/FindNextRoomTowardsConditionService.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/tests/functional/Equipment/Event/NPCMovedEventCest.php
  Api/tests/unit/Equipment/NPCTasks/Schrodinger/CatTasksHandlerTest.php
  Api/tests/unit/Equipment/TestDoubles/MoveEquipmentService.php
Due: api-test, api-lint

fix: Daedalus do not gain incident points before Mushs are selected
  Api/src/Game/Service/DifficultyService.php
  Api/tests/unit/Daedalus/Service/DifficultyServiceTest.php
Due: api-test, api-lint

feat: nimble fingers add new actions
  Api/src/Action/Actions/InstallCamera.php
  Api/src/Action/Actions/RemoveCamera.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/GameItem.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/RemoveCameraCest.php
  Api/tests/functional/Skill/NimbleFingersCest.php
  Api/tests/unit/Action/Actions/RemoveCameraTest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: tracker prevents death on lost sector
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/KillLost.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/tests/functional/Exploration/Normalizer/ExplorationLogNormalizerCest.php
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Paranoid gives one fewer camera, but camera actions are free
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
  Api/tests/functional/Action/Actions/RemoveCameraCest.php
  Api/tests/functional/Skill/NimbleFingersCest.php
  Api/tests/functional/Skill/ParanoidCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Ze List can not select players with the Immune status (Chun)
  Api/src/Action/Actions/PrintZeList.php
  Api/tests/functional/Action/Actions/PrintZeListCest.php
Due: api-test, api-lint

feat: schrodinger-caused clumsiness has a different log
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/tests/functional/Action/Service/ActionSideEffectServiceCest.php
  Api/translations/en/end_cause+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/fr/end_cause+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/assets/images/angry_cat.png
  App/src/assets/images/popup_circle.png
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
Due: api-test, api-lint, translations-lint

feat(statistic): Gagged
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/StatusEventSubscriber.php
  Api/src/Action/Actions/Gag.php
  Api/tests/functional/Action/Actions/GagCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/UserAchievements.vue
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add screenshots and enhance PWA (shortcuts, screenshots, colors...)
  App/public/screenshots/screenshot-1.png
  App/public/screenshots/screenshot-2.png
  App/public/screenshots/screenshot-3.png
  App/public/screenshots/screenshot-4.png
  App/src/enums/skill.enum.ts
  App/src/enums/ui_icon.enum.ts
  App/vite.config.js
Due: build-front, front-lint, front-test

fix: Trailer does not need to be clicked to be displayed
  App/src/components/RuffleContent.vue
Due: build-front, front-lint, front-test

fix: Patuline Scrambler do not scramble messages for moderators
  Api/src/Chat/Entity/Message.php
  Api/src/Chat/Listener/ProjectEventSubscriber.php
  Api/src/Chat/Services/MessageModifierService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/tests/functional/Project/PatulineScramblerCest.php
Due: api-test, api-lint

chore: Log all actions for statistics purposes
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

fix: Better protections against duplicate alert reports
  .gitignore
  Api/migrations/Version20250929200039.php
  Api/src/Alert/Entity/Alert.php
  Api/src/Alert/Entity/AlertElement.php
  Api/src/Alert/Service/AlertService.php
Due: api-test, api-lint

feat(statistic): Cat cuddled
  AGENTS.md
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/PetCatCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/cat.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Bypass give a new action instead to access the bios and this action is secret
  Api/src/Action/Actions/AccessTerminal.php
  Api/src/Action/Actions/BypassTerminal.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/HasNeededTitleForTerminalValidator.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/AccessTerminalActionCest.php
  Api/tests/functional/Action/Actions/BypassTerminalActionCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

chore: planet sector event data is now DTO based
  Api/migrations/Version20251025192505.php
  Api/src/Exploration/ConfigData/PlanetSectorConfigData.php
  Api/src/Exploration/ConfigData/PlanetSectorEventConfigData.php
  Api/src/Exploration/ConfigData/PlanetSectorEventConfigDataLoader.php
  Api/src/Exploration/ConfigData/PlanetSectorEventConfigDto.php
  Api/src/Exploration/DataFixtures/PlanetSectorConfigFixtures.php
  Api/src/Exploration/DataFixtures/PlanetSectorEventConfigFixtures.php
  Api/src/Exploration/Entity/PlanetSectorEventConfig.php
  Api/src/Exploration/Enum/PlanetSectorEventTagEnum.php
  Api/src/Exploration/Event/PlanetSectorEvent.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/DataFixtures/EventConfigFixtures.php
Due: api-test, api-lint

chore: Add XDebug support for VSCode
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  Api/README.md
  Api/docs/vscode_launch.png
  docker/Api/php/Dockerfile
Due: none

feat(statistic): Succeeded inspection
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/search.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

docs: Add a "Remove 'CREATE SCHEMA public' SQL command line from migration" item to checklist
  .gitlab/merge_request_templates/Default.md
Due: none

feat(statistic): Coffee taken
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/coffeeplus.png
  App/src/features/achievements/UserAchievements.vue
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(statistic): Door Repaired
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/StatusEventSubscriber.php
  Api/src/Action/Actions/Repair.php
  Api/src/Status/Event/StatusEvent.php
  Api/tests/functional/Action/Actions/RepairActionCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(statistic): Give Mission
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ActionEventSubscriber.php
  Api/tests/functional/Action/Actions/CommanderOrderCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/notebook.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(stat): Explo feed
  Api/src/Achievement/Command/IncrementUserStatisticCommand.php
  Api/src/Achievement/Command/IncrementUserStatisticCommandHandler.php
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Entity/Statistic.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ExplorationEventSubscriber.php
  Api/tests/functional/Achievement/ExplorationEventSubscriberCest.php
  Api/tests/functional/Action/Actions/CheckRosterCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/explo_feed.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(statistic): Explorer
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ExplorationEventSubscriber.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/explorer.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(stat): Artefact specialist
  Api/src/Achievement/Command/UpdateUserStatisticIfSuperiorCommand.php
  Api/src/Achievement/Command/UpdateUserStatisticIfSuperiorCommandHandler.php
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Entity/Statistic.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/ExplorationEventSubscriber.php
  Api/src/Achievement/Repository/StatisticRepository.php
  Api/src/Achievement/Repository/StatisticRepositoryInterface.php
  Api/src/Equipment/Query/GetDiscoveredArtefactsCountQuery.php
  Api/src/Equipment/Query/GetDiscoveredArtefactsCountQueryHandler.php
  Api/tests/functional/Achievement/Command/UpdateUserStatisticIfSuperiorCommandHandlerCest.php
  Api/tests/functional/Achievement/Repository/StatisticRepositoryCest.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
  Api/tests/unit/Achievement/Command/UpdateUserStatisticIfSuperiorCommandHandlerTest.php
  Api/tests/unit/Achievement/TestDoubles/InMemoryStatisticRepository.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/artefact_specialist.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(stat): Sol
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/assets/images/achievements/sol.png
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

chore(hotfix): Fix titles display and triumph icon in user ships history
  Api/src/Player/Normalizer/UserShipsHistoryNormalizer.php
  Api/src/Player/Query/UserShipsHistoryQueryHandler.php
  Api/src/Player/ViewModel/UserShipsHistoryViewModel.php
  Api/tests/api/Player/UserShipsHistoryControllerCest.php
  Api/tests/functional/Player/Query/UserShipsHistoryQueryHandlerCest.php
  Api/tests/unit/Player/Normalizer/UserShipsHistoryNormalizerTest.php
Due: api-test, api-lint

feat(stat): New Plant
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Listener/EquipmentEventSubscriber.php
  Api/src/Action/Actions/Graft.php
  Api/tests/functional/Action/Actions/GraftCest.php
  Api/tests/functional/Action/Actions/TransplantActionCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

chore(hotfix): Changing user profile displays their achievements instead of previous profile's one
  Api/src/Achievement/Query/GetUserAchievementsQuery.php
  Api/src/Achievement/Query/GetUserAchievementsQueryHandler.php
  Api/src/Achievement/Query/GetUserStatisticsQuery.php
  Api/src/Achievement/Query/GetUserStatisticsQueryHandler.php
  Api/tests/api/Achievement/AchievementControllerCest.php
  App/src/components/User/UserPage.vue
  App/src/features/achievements/UserAchievements.vue
  App/src/features/achievements/gateway.ts
Due: build-front, api-test, api-lint, front-lint, front-test

internal: add a message at the end of fill-daedalus to know who is mush or not
  Api/src/Game/Command/FillDaedalusCommand.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
Due: api-test, api-lint

feat(stat): Number of cycles played as Andie
  Api/migrations/Version20251003100827.php
  Api/src/Achievement/ConfigData/AchievementConfigData.php
  Api/src/Achievement/ConfigData/StatisticConfigData.php
  Api/src/Achievement/Enum/AchievementEnum.php
  Api/src/Achievement/Enum/StatisticEnum.php
  Api/src/Achievement/Listener/DaedalusEventSubscriber.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Service/PlayerService.php
  Api/tests/functional/Daedalus/Event/FinishDaedalusEventCest.php
  Api/tests/functional/Player/Service/PlayerServiceCest.php
  Api/translations/fr/statistics+intl-icu.fr.xlf
  App/src/features/achievements/enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php, Api/**/*.xlf
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
