Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: Dispay Chef and Polymath skill points gain log
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Display Chef and Polymath skill points gain log
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Delete skill points when skill is deleted
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/Service/FakeStatusService.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
Due: api-test, api-lint

refactor: Restructure `targetShouldNotGainSkillPointsAfterTransfer` test with given/when/then pattern
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

feat: Add test to prevent skill points gain after body transfer
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

fix: Delete skill points when skill is deleted
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/Service/FakeStatusService.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
Due: api-test, api-lint

fix: Update PlayerVariableEnum to rename SATIETY constant for clarity from ':pa_cook:' to ':full_stomach:'
  Api/src/Player/Enum/PlayerVariableEnum.php
Due: api-test, api-lint

fix: Change satiety icon
  Api/src/Player/Enum/PlayerVariableEnum.php
Due: api-test, api-lint

fix: Exit terminal action is not revealed anymore
  Api/src/Action/Enum/ActionEnum.php
Due: api-test, api-lint

refactor: Simplify givenPlayerIsNotInTerminalRoom method by removing FunctionalTester dependency
  Api/tests/functional/Action/Actions/ExitTerminalCest.php
Due: api-test, api-lint

fix: You can leave post-it block terminal even if it's not in the room anymore
  Api/src/Action/Actions/ExitTerminal.php
  Api/tests/functional/Action/Actions/ExitTerminalCest.php
Due: api-test, api-lint

fix: Minimap is properly refreshed when changing room
  App/src/components/Game/Ship/MiniMap.vue
  App/src/components/Game/Ship/ShipPanel.vue
  App/src/store/player.module.ts
Due: build-front, front-lint, front-test

fix: Add better protections again race condition for player death
  Api/src/Player/Service/PlayerService.php
  Api/tests/unit/Player/Service/PlayerServiceTest.php
Due: api-test, api-lint

fix: You can talk on bridge even if Comms center is broken
  Api/src/Communication/Services/ChannelService.php
  Api/src/Player/Entity/Player.php
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
  Api/tests/unit/Communication/UseCase/GetContactablePlayersUseCaseTest.php
Due: api-test, api-lint

fix: Antique Perfume players also get immunized if they wash in kitchen sink
  Api/src/Action/Event/ActionEvent.php
  Api/tests/functional/Action/Actions/WashInSinkActionCest.php
Due: api-test, api-lint

Bump version to 0.10.1
  App/package.json
Due: none

chore: Bump version to 0.10.1
  App/package.json
Due: none

fix: D1000s correctly act three times per cycle
  Api/src/Hunter/ConfigData/HunterConfigDataLoader.php
Due: api-test, api-lint

fix: Fix research card project translations
  Api/src/Project/Enum/ProjectType.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/DaedalusProjectCard.vue
  App/src/components/Game/ProjectsPanel.vue
  App/src/entities/Daedalus.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Fix research project card translations
  Api/src/Project/Enum/ProjectType.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/DaedalusProjectCard.vue
  App/src/components/Game/ProjectsPanel.vue
  App/src/entities/Daedalus.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Divide by two the number of incidents in early game as there are research work now
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

feat(balancing): Divide by two the number of incidents in early game as there are research work now
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

Reapply "internal: Enable OpenTelemetry Support"
  .gitlab-ci.yml
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/composer.json
  Api/composer.lock
  Api/config/packages/http_discovery.yaml
  Api/public/index.php
  Api/src/ApiConfig.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/OpenTelemetry.php
  Api/symfony.lock
  Makefile
  docker/Api/php/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
Due: api-test, api-lint

chore(dependencies): Update composer.json and composer.lock to include new package tbachert/spi and update several dependencies
  Api/composer.json
  Api/composer.lock
Due: none

chore(http): Remove deprecated http_discovery.yaml configuration file and related service definitions
  Api/config/packages/http_discovery.yaml
Due: none

chore(env): Update identity server URI and references from eternaltwin to musheternaltwin across multiple configuration files
  Api/.env.dist
  Api/.env.test
  Makefile
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  Api/.env.gitlab
Due: none

fix(OpenTelemetry): swap order of regex replacements for id and uuid in URL templating logic
  Api/src/OpenTelemetry.php
Due: api-test, api-lint

internal: Enable OpenTelemetry Support
  .gitlab-ci.yml
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/composer.json
  Api/composer.lock
  Api/public/index.php
  Api/src/ApiConfig.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/OpenTelemetry.php
  Api/symfony.lock
  Makefile
  docker/Api/php/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
Due: api-test, api-lint

fix: Add starting 3rd camera
  Api/src/Daedalus/ConfigData/RandomItemPlacesData.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/terminal+intl-icu.en.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: translations-lint

New translations characters+intl-icu.fr.xlf (French)
  Api/translations/fr/characters+intl-icu.fr.xlf
Due: translations-lint

New translations characters+intl-icu.fr.xlf (English)
  Api/translations/en/characters+intl-icu.en.xlf
Due: translations-lint

feat: adds 9 (more or less) frequently used emotes from across the MT catalogue, for fun. Added emotes.enum.ts for all non-essential, chat-only image text formatting.
  App/src/assets/images/emotes/Plus1.png
  App/src/assets/images/emotes/calim.gif
  App/src/assets/images/emotes/calimchristmas.gif
  App/src/assets/images/emotes/devilhorns.png
  App/src/assets/images/emotes/h_socks.gif
  App/src/assets/images/emotes/igor.png
  App/src/assets/images/emotes/money.png
  App/src/assets/images/emotes/piou.gif
  App/src/assets/images/emotes/rainbow.gif
  App/src/enums/emotes.enum.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

11 new emotes Changed icon of pariah status
  App/src/assets/images/status/hammer.png
  App/src/assets/images/ui_icons/anim_new.gif
  App/src/assets/images/ui_icons/book.png
  App/src/assets/images/ui_icons/coffee.png
  App/src/assets/images/ui_icons/eden1.png
  App/src/assets/images/ui_icons/eden2.png
  App/src/assets/images/ui_icons/extinguisher.png
  App/src/assets/images/ui_icons/grenade.png
  App/src/assets/images/ui_icons/ration.png
  App/src/assets/images/ui_icons/sol.png
  App/src/assets/images/ui_icons/soldier.png
  App/src/assets/images/ui_icons/survival.png
  App/src/enums/emotes.enum.ts
  App/src/enums/status.player.enum.ts
Due: build-front, front-lint, front-test

New translations actions_log+intl-icu.fr.xlf (French)
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

added 'ready' and 'in_game' (which had already been imported into the project) as chat emotes
  App/src/enums/emotes.enum.ts
Due: build-front, front-lint, front-test
