Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix send button activation
  App/src/components/Game/Communications/Messages/MessageInput.vue
Due: build-front, front-lint, front-test

I'm an idiot
  App/src/components/Game/Communications/DiscussionTab.vue
Due: build-front, front-lint, front-test

make toggle-children button fully conditional
  App/src/components/Game/Communications/DiscussionTab.vue
Due: build-front, front-lint, front-test

improve input auto-updating method
  App/src/components/Game/Communications/Messages/MessageInput.vue
Due: build-front, front-lint, front-test

make toggle-children button fully conditional (all components)
  App/src/components/Game/Communications/DiscussionTab.vue
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
Due: build-front, front-lint, front-test

cover edge case of more than 8 open tabs
  App/src/components/Game/Communications/CommsPanel.vue
Due: build-front, front-lint, front-test

animate the new message notification
  App/src/components/Game/Communications/Tab.vue
Due: build-front, front-lint, front-test

animate new message notif on value change
  App/src/components/Game/Communications/Tab.vue
Due: build-front, front-lint, front-test

fix actionbuttons interactivity in chat
  App/src/components/Game/Communications/DiscussionTab.vue
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

fix unread class
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

chore: Chat front fixes
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Communications/DiscussionTab.vue
  App/src/components/Game/Communications/FavouritesTab.vue
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Tab.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
Due: build-front, front-lint, front-test

refactor: moved several action config from character to status
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

fix: Starving status will disappear after eating
  Api/src/Status/Service/PlayerStatusService.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Status/Event/CycleEventCest.php
  Api/tests/unit/Status/Service/PlayerStatusServiceTest.php
Due: api-test, api-lint

hotfix: Fix a potential bug where fires which just propagated could not be extinguished by Auto Watering project
  Api/src/Status/CycleHandler/Fire.php
Due: api-test, api-lint

fix migration
  Api/migrations/Version20240510124148.php
Due: api-test, api-lint

fix: Drop unused logging table
  Api/config/packages/doctrine.yaml
  Api/migrations/Version20240510124148.php
  Api/src/Logger/Entity/Log.php
Due: api-test, api-lint

Return all user sanctions instead of only warnings
  Api/src/MetaGame/Controller/ModerationSanctionController.php
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
  Api/tests/functional/MetaGame/Repository/ModerationSanctionRepositoryCest.php
Due: api-test, api-lint

Only return bans and warnings
  Api/src/MetaGame/Controller/ModerationSanctionController.php
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
  Api/tests/functional/MetaGame/Repository/ModerationSanctionRepositoryCest.php
  App/src/services/moderation_sanction.service.ts
  App/src/store/moderation.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

remove unneeded voter
  Api/src/MetaGame/Voter/ModerationSanctionVoter.php
  Api/tests/unit/MetaGame/Voter/ModerationSanctionVoterTest.php
Due: api-test, api-lint

Add a ModerationSanctionVoter
  Api/src/MetaGame/Voter/ModerationSanctionVoter.php
  Api/src/User/Factory/UserFactory.php
  Api/tests/unit/MetaGame/Voter/ModerationSanctionVoterTest.php
Due: api-test, api-lint

Add a new UserVoter attribute to handle the new needs and associated tests.
  Api/src/User/Voter/UserVoter.php
  Api/tests/unit/User/Voter/UserVoterTest.php
Due: api-test, api-lint

simplify sql query
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/User/Factory/UserFactory.php
Due: api-test, api-lint

Display all sanctions using the new endpoint
  App/src/App.vue
  App/src/components/Moderation/ModerationWarningBanner.vue
  App/src/entities/ModerationSanction.ts
  App/src/i18n/locales/fr.json
  App/src/services/moderation_sanction.service.ts
  App/src/store/moderation.module.ts
Due: build-front, front-lint, front-test

Add a ModerationSanctionRepository
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
  Api/tests/functional/MetaGame/Repository/ModerationSanctionRepositoryCest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
  Api/tests/functional/MetaGame/Repository/ModerationSanctionRepositoryCest.php
Due: api-test, api-lint

remove duplicated call
  App/src/components/GamePage.vue
Due: build-front, front-lint, front-test

Expose the route
  Api/src/MetaGame/Controller/ModerationSanctionController.php
Due: api-test, api-lint

Wire new endpoint to front-end
  App/src/App.vue
  App/src/components/GamePage.vue
  App/src/services/moderation_sanction.service.ts
  App/src/store/moderation.module.ts
Due: build-front, front-lint, front-test

fix: Repository now returns only active warnings
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
  Api/tests/functional/MetaGame/Repository/ModerationSanctionRepositoryCest.php
Due: api-test, api-lint

Revert "revert: Disable moderation warnings display"
  App/src/App.vue
  App/src/components/GamePage.vue
Due: build-front, front-lint, front-test

fix: User can see their moderation warnings
  Api/src/MetaGame/Controller/ModerationSanctionController.php
  Api/src/MetaGame/Repository/ModerationSanctionRepository.php
  Api/src/User/Factory/UserFactory.php
  Api/src/User/Voter/UserVoter.php
  Api/tests/functional/MetaGame/Repository/ModerationSanctionRepositoryCest.php
  Api/tests/unit/User/Voter/UserVoterTest.php
  App/src/App.vue
  App/src/components/GamePage.vue
  App/src/components/Moderation/ModerationWarningBanner.vue
  App/src/entities/ModerationSanction.ts
  App/src/i18n/locales/fr.json
  App/src/services/moderation_sanction.service.ts
  App/src/store/moderation.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Starmap fragment cannot be destroyed by fires anymore
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

feat(balancing): Remove PILGRED CPU priority
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

test: rename test cases
  Api/tests/unit/Player/Entity/PlayerTest.php
Due: api-test, api-lint

style: fix a typo
  docker/Api/php/Dockerfile
Due: none

Revert "style: fix a typo"
  docker/Api/php/Dockerfile
Due: none

style: fix a typo
  Api/tests/unit/Player/Entity/PlayerTest.php
Due: api-test, api-lint
