Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

Do not use relative base folder
  App/vite.config.js
Due: none

fix: Finished expedition report pages will work again
  App/vite.config.js
Due: none

refactor: extract logic to a function
  App/src/services/communication.service.ts
Due: build-front, front-lint, front-test

fix: Your newly posted messages will be correctly loaded
  App/src/services/communication.service.ts
Due: build-front, front-lint, front-test

fix: Your newly posted message will be correctly loaded
  App/src/services/communication.service.ts
Due: build-front, front-lint, front-test

Update contributors
  App/src/components/Thanks.vue
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

Do not forget translators
  App/src/components/Thanks.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

Apply 1 suggestion(s) to 1 file(s)
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

feat: Update contributors list
  App/src/components/Thanks.vue
  App/src/enums/footer.ts
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

style(lint): linted conflicted files
  Api/src/Communication/Entity/Message.php
  Api/src/Communication/Repository/ChannelRepository.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Services/MessageService.php
  Api/src/Communication/Validator/MessageParentValidator.php
  Api/src/Communication/Voter/ChannelVoter.php
  Api/src/Game/Listener/TimestampableListener.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/User/Voter/UserVoter.php
  Api/tests/unit/Communication/Service/MessageServiceTest.php
  Api/tests/unit/Communication/Voter/ChannelVoterTest.php
  Api/tests/unit/RoomLog/Normalizer/RoomLogNormalizerTest.php
  Api/tests/unit/Status/Listener/ExplorationEventSubscriberTest.php
Due: api-test, api-lint

build(composer): new run of update
  Api/composer.lock
Due: none

ci(linters): fixed psalm beeing a little bit too much cringe
  Api/src/Communication/Services/ChannelService.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Exploration/Service/PlanetService.php
  Api/src/MetaGame/Entity/Collection/ModerationSanctionCollection.php
Due: api-test, api-lint

Add unfav icon
  App/src/assets/images/comms/unfav.png
  App/src/components/Game/Communications/ActionButtons.vue
Due: build-front, front-lint, front-test

fix: Vuex actions are asynchronous 😱 Then, await for the mutex to be acquire to better prevent race conditions at log/message reading
  App/src/components/Game/Communications/Messages/Log.vue
Due: build-front, front-lint, front-test

fix: Add unfavorites button
  App/src/components/Game/Communications/ActionButtons.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: The unfavorites button will be properly named
  App/src/assets/images/comms/unfav.png
  App/src/components/Game/Communications/ActionButtons.vue
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

test: Add some tests for user voter
  Api/src/User/Voter/UserVoter.php
  Api/tests/unit/User/Voter/UserVoterTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/tests/unit/User/Voter/UserVoterTest.php
Due: api-test, api-lint

test: add test
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
Due: api-test, api-lint

Add usecase endpoint
  Api/src/Communication/Controller/ChannelController.php
Due: api-test, api-lint

Add markChannelAsRead usecase
  Api/src/Communication/Entity/Message.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Services/ChannelServiceInterface.php
Due: api-test, api-lint

Add test for read all room logs use case
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

Add front end
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/i18n/locales/fr.json
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

fix test
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
Due: api-test, api-lint

perf: filter unread logs/messages before marking them as read
  Api/src/Communication/Services/ChannelService.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

Add front end
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

style: apply linter fixes
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

Add usecase method
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

refactor(perf): Use some static closures
  Api/src/Communication/Services/ChannelService.php
Due: api-test, api-lint

Add endpoint
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

refactor: extract to method for getting player
  Api/src/RoomLog/Controller/RoomLogController.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
Due: api-test, api-lint

feat: Add "Mark channel as read" button
  Api/src/Communication/Controller/ChannelController.php
  Api/src/Communication/Entity/Message.php
  Api/src/Communication/Services/ChannelService.php
  Api/src/Communication/Services/ChannelServiceInterface.php
  Api/src/RoomLog/Controller/RoomLogController.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/src/RoomLog/Service/RoomLogServiceInterface.php
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
  Api/tests/unit/RoomLog/Service/RoomLogServiceTest.php
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/i18n/locales/fr.json
  App/src/services/communication.service.ts
  App/src/store/communication.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: fix multiple errors while loading channels at death
  App/src/components/Banner.vue
  App/src/components/ErrorPopup.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/entities/Player.ts
  App/src/game/scenes/daedalusScene.ts
  App/src/services/communication.service.ts
  App/src/services/player.service.ts
  App/src/store/action.module.ts
  App/src/store/communication.module.ts
  App/src/store/player.module.ts
  App/src/store/room.module.ts
Due: build-front, front-lint, front-test

remove unused import
  App/src/services/player.service.ts
Due: build-front, front-lint, front-test

fix: Fix multiple errors while loading channels at death
  App/src/components/Banner.vue
  App/src/components/ErrorPopup.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Communications/Messages/Log.vue
  App/src/entities/Player.ts
  App/src/game/scenes/daedalusScene.ts
  App/src/services/communication.service.ts
  App/src/services/player.service.ts
  App/src/store/action.module.ts
  App/src/store/communication.module.ts
  App/src/store/player.module.ts
  App/src/store/room.module.ts
Due: build-front, front-lint, front-test

chore: Bump version to 0.8.0
  App/package.json
Due: none
