Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

New translations actions_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (English)
  Api/translations/en/actions_log+intl-icu.en.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (French)
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (Spanish)
  Api/translations/es/weapon_event+intl-icu.es.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (Italian)
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (English)
  Api/translations/en/weapon_event+intl-icu.en.xlf
Due: translations-lint

update expected message in terminal normalization test
  Api/tests/functional/Equipment/Normalizer/CalculatorTerminalNormalizerCest.php
Due: api-test, api-lint

feat: new room log icon
  App/src/assets/images/comms/local_2.png
  App/src/components/Game/Communications/Tab.vue
Due: build-front, front-lint, front-test

started work on comms announcement, very wip, very incomplete
  Api/src/Action/Actions/ComManagerAnnounce.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Player/Entity/ComManagerAnnouncement.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/AddComManagerAnnouncementToPlayerService.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/migrations/Version20250123205349.php
Due: api-test, api-lint

Refactor ComManagerAnnouncement entity and update migration files to include daedalus_id
  Api/migrations/Version20250123205349.php
  Api/migrations/Version20250125203210.php
  Api/src/Daedalus/Entity/ComManagerAnnouncement.php
Due: api-test, api-lint

more work towards comms manager announcements character config data & dataloader refactor
  Api/src/Action/Actions/ComManagerAnnounce.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Entity/SanctionEvidence.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/ConfigData/CharacterConfigDataLoader.php
  Api/src/Player/Entity/ComManagerAnnouncement.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Enum/PlayerNotificationEnum.php
  Api/src/Player/Normalizer/ComManagerAnnouncementNormalizer.php
  Api/src/Player/Repository/ComManagerAnnouncementRepository.php
  Api/src/Player/Repository/ComManagerAnnouncementRepositoryInterface.php
  Api/src/Player/Repository/InMemoryComManagerAnnouncementRepository.php
  Api/src/Player/Service/AddComManagerAnnouncementToPlayerService.php
  Api/src/Player/config/services.yaml
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/ComManagerAnnouncementPanel.vue
  App/src/components/Game/GameContent.vue
  App/src/enums/action.enum.ts
  App/src/store/player.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

commanagerannouncementservicetest
  Api/src/Daedalus/Normalizer/ComManagerAnnouncementNormalizer.php
  Api/tests/unit/Daedalus/Service/ComManagerAnnouncementServiceTest.php
Due: api-test, api-lint

Refactor TipsChannelNormalizer to use getLatestAnnouncement method and update related components for consistency
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Daedalus/Entity/Daedalus.php
  App/src/components/Game/Communications/TipsTab.vue
  App/src/entities/Channel.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Add general announcement to Daedalus in its constructor
  Api/src/Daedalus/Entity/ComManagerAnnouncement.php
Due: api-test, api-lint

undo commander mission normalizer unnecessary change
  Api/src/Player/Normalizer/CommanderMissionNormalizer.php
Due: api-test, api-lint

Fix normalization test to assert null for announcement element instead of empty array
  Api/tests/functional/Communication/Normalizer/TipsChannelNormalizerCest.php
Due: api-test, api-lint

resolve threads commit
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Repository/ComManagerAnnouncementRepository.php
  Api/src/Player/Repository/CommanderMissionRepository.php
  App/src/components/Game/Communications/TipsTab.vue
Due: build-front, api-test, api-lint, front-lint, front-test

announcements are functional yippee emotes now work in missions
  Api/migrations/Version20250123203608.php
  Api/migrations/Version20250123205349.php
  Api/src/Action/Actions/ComManagerAnnounce.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Daedalus/Entity/ComManagerAnnouncement.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Normalizer/ComManagerAnnouncementNormalizer.php
  Api/src/Daedalus/Repository/ComManagerAnnouncementRepository.php
  Api/src/Daedalus/Repository/ComManagerAnnouncementRepositoryInterface.php
  Api/src/Daedalus/Repository/InMemoryComManagerAnnouncementRepository.php
  Api/src/Daedalus/Service/ComManagerAnnouncementService.php
  Api/src/Daedalus/config/services.yaml
  Api/src/MetaGame/Controller/ModerationController.php
  Api/src/MetaGame/Entity/SanctionEvidence.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CommanderMissionNormalizer.php
  Api/src/Player/config/services.yaml
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/notification+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/chat+intl-icu.fr.xlf
  Api/translations/fr/notification+intl-icu.fr.xlf
  App/src/components/Game/Communications/TipsTab.vue
  App/src/components/Moderation/ModerationReportListPage.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/entities/Channel.ts
  App/src/enums/ui_icon.enum.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/moderation.service.ts
  App/src/store/moderation.module.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

migrations
  Api/migrations/Version20250122145754.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/migrations/Version20250123203608.php
Due: api-test, api-lint

Add missing translation for reported announcements
  App/src/i18n/locales/fr.json
Due: none

fix server error when no announcements
  Api/src/Daedalus/Entity/Daedalus.php
Due: api-test, api-lint

Add tests for general announcement normalization in TipsChannelNormalizer
  Api/tests/functional/Communication/Normalizer/TipsChannelNormalizerCest.php
Due: api-test, api-lint

Add some integration tests for ComManagerAnnounce action
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/tests/functional/Action/Actions/ComManagerAnnounceCest.php
Due: api-test, api-lint

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

New translations fr.json (English)
  App/src/i18n/locales/en.json
Due: none

New translations notification+intl-icu.fr.xlf (Italian)
  Api/translations/it/notification+intl-icu.fr.it.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (Spanish)
  Api/translations/es/chat+intl-icu.es.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (English)
  Api/translations/en/chat+intl-icu.en.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions+intl-icu.fr.it.xlf
Due: translations-lint

New translations fr.json (Italian)
  App/src/i18n/locales/it.json
Due: none

New translations chat+intl-icu.fr.xlf (Italian)
  Api/translations/it/chat+intl-icu.fr.it.xlf
Due: translations-lint

New translations notification+intl-icu.fr.xlf (Spanish)
  Api/translations/es/notification+intl-icu.es.xlf
Due: translations-lint

New translations notification+intl-icu.fr.xlf (English)
  Api/translations/en/notification+intl-icu.en.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
