Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

new feature : adding strike to displayed formatted text
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

Adding Strike button. Function works (fusion)
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

fix: IT points stack when picking a skill.
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

Fix: Skill points are increase daily properly
  Api/src/Status/Entity/ChargeStatus.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

refactor: Charge status will be updated with same discharge strategies instead of modifier configs
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

fix: Logs extending charge statuses are now hidden.
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Skill/Service/AddSkillToPlayerService.php
Due: api-test, api-lint

test: Uncommenting tests
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

Rebasing changes
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

Rebasing changes: handling linting errors
  Api/src/Hunter/Service/HunterService.php
  Api/src/Skill/Handler/OpportunistHandler.php
  Api/src/Skill/Listener/PlayerEventSubscriber.php
Due: api-test, api-lint

feat: Adding charge status cut during skill removal
  Api/src/Skill/Service/DeletePlayerSkillService.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
  Api/tests/functional/Status/Service/ChargeStatusExtensionCest.php
Due: api-test, api-lint

fix: Finding charge status config to cut the status shouldn't throw when none found.
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

test: Adjusting fake status service
  Api/src/Status/Service/FakeStatusService.php
Due: api-test, api-lint

test: Moving new tests to existing file
  Api/tests/functional/Skill/Service/DeletePlayerSkillServiceCest.php
  Api/tests/functional/Status/Service/ChargeStatusExtensionCest.php
Due: api-test, api-lint

feat: Add void check roster action to Cryo Module
  Api/src/Action/Actions/CheckRoster.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

fix: add service interfaces
  Api/src/Action/Actions/CheckRoster.php
Due: api-test, api-lint

test: Drones now have 100% chance of success for actions that are supposed to succeed
  Api/src/Equipment/Entity/Drone.php
Due: api-test, api-lint

refactor : turned reduceNonCritEvent into increaseCritEvent
  Api/src/Equipment/Service/UseWeaponService.php
Due: api-test, api-lint

updated skill description in french and english
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

feat: shooter skill modify the weight of critical events anf fumble events
  Api/src/Action/Actions/ShootCat.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/Mechanics/Weapon.php
  Api/src/Equipment/Service/UseWeaponService.php
Due: api-test, api-lint

refactor: type safety, variable and methods renaming
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/Entity/Config/WeaponEventConfig.php
  Api/src/Equipment/Enum/WeaponEventType.php
  Api/src/Equipment/Service/UseWeaponService.php
Due: api-test, api-lint

feat: shooter skill modify the weight of critical events and fumble events
  Api/src/Action/Actions/ShootCat.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/Config/WeaponEventConfig.php
  Api/src/Equipment/Entity/Mechanics/Weapon.php
  Api/src/Equipment/Enum/WeaponEventType.php
  Api/src/Equipment/Service/UseWeaponService.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Fix: Shooter skill now only affect the event's weight of guns.
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Service/UseWeaponService.php
Due: api-test, api-lint

fix: Shooter skill now only affect the event's weight of guns.
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Service/UseWeaponService.php
Due: api-test, api-lint

pronouns handling in French (le wokisme)
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/migrations/Version20250521114235.php
Due: api-test, api-lint

finished cests
  Api/tests/functional/Action/Actions/DoTheThingCest.php
Due: api-test, api-lint

initial commit
  Api/migrations/Version20250521114235.php
  Api/src/Action/Validator/IsSameGender.php
  Api/src/Action/Validator/IsSameGenderValidator.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/tests/functional/Action/Actions/DoTheThingCest.php
  Api/tests/functional/Action/Actions/FlirtActionCest.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
  Api/tests/unit/Action/Validator/IsSameGenderValidatorTest.php
Due: api-test, api-lint

feat: same sex flirt toggle
  Api/migrations/Version20250521114235.php
  Api/src/Action/Validator/IsSameGender.php
  Api/src/Action/Validator/IsSameGenderValidator.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/tests/functional/Action/Actions/DoTheThingCest.php
  Api/tests/functional/Action/Actions/FlirtActionCest.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
  Api/tests/unit/Action/Validator/IsSameGenderValidatorTest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Install scripts are now Ubuntu-only (multi distro was too ambitious)
  clone_and_install.sh
  docker_install.sh
  install.sh
  uninstall.sh
Due: none

docs: Update README to streamline installation instructions
  README.md
Due: none

chore: Update PSQL container to 17.5
  docker/docker-compose.yml
Due: none

chore: Add Docker-free installation scripts for Ubuntu and Windows
  Makefile
  README.md
  clone_and_docker_install.sh
  clone_and_install.ps1
  clone_and_install.sh
  docker/docker-compose.yml
  docker_install.sh
  hooks/pre-commit
  hooks/pre-push
  install.log
  install.ps1
  install.sh
  start.sh
  stop.sh
  uninstall.log
  uninstall.ps1
  uninstall.sh
Due: none

chore: rename container names
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/README.md
  Api/docs/triumph.md
  Eternaltwin/eternaltwin.toml
  Makefile
  README.md
  docker/Api/config/vhosts/symfony.conf
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
  docker_install.sh
  hooks/pre-commit
  hooks/pre-push
Due: none

add missing pre-push hook script
  hooks/pre-push
Due: none

chore: remove docs file
  Api/docs/triumph.md
Due: none

fix GL pipeline DB name
  Api/.env.gitlab
Due: none

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
