Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

build-front:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  - bin/console doctrine:fixtures:load -n --env=test
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
  - job: build-front
    optional: true
  script:
  - ./linters.sh

front-lint:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn lint --no-fix

front-test:
  image: node:18
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
  - job: build-front
  script:
  - yarn test

refactor(style): rename multiple methods, and move them back to EndCauseEnum
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix method visibility
  Api/src/Player/Enum/EndCauseEnum.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Disease/Listener/PlayerSubscriber.php
Due: api-test, api-lint

feat: When PILGRED is finished, the "Return to Sol" action is available and finishes the game
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/Actions/ReturnToSol.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/ProjectFinished.php
  Api/src/Action/Validator/ProjectFinishedValidator.php
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Player/Enum/EndCauseEnum.php
  Api/src/Player/Service/PlayerService.php
  Api/src/RoomLog/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/AdvanceDaedalusCest.php
  Api/tests/functional/Action/Actions/ReturnToSolCest.php
  Api/tests/unit/Disease/Listener/PlayerSubscriberTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/App.vue
  App/src/components/Game/Terminals/CommandTerminal.vue
  App/src/components/PurgatoryPage.vue
  App/src/components/Utils/ActionButton.vue
  App/src/entities/DeadPlayerInfo.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
  App/src/i18n/locales/fr.json
Due: build-front, api-test, api-lint, front-lint, front-test

feat: When PILGRED is finished, the Coffee Machine "Coffee!" action is available once per cycle
  Api/src/Action/Actions/Coffee.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/ChargedValidator.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Daedalus/Event/DaedalusEvent.php
  Api/src/Daedalus/Event/DaedalusInitEvent.php
  Api/src/Daedalus/Event/NeronEvent.php
  Api/src/Status/ChargeStrategies/CoffeeMachineChargeIncrement.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/ChargeStrategyTypeEnum.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/tests/unit/Action/Validator/ChargedValidatorTest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint

feat: Add PILGRED CPU priority
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Validator/NoEfficiencyValidator.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Exception/PlayerEfficiencyShouldBePositiveException.php
  Api/src/Project/Exception/ProgressShouldBePositive.php
  Api/src/Project/Normalizer/ProjectNormalizer.php
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  Api/src/Project/ValueObject/PlayerEfficiency.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Entity/StatusTarget.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/ChangeNeronCpuPriorityCest.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/tests/unit/Project/UseCase/AdvanceProjectUseCaseTest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint

feat: Same sectors are now grouped when you share a planet
  App/src/entities/Planet.test.ts
  App/src/entities/Planet.ts
Due: build-front, front-lint, front-test

fix: Extinguisher can now break in fires
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/MetaGame/Controller/AdminActionsController.php
Due: api-test, api-lint

fix(security): added "is_granted" on the controller
  Api/src/MetaGame/Controller/AdminActionsController.php
  App/src/services/admin.actions.service.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Wire user interface to back end
  App/src/services/admin.actions.service.ts
Due: build-front, front-lint, front-test

Display toast given the result of the action. Add fondations for better error handling in the future
  App/src/services/api.service.ts
  App/src/store/admin.actions.module.ts
  App/src/store/admin.module.ts
  App/src/store/error.module.ts
  App/src/store/index.ts
  App/src/store/toast.module.ts
Due: build-front, front-lint, front-test

style: apply linter fixes
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/router/index.ts
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, front-lint, front-test

Add user interface
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/components/Admin/AdminBanner.vue
  App/src/components/Admin/AdminPage.vue
  App/src/i18n/locales/fr.json
  App/src/router/index.ts
Due: build-front, front-lint, front-test

feat: Add an endpoint to create projects for on-going Daedaluses
  Api/src/MetaGame/Controller/AdminActionsController.php
Due: api-test, api-lint

feat: Add an admin action to create projects for ongoing Daedaluses
  Api/src/MetaGame/Controller/AdminActionsController.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/components/Admin/AdminBanner.vue
  App/src/components/Admin/AdminPage.vue
  App/src/i18n/locales/fr.json
  App/src/router/index.ts
  App/src/services/admin.actions.service.ts
  App/src/services/api.service.ts
  App/src/store/admin.actions.module.ts
  App/src/store/admin.module.ts
  App/src/store/error.module.ts
  App/src/store/index.ts
  App/src/store/toast.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

style: apply linter fixes
  Api/src/Project/Listener/ProjectEventSubscriber.php
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
Due: api-test, api-lint

refactor: tiny refactor
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Listener/ProjectEventSubscriber.php
Due: api-test, api-lint

fix a method
  Api/src/Daedalus/Entity/Daedalus.php
  Api/tests/functional/Project/Listener/DaedalusInitEventSubscriberCest.php
Due: api-test, api-lint

Squash everything to avoid merge conflict
  Api/migrations/Version20240421172845.php
  Api/migrations/Version20240424190914.php
  Api/migrations/Version20240424195614.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Equipment/Service/EquipmentService.php
  Api/src/Game/Service/FakeGetRandomElementsFromArrayService.php
  Api/src/Game/Service/GetRandomElementsFromArrayService.php
  Api/src/Game/Service/GetRandomElementsFromArrayServiceInterface.php
  Api/src/Game/config/services.yaml
  Api/src/Project/Entity/Project.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Project/Listener/DaedalusInitEventSubscriber.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
  Api/src/Project/UseCase/ProposeNewNeronProjectsUseCase.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/functional/Project/Listener/DaedalusInitEventSubscriberCest.php
  Api/tests/functional/Project/Repository/ProjectRepositoryCest.php
  Api/tests/functional/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseCest.php
  Api/tests/unit/Game/Service/FakeGetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Game/Service/GetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
  Api/tests/unit/Project/UseCase/ProposeNewNeronProjectsUseCaseTest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/ProjectsTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/entities/Player.ts
  App/src/entities/TerminalInfos.ts
  App/src/enums/terminal.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

test: Add a test to check we won't create a project which already exists
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
Due: api-test, api-lint

style(code-quality): upgraded code quality & readability
  Api/migrations/Version20240421172845.php
  Api/migrations/Version20240424190914.php
  Api/migrations/Version20240424195614.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Game/Service/GetRandomElementsFromArrayService.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/src/Project/Listener/DaedalusInitEventSubscriber.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
  Api/src/Project/UseCase/ProposeNewNeronProjectsUseCase.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

feat: Player can access NERON terminal + 3 NERON projects are proposed at Daedalus creation
  Api/migrations/Version20240421172845.php
  Api/migrations/Version20240424190914.php
  Api/migrations/Version20240424195614.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Equipment/Service/EquipmentService.php
  Api/src/Game/Service/FakeGetRandomElementsFromArrayService.php
  Api/src/Game/Service/GetRandomElementsFromArrayService.php
  Api/src/Game/Service/GetRandomElementsFromArrayServiceInterface.php
  Api/src/Game/config/services.yaml
  Api/src/Project/Entity/Project.php
  Api/src/Project/Entity/ProjectConfig.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/src/Project/Listener/DaedalusInitEventSubscriber.php
  Api/src/Project/Listener/ProjectEventSubscriber.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
  Api/src/Project/UseCase/ProposeNewNeronProjectsUseCase.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/functional/Project/Listener/DaedalusInitEventSubscriberCest.php
  Api/tests/functional/Project/Repository/ProjectRepositoryCest.php
  Api/tests/functional/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseCest.php
  Api/tests/unit/Game/Service/FakeGetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Game/Service/GetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
  Api/tests/unit/Project/UseCase/ProposeNewNeronProjectsUseCaseTest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/ProjectsTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/entities/Player.ts
  App/src/entities/TerminalInfos.ts
  App/src/enums/terminal.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Squash everything to avoid merge conflict
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
Due: api-test, api-lint

fix a method
  Api/src/Daedalus/Entity/Daedalus.php
Due: api-test, api-lint

test: Add a test to check we won't create a project which already exists
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
Due: api-test, api-lint

Add Participate action
  Api/src/Action/Actions/Participate.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/TargetProjectFinished.php
  Api/src/Action/Validator/TargetProjectFinishedValidator.php
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
Due: api-test, api-lint

Add french translations to the actions, and allow to translate project name in logs
  Api/src/Game/Enum/LanguageEnum.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/neron+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-test, api-lint

fix: Efficiency will be reduce even if you participate to multiple projects
  Api/src/Status/Entity/StatusHolderInterface.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/tests/unit/Project/UseCase/CreateProjectFromConfigForDaedalusUseCaseTest.php
Due: api-test, api-lint

style(code-quality): enhanced code quality
  Api/src/Action/Actions/AbstractParticipateAction.php
  Api/src/Game/Enum/LanguageEnum.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Action/Actions/RepairPilgredCest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

refactor: move common code to an AbstractParticipateAction
  Api/src/Action/Actions/AbstractParticipateAction.php
  Api/src/Action/Actions/Participate.php
  Api/src/Action/Actions/RepairPilgred.php
Due: api-test, api-lint

Add Participate action to front end
  App/src/components/Game/Terminals/ProjectCard.vue
  App/src/components/Game/Terminals/ProjectsTerminal.vue
  App/src/entities/Project.ts
  App/src/enums/action.enum.ts
Due: build-front, front-lint, front-test

style: apply linter fixes
  Api/src/Project/Entity/Project.php
Due: api-test, api-lint

fix false positive test
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
Due: api-test, api-lint

feat: From NERON's core terminal, player can participate in 3 projects, which improves their progression
  Api/src/Action/Actions/AbstractParticipateAction.php
  Api/src/Action/Actions/Participate.php
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/TargetProjectFinished.php
  Api/src/Action/Validator/TargetProjectFinishedValidator.php
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/Enum/LanguageEnum.php
  Api/src/Project/UseCase/CreateProjectFromConfigForDaedalusUseCase.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/Entity/StatusHolderInterface.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Action/Actions/CoffeeActionCest.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/neron+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/components/Game/Terminals/ProjectCard.vue
  App/src/components/Game/Terminals/ProjectsTerminal.vue
  App/src/entities/Project.ts
  App/src/enums/action.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

style(code-enhancements): enhanced few coding conventions
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Listener/ProjectEventSubscriber.php
  Api/src/Project/UseCase/UnproposeCurrentNeronProjectsUseCase.php
  Api/tests/unit/Project/UseCase/UnproposeCurrentNeronProjectsUseCaseTest.php
Due: api-test, api-lint

style
  Api/src/Project/Listener/ProjectEventSubscriber.php
Due: api-test, api-lint

feat: When a NERON project is finished, a new batch of 3 new projets is available
  Api/src/Project/Entity/Project.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Project/Listener/ProjectEventSubscriber.php
  Api/src/Project/UseCase/UnproposeCurrentNeronProjectsUseCase.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Project/Listener/ProjectEventSubscriberCest.php
  Api/tests/unit/Project/UseCase/UnproposeCurrentNeronProjectsUseCaseTest.php
Due: api-test, api-lint

fix logic
  Api/src/Project/Event/ProjectEvent.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
