Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix config loading
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

hotfix: fix config loading
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix migration
  Api/migrations/Version20240810170906.php
Due: api-test, api-lint

hotfix: fix SQL migration
  Api/migrations/Version20240810170906.php
Due: api-test, api-lint

fix: Fix Logistics Expert icon
  Api/config/api_platform/serialization/direct_modifier_config.yaml
  Api/config/api_platform/serialization/trigger_event_modifier_config.yaml
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Toggle exploration cycle change only if cycle should pass
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

fix: Fix debug unlock Daedalus endpoint
  Api/src/MetaGame/Controller/DebugController.php
Due: api-test, api-lint

more explicit
  Api/src/Game/Service/CycleService.php
Due: api-test, api-lint

fix: You cannot transfert into a Mush player anymore
  Api/src/Action/Actions/ExchangeBody.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

fix: Fix debug unlock Daedalus endpoint
  Api/src/Game/Service/CycleService.php
  Api/src/MetaGame/Controller/DebugController.php
Due: api-test, api-lint

fix: Fix a crash due to Guardian english translation
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

fix: Fix a crash due to Guardian status english translation
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

fix: Transfert won't crash if the target has common skills with you.
  Api/src/Action/Actions/ExchangeBody.php
Due: api-test, api-lint

fix: Transfert won't crash if the target has common skills with you
  Api/src/Action/Actions/ExchangeBody.php
Due: api-test, api-lint

chore: read latest news when logging in in dev environment
  Api/src/User/Service/LoginService.php
Due: api-test, api-lint

chore: allow to get player info from admin panel on dev environment
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
Due: api-test, api-lint

chore: Update APP_ENV to 'gitlab' in .env.gitlab file
  Api/.env.gitlab
Due: none

chore: Update APP_ENV to 'test' in .env.gitlab file
  Api/.env.gitlab
Due: none

internal: Improve developer experience
  Api/.env.gitlab
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/User/Service/LoginService.php
Due: api-test, api-lint

Do not display available skills if player has filled all their slots
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Player/Normalizer/SelectableSkillsCest.php
Due: api-test, api-lint

move computations to computed values
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
Due: build-front, front-lint, front-test

Update front end to display the right amount of skill slots
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/entities/Character.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix migration
  Api/migrations/Version20240822163542.php
Due: api-test, api-lint

You cannot pick more than 3 skills as human, 4 as a Mush
  Api/migrations/Version20240822163542.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Skill/UseCase/ChooseSkillUseCase.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
Due: api-test, api-lint

fix broken test
  Api/tests/unit/Communication/Service/ChannelServiceTest.php
Due: api-test, api-lint

Add a boolean to tell if player has left a private channel or not, instead of deleting the entity.
  Api/migrations/Version20240601081402.php
  Api/src/Communication/Entity/ChannelPlayer.php
  Api/src/Communication/Repository/ChannelRepository.php
  Api/src/Communication/Services/ChannelService.php
Due: api-test, api-lint

Do not delete empty private channels
  Api/tests/functional/Communication/Service/ChannelServiceCest.php
Due: api-test, api-lint

fix(triumph): When Player is inactive or highly_inactive, no triumph is given
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/tests/functional/Player/Event/PlayerCycleEventCest.php
  Api/tests/functional/Player/Service/PlayerServiceCest.php
Due: api-test, api-lint

style(psalm): removed psalm errors
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

build(composer): upgraded various back-end dependencies
  Api/composer.lock
Due: none

build(cs-fixer): allowed parallel + fixed new rules
  Api/.php-cs-fixer.dist.php
  Api/src/Action/Actions/ExchangeBody.php
  Api/src/Communication/Normalizer/TipsChannelNormalizer.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToARandomExplorator.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractRemoveHealthToAllExplorators.php
  Api/src/Player/Normalizer/PlayerNotificationNormalizer.php
  Api/src/Project/Exception/DaedalusShouldHaveProjectException.php
  Api/src/RoomLog/Service/ActionHistoryRevealLogService.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Action/Actions/ChitchatCest.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

feat: Human players are now limited to 3 skills, Mush players to 4.
  Api/migrations/Version20240822163542.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/src/Skill/UseCase/ChooseSkillUseCase.php
  Api/tests/functional/Player/Normalizer/SelectableSkillsCest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
  App/src/components/Game/BannerPanel.vue
  App/src/components/Game/CharPanel.vue
  App/src/entities/Character.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat(skill): Phagocytosis
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: You cannot transfer into a Mush player
  Api/src/Action/Actions/ExchangeBody.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

fix: Disorders are now treated in apparition chronological order
  Api/src/Disease/Entity/Collection/PlayerDiseaseCollection.php
  Api/src/Disease/Listener/PlayerCycleSubscriber.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix: You can report messages when dead
  App/src/components/Game/Communications/Messages/Message.vue
Due: build-front, front-lint, front-test

fix: Fix multiple issues on message fav / reporting
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/entities/Channel.ts
Due: build-front, front-lint, front-test

fix: Fix multiple issues with Logistics Expert
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Handler/LogisiticsExpertHandler.php
  Api/src/Skill/Listener/PlayerCycleEventSubscriber.php
  Api/tests/functional/Place/Event/PlaceEventCest.php
  Api/tests/functional/Skill/LogisticsExpertCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix a typo
  Api/src/Skill/Handler/LogisticsExpertHandler.php
  Api/src/Skill/Listener/PlayerCycleEventSubscriber.php
Due: api-test, api-lint
