Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

New translations daedalus+intl-icu.fr.xlf (English)
  Api/translations/en/daedalus+intl-icu.en.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (French)
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: translations-lint

New translations event_log+intl-icu.fr.xlf (English)
  Api/translations/en/event_log+intl-icu.en.xlf
Due: translations-lint

New translations items+intl-icu.fr.xlf (French)
  Api/translations/fr/items+intl-icu.fr.xlf
Due: translations-lint

New translations items+intl-icu.fr.xlf (English)
  Api/translations/en/items+intl-icu.en.xlf
Due: translations-lint

New translations player+intl-icu.fr.xlf (Spanish)
  Api/translations/es/player+intl-icu.es.xlf
Due: translations-lint

New translations player+intl-icu.fr.xlf (Italian)
  Api/translations/it/player+intl-icu.fr.it.xlf
Due: translations-lint

New translations player+intl-icu.fr.xlf (English)
  Api/translations/en/player+intl-icu.en.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (French)
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Spanish)
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Italian)
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (English)
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (English)
  Api/translations/en/terminal+intl-icu.en.xlf
Due: translations-lint

New translations fr.json (French)
  App/src/i18n/locales/fr.json
Due: none

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

New translations fr.json (Italian)
  App/src/i18n/locales/it.json
Due: none

New translations fr.json (English)
  App/src/i18n/locales/en.json
Due: none

New translations modifiers+intl-icu.fr.xlf (English)
  Api/translations/en/modifiers+intl-icu.en.xlf
Due: translations-lint

New translations planet_sector_event+intl-icu.fr.xlf (French)
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: translations-lint

New translations planet_sector_event+intl-icu.fr.xlf (Spanish)
  Api/translations/es/planet_sector_event+intl-icu.es.xlf
Due: translations-lint

New translations planet_sector_event+intl-icu.fr.xlf (Italian)
  Api/translations/it/planet_sector_event+intl-icu.fr.it.xlf
Due: translations-lint

New translations planet_sector_event+intl-icu.fr.xlf (English)
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (French)
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (Spanish)
  Api/translations/es/skill+intl-icu.es.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (Italian)
  Api/translations/it/skill+intl-icu.fr.it.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (English)
  Api/translations/en/skill+intl-icu.en.xlf
Due: translations-lint

New translations project+intl-icu.fr.xlf (French)
  Api/translations/fr/project+intl-icu.fr.xlf
Due: translations-lint

New translations project+intl-icu.fr.xlf (English)
  Api/translations/en/project+intl-icu.en.xlf
Due: translations-lint

New translations notification+intl-icu.fr.xlf (French)
  Api/translations/fr/notification+intl-icu.fr.xlf
Due: translations-lint

New translations notification+intl-icu.fr.xlf (Spanish)
  Api/translations/es/notification+intl-icu.es.xlf
Due: translations-lint

New translations notification+intl-icu.fr.xlf (Italian)
  Api/translations/it/notification+intl-icu.fr.it.xlf
Due: translations-lint

New translations notification+intl-icu.fr.xlf (English)
  Api/translations/en/notification+intl-icu.en.xlf
Due: translations-lint

chore: fix broken tests
  Api/tests/functional/Action/Actions/CeasefireCest.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForNeronProjectsCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
Due: api-test, api-lint

chore: fix migration
  Api/src/Modifier/Entity/Config/DirectModifierConfig.php
Due: api-test, api-lint

fix migration
  Api/src/Modifier/Entity/Config/DirectModifierConfig.php
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
Due: api-test, api-lint

chore: fix migration
  Api/src/Modifier/Entity/Config/TriggerEventModifierConfig.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
