Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: Mute Mush players can talk in Mush channel
  Api/src/Communication/Services/MessageService.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/ModifierHandler/PreventEvent.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Communication/Service/MessageServiceCest.php
  Api/tests/functional/Project/PatulineScramblerCest.php
Due: api-test, api-lint

chore: remove dead code
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

Revert "chore: remove dead code"
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix: All mute players can talk in Mush channel
  Api/src/Communication/Services/MessageService.php
  Api/src/Modifier/ModifierHandler/PreventEvent.php
  Api/tests/functional/Communication/Service/MessageServiceCest.php
  Api/tests/functional/Project/PatulineScramblerCest.php
Due: api-test, api-lint

refactor: remove dead code
  Api/src/Modifier/ModifierHandler/PreventEvent.php
Due: api-test, api-lint

refactor: clean tests a bit
  Api/tests/unit/Communication/Normalizer/MessageNormalizerOnPheromodemTest.php
Due: api-test, api-lint

fix: Dead players do not gain bonuses from speeches
  Api/src/Action/Actions/AbstractSpeech.php
  Api/tests/functional/Action/Actions/BoringSpeechActionCest.php
  Api/tests/functional/Action/Actions/MotivationalSpeechActionCest.php
Due: api-test, api-lint

feat(research): Pheromodem
  Api/src/Communication/Entity/Message.php
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Communication/Normalizer/MessageNormalizer.php
  Api/src/Communication/Repository/ChannelRepository.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/Game/Service/Random/RandomString.php
  Api/src/Game/Service/Random/RandomStringInterface.php
  Api/src/Game/Service/TranslationService.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/Entity/Project.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Communication/Repository/ChannelRepositoryCest.php
  Api/tests/functional/Communication/Service/ChannelServiceCest.php
  Api/tests/functional/Project/PheromodemCest.php
  Api/tests/unit/Communication/Normalizer/MessageNormalizerOnPheromodemTest.php
  Api/tests/unit/Communication/Normalizer/MessageNormalizerTest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
  App/src/assets/images/char/body/mush.png
  App/src/enums/character.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

New translations characters+intl-icu.fr.xlf (Spanish)
  Api/translations/es/characters+intl-icu.es.xlf
Due: translations-lint

New translations characters+intl-icu.fr.xlf (French)
  Api/translations/fr/characters+intl-icu.fr.xlf
Due: translations-lint

New translations characters+intl-icu.fr.xlf (Italian)
  Api/translations/it/characters+intl-icu.fr.it.xlf
Due: translations-lint

New translations characters+intl-icu.fr.xlf (English)
  Api/translations/en/characters+intl-icu.en.xlf
Due: translations-lint

fix broken tests
  Api/tests/functional/Action/Actions/BoringSpeechActionCest.php
  Api/tests/unit/Action/Actions/BoringSpeechActionTest.php
  Api/tests/unit/Action/Actions/MotivationalSpeechActionTest.php
Due: api-test, api-lint

New translations terminal+intl-icu.fr.xlf (Spanish)
  Api/translations/es/terminal+intl-icu.es.xlf
Due: translations-lint

more work towards getting containers working
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/ContainerDataLoader.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/EquipmentMechanic.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

fixed EquipmentConfigData
  Api/migrations/Version20241130121152.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

fix: cannot reinforce ncc lenses
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

first functional containers
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Spanish)
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

New translations equipments+intl-icu.fr.xlf (Spanish)
  Api/translations/es/equipments+intl-icu.es.xlf
Due: translations-lint

New translations end_cause+intl-icu.fr.xlf (Spanish)
  Api/translations/es/end_cause+intl-icu.es.xlf
Due: translations-lint

New translations hunter+intl-icu.fr.xlf (Spanish)
  Api/translations/es/hunter+intl-icu.es.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
