Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

ci: Update CI pipeline scripts
  .gitlab-ci.yml
  Api/codeception.yml
Due: none

New translations event_log+intl-icu.fr.xlf (English)
  Api/translations/en/event_log+intl-icu.en.xlf
Due: api-lint

test: Fix false positive test
  Api/tests/functional/Exploration/Event/ExplorationEventCest.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
Due: api-lint

internal: added a test
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

internal: fixed a test reverted by error
  Api/tests/functional/Modifier/Event/CycleEventCest.php
Due: api-test, api-lint

Revert "fix: Diseases symptoms do not trigger anymore when the disease heals at cycle change"
  Api/src/Disease/Event/DiseaseEvent.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/DisorderModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/tests/functional/Modifier/Event/CycleEventCest.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
  Api/translations/fr/modifiers+intl-icu.fr.xlf
Due: api-test, api-lint

enhancement: moved the filtering on modifier priority to avoid unecessary loop
  Api/src/Action/Event/ActionEvent.php
  Api/src/Action/Event/ApplyEffectEvent.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Disease/Event/DiseaseEvent.php
  Api/src/Disease/Event/SymptomEvent.php
  Api/src/Equipment/Event/EquipmentCycleEvent.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Event/ModifierEvent.php
  Api/src/Modifier/Service/EventModifierService.php
  Api/src/Place/Event/PlaceCycleEvent.php
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/src/Status/Event/StatusCycleEvent.php
  Api/src/Status/Event/StatusEvent.php
  Api/tests/unit/Modifier/Entity/Collection/ModifierCollectionTest.php
Due: api-test, api-lint

internal: fixed a test reverted by error
  Api/tests/functional/Disease/Event/PlayerEventCest.php
Due: api-test, api-lint

fix: Diseases symptoms do not trigger twice anymore
  Api/src/Action/Event/ActionEvent.php
  Api/src/Action/Event/ApplyEffectEvent.php
  Api/src/Communication/Services/MessageService.php
  Api/src/Daedalus/Event/DaedalusCycleEvent.php
  Api/src/Daedalus/Event/DaedalusVariableEvent.php
  Api/src/Disease/Event/DiseaseEvent.php
  Api/src/Disease/Event/SymptomEvent.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/src/Equipment/Event/EquipmentCycleEvent.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Game/Event/VariableEventInterface.php
  Api/src/Game/Service/EventService.php
  Api/src/Hunter/Event/HunterVariableEvent.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/DisorderModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Entity/Collection/ModifierCollection.php
  Api/src/Modifier/Enum/ModifierPriorityEnum.php
  Api/src/Modifier/Event/ModifierEvent.php
  Api/src/Modifier/ModifierHandler/AddEvent.php
  Api/src/Modifier/Service/EventModifierService.php
  Api/src/Modifier/Service/EventModifierServiceInterface.php
  Api/src/Place/Event/PlaceCycleEvent.php
  Api/src/Player/Event/PlayerCycleEvent.php
  Api/src/Player/Event/PlayerVariableEvent.php
  Api/src/Status/Event/ChargeStatusEvent.php
  Api/src/Status/Event/StatusCycleEvent.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Action/Actions/LeaveOrbitCest.php
  Api/tests/functional/Action/Service/ActionServiceCest.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
  Api/tests/functional/Game/Service/EventServiceCest.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
  Api/tests/unit/Game/Service/EventServiceTest.php
  Api/tests/unit/Modifier/Entity/Collection/ModifierCollectionTest.php
  Api/tests/unit/Modifier/Service/EventModifierServiceTest.php
  Api/translations/fr/modifiers+intl-icu.fr.xlf
Due: api-test, api-lint

Disable pagination to fetch all channels and messages
  Api/config/api_platform/resources/channel.yaml
  Api/config/api_platform/resources/message.yaml
Due: none

Sort messages to make the most recent ones appear first
  App/src/services/moderation.service.ts
Due: build-front, front-lint, front-test

remove unused import
  App/src/components/Moderation/ModerationPlayerListPage.vue
Due: build-front, front-lint, front-test

only fetch messages under 24h by default
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
Due: build-front, front-lint, front-test

fix default filters for message's authors
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
Due: build-front, front-lint, front-test

hotfix: Multiple fixes for moderation panel
  Api/config/api_platform/resources/channel.yaml
  Api/config/api_platform/resources/message.yaml
  App/src/components/Moderation/ModerationPlayerListPage.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/services/moderation.service.ts
Due: build-front, front-lint, front-test

fix: Multiple hotfixes
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/tests/unit/Exploration/PlanetSectorEventHandler/FightTest.php
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
  App/package.json
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Fix disease events in exploration
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/MetaGame/Controller/AdminController.php
Due: api-test, api-lint

fix:food found in exploration do not spoil before getting back to daedalus
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
  Api/tests/functional/Equipment/Event/ExplorationRationStayFreshCest.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint

fix: food found in exploration do not spoil before getting back to daedalus
  Api/src/Equipment/CycleHandler/RationCycleHandler.php
  Api/tests/functional/Equipment/Event/ExplorationRationStayFreshCest.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint

internal: fixed the modifierRequirement handler
  Api/src/Kernel.php
  Api/src/Modifier/DependencyInjection/ModifierRequirementHandlerPass.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementCycle.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHasStatus.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHolderName.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementItemInInventory.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementItemInRoom.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementPlayerInRoom.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementRandom.php
  Api/src/Modifier/config/services.yaml
Due: api-test, api-lint

fix: fixed several bug that prevented the charge modification to work. Added tests.
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Equipment/Service/GameEquipmentServiceInterface.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Game/Entity/VariableEventConfig.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Entity/ModifierHolderInterface.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Modifier/Service/EventCreationService.php
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Event/ChargeStatusEvent.php
  Api/tests/functional/Modifier/Event/ChargeModifierCest.php
  Api/tests/functional/Modifier/Service/DirectModifierWithRequirementCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Modifier/Service/DirectModifierWithRequirementCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Modifier/ModifierRequirementHandler/RequirementCycle.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

internal: modifierRequirement is now handled using handler rather than a single service
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/AbstractModifierRequirementHandler.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementCycle.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHasStatus.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementItemInInventory.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementItemInRoom.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementPlayerInRoom.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementRandom.php
  Api/src/Modifier/Service/ModifierRequirementHandlerService.php
  Api/src/Modifier/Service/ModifierRequirementHandlerServiceInterface.php
  Api/src/Modifier/Service/ModifierRequirementService.php
  Api/src/Modifier/config/services.yaml
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Game/Entity/VariableEventConfig.php
Due: api-test, api-lint

feat: added a nex CPU priority for POC of modifiers applying to charges
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

internal: added a modifierRequirement based on the name of the modifier holder
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/DataFixtures/DiseaseModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/src/Modifier/Entity/ModifierHolderInterface.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHasStatus.php
  Api/src/Modifier/ModifierRequirementHandler/RequirementHolderName.php
Due: api-test, api-lint

internal: statusEvent now have the holder name in tag
  Api/src/Status/Event/StatusEvent.php
Due: api-test, api-lint

feat: added a nex CPU priority for POC of modifiers applying to charges
  Api/src/Daedalus/Enum/NeronCpuPriorityEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint

fix: syntax fix
  Api/src/Modifier/ModifierRequirementHandler/RequirementCycle.php
Due: api-test, api-lint

internal: make direct modifier applicable on charge status retroactive
  Api/src/Modifier/Listener/PlayerEventSubscriber.php
  Api/src/Modifier/Listener/StatusSubscriber.php
Due: api-test, api-lint

internal: fixed tests to fit the refactor
  Api/tests/unit/Modifier/ModifierRequirementHandler/PlayerInRoomTest.php
  Api/tests/unit/Modifier/ModifierRequirementHandler/RandomRequirementTest.php
  Api/tests/unit/Modifier/Service/ModifierRequirementServiceTest.php
Due: api-test, api-lint

internal: modifier requirement are now applied on direct modifiers. Modified EventCreationService to fit those changes. VariableEventConfig now support chargeStatusEvent
  Api/src/Game/Entity/VariableEventConfig.php
  Api/src/Modifier/Listener/PlayerEventSubscriber.php
  Api/src/Modifier/ModifierHandler/AddEvent.php
  Api/src/Modifier/Service/EventCreationService.php
  Api/src/Modifier/Service/EventCreationServiceInterface.php
  Api/src/Modifier/Service/EventModifierService.php
  Api/src/Modifier/Service/ModifierCreationService.php
  Api/src/Modifier/Service/ModifierRequirementService.php
  Api/src/Modifier/Service/ModifierRequirementServiceInterface.php
  Api/tests/unit/Modifier/Service/EventCreationServiceTest.php
  Api/tests/unit/Modifier/Service/EventModifierServiceTest.php
  Api/tests/unit/Modifier/Service/ModifierCreationServiceTest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
Due: api-test, api-lint

fix: fixed tests
  Api/tests/unit/Modifier/Service/EventCreationServiceTest.php
  Api/tests/unit/Modifier/Service/ModifierCreationServiceTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/MetaGame/Controller/AdminController.php
Due: api-test, api-lint

add path for temp endpoint
  Api/src/MetaGame/Controller/AdminController.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
Due: api-test, api-lint
