Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

fix: Fix too much talkative Comms Managers
  App/src/components/Game/PlayerNotificationPopUp.vue
Due: build-front, front-lint, front-test

centauri base data + fictures + cest refactor of FightEventHandlerCest added centauri and kaladaan to rebel_base fr xlf created en translation file for rebel bases
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/RebelBaseModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/translations/en/rebel_base+intl-icu.en.xlf
Due: api-test, api-lint, translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
Due: api-test, api-lint

fix suggestion
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
Due: api-test, api-lint

feat(rebel): Centauri
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Exploration/PlanetSectorEventHandler/Fight.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/RebelBaseModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/translations/en/rebel_base+intl-icu.en.xlf
Due: api-test, api-lint, translations-lint

draft luyten-ceti
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Communications/Event/RebelBaseDecodedEvent.php
  Api/src/Communications/Service/DecodeRebelSignalService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Status/Listener/RebelBaseEventSubscriber.php
Due: api-test, api-lint

Revert "draft luyten-ceti"
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Communications/Event/RebelBaseDecodedEvent.php
  Api/src/Communications/Service/DecodeRebelSignalService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Status/Listener/RebelBaseEventSubscriber.php
Due: api-test, api-lint

revert: Good bye, Search for Mush Genome!
  Api/src/Action/Actions/SearchForMushGenome.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/SearchForMushGenomeCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(xyloph): Contact made with Nils Carlsson! (Ghost Sample)
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementType.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(xyloph): Zhong Chun's Genome Codex (Ghost Chun)
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/DaedalusStatusEnum.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/terminal+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat(xyloph): Contact established with Kivanç Terzi!
  Api/migrations/Version20250303183928.php
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/RebelBaseModifierConfigFixtures.php
  Api/src/Modifier/DataFixtures/XylophModifierConfigFixtures.php
  Api/src/Modifier/Entity/ModifierProvider.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(xyloph): Adding glory modifier for Paola
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/XylophModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Modifier/Enum/ModifierRequirementEnum.php
Due: api-test, api-lint

fix: Health loss log from Torture is now correctly private
  Api/src/Player/Service/AbstractRemoveVariableFromPlayerService.php
  Api/src/Player/Service/RemoveActionPointsFromPlayerServiceInterface.php
  Api/src/Player/Service/RemoveMovementPointsFromPlayerServiceInterface.php
  Api/tests/functional/Action/Actions/TortureCest.php
Due: api-test, api-lint

ci: Add PHP_CodeSniffer linter to enforce camelCase method names
  Api/composer.json
  Api/linters.sh
  Api/src/Action/Actions/Drop.php
  Api/src/Action/Validator/FlirtedAlreadyValidator.php
  Api/src/Chat/Specification/CanCreateChannel.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/Game/Service/CycleService.php
  Api/src/Game/Service/CycleServiceInterface.php
  Api/src/Game/ValueObject/CycleChangeResult.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Enum/RoomEnum.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/_support/RoomLogDto.php
  Api/tests/functional/Action/Actions/AttackCest.php
  Api/tests/functional/Action/Actions/FlirtActionCest.php
  Api/tests/functional/Action/Actions/TakeDropActionCest.php
  Api/tests/functional/Exploration/PlanetSectorEventHandler/FightEventHandlerCest.php
  Api/tests/unit/Action/Actions/FlirtActionTest.php
  Api/tests/unit/Chat/Normalizer/MessageNormalizerOnPheromodemTest.php
  Api/tests/unit/Chat/TestDoubles/FakeTranslationService.php
  Api/tests/unit/Equipment/Listener/JukeboxTest.php
  Api/tests/unit/Equipment/TestDoubles/FakePlayerMoralVariableEventService.php
  Api/tests/unit/Equipment/TestDoubles/FakeRemoveActionPointsFromPlayer.php
  Api/tests/unit/Equipment/WeaponEffectHandler/RemoveActionPointsWeaponEffectHandlerTest.php
  Api/tests/unit/MetaGame/Normalizer/ModerationPlayerInfoNormalizerTest.php
  Api/tests/unit/MetaGame/TestDoubles/InMemoryTokenStorage.php
  Api/tests/unit/Player/Normalizer/CommanderMissionNormalizerTest.php
  Api/tests/unit/Player/Normalizer/ContactablePlayerNormalizerTest.php
  Api/tests/unit/Player/TestDoubles/FakeTranslationService.php
  Api/tests/unit/Project/Listener/JukeboxProjectTest.php
  Api/tests/unit/Project/TestDoubles/FakePlayerHealthVariableEventService.php
  Api/tests/unit/RoomLog/Normalizer/RoomLogNormalizerTest.php
  Api/tests/unit/RoomLog/TestDoubles/TranslationService.php
  Api/tests/unit/Skill/Service/DeletePlayerSkillServiceTest.php
  Api/tests/unit/Skill/TestDoubles/InMemorySkillRepository.php
  hooks/pre-push
Due: api-test, api-lint

Adding 9th entry + tabulatrix queue system
  Api/src/Communications/ConfigData/xyloph_config_data.json
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Listener/StatusEventSubscriber.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/src/Communications/Service/PrintDocumentService.php
  Api/src/Communications/Service/PrintDocumentServiceInterface.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Listener/EquipmentSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/EventEnum.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Place/ConfigData/PlaceConfigData.php
  Api/src/Place/DataFixtures/PlaceConfigFixtures.php
  Api/src/Place/Enum/PlaceTypeEnum.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/translations/en/xyloph_entry+intl-icu.en.xlf
  Api/translations/fr/xyloph_entry+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Linting a file
  Api/src/Communications/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

I need to remember to avoid getStatusHolder when I have to to avoid ambiguous types of variables.
  Api/src/Communications/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

Now I know why you upgraded the linter right now
  Api/src/Communications/Service/PrintDocumentService.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Place/Enum/RoomEnum.php
Due: api-test, api-lint

Replacing simple delete to a more appropriate method.
  Api/src/Equipment/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

AddTag -> addTag.
  Api/src/Communications/Service/PrintDocumentService.php
Due: api-test, api-lint

Adding an import
  Api/src/Equipment/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

Add 'at' TODO
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
Due: api-test, api-lint

draft luyten-ceti
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/Enum/RebelBaseEnum.php
  Api/src/Communications/Event/RebelBaseDecodedEvent.php
  Api/src/Communications/Service/DecodeRebelSignalService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/Listener/RebelBaseEventSubscriber.php
Due: api-test, api-lint

Create Trade entities
  Api/src/Communications/Entity/Trade.php
  Api/src/Communications/Entity/TradeAsset.php
  Api/src/Communications/Entity/TradeOption.php
  Api/src/Communications/Enum/TradeAssetEnum.php
  Api/src/Communications/Enum/TradeEnum.php
Due: api-test, api-lint

Create Transport hunter config
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Hunter/ConfigData/HunterConfigData.php
  Api/src/Hunter/DataFixtures/HunterConfigFixtures.php
  Api/src/Hunter/Entity/HunterCollection.php
  Api/src/Hunter/Entity/HunterConfig.php
  Api/src/Hunter/Enum/HunterEnum.php
Due: api-test, api-lint

We normalize available trades
  Api/src/Communications/Repository/TradeRepository.php
  Api/src/Communications/Repository/TradeRepositoryInterface.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

apply suggestions
  Api/migrations/Version20250305211253.php
  Api/src/Communications/ConfigData/RebelBaseConfigDataLoader.php
  Api/src/Communications/ConfigData/rebel_base_config_data.json
  Api/src/Communications/DataFixtures/RebelBaseConfigFixtures.php
  Api/src/Communications/Dto/RebelBaseConfigDto.php
  Api/src/Communications/Entity/RebelBase.php
  Api/src/Communications/Entity/RebelBaseConfig.php
  Api/src/Communications/Service/DecodeRebelSignalService.php
  Api/src/Status/Listener/RebelBaseEventSubscriber.php
Due: api-test, api-lint

We can create transports and associated trade, for the moment always the same with a unique trade option
  Api/src/Communications/Entity/Trade.php
  Api/src/Communications/Entity/TradeAsset.php
  Api/src/Communications/Entity/TradeOption.php
  Api/src/Communications/Repository/TradeRepository.php
  Api/src/Communications/Service/CreateTransportTradeService.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Repository/HunterRepository.php
  Api/src/Hunter/Repository/HunterRepositoryInterface.php
  Api/src/Hunter/Service/CreateHunterService.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/unit/Communications/Service/CreateTransportServiceTest.php
  Api/tests/unit/Communications/TestDoubles/Repository/InMemoryTradeRepository.php
  Api/tests/unit/Hunter/Service/CreateHunterServiceTest.php
  Api/tests/unit/Hunter/TestDoubles/InMemoryHunterRepository.php
Due: api-test, api-lint

apply linter fixes
  Api/src/Communications/Entity/Trade.php
  Api/src/Communications/Entity/TradeOption.php
  Api/src/Communications/Service/CreateTransportTradeService.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
Due: api-test, api-lint

fix broken tests
  Api/src/Communications/Entity/Trade.php
  Api/src/Communications/Repository/TradeRepository.php
  Api/tests/functional/Equipment/Normalizer/CommsCenterNormalizerCest.php
Due: api-test, api-lint

Basic normalization of player vs oxygen trades
  Api/src/Communications/Entity/Trade.php
  Api/src/Communications/Entity/TradeAsset.php
  Api/src/Communications/Entity/TradeOption.php
  Api/src/Communications/Enum/TradeAssetEnum.php
  Api/src/Communications/Normalizer/TradeNormalizer.php
  Api/src/Communications/Normalizer/TradeOptionNormalizer.php
  Api/tests/functional/Communications/Normalizer/TradeNormalizerCest.php
  Api/translations/fr/trade+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Exclude transport from normal hunter generation
  Api/src/Hunter/Enum/HunterEnum.php
  Api/src/Hunter/Service/HunterService.php
Due: api-test, api-lint

apply linter fixes
  Api/src/Communications/Entity/TradeOption.php
  Api/src/Communications/Normalizer/TradeNormalizer.php
  Api/src/Communications/Normalizer/TradeOptionNormalizer.php
Due: api-test, api-lint

Ok, so we're creating a transport with a trade when daedalus is full, and it is visible on the front end
  Api/migrations/Version20250306100640.php
  Api/src/Communications/Entity/Trade.php
  Api/src/Communications/Entity/TradeAsset.php
  Api/src/Communications/Entity/TradeOption.php
  Api/src/Communications/Repository/TradeRepository.php
  Api/src/Communications/Service/CreateTransportTradeService.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Hunter/Listener/DaedalusEventSubscriber.php
  Api/translations/fr/hunter+intl-icu.fr.xlf
  App/src/assets/images/hunters/transport.png
  App/src/components/Game/SpaceBattleView.vue
  App/src/components/Game/Terminals/CommunicationsTerminal.vue
  App/src/entities/Terminal.ts
  App/src/entities/TerminalInfos.ts
  App/src/entities/Trade.ts
  App/src/enums/hunter.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix things here and there, procrastinating the hard tasks
  Api/src/Communications/Entity/Trade.php
  Api/src/Communications/Entity/TradeOption.php
  Api/src/Communications/Normalizer/TradeNormalizer.php
  Api/src/Communications/Normalizer/TradeOptionNormalizer.php
  Api/src/Communications/Service/CreateTransportTradeService.php
  Api/tests/functional/Communications/Normalizer/TradeNormalizerCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
Due: api-test, api-lint

Contacting Xyloph will now respond with a log!
  Api/src/Communications/Enum/XylophEnum.php
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/tests/functional/Action/Actions/ContactXylophCest.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
  Api/translations/en/xyloph_log+intl-icu.en.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/xyloph_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

Fixing FR translation file for tabulatrix states
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
Due: translations-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/migrations/Version20250305211253.php
Due: api-test, api-lint

Making failed printing public
  Api/src/Communications/Service/DecodeXylophDatabaseService.php
  Api/tests/functional/Communications/Service/PrintDocumentCest.php
Due: api-test, api-lint
