Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

test: Fixing assert values to expected ones
  Api/tests/functional/Action/Actions/AcceptTradeCest.php
Due: api-test, api-lint

test: Adding test checking alien fruit Eden triumph gain
  Api/tests/functional/Triumph/Event/EdenCest.php
Due: api-test, api-lint

feat(triumph): Eden Alien Plant
  Api/src/Equipment/Enum/GamePlantEnum.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Correcting triumph config names
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

refactor: Reduced number of query calls from getDifferentAlienPlantCount function to only once.
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Repository/GameEquipmentRepositoryInterface.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

Rebasing
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

Fixing duplicate lines during rebasing
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

feat(triumph): Eden Computed, Andie Fate
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/tests/functional/Action/Actions/AcceptTradeCest.php
  Api/tests/functional/Action/Actions/ComputeEdenCest.php
  Api/tests/functional/Action/Actions/RefuseTradeCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Pluralism
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Including pluralism in test
  Api/tests/functional/Triumph/Event/EdenCest.php
Due: api-test, api-lint

feat(triumph): Eden Microbes
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Eden Pregnant, Pregnant In Eden
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Biodiversity, Ecocitizen
  Api/src/Equipment/Enum/GamePlantEnum.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Repository/GameEquipmentRepositoryInterface.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Eden Pregnant, Pregnant In Eden, Pluralism, Microbe Pollution
  Api/src/Equipment/Enum/GamePlantEnum.php
  Api/src/Equipment/Repository/GameEquipmentRepository.php
  Api/src/Equipment/Repository/GameEquipmentRepositoryInterface.php
  Api/src/Equipment/Repository/InMemoryGameEquipmentRepository.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/EdenCest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Uncaught PHP Exception Mush\Game\Exception\GameException: "Announcement cannot be empty!"
  App/src/components/Game/ComManagerAnnouncementPanel.vue
Due: build-front, front-lint, front-test

New translations event_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/event_log+intl-icu.es.xlf
Due: translations-lint

fix: Config
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

test: Adjusting tests to updated triumph gain recording
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/unit/Player/Entity/ClosedPlayerTriumphGainTest.php
Due: api-test, api-lint

Attempt to fix the gain
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Normalizer/TriumphGainNormalizer.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/src/Triumph/ValueObject/TriumphGain.php
  Api/tests/unit/Player/Entity/ClosedPlayerTriumphGainTest.php
Due: api-test, api-lint

test: Fixing test to adjust to newer version
  Api/tests/unit/Triumph/Normalizer/TriumphGainNormalizerTest.php
Due: api-test, api-lint

fix: Triumph icon color on triumph gain display depending on the side the player was when gaining the triumph
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Normalizer/TriumphGainNormalizer.php
  Api/src/Triumph/ValueObject/TriumphGain.php
Due: api-test, api-lint

Edit TriumphGain.php
  Api/src/Triumph/ValueObject/TriumphGain.php
Due: api-test, api-lint

Fixing stuff
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

test: Adjusting tests to updated triumph gain recording
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Player/Entity/ClosedPlayerTriumphGainTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

Fixing stuff
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Normalizer/TriumphGainNormalizer.php
Due: api-test, api-lint

Attempt to fix the gain
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/unit/Player/Entity/ClosedPlayerTriumphGainTest.php
Due: api-test, api-lint

internal: Making code cleaner at the cost of retrocompability
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Normalizer/TriumphGainNormalizer.php
  Api/src/Triumph/ValueObject/TriumphGain.php
Due: api-test, api-lint

Updating isMush null argument when called from recordTriumphGain
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Normalizer/TriumphGainNormalizer.php
  Api/src/Triumph/ValueObject/TriumphGain.php
Due: api-test, api-lint

fix: Triumph gain icon indicate which side the player was on when triumph was gained
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Triumph/ValueObject/TriumphGain.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Player/Entity/ClosedPlayerTriumphGainTest.php
  Api/tests/unit/Triumph/Normalizer/TriumphGainNormalizerTest.php
  Api/tests/unit/Triumph/Service/ChangeTriumphFromEventServiceTest.php
Due: api-test, api-lint

feat: Display Daedalus statistics on theEnd page
  Api/src/Daedalus/Entity/ClosedDaedalus.php
  Api/src/Daedalus/Entity/DaedalusStatistics.php
  Api/src/Daedalus/Normalizer/ClosedDaedalusNormalizer.php
  Api/src/Game/ValueObject/NamedInteger.php
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/translations/fr/the_end+intl-icu.fr.xlf
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedDaedalus.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

tes:t fix broken test
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
Due: api-test, api-lint

New translations the_end+intl-icu.fr.xlf (French)
  Api/translations/fr/the_end+intl-icu.fr.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (Spanish)
  Api/translations/es/the_end+intl-icu.es.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (Italian)
  Api/translations/it/the_end+intl-icu.fr.it.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (English)
  Api/translations/en/the_end+intl-icu.en.xlf
Due: translations-lint

chore(hotfix): Spores created counter won't count spore consumed by Mush players
  Api/src/Action/Actions/Scan.php
  Api/src/Daedalus/Entity/DaedalusStatistics.php
  Api/src/Daedalus/Listener/ExplorationStartedSubscriber.php
  Api/src/Daedalus/Listener/HunterDeathSubscriber.php
  Api/src/Daedalus/Listener/OnConversionPlayerSubscriber.php
  Api/src/Daedalus/Listener/PlayerVariableSubscriber.php
  Api/src/Daedalus/Listener/RebelBaseDecodedSubscriber.php
  Api/tests/functional/Daedalus/Event/PlayerVariableEventCest.php
Due: api-test, api-lint

Update source file the_end+intl-icu.fr.xlf
  Api/translations/fr/the_end+intl-icu.fr.xlf
Due: translations-lint

feat: Introduce ActionHighlight value object and its normalization logic
  Api/src/Action/Normalizer/ActionHighlightNormalizer.php
  Api/src/Action/ValueObject/ActionHighlight.php
  Api/tests/functional/Action/Normalizer/ActionHighlightNormalizerCest.php
  Api/tests/unit/Action/Normalizer/ActionHighlightNormalizerTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
