Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: Human players eating contaminated food are infected by its number of spores.
  Api/src/Equipment/Listener/ApplyEffectSubscriber.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
Due: api-test, api-lint

fix: Players transformed to Mush by a contaminated food won't receive food bonus
  Api/src/Equipment/Listener/ApplyEffectSubscriber.php
Due: api-test, api-lint

fix: Being transformed into Mush by a contaminated food pritns a message in Mush channel
  Api/src/Communication/Enum/MushMessageEnum.php
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Status/Entity/Status.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Put contaminated items on top when normalizing the place, so they are consummed first
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/tests/functional/Place/Normalizer/PlaceNormalizerCest.php
Due: api-test, api-lint

feat: Cook andf Hyperfreeze actions remove Contaminated status
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Event/TransformEquipmentEvent.php
  Api/src/Player/Entity/Player.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/CookActionCest.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
Due: api-test, api-lint

Add skill and action french translations
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

fix broken tests
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

Add fungal kitchen skill and contaminated status icons
  App/src/enums/skill.enum.ts
  App/src/enums/status.item.enum.ts
Due: build-front, front-lint, front-test

feat(skill): Fungal Kitchen
  Api/src/Action/Actions/MixRationSpore.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Communication/Enum/MushMessageEnum.php
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/FruitPlantConfigFixtures.php
  Api/src/Equipment/DataFixtures/RationConfigFixtures.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Event/TransformEquipmentEvent.php
  Api/src/Equipment/Listener/ApplyEffectSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Entity/Status.php
  Api/src/Status/Entity/TargetStatusTrait.php
  Api/src/Status/Listener/EquipmentSubscriber.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Action/Actions/ConsumeActionCest.php
  Api/tests/functional/Action/Actions/CookActionCest.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
  Api/tests/functional/Action/Actions/HyperfreezeCest.php
  Api/tests/functional/Action/Actions/MixRationSporeCest.php
  Api/tests/functional/Place/Normalizer/PlaceNormalizerCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
  App/src/enums/status.item.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Hard Boiled
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/tests/functional/Action/Actions/HitActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Saboteur
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/SabotageCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Disheartening Contact
  Api/src/Action/Actions/Depress.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/Enum/SkillEnum.php
  Api/tests/functional/Action/Actions/DepressCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add Slime Trap action which makes target dirty after 1 to 4 cycles
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/SlimeTrap.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/SlimeTrapCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add skill icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

Add french translations
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

fix typo
  Api/tests/functional/Action/Actions/SlimeTrapCest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Slime trap
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/SlimeTrap.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/SlimeTrapCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Green Jelly
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/SlimeObject.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/SlimeObjectCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add NERON announcement when slimed item becomes broken
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Status/Event/StatusEvent.php
  Api/tests/functional/Action/Actions/SlimeObjectCest.php
Due: api-test, api-lint

style: rename methods casting action targets
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/SlimeObject.php
  Api/src/Action/Actions/SlimeTrap.php
  Api/src/Action/Event/ApplyEffectEvent.php
  Api/src/Player/Listener/ApplyEffectEventSubscriber.php
Due: api-test, api-lint

feat(skill): Green Jelly
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/SlimeObject.php
  Api/src/Action/Actions/SlimeTrap.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Action/Event/ApplyEffectEvent.php
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/Listener/ApplyEffectEventSubscriber.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/SlimeObjectCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Massive Mushification
  Api/src/Action/Actions/MassGgedon.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Validator/GameVariableLevel.php
  Api/src/Action/Validator/GameVariableLevelValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/MassGgedonCest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

apply linter fixes
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

feat(skill): Bypass
  Api/src/Action/Validator/HasNeededTitleForTerminalValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/AccessTerminalActionCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat(skill): Traitor
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Event/PlanetSectorEvent.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/PlanetSectorEventSubscriber.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix typo
  Api/tests/functional/Action/Actions/MassGgedonCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat(skill): Traitor
  Api/src/Exploration/Entity/Exploration.php
  Api/src/Exploration/Event/PlanetSectorEvent.php
  Api/src/Exploration/Service/ExplorationService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/PlanetSectorEventSubscriber.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/MassGgedonCest.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Food decomposition statuses are visible only for Chef and Mush players
  Api/src/Game/Enum/VisibilityEnum.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Normalizer/StatusNormalizer.php
  Api/tests/functional/Equipment/Normalizer/RationCest.php
Due: api-test, api-lint

fix: Installing or Removing a camera uses technician points
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
  Api/tests/functional/Action/Actions/RemoveCameraCest.php
Due: api-test, api-lint

feat(action): Reinforce
  Api/src/Action/Actions/Reinforce.php
  Api/src/Action/Actions/Sabotage.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/DisassembleCest.php
  Api/tests/functional/Action/Actions/ReinforceCest.php
  Api/tests/functional/Action/Actions/SabotageCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Bump version to 0.9.3
  App/package.json
Due: none

feat: A random apprentron spawns in a random storage when the game starts
  Api/migrations/Version20240907113851.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/BookConfigFixtures.php
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/tests/functional/Modifier/Listener/CreateDestroyEquipmentSubscriberCest.php
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: Add Read book action, which allows player to learn the mage book skill.
  Api/src/Action/Actions/ReadBook.php
  Api/src/Action/Validator/DoesNotHaveMageBookSkill.php
  Api/src/Action/Validator/DoesNotHaveMageBookSkillValidator.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Book.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/tests/functional/Action/Actions/ReadBookCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Update human skill slots logic
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/tests/functional/Player/Normalizer/SelectableSkillsCest.php
Due: api-test, api-lint

fix: Destroy book only if it's a magebook
  Api/src/Action/Actions/ReadBook.php
Due: api-test, api-lint

refactor: Fix missing break statement in StatusEventSubscriber
  Api/src/Status/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

refactor: Remove status when exchanging body with another player
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/ExchangeBodyCest.php
Due: api-test, api-lint

fix broken tests
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/tests/functional/Daedalus/Event/FilledDaedalusCest.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
  Api/tests/unit/Action/Actions/ReadBookActionTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Status/Listener/StatusEventSubscriber.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
