Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

Update source file status+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

Update source file terminal+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

fix: IT points stack when picking a skill.
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/Service/AddSkillToPlayerService.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/ParticipateCest.php
  Api/tests/functional/Modifier/Service/SkillPointModifierPriorityCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

fix: Logs extending charge statuses are now hidden.
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/RoomLog/Listener/StatusSubscriber.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Skill/Service/AddSkillToPlayerService.php
Due: api-test, api-lint

Fix: Skill points are increase daily properly
  Api/src/Status/Entity/ChargeStatus.php
  Api/src/Status/Service/StatusService.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

test: Uncommenting tests
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

refactor: Charge status will be updated with same discharge strategies instead of modifier configs
  Api/src/Status/Service/StatusService.php
Due: api-test, api-lint

Triumph is now a game variable.
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerVariables.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/translations/fr/rebel_base+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add Vocoded Announcements
  Api/migrations/Version20250415182135.php
  Api/src/Action/Actions/ToggleVocodedAnnouncements.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Chat/Entity/Dto/CreateMessage.php
  Api/src/Chat/Entity/Message.php
  Api/src/Chat/Enum/NeronMessageEnum.php
  Api/src/Chat/Normalizer/MessageNormalizer.php
  Api/src/Chat/Services/MessageService.php
  Api/src/Daedalus/Entity/Neron.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationChannelNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationMessageNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationPlayerInfoNormalizer.php
  Api/src/MetaGame/Normalizer/ModerationRoomLogNormalizer.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/ToggleVocodedAnnouncementsCest.php
  Api/tests/functional/Chat/Service/MessageServiceCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/unit/Chat/Normalizer/MessageNormalizerTest.php
  Api/translations/fr/neron+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/BiosTerminal.vue
  App/src/components/Moderation/ModerationViewPlayerDetailPage.vue
  App/src/components/Moderation/SanctionListPage.vue
  App/src/entities/ModerationViewPlayer.ts
  App/src/entities/TerminalInfos.ts
  App/src/entities/TerminalSectionTitles.ts
  App/src/enums/action.enum.ts
  App/src/services/moderation.service.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

New translations neron+intl-icu.fr.xlf (French)
  Api/translations/fr/neron+intl-icu.fr.xlf
Due: translations-lint

New translations neron+intl-icu.fr.xlf (Spanish)
  Api/translations/es/neron+intl-icu.es.xlf
Due: translations-lint

New translations neron+intl-icu.fr.xlf (Italian)
  Api/translations/it/neron+intl-icu.fr.it.xlf
Due: translations-lint

New translations neron+intl-icu.fr.xlf (English)
  Api/translations/en/neron+intl-icu.en.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (French)
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Spanish)
  Api/translations/es/terminal+intl-icu.es.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Italian)
  Api/translations/it/terminal+intl-icu.fr.it.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (English)
  Api/translations/en/terminal+intl-icu.en.xlf
Due: translations-lint

fix: Moderators can access to private channels after Daedalus is finished
  App/src/services/moderation.service.ts
Due: build-front, front-lint, front-test

Revert "fix: Moderators can access to private channels after Daedalus is finished"
  App/src/services/moderation.service.ts
Due: build-front, front-lint, front-test

fix: Log display whole numbers for variables
  Api/src/Player/Event/PlayerVariableEvent.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
Due: api-test, api-lint

feat: Add Share inventory, share health, share resaearch buttons
  App/src/components/Game/Communications/ActionButtons.vue
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/entities/Room.ts
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

fix: Logs display whole number for quantity parameter
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
Due: api-test, api-lint

feat: Add Upgrade Drone to Sensor action
  Api/src/Action/Actions/UpgradeDroneToSensor.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Equipment/DroneTasks/DroneTasksHandler.php
  Api/src/Equipment/DroneTasks/MoveInRandomAdjacentRoomTask.php
  Api/src/Equipment/DroneTasks/MoveTask.php
  Api/src/Equipment/Entity/Drone.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Service/FindNextRoomTowardsConditionService.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/tests/functional/Action/Actions/UpgradeDroneToSensorCest.php
  Api/tests/functional/Equipment/DroneTasks/DroneCest.php
  Api/tests/unit/Equipment/DroneTasks/DroneTasksHandlerTest.php
  Api/tests/unit/Equipment/DroneTasks/MoveTaskTest.php
  Api/tests/unit/Place/Service/FindNextRoomTowardsConditionTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: created entities for skins
  Api/src/Equipment/Entity/Config/EquipmentConfig.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/MetaGame/Entity/Skin/Skin.php
  Api/src/MetaGame/Entity/Skin/SkinSlot.php
  Api/src/MetaGame/Entity/Skin/SkinSlotConfig.php
  Api/src/MetaGame/Entity/Skin/SkinableConfigInterface.php
  Api/src/MetaGame/Entity/Skin/SkinableEntityInterface.php
  Api/src/MetaGame/Entity/UnlockCondition.php
  Api/src/Place/Entity/Place.php
  Api/src/Place/Entity/PlaceConfig.php
  Api/src/Place/Service/PlaceService.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Service/PlayerService.php
  Api/src/User/Entity/User.php
Due: api-test, api-lint

feat: normalize skins
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Player/Normalizer/OtherPlayerNormalizer.php
Due: api-test, api-lint

refactor: phaser asset are now loaded as texture atlas rather than loading multiple tileset. This should improve performances
  Api/src/MetaGame/Entity/Skin/Skin.php
  Api/src/MetaGame/Entity/Skin/SkinSlotConfig.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  App/src/game/assets/mush_lab.json
  App/src/game/objects/characterObject.ts
  App/src/game/objects/decorationObject.ts
  App/src/game/objects/doorGroundObject.ts
  App/src/game/objects/doorObject.ts
  App/src/game/objects/equipmentObject.ts
  App/src/game/objects/interactObject.ts
  App/src/game/objects/patrolShipObject.ts
  App/src/game/objects/playableCharacterObject.ts
  App/src/game/objects/shelfObject.ts
  App/src/game/scenes/daedalusScene.ts
  App/src/game/tiled/mushTextureProperties.ts
  App/src/game/tiled/mushTiledMap.ts
  App/src/game/tiled/mushTiledObject.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: fix tests after rebasing
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Player/Entity/Config/CharacterConfig.php
  Api/src/User/Entity/User.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/tests/unit/Place/Normalizer/PlaceNormalizerTest.php
  Api/tests/unit/Player/Normalizer/OtherPlayerNormalizerTest.php
Due: api-test, api-lint

feat: added skin enums
  Api/src/MetaGame/Enum/SkinEnum.php
  App/public/phaser/skin.enum.ts
  App/src/game/tiled/mushTiledMap.ts
  App/src/game/tiled/mushTiledObject.ts
Due: build-front, api-test, api-lint, front-lint, front-test

add database migration
  Api/migrations/Version20240918214639.php
Due: api-test, api-lint
