Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php, Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

feat(projects): Add Heat Lamps
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/Factory/ProjectConfigFactory.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/tests/functional/Equipment/Event/PlantNewDayCest.php
  Api/tests/functional/Equipment/Listener/PlantCycleEventCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/tests/functional/Project/Listener/ProjectEventSubscriberCest.php
  Api/tests/unit/Equipment/CycleHandler/PlantCycleHandlerTest.php
  Api/tests/unit/Player/Entity/PlayerTest.php
  Api/tests/unit/Status/Service/StatusServiceTest.php
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/assets/images/action_points/pa_garden.png
  App/src/enums/skill.enum.ts
  App/src/utils/formatText.ts
Due: build-front, api-test, api-lint, front-lint, front-test

Add french translations
  Api/translations/fr/daedalus+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
Due: api-lint

Hunters reduce hull if shield is insufficient
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/functional/Daedalus/Normalizer/DaedalusNormalizerCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
Due: api-test, api-lint

Daedalus Shield gains +5 at each cycle if Plasma Shield is finished
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
Due: api-test, api-lint

Daedalus get 50 shield points when Plasma Shield Project is finished
  Api/src/Daedalus/Listener/DaedalusVariableSubscriber.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Daedalus/Service/DaedalusServiceInterface.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Project/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix broken tests
  Api/src/Project/Factory/ProjectFactory.php
  Api/tests/functional/Hunter/Listener/DaedalusCycleSubscriberCest.php
  Api/tests/functional/Project/Repository/ProjectRepositoryCest.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
Due: api-test, api-lint

Update front end to display finished plasma shield
  App/src/assets/images/plasma.png
  App/src/components/Game/BannerPanel.vue
Due: build-front, front-lint, front-test

Hunters shot at the shield if Plasma Shield project is finished
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
Due: api-test, api-lint

Do not display plasma shield if it is not finished
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/tests/functional/Daedalus/Normalizer/DaedalusNormalizerCest.php
  App/src/components/Game/BannerPanel.vue
Due: build-front, api-test, api-lint, front-lint, front-test

fix type checking for shield variable
  App/src/entities/Daedalus.ts
Due: build-front, front-lint, front-test

fix broken tests
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Hunter/Listener/DaedalusCycleSubscriberCest.php
Due: api-test, api-lint

feat(projects) : Add Plasma Shield
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/DataFixtures/DaedalusConfigFixtures.php
  Api/src/Daedalus/Listener/DaedalusVariableSubscriber.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Daedalus/Service/DaedalusServiceInterface.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/Hunter/Service/HunterService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/ProjectModifierConfigFixtures.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/Factory/ProjectFactory.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/tests/functional/Daedalus/Normalizer/DaedalusNormalizerCest.php
  Api/tests/functional/Hunter/Listener/DaedalusCycleSubscriberCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
  Api/tests/functional/Project/Event/ProjectFinishedEventCest.php
  Api/tests/functional/Project/Repository/ProjectRepositoryCest.php
  Api/tests/unit/Daedalus/Normalizer/DaedalusNormalizerTest.php
  Api/translations/fr/daedalus+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  App/src/assets/images/plasma.png
  App/src/components/Game/BannerPanel.vue
  App/src/entities/Daedalus.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: new Crowdin translations
  Api/translations/en/action_fail+intl-icu.en.xlf
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/daedalus+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/action_fail+intl-icu.es.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/skill+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/daedalus+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/it/action_fail+intl-icu.fr.it.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/project+intl-icu.fr.it.xlf
  Api/translations/it/skill+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
  Api/translations/it/terminal+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/it.json
Due: api-lint

fix: new Crowdin translations
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint

hotfix: Add admin action to propose new projects for ongoing daedaluses
  Api/src/MetaGame/Controller/AdminActionsController.php
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix HTTP method for the endpoint used
  App/src/services/admin.actions.service.ts
Due: build-front, front-lint, front-test

Fix loading spinner when using admin actions
  App/src/App.vue
  App/src/store/admin.actions.module.ts
Due: build-front, front-lint, front-test

style: apply linter fixes
  Api/src/MetaGame/Controller/AdminActionsController.php
Due: api-test, api-lint

hotfix: Add admin action to propose new projects for ongoing daedaluses
  Api/src/MetaGame/Controller/AdminActionsController.php
  App/src/App.vue
  App/src/components/Admin/Actions/AdminActionsPage.vue
  App/src/i18n/locales/fr.json
  App/src/services/admin.actions.service.ts
  App/src/store/admin.actions.module.ts
Due: build-front, api-test, api-lint, front-lint, front-test

hotfix: Fix Astro terminal button width
  App/src/components/Game/Terminals/AstroTerminal.vue
  App/src/components/Utils/ActionButton.vue
Due: build-front, front-lint, front-test

fix: You won't gain an extra AP at cycle change after being dragged from your bed
  Api/src/Action/Listener/ActionSubscriber.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ForceGetUpCest.php
Due: api-test, api-lint

test: remove useless assertion
  Api/tests/functional/Action/Actions/ForceGetUpCest.php
Due: api-test, api-lint

fix: You won't gain an extra AP at cycle change after being dragged out your bed
  Api/src/Action/Listener/ActionSubscriber.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/Status/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/ForceGetUpCest.php
Due: api-test, api-lint

fix: You can acces Block of Post-it again
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Equipment/Entity/GameItem.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Factory/GameItemFactory.php
  Api/tests/unit/Action/Service/GetActionTargetFromContextServiceTest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint

fix: You can access Block of Post-it again
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Equipment/Entity/GameItem.php
  Api/src/Equipment/Enum/EquipmentEnum.php
  Api/src/Equipment/Factory/GameItemFactory.php
  Api/tests/unit/Action/Service/GetActionTargetFromContextServiceTest.php
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint

internal: reworked the action target and scope enum
  Api/src/Action/Enum/ActionScopeEnum.php
  Api/src/Action/Enum/ActionTargetName.php
  App/README.md
Due: api-test, api-lint

WIP: after thinking those changes are actually not simplifying the code
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/GearModifierConfigFixtures.php
  Api/src/Modifier/Entity/GameModifier.php
  Api/src/Modifier/Entity/ModifierProviderInterface.php
  Api/src/Modifier/Entity/ModifierProviderTrait.php
  Api/src/Modifier/Enum/ModifierHolderClassEnum.php
  Api/src/Modifier/Listener/StatusSubscriber.php
  Api/src/Modifier/Service/ModifierListenerService/DiseaseModifierService.php
  Api/src/Modifier/Service/ModifierListenerService/EquipmentModifierService.php
  Api/src/Project/Entity/Project.php
  Api/src/Status/Entity/Status.php
  Api/tests/unit/Modifier/Service/EquipmentModifierServiceTest.php
  Api/tests/unit/Modifier/Service/ModifierCreationServiceTest.php
Due: api-test, api-lint

refactor: Actually really return the right number of fires / tremors / panic crisis
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

refactor: Clean code - Add more early returns - Move procedural code to get breakable doors to a method - Remove useless variables and return result directly
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

refactor: remove empty checks on arrays, as `getRandomElements` supports empty arrays
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

refactor: move all random services in a subfolder
  Api/src/Game/Service/Random/FakeGetRandomElementsFromArrayService.php
  Api/src/Game/Service/Random/FakeGetRandomIntegerService.php
  Api/src/Game/Service/Random/GetRandomElementsFromArrayService.php
  Api/src/Game/Service/Random/GetRandomElementsFromArrayServiceInterface.php
  Api/src/Game/Service/Random/GetRandomIntegerService.php
  Api/src/Game/Service/Random/GetRandomIntegerServiceInterface.php
  Api/src/Project/UseCase/AdvanceProjectUseCase.php
  Api/src/Project/UseCase/ProposeNewNeronProjectsUseCase.php
Due: api-test, api-lint

refactor: Use fake RNGs to actually exhibit the bug
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Game/Service/Random/FakeGetRandomPoissonIntegerService.php
  Api/src/Game/Service/Random/GetRandomPoissonIntegerService.php
  Api/src/Game/Service/Random/GetRandomPoissonIntegerServiceInterface.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

fix: Put fires in room WITHOUT fires, not the other way around...
  Api/src/Daedalus/Service/DaedalusIncidentService.php
Due: api-test, api-lint

refactor: Add more robust tests and apply linter fixes
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Game/Service/Random/FakeGetRandomPoissonIntegerService.php
  Api/src/Game/Service/Random/GetRandomPoissonIntegerService.php
  Api/src/Game/Service/Random/GetRandomPoissonIntegerServiceInterface.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

fix namespace of random services in tests
  Api/tests/unit/Game/Service/FakeGetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Game/Service/FakeGetRandomIntegerServiceTest.php
  Api/tests/unit/Game/Service/GetRandomElementsFromArrayServiceTest.php
  Api/tests/unit/Game/Service/GetRandomIntegerServiceTest.php
  Api/tests/unit/Project/UseCase/AdvanceProjectUseCaseTest.php
  Api/tests/unit/Project/UseCase/ProposeNewNeronProjectsUseCaseTest.php
Due: api-test, api-lint

test: Refactor tremor tests
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

test: refactor tests for handleDoorBreak
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Equipment/Entity/Door.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

test: refactor handlePanicCrisis method tests
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

test: refactor handleMetalPlates tests
  Api/src/Daedalus/Service/DaedalusIncidentService.php
  Api/src/Equipment/Entity/Door.php
  Api/tests/unit/Daedalus/Service/DaedalusIncidentServiceTest.php
Due: api-test, api-lint

fix dependency injection of random services
  Api/src/Game/config/services.yaml
Due: none
