Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

New translations the_end+intl-icu.fr.xlf (Italian)
  Api/translations/it/the_end+intl-icu.fr.it.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (English)
  Api/translations/en/the_end+intl-icu.en.xlf
Due: translations-lint

New translations fun_facts+intl-icu.fr.xlf (French)
  Api/translations/fr/fun_facts+intl-icu.fr.xlf
Due: translations-lint

New translations fun_facts+intl-icu.fr.xlf (English)
  Api/translations/en/fun_facts+intl-icu.en.xlf
Due: translations-lint

New translations the_end+intl-icu.fr.xlf (French)
  Api/translations/fr/the_end+intl-icu.fr.xlf
Due: translations-lint

feat: Berzerk player will have mutated body displayed
  App/src/game/objects/characterObject.ts
Due: build-front, front-lint, front-test

fix: Berzerk cannot talk
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

New translations triumph+intl-icu.fr.xlf (French)
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

New translations triumph+intl-icu.fr.xlf (English)
  Api/translations/en/triumph+intl-icu.en.xlf
Due: translations-lint

Corrected and tested
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
Due: build-front, front-lint, front-test

Untested modifications
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/export-channel-to-pdf.service.ts
Due: build-front, front-lint, front-test

Separated code for each PDF and Clipboard but common createChannelCanvas
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/services/export-channel-to-pdf.service.ts
Due: build-front, front-lint, front-test

remove unused export (internal functions or const)
  App/src/services/export-channel-to-pdf.service.ts
Due: build-front, front-lint, front-test

feat: separate pdf and clipboard channel export (two buttons)
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
  App/src/services/export-channel-to-pdf.service.ts
Due: build-front, front-lint, front-test

New translations fr.json (French)
  App/src/i18n/locales/fr.json
Due: none

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

New translations fr.json (Italian)
  App/src/i18n/locales/it.json
Due: none

New translations fr.json (English)
  App/src/i18n/locales/en.json
Due: none

fix: new Crowdin translations
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/chat+intl-icu.en.xlf
  Api/translations/en/fun_facts+intl-icu.en.xlf
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/the_end+intl-icu.en.xlf
  Api/translations/en/triumph+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/equipments+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/fun_facts+intl-icu.es.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/neron+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/the_end+intl-icu.es.xlf
  Api/translations/es/triumph+intl-icu.es.xlf
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/alerts+intl-icu.fr.xlf
  Api/translations/fr/chat+intl-icu.fr.xlf
  Api/translations/fr/disease+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/triumph+intl-icu.fr.xlf
  Api/translations/fr/xyloph_log+intl-icu.fr.xlf
  Api/translations/it/fun_facts+intl-icu.fr.it.xlf
  Api/translations/it/the_end+intl-icu.fr.it.xlf
  Api/translations/it/triumph+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: api-test, api-lint, translations-lint

feat: Introduce ActionHighlight value object and its normalization logic
  Api/src/Action/Normalizer/ActionHighlightNormalizer.php
  Api/src/Action/ValueObject/ActionHighlight.php
  Api/tests/functional/Action/Normalizer/ActionHighlightNormalizerCest.php
  Api/tests/unit/Action/Normalizer/ActionHighlightNormalizerTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Register highlights after each action and send them to front end
  Api/migrations/Version20250607115313.php
  Api/src/Action/ValueObject/ActionHighlight.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/tests/functional/Action/Normalizer/ActionHighlightNormalizerCest.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/unit/Action/Normalizer/ActionHighlightNormalizerTest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
Due: api-test, api-lint

Add highlights translations
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

style: apply linter fixes
  Api/src/Action/ValueObject/ActionHighlight.php
Due: api-test, api-lint

test: fix tests
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
Due: api-test, api-lint

Display highlights on theEnd and purgatory pages
  App/src/components/Game/HistoryLogs.vue
  App/src/components/PurgatoryPage.vue
  App/src/components/Ranking/PlayerHistoryPopup.vue
  App/src/components/Ranking/TheEndPage.vue
  App/src/entities/ClosedPlayer.ts
  App/src/store/popup.module.ts
Due: build-front, front-lint, front-test

refactor: update PlayerHighlight normalization and translation keys
  Api/src/Player/Normalizer/PlayerHighlightNormalizer.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

remove search highlights translation
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: translations-lint

refactor: rename action highlights to player highlights across the codebase
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Player/Normalizer/DeadPlayerNormalizerTest.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
  App/src/components/Game/HistoryLogs.vue
  App/src/components/PurgatoryPage.vue
  App/src/entities/ClosedPlayer.ts
  App/src/entities/DeadPlayerInfo.ts
Due: build-front, api-test, api-lint, front-lint, front-test

refactor: rename ActionHighlights to PlayerHighlights
  Api/migrations/Version20250607115313.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/PlayerHighlightNormalizer.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/tests/functional/Player/Event/ActionEventCest.php
  Api/tests/functional/Player/Normalizer/PlayerHighlightNormalizerCest.php
  Api/tests/unit/Player/Normalizer/PlayerHighlightNormalizerTest.php
Due: api-test, api-lint

style: apply linter fixes
  Api/src/Action/Event/ActionEvent.php
  Api/src/Player/Normalizer/ClosedPlayerNormalizer.php
  Api/src/Player/Normalizer/DeadPlayerNormalizer.php
  Api/src/Status/Event/StatusEvent.php
Due: api-test, api-lint

refactor: Player highlights can now be created from any GameEvent implementing PlayerHighlightTargetInterface. Use this refactor to implement "item found" highlight.
  Api/src/Action/Actions/Search.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Action/Event/ActionEvent.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/Player/Entity/ClosedPlayer.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Entity/PlayerInfo.php
  Api/src/Player/Event/PlayerHighlightSourceEventInterface.php
  Api/src/Player/Listener/ActionEventSubscriber.php
  Api/src/Player/Listener/StatusEventSubscriber.php
  Api/src/Player/ValueObject/PlayerHighlight.php
  Api/src/Player/ValueObject/PlayerHighlightTargetInterface.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/SearchActionCest.php
  Api/translations/fr/highlight+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

style: apply linter fixes
  Api/src/Action/Event/ActionEvent.php
Due: api-test, api-lint

fix: Dedicated comms officer title should be assigned to players doing the most comms center tasks
  Api/migrations/Version20250609105306.php
  Api/src/Player/Entity/PlayerStatistics.php
  Api/src/Player/Listener/PlayerStatisticsSubscriber.php
  Api/tests/functional/Action/Actions/DecodeRebelSignalCest.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
