Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css

hotfix: Fix shelf inventory display
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
Due: build-front, front-lint, front-test

hotfix: Fix shelves inventory display
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
Due: build-front, front-lint, front-test

Objet Schrodinger créé take_cat partiellement implémenté (manque spore sur griffure contaminée) cat_owner partiellement implémenté (monté sur le dos de asocial)
  Api/src/Action/Actions/Take_cat.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

switching to vscode
  Api/src/Action/Actions/Take_cat.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  App/public/phaser/characters.json:Zone.Identifier
Due: api-test, api-lint

feat: implemented cat owner status fully. cat owners do not get scratched by Schrodinger, and create Schrodinger upon waking up feat: implemented pet cat action
  Api/src/Action/Actions/PetCat.php
  Api/src/Action/Actions/TakeCat.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

schrodinger spawns on Raluca waking up, sorry for split commit
  Api/src/Equipment/Enum/EquipmentEventReason.php
  Api/src/Equipment/Listener/PlayerSubscriber.php
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: schrodinger meows when seeing actions
  Api/src/Place/Entity/Place.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Schrodinger spawns on Raluca waking up
  Api/src/Equipment/Enum/EquipmentEventReason.php
  Api/src/Equipment/Listener/PlayerSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: implemented convert cat to mush action
  Api/src/Action/Actions/ConvertCat.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/EquipmentStatusEnum.php
  Api/src/Status/Enum/HunterStatusEnum.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  App/src/enums/status.item.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

feat: implemented convert cat to mush action (still missing log)
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

feat: added infection on clumsiness trigger on take_cat and pet_cat lowered cat_meow chance to 10% first merge candidate milestone reached
  Api/src/Action/Actions/ConvertCat.php
  Api/src/Action/Actions/PetCat.php
  Api/src/Communication/Enum/MushMessageEnum.php
  Api/src/Communication/Listener/PlayerSubscriber.php
  Api/src/Communication/Listener/StatusSubscriber.php
  Api/src/Player/Listener/ActionVariableSubscriber.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: cat_owner status holders lose 4 morale on schrodinger death fix: fixed incorrect alt text on triumph icon
  Api/src/Action/Event/ActionEvent.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/Status/ConfigData/StatusConfigData.php
  App/src/utils/formatText.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: added log of death of cat on successful shot feat: added log of cat hiss on failed shot
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/src/RoomLog/Enum/LogEnum.php
  Api/src/RoomLog/Listener/ActionSubscriber.php
  Api/src/RoomLog/Listener/EquipmentSubscriber.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Add some tests to implement for `PetCat` action
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Action/Actions/PetCatCest.php
Due: api-test, api-lint

fix: pet-cat cannot be used when germaphobic
  Api/src/Action/Actions/PetCat.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/tests/functional/Action/Actions/PetCatCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

pet cat cests
  Api/tests/functional/Action/Actions/PetCatCest.php
Due: api-test, api-lint

Convert cat cests implemented... I have no idea why that first one isn't working, calling lead dev to the rescue
  Api/tests/functional/Action/Actions/ConvertCatCest.php
Due: api-test, api-lint

fix broken ConvertCat tests
  Api/src/Equipment/DataFixtures/ItemConfigFixtures.php
  Api/tests/functional/Action/Actions/ConvertCatCest.php
Due: api-test, api-lint

created empty cests
  Api/tests/functional/Action/Actions/ConvertCatCest.php
  Api/tests/functional/Action/Actions/PetCatCest.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Action/Actions/TakeCatCest.php
  Api/tests/functional/Communication/Listener/EquipmentSubscriberCest.php
  Api/tests/functional/Equipment/Listener/PlayerCatOwnerAwakenEventCest.php
  Api/tests/functional/Player/Event/PlayerReactsToSchrodingerDeathCest.php
Due: api-test, api-lint

added fixtures for shoot_cat, convert_cat, cat_owner status and modifiers, added cat_owner to Raluca in characterfixtures, deleted unused modiferactivationrequirement
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Modifier/ConfigData/ModifierActivationRequirementData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
Due: api-test, api-lint

responding to git feedback
  Api/src/Action/Actions/ConvertCat.php
  Api/src/Action/Actions/PetCat.php
  Api/src/Action/Actions/ShootCat.php
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
Due: api-test, api-lint

feat(skill): Rebel
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

wip PWA
  App/dev-dist/sw.js
  App/dev-dist/workbox-b5f7729d.js
  App/package.json
  App/public/apple-touch-icon-180x180.png
  App/public/favicon.ico
  App/public/maskable-icon-512x512.png
  App/public/pwa-192x192.png
  App/public/pwa-512x512.png
  App/public/pwa-64x64.png
  App/src/App.vue
  App/src/components/ReloadPWA.vue
  App/vite.config.js
  App/yarn.lock
Due: build-front, front-lint, front-test

Fixed Cat Owner status fixtures and added last Cests
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/tests/functional/Player/Event/PlayerReactsToSchrodingerDeathCest.php
Due: api-test, api-lint

New translations skill+intl-icu.fr.xlf (French)
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (English)
  Api/translations/en/skill+intl-icu.en.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (Spanish)
  Api/translations/es/skill+intl-icu.es.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (Italian)
  Api/translations/it/skill+intl-icu.fr.it.xlf
Due: translations-lint
