Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

docs: some rigour
  README.md
Due: none

Improve windows scripts
  install.ps1
  uninstall.ps1
Due: none

remove testing code
  clone_and_docker_install.sh
  clone_and_install.sh
Due: none

chore: Add Docker-free installation scripts for Ubuntu and Windows
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/README.md
  Eternaltwin/eternaltwin.toml
  Makefile
  README.md
  clone_and_docker_install.sh
  clone_and_install.ps1
  clone_and_install.sh
  docker/Api/config/vhosts/symfony.conf
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
  docker_install.sh
  hooks/pre-commit
  hooks/pre-push
  install.log
  install.ps1
  install.sh
  start.sh
  stop.sh
  uninstall.log
  uninstall.ps1
  uninstall.sh
Due: none

Update file RoomLogService.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

refactor(Drone): Change the way the upgrades descriptions are sent to the game
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/translations/en/misc+intl-icu.en.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/fr/misc+intl-icu.fr.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

test: Update tests to new specification
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
Due: api-test, api-lint

refactor: Remove duplicated translations and reuse existing ones
  Api/src/RoomLog/Service/RoomLogService.php
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

style: adjust string declaration to single quotation mark
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

feat: add an starting :point: for every upgrade on Logs and Description
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

fix: Explained better the Pilot upgrade description
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

draft: feat: share drone upgrades as parameters
  Api/src/RoomLog/Service/RoomLogService.php
Due: api-test, api-lint

test: Update tests to new specification
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
Due: api-test, api-lint

fix: add :point: at the start of every string individually
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: Merge upgrades description into a single string
  Api/src/RoomLog/Service/RoomLogService.php
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Examine a Support Drone now tells the upgrades of that drone
  Api/src/Equipment/Entity/Drone.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat: Examine a Support drone now indicates the active upgrades for that drone
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/RoomLog/Service/RoomLogService.php
  Api/tests/unit/Equipment/Normalizer/EquipmentNormalizerTest.php
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/en/misc+intl-icu.en.xlf
  Api/translations/en/status+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/es/misc+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/misc+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/it/misc+intl-icu.fr.it.xlf
  Api/translations/it/status+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

Modif MessageInputAdvanced.vue
  App/src/assets/images/comms/buttonCopy.png
  App/src/assets/images/comms/buttonPrint.png
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Correct integration strike style in MessageInputAdvanced... -- - style :deep(em)
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

chore: Fix various problems on git hooks
  hooks/pre-commit
  hooks/pre-push
Due: none

chore: More precise error messages for git hooks
  .windsurf/rules/00-architecture/0-clean-architecture.md
  .windsurf/rules/00-architecture/0-feature-based-architecture.md
  .windsurf/rules/01-standards/1-clean-code-frontend.md
  .windsurf/rules/01-standards/1-clean-code.md
  .windsurf/rules/01-standards/1-naming-conventions.md
  .windsurf/rules/02-programming-languages/2-php-naming-conventions.md
  .windsurf/rules/02-programming-languages/2-php@8.md
  .windsurf/rules/02-programming-languages/2-typescript-naming-conventions.md
  .windsurf/rules/02-programming-languages/2-typescript.md
  .windsurf/rules/03-frameworks-and-libraries/3-scss-sass@1.md
  .windsurf/rules/03-frameworks-and-libraries/3-symfony@6.4.md
  .windsurf/rules/03-frameworks-and-libraries/3-tailwind@4.1.md
  .windsurf/rules/03-frameworks-and-libraries/3-vuejs@3.md
  .windsurf/rules/03-frameworks-and-libraries/3-vuex@4.md
  .windsurf/rules/04-tools-and-configurations/4-composer.md
  .windsurf/rules/04-tools-and-configurations/4-package-installation.md
  .windsurf/rules/05-workflows-and-processes/5-bug-finder.md
  .windsurf/rules/05-workflows-and-processes/5-tdd.md
  .windsurf/rules/07-quality-assurance/7-testing-backend-php.md
  .windsurf/rules/07-quality-assurance/7-testing-backend-typescript.md
  .windsurf/rules/07-quality-assurance/7-testing-frontend.md
  .windsurf/rules/07-quality-assurance/7-testing-standards.md
  .windsurf/rules/07-quality-assurance/7-tests-integration.md
  .windsurf/rules/07-quality-assurance/7-tests-units.md
  .windsurf/rules/meta-generator.md
  .windsurf/workflows/bug-finder.md
  .windsurf/workflows/test-driven-development.md
  Api/docs/official_triumph_data.csv
  hooks/pre-commit
  hooks/pre-push
  triomphe.md
Due: none

remove unneeded files
  .windsurf/rules/00-architecture/0-clean-architecture.md
  .windsurf/rules/00-architecture/0-feature-based-architecture.md
  .windsurf/rules/01-standards/1-clean-code-frontend.md
  .windsurf/rules/01-standards/1-clean-code.md
  .windsurf/rules/01-standards/1-naming-conventions.md
  .windsurf/rules/02-programming-languages/2-php-naming-conventions.md
  .windsurf/rules/02-programming-languages/2-php@8.md
  .windsurf/rules/02-programming-languages/2-typescript-naming-conventions.md
  .windsurf/rules/02-programming-languages/2-typescript.md
  .windsurf/rules/03-frameworks-and-libraries/3-scss-sass@1.md
  .windsurf/rules/03-frameworks-and-libraries/3-symfony@6.4.md
  .windsurf/rules/03-frameworks-and-libraries/3-tailwind@4.1.md
  .windsurf/rules/03-frameworks-and-libraries/3-vuejs@3.md
  .windsurf/rules/03-frameworks-and-libraries/3-vuex@4.md
  .windsurf/rules/04-tools-and-configurations/4-composer.md
  .windsurf/rules/04-tools-and-configurations/4-package-installation.md
  .windsurf/rules/05-workflows-and-processes/5-bug-finder.md
  .windsurf/rules/05-workflows-and-processes/5-tdd.md
  .windsurf/rules/07-quality-assurance/7-testing-backend-php.md
  .windsurf/rules/07-quality-assurance/7-testing-backend-typescript.md
  .windsurf/rules/07-quality-assurance/7-testing-frontend.md
  .windsurf/rules/07-quality-assurance/7-testing-standards.md
  .windsurf/rules/07-quality-assurance/7-tests-integration.md
  .windsurf/rules/07-quality-assurance/7-tests-units.md
  .windsurf/rules/meta-generator.md
  .windsurf/workflows/bug-finder.md
  .windsurf/workflows/test-driven-development.md
  Api/docs/official_triumph_data.csv
  triomphe.md
Due: none

edit formatText.ts to use strike HTML balise
  App/src/assets/images/comms/buttonCharacters.png
  App/src/assets/images/comms/buttonCopy.png
  App/src/assets/images/comms/buttonErase.png
  App/src/assets/images/comms/buttonFormat.png
  App/src/assets/images/comms/buttonPrint.png
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
  App/src/enums/character.ts
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

feat: Players will be allowed to leave the guarded room through the last passed door even after going outside Daedalus
  Api/src/Place/Entity/Place.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/tests/functional/Action/Actions/GuardCest.php
Due: api-test, api-lint

feat(back): Introducing "Mutate" action
  Api/src/Action/Actions/AbstractAction.php
  Api/src/Action/Actions/GoBerserk.php
  Api/src/Action/Actions/Hit.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Validator/AdminActionValidator.php
  Api/src/Action/Validator/GuardianValidator.php
  Api/src/Action/Validator/ModifierPreventActionValidator.php
  Api/src/Action/Validator/PlayerMutated.php
  Api/src/Action/Validator/PlayerMutatedValidator.php
  Api/src/Chat/Enum/NeronMessageEnum.php
  Api/src/Chat/Listener/ActionSubscriber.php
  Api/src/Chat/Listener/ChannelSubscriber.php
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Listener/StatusEventSubscriber.php
  Api/tests/functional/Action/Actions/GoBerserkCest.php
  Api/tests/functional/Chat/Listener/PrivateChannelAuthorizationCest.php
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/it/actions+intl-icu.fr.it.xlf
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

fix: Crazy eyes don't work when targeting held equipment
  Api/src/Action/Event/ActionEvent.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/tests/functional/Action/Actions/ShootCatCest.php
  Api/tests/functional/Action/Actions/ThrowGrenadeCest.php
Due: api-test, api-lint

docs: Update new version checklist
  .gitlab/merge_request_templates/New Version Checklist.md
Due: none

feat: shooter skill modify the weight of critical events and fumble events
  Api/src/Action/Actions/ShootCat.php
  Api/src/Action/Entity/ActionResult/ActionResult.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/Config/WeaponEventConfig.php
  Api/src/Equipment/Entity/Mechanics/Weapon.php
  Api/src/Equipment/Enum/WeaponEventType.php
  Api/src/Equipment/Service/UseWeaponService.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Delete equipements on the planet when an expedition fail.
  Api/src/Equipment/Entity/Drone.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Listener/ExplorationEventSubscriber.php
  Api/src/Player/Listener/EquipmentSubscriber.php
  Api/src/Project/Enum/ProjectName.php
  Api/tests/functional/Exploration/Service/ExplorationServiceCest.php
Due: api-test, api-lint

feat: Add Noctis and Golfy038 as contributors in footer
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

feat: same sex flirt toggle
  Api/migrations/Version20250521114235.php
  Api/src/Action/Validator/IsSameGender.php
  Api/src/Action/Validator/IsSameGenderValidator.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/tests/functional/Action/Actions/DoTheThingCest.php
  Api/tests/functional/Action/Actions/FlirtActionCest.php
  Api/tests/functional/Action/Actions/InstallCameraCest.php
  Api/tests/unit/Action/Validator/IsSameGenderValidatorTest.php
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: Drones now have 100% chance of success for actions that are supposed to succeed
  Api/src/Equipment/Entity/Drone.php
Due: api-test, api-lint

fix: Shooter skill now only affect the event's weight of guns.
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Service/UseWeaponService.php
Due: api-test, api-lint

dd strike button in MessageInputAdvanced
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Add case for 'strike'
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Add internationalization fr/en "buttonStrike"
  App/src/i18n/locales/en.json
  App/src/i18n/locales/fr.json
Due: none

Clearing formatting when * or ~ with eraser button
  App/src/components/Game/Communications/Messages/MessageInputAdvanced.vue
Due: build-front, front-lint, front-test

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
