Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

refactor: Use project requirements to infer which research should give triumph to Finola / Chun, which reduces duplication and is more scalable.
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
Due: api-test, api-lint

refactor: Update namespaces in unit tests for consistency
  Api/tests/unit/Triumph/Event/TriumphSourceEventTraitTest.php
  Api/tests/unit/Triumph/TestDoubles/TriumphSourceEventTraitTestClass.php
Due: api-test, api-lint

feat: Add PRECIOUS_BODY Chun's personal triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add RESEARCH_BRILLIANT triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add RESEARCH_SMALL triumph
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Introduce tag constraints for triumph events and update related logic
  Api/tests/unit/Triumph/Event/TriumphSourceEventTraitTest.php
  Api/tests/unit/Triumph/TestDoubles/TriumphSourceEventTraitTestClass.php
Due: api-test, api-lint

chore: Remove unnecessary blank line in ProjectFinishedEventTest
  Api/src/Player/Entity/Player.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

feat: Add RESEARCH_STANDARD triumph
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix typo
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat: Add Magellan's Ark Kuan Ti's personal triumph
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: revert stupidity
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

feat(triumph): Magellan's Ark
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/unit/Triumph/Event/ProjectFinishedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor(ci): Consolidate API test jobs into a single parallel job with dynamic sharding
  .gitlab-ci.yml
Due: none

fix(ci): Correct variable reference for parallel job sharding in API test configuration
  .gitlab-ci.yml
Due: none

fix(ci): Update API test configuration to use a fixed shard count for parallel execution
  .gitlab-ci.yml
Due: none

refactor(tests): Remove outdated test for random element selection from ProbaCollection
  Api/tests/unit/Game/Service/RandomServiceTest.php
Due: api-test, api-lint

fix(ci): Adjust SHARD_INDEX calculation for accurate parallel job execution in API tests
  .gitlab-ci.yml
Due: none

ci: more parallel jobs
  .gitlab-ci.yml
  Api/tests/unit/Game/Service/RandomServiceTest.php
Due: api-test, api-lint

feat(triumph): Mother
  Api/migrations/Version20250530082655.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Event/ProjectEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/functional/Triumph/Service/ChangeTriumphFromEventServiceCest.php
  Api/tests/unit/Project/Entity/ProjectTest.php
  Api/tests/unit/Triumph/Event/ProjectAdvancedEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix merge conflict non sense
  Api/src/Project/Event/ProjectEvent.php
Due: api-test, api-lint

fix merge conflict duplicate logs
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Solve MAD Kube
  Api/src/Action/Actions/TryKube.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Enum/TriumphScope.php
  Api/src/Triumph/Enum/TriumphTarget.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/src/Triumph/README.md
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Action/Actions/TryKubeCest.php
  Api/tests/unit/Action/Actions/TryKubeTest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

doc: Triumph scope clarification
  Api/src/Triumph/README.md
Due: none

test: Added expectation for statusService mock
  Api/tests/unit/Action/Actions/TryKubeTest.php
Due: api-test, api-lint

test: Add tests to adress Félicie's concern
  Api/tests/functional/Action/Actions/TryKubeCest.php
Due: api-test, api-lint

Removing handled TODO comment.
  Api/src/Action/Actions/TryKube.php
Due: api-test, api-lint

feat(triumph): Mush return to Sol
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

refactor(triumph): Eliminate instance type checking by enhancing TriumphSourceEventInterface and simplifying ChangeTriumphFromEventService
  Api/src/Status/Event/StatusEvent.php
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Event/TriumphSourceEventTrait.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
Due: api-test, api-lint

feat(triumph): Mush Victory
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/tests/functional/Daedalus/Event/DaedalusCycleEventCest.php
  Api/translations/it/triumph+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat(triumph): Mush return to Sol
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

Rebasing
  Api/src/Triumph/ConfigData/TriumphConfigData.php
Due: api-test, api-lint

Apply 2 suggestion(s) to 1 file(s)
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Ambitious
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Player/Event/TitleEventCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

refactor: we're doing OOP here!
  Api/src/Game/Enum/TitleEnum.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Status/Listener/PlayerSubscriber.php
Due: api-test, api-lint

fix merge conflict stupidity
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: translations-lint

feat(triumph): Ambitious
  Api/src/Daedalus/Service/DaedalusService.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/TitleEnum.php
  Api/src/Player/Event/PlayerEvent.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Event/StatusEvent.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Triumph/ConfigData/TriumphConfigData.php
  Api/src/Triumph/Enum/TriumphEnum.php
  Api/src/Triumph/Listener/TriumphSourceEventSubscriber.php
  Api/tests/functional/Player/Event/TitleEventCest.php
  Api/tests/functional/Triumph/Event/TriumphSourceEventCest.php
  Api/tests/unit/Triumph/Event/StatusEventTest.php
  Api/translations/fr/triumph+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
