Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: NERON version is displayed for NERON's Core and Auxiliary Terminal
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/tests/functional/Equipment/Normalizer/CalculatorTerminalNormalizerCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: exploration popup is displayed without overflowing alerts
  App/src/components/Game/ExpeditionPopUp.vue
  App/src/components/Game/GameContent.vue
  App/src/components/Utils/GamePopUp.vue
Due: build-front, front-lint, front-test

chore: Various hotfixes on installation to support notifications
  Api/.env.bare.metal
  Api/.env.bare.metal.test
  App/.env.bare.metal
  App/.env.dist
  Makefile
  devbox.json
  install.sh
Due: none

chore(hotfix): Improve notifications
  Api/src/Notification/Enum/NotificationEnum.php
  Api/src/Notification/Factory/NotificationFactory.php
  Api/tests/functional/Notification/Event/InactivityStatusAppliedCest.php
  Api/translations/fr/user_notification+intl-icu.fr.xlf
  App/public/pwa-192x192-monochrome.png
  App/src/store/plugins/service.worker.listener.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

chore(hotfix): Rollback notification actions
  Api/src/Notification/Factory/NotificationFactory.php
  Api/tests/functional/Notification/Event/InactivityStatusAppliedCest.php
Due: api-test, api-lint

feat(community suggestion): Add a setting to hide Mush actions
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/MushActionFixtures.php
  Api/src/Action/Enum/ActionTypeEnum.php
  Api/src/Action/Normalizer/ActionNormalizer.php
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/tests/functional/Hunter/Normalizer/HunterNormalizerCest.php
  Api/tests/functional/Project/Normalizer/ProjectNormalizerForPilgredCest.php
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/Communications/CommsPanel.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/components/Hud/UserMenu.vue
  App/src/entities/Action.ts
  App/src/features/notification/store.test.ts
  App/src/features/notification/store.ts
  App/src/features/settings/store.test.ts
  App/src/features/settings/store.ts
  App/src/i18n/locales/fr.json
  App/src/shared/fake.local.storage.service.ts
  App/src/shared/local.storage.service.ts
  App/src/store/index.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore(hotfix): Do not display trailer on mobile
  App/src/components/HomePage.vue
Due: build-front, front-lint, front-test

chore(hotfix): Tips channel will stop flashing on click
  App/src/store/communication.module.ts
Due: build-front, front-lint, front-test

fix: Survivalist damage reduction on expedition log is now correctly translated
  Api/src/Communications/Normalizer/TradeOptionNormalizer.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractLootItemsEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/AbstractPlanetSectorEventHandler.php
  Api/src/Exploration/PlanetSectorEventHandler/NothingToReport.php
Due: api-test, api-lint

fix: Mark as read channel
  Api/src/Chat/Repository/MessageRepository.php
  Api/src/Chat/Services/ChannelService.php
  Api/tests/functional/Exploration/Event/PlanetSectorEventCest.php
Due: api-test, api-lint

chore(hotfix): Do not display all ET games in top bar on mobile
  App/src/components/Hud/TopBar.vue
Due: build-front, front-lint, front-test

fix: Modifiers on messages apply to the whole conversation thread
  Api/src/Chat/Services/MessageService.php
  Api/src/Modifier/DataFixtures/InjuryModifierConfigFixtures.php
  Api/tests/functional/Chat/Service/MessageServiceCest.php
Due: api-test, api-lint

feat: Add Pioupiouz to the list of Eternaltwin games
  App/src/i18n/locales/fr.json
  App/src/utils/getEternaltwinGames.ts
Due: build-front, front-lint, front-test

fix: Modals width will be larger while staying responsive
  App/src/components/Utils/PopUp.vue
Due: build-front, front-lint, front-test

chore: Print errors in PHP console for development
  Api/config/packages/dev/monolog.yaml
Due: none

chore(hotfixes): Various front-end hotfixes
  Api/src/Action/ConfigData/ActionData.php
  App/src/components/Game/CharPanel.vue
  App/src/components/Game/Ship/CrewmatePanel.vue
  App/src/components/Utils/ActionButton.vue
  App/src/components/Utils/PopUp.vue
Due: build-front, api-test, api-lint, front-lint, front-test

fix: new Crowdin translations
  Api/tests/functional/Action/Normalizer/ActionNormalizerCest.php
  Api/tests/functional/Daedalus/Normalizer/ClosedDaedalusNormalizerCest.php
  Api/translations/en/highlight+intl-icu.en.xlf
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/en/user_notification+intl-icu.en.xlf
  Api/translations/es/actions+intl-icu.es.xlf
  Api/translations/es/actions_log+intl-icu.es.xlf
  Api/translations/es/alerts+intl-icu.es.xlf
  Api/translations/es/characters+intl-icu.es.xlf
  Api/translations/es/equipments+intl-icu.es.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/es/fun_facts+intl-icu.es.xlf
  Api/translations/es/neron+intl-icu.es.xlf
  Api/translations/es/project+intl-icu.es.xlf
  Api/translations/es/status+intl-icu.es.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/es/triumph+intl-icu.es.xlf
  Api/translations/es/user_notification+intl-icu.es.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  Api/translations/fr/characters+intl-icu.fr.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/highlight+intl-icu.fr.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/fr/modifiers+intl-icu.fr.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
  Api/translations/fr/status+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  Api/translations/it/user_notification+intl-icu.fr.it.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
  App/src/i18n/locales/it.json
Due: api-test, api-lint, translations-lint

chore: Bump version to 0.12.4
  App/package.json
Due: none

fix: new Crowdin translations
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/es/terminal+intl-icu.es.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/i18n/locales/it.json
Due: translations-lint

chore(hotfix): Fix a potential crash when reading messages with some diseases
  Api/src/Chat/Services/MessageService.php
Due: api-test, api-lint

fix: new Crowdin translations
  Api/translations/es/triumph+intl-icu.es.xlf
Due: translations-lint

feat: Update team in the footer
  App/src/enums/footer.ts
Due: build-front, front-lint, front-test

fix: new Crowdin translations
  Api/translations/es/neron+intl-icu.es.xlf
Due: translations-lint

fix: new Crowdin translations
  Api/translations/es/neron+intl-icu.es.xlf
  App/src/i18n/locales/en.json
  App/src/i18n/locales/es.json
  App/src/i18n/locales/fr.json
Due: translations-lint

fix: Mush channel is visible again
  App/src/services/communication.service.ts
Due: build-front, front-lint, front-test

fix: Prevent input focus on small screens
  App/src/components/Game/Communications/Messages/MessageInput.vue
Due: build-front, front-lint, front-test

fix(perf): Various Phaser tweaks to improve performances
  App/src/components/Game/Communications/Messages/MessageInput.vue
  App/src/components/Game/Ship/PhaserShip.vue
  App/src/game/game.ts
Due: build-front, front-lint, front-test

fix: You cannot join a private channel twice
  Api/migrations/Version20250825183333.php
  Api/src/Chat/Entity/Channel.php
  Api/src/Chat/Entity/ChannelPlayer.php
  Api/src/Chat/Listener/ChannelSubscriber.php
  Api/src/Chat/Repository/ChannelPlayerRepository.php
  Api/src/Chat/Repository/ChannelPlayerRepositoryInterface.php
  Api/src/Chat/Repository/InMemoryChannelPlayerRepository.php
  Api/src/Chat/Services/ChannelService.php
  Api/src/Chat/Services/ChannelServiceInterface.php
  Api/tests/functional/Chat/Event/ChannelSubscriberCest.php
  Api/tests/unit/Chat/Service/ChannelServiceTest.php
Due: api-test, api-lint

feat: Tracker checking for Mush free ship has been limited to once per game
  Api/src/Action/Actions/PrintZeList.php
  Api/tests/functional/Action/Actions/PrintZeListCest.php
  Api/translations/en/event_log+intl-icu.en.xlf
  Api/translations/es/event_log+intl-icu.es.xlf
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/it/event_log+intl-icu.fr.it.xlf
  App/.yarn/install-state.gz
Due: api-test, api-lint, translations-lint

fix: You won't consume the double of skill points when doing an action by getting up
  Api/src/Action/Listener/ActionSubscriber.php
  Api/tests/functional/Action/Actions/DisassembleCest.php
Due: api-test, api-lint

fix: You can select your language before login
  Api/src/RoomLog/Enum/ActionLogEnum.php
  App/.env.dist
  App/src/components/Banner.vue
  App/src/components/Hud/TopBar.vue
  App/src/components/Thanks.vue
  App/src/components/Utils/LocaleChange.vue
  App/src/i18n/locales/fr.json
  App/src/services/user.service.ts
  App/src/store/auth.module.ts
  App/src/vite-env.d.ts
Due: build-front, api-test, api-lint, front-lint, front-test

chore: Rollback to master vite
  App/.yarn/install-state.gz
  App/package.json
  App/yarn.lock
Due: none

fix: Do not record some "actions" in history
  Api/src/Action/Enum/ActionEnum.php
Due: api-test, api-lint

fix: Daedalus starts with 30 oxygen units
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

fix: Improve error handling in LoginService by throwing original exceptions
  Api/src/User/Service/LoginService.php
Due: api-test, api-lint

chore(hotfix): Do not print joined channel message in Mush channel
  Api/src/Chat/Listener/ChannelSubscriber.php
  Api/tests/functional/Chat/Service/ChannelServiceCest.php
Due: api-test, api-lint

fix: If there are multiple sofas in the room, you can use them from the shelf
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Place/Normalizer/PlaceNormalizer.php
  Api/tests/functional/Place/Normalizer/PlaceNormalizerCest.php
  Api/translations/fr/equipments+intl-icu.fr.xlf
  App/src/enums/item.ts
  App/src/game/objects/playableCharacterObject.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Display Guarana bonus in tooltips
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/tests/functional/Equipment/Normalizer/CoffeeCest.php
Due: api-test, api-lint

fix: Synchronize triumph gain logs with cycle change
  Api/src/Triumph/Event/TriumphSourceEventInterface.php
  Api/src/Triumph/Service/ChangeTriumphFromEventService.php
  Api/tests/functional/Triumph/Event/CycleChangeCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
