Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

fix: narcotics distiller spawned in wrong room
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

fix: update creation place for narcotics distiller to MEDLAB in functional test
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

fix: narcotics distiller spawned in wrong room
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/tests/functional/Equipment/Event/ProjectFinishedEventCest.php
Due: api-test, api-lint

draft: container items
  Api/src/Action/Actions/UseContainer.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/ContainerDataLoader.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  App/src/assets/images/items/gift.jpg
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

New translations skill+intl-icu.fr.xlf (English)
  Api/translations/en/skill+intl-icu.en.xlf
Due: translations-lint

fix: Fix a crash when a scrambled hunter tries to shoot another one
  Api/src/Hunter/Service/HunterService.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
Due: api-test, api-lint

fix: Fix a crash when trying to delete hunter aimed by another one
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Entity/HunterTarget.php
  Api/src/Hunter/Repository/HunterTargetRepository.php
  Api/src/Hunter/Repository/HunterTargetRepositoryInterface.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/functional/Hunter/Service/DeleteHunterTargetCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Hunter/Entity/Hunter.php
Due: api-test, api-lint

fix: Fix Meridon scrambled hunters-related crashes
  Api/src/Hunter/Entity/HunterTarget.php
  Api/src/Hunter/Repository/HunterTargetRepository.php
  Api/src/Hunter/Repository/HunterTargetRepositoryInterface.php
  Api/src/Hunter/Service/HunterService.php
  Api/tests/functional/Hunter/Service/DeleteHunterTargetCest.php
  Api/tests/functional/Hunter/Service/HunterServiceMakeHuntersShootCest.php
Due: api-test, api-lint

New translations neron+intl-icu.fr.xlf (French)
  Api/translations/fr/neron+intl-icu.fr.xlf
Due: translations-lint

New translations action_fail+intl-icu.fr.xlf (Spanish)
  Api/translations/es/action_fail+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (Spanish)
  Api/translations/es/status+intl-icu.es.xlf
Due: translations-lint

New translations rooms+intl-icu.fr.xlf (Spanish)
  Api/translations/es/rooms+intl-icu.es.xlf
Due: translations-lint

New translations fr.json (Spanish)
  App/src/i18n/locales/es.json
Due: none

New translations characters+intl-icu.fr.xlf (Spanish)
  Api/translations/es/characters+intl-icu.es.xlf
Due: translations-lint

New translations daedalus+intl-icu.fr.xlf (Spanish)
  Api/translations/es/daedalus+intl-icu.es.xlf
Due: translations-lint

New translations end_cause+intl-icu.fr.xlf (Spanish)
  Api/translations/es/end_cause+intl-icu.es.xlf
Due: translations-lint

New translations equipments+intl-icu.fr.xlf (Spanish)
  Api/translations/es/equipments+intl-icu.es.xlf
Due: translations-lint

fix: Immunized status is inactive for Mush players (case of Mush Antic Perfume player)
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Status/ImmunizedCest.php
Due: api-test, api-lint

fix: Immunized Mush player spores are correctly consumed (case of Antic Perfume)
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/StatusModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/tests/functional/Status/ImmunizedCest.php
Due: api-test, api-lint

New translations action_fail+intl-icu.fr.xlf (French)
  Api/translations/fr/action_fail+intl-icu.fr.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
