Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat(skill): paranoid
  Api/src/Equipment/ConfigData/SpawnEquipmentConfigData.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/ParanoidCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fix: Medic and Biologist Mage books cannot spawn for now
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  docker/Api/php/Dockerfile
Due: none

refactor: Store all skill configs in game config, so we can create skill mage bopoks even if no one on the Daedalus has the skill
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Entity/SkillConfigCollection.php
  Api/src/Skill/Repository/SkillConfigRepository.php
  docker/Api/php/Dockerfile
Due: api-test, api-lint

fix: Medic and Biologist Mage books cannot spawn for now
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/Entity/SkillConfig.php
  Api/src/Skill/Entity/SkillConfigCollection.php
  Api/src/Skill/Repository/SkillConfigRepository.php
Due: api-test, api-lint

feat(skill): add PARANOID skill to GameConfigData and update README for skill integration instructions
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/README.md
Due: api-test, api-lint

docs: Update Skill README
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Skill/README.md
Due: api-test, api-lint

test: fix false positive tests
  Api/tests/functional/Action/Actions/AttackCest.php
Due: api-test, api-lint

test: Fix flaky Attack action tests
  Api/tests/functional/Action/Actions/AttackCest.php
Due: api-test, api-lint

feat(skill): crazy eye
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/CrazyEyeCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

test: add one more test
  Api/tests/functional/Skill/CrazyEyeCest.php
Due: api-test, api-lint

fix: modifier config data
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix: lint
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

fix: applyOnTarget and added skills to GameConfigData
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
Due: api-test, api-lint

feat(skill): Crazy eye
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Skill/CrazyEyeCest.php
  Api/translations/en/skill+intl-icu.en.xlf
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

docs: Add user story template
  .gitlab/issue_templates/user_story.md
Due: none

feat(research): add basic terminal configuration
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Place/Entity/Place.php
  Api/translations/en/terminal+intl-icu.en.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
  App/src/components/Game/Terminals/ResearchCard.vue
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/entities/TerminalInfos.ts
  App/src/enums/terminal.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: commit issue
  Api/src/Place/Entity/Place.php
  App/src/components/Game/Terminals/ResearchCard.vue
Due: build-front, api-test, api-lint, front-lint, front-test

feat(research): add research project config data and show it in research terminal
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Enum/ProjectName.php
Due: api-test, api-lint

chore: add todo
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

fix: add projects to GameConfigData too
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

feat(research): modify project card images
  App/src/assets/images/researches/anabolics.png
  App/src/assets/images/researches/antispore_gas.png
  App/src/assets/images/researches/create_mycoscan.png
  App/src/assets/images/researches/meridon_scrambler.png
  App/src/assets/images/researches/mush_hunter_zc16h.png
  App/src/assets/images/researches/mush_language.png
  App/src/assets/images/researches/mush_races.png
  App/src/assets/images/researches/mush_reproductive_system.png
  App/src/assets/images/researches/mushovore_bacteria.png
  App/src/assets/images/researches/myco_dialect.png
  App/src/assets/images/researches/mycoalarm.png
  App/src/assets/images/researches/narcotics_distiller.png
  App/src/assets/images/researches/natamy_rifle.png
  App/src/assets/images/researches/ncc_contact_lenses.png
  App/src/assets/images/researches/perpetual_hydration.png
  App/src/assets/images/researches/retro_fungal_serum.png
  App/src/assets/images/researches/spore_sucker.png
  App/src/assets/images/researches/super_calculator.png
  App/src/assets/images/researches/ultra_healing_pomade.png
  App/src/components/Game/Terminals/ResearchCard.vue
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
Due: build-front, front-lint, front-test

feat(research): add pagination buttons
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
Due: build-front, front-lint, front-test

fix(research): research project efficiency and order
  Api/src/Project/ConfigData/ProjectConfigData.php
Due: api-test, api-lint

refactor: ProjectType validation can use an array of types
  Api/src/Action/Actions/Participate.php
  Api/src/Action/Actions/RepairPilgred.php
  Api/src/Action/Validator/ProjectType.php
  Api/src/Action/Validator/ProjectTypeValidator.php
Due: api-test, api-lint

feat(research): add participate action to mechanics data
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
Due: api-test, api-lint

feaat(research): add translations
  Api/translations/en/project+intl-icu.en.xlf
  Api/translations/fr/project+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

feat(research): add inventory to research lab terminal
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
  App/src/components/Game/Terminals/TerminalPanel.vue
  App/src/entities/Terminal.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix: Let players die before trying logistics expert bonus
  Api/src/Skill/Listener/PlayerCycleEventSubscriber.php
Due: api-test, api-lint

styles(research): inventory container
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
Due: build-front, front-lint, front-test

fix: Let players die before applying logistics expert bonus
  Api/src/Skill/Listener/PlayerCycleEventSubscriber.php
Due: api-test, api-lint

fix: linting
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Project/Enum/ProjectName.php
  App/src/components/Game/Terminals/ResearchCard.vue
  App/src/components/Game/Terminals/ResearchLabTerminal.vue
  App/src/entities/TerminalInfos.ts
Due: build-front, api-test, api-lint, front-lint, front-test

fix broken test due to tool renaming
  Api/tests/functional/Action/Actions/MoveCest.php
Due: api-test, api-lint

fix: Prevent logistics expert bonus from applying if the player is dead
  Api/src/Skill/Handler/LogisticsExpertHandler.php
Due: api-test, api-lint

add test and fix small error
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

fix: lint
  Api/src/Daedalus/Entity/Daedalus.php
Due: api-test, api-lint

test(research): more test to terminal normalizer
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Validator/ProjectTypeValidator.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
