Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

feat: Microwaves and Superfreezer start broken
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

fix: Microwave and Superfreezer start broken
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

more work towards getting containers working
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/ContainerDataLoader.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/EquipmentMechanic.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

fixed EquipmentConfigData
  Api/migrations/Version20241130121152.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Game/ConfigData/GameConfigData.php
Due: api-test, api-lint

first functional containers
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Game/Service/ConfigDataLoaderService.php
  Api/src/Status/ConfigData/StatusConfigData.php
Due: api-test, api-lint

draft: container items
  Api/src/Action/Actions/UseContainer.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/ConfigData/ContainerDataLoader.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/EquipmentMechanicEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
  App/src/assets/images/items/gift.jpg
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, front-lint, front-test

feat: holiday switcher feat: Halloween
  Api/migrations/Version20241207175301.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Daedalus/ConfigData/DaedalusConfigDataLoader.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Equipment/Listener/PlaceInitSubscriber.php
  Api/src/Game/Enum/HolidayEnum.php
Due: api-test, api-lint

feat: containers can contain different items for different characters
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
Due: api-test, api-lint

draft: container items
  Api/src/Action/Actions/UseContainer.php
Due: api-test, api-lint

more work towards getting containers working
  Api/src/Action/Actions/UseContainer.php
Due: api-test, api-lint

fixtures and cests for containers and holiday
  Api/src/Equipment/DataFixtures/ContainerConfigFixtures.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/tests/functional/Action/Actions/OpenContainerCest.php
  Api/tests/functional/Daedalus/Service/HolidayCest.php
Due: api-test, api-lint

renamed xmas gift to anniversary gift added new NERON lines in french and english for holiday events presents are now personal and spawn on each player when the ship is full
  Api/src/Communication/Enum/NeronMessageEnum.php
  Api/src/Communication/Listener/DaedalusSubscriber.php
  Api/src/Daedalus/ConfigData/DaedalusConfigData.php
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Enum/ItemEnum.php
  Api/src/Equipment/Listener/DaedalusEventSubscriber.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/translations/en/neron+intl-icu.en.xlf
  Api/translations/fr/neron+intl-icu.fr.xlf
  App/src/enums/item.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

implementing feedback from Evian
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Communication/Listener/DaedalusSubscriber.php
  Api/src/Daedalus/Entity/DaedalusConfig.php
  Api/src/Equipment/CycleHandler/PlantCycleHandler.php
  Api/src/Equipment/Entity/Mechanics/Container.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Equipment/Listener/PlaceInitSubscriber.php
Due: api-test, api-lint

added gift contents for every character (placeholder in the case of andie & derek) added a bunch of mage books to fill up the gift loot table
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/translations/en/neron+intl-icu.en.xlf
  Api/translations/fr/neron+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

fixture for open container action and coffee thermos container. attempted cest for open container
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/DataFixtures/ContainerConfigFixtures.php
  Api/tests/functional/Action/Actions/OpenContainerCest.php
Due: api-test, api-lint

added log for opening coffee thermos and anniversary gift
  Api/src/Action/Actions/OpenContainer.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Equipment/Service/GameEquipmentService.php
  Api/src/Equipment/Service/GameEquipmentServiceInterface.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

added icons for germaphobe and hyperactive added missing status and trackie to chao and finola
  Api/src/Player/ConfigData/CharacterConfigData.php
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, front-lint, front-test

added gifts for Derek and Andie. added missing texts for coffee thermos and anniversary gift
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/Enum/ContainerContentEnum.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/translations/en/items+intl-icu.en.xlf
  Api/translations/es/items+intl-icu.es.xlf
  Api/translations/fr/items+intl-icu.fr.xlf
  Api/translations/it/items+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

added missing description for "open container" action. Lifted from DataAction.ods
  Api/translations/en/actions+intl-icu.en.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

Apply 2 suggestion(s) to 2 file(s)
  Api/migrations/Version20241130121152.php
  Api/migrations/Version20241207175301.php
Due: api-test, api-lint

fix action logs
  Api/translations/en/actions_log+intl-icu.en.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

fix: Prevent a crash if game tries to kill a player twice at cycle change
  Api/src/Player/Service/PlayerService.php
Due: api-test, api-lint

internal: Enable OpenTelemetry Support
  .gitlab-ci.yml
  Api/.env.dist
  Api/.env.gitlab
  Api/.env.test
  Api/composer.json
  Api/composer.lock
  Api/public/index.php
  Api/src/ApiConfig.php
  Api/src/Logger/Listener/KernelExceptionEventSubscriber.php
  Api/src/OpenTelemetry.php
  Api/symfony.lock
  Makefile
  docker/Api/php/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.gitpod.yml
  docker/docker-compose.yml
Due: api-test, api-lint

feat: Added "game has started" requirement to all anti-mush research
  Api/src/Daedalus/Entity/DaedalusInfo.php
  Api/src/Project/ConfigData/ProjectConfigData.php
  Api/src/Project/ConfigData/ProjectRequirementsConfigData.php
  Api/src/Project/Entity/ProjectRequirement.php
  Api/src/Project/Enum/ProjectRequirementName.php
  Api/src/Project/Enum/ProjectRequirementType.php
  Api/tests/functional/Action/Actions/ParticipateResearchCest.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

fix: Display Frugivore bonus for Jumpkin
  Api/src/Disease/DataFixtures/ConsumableDiseaseConfigFixtures.php
  Api/src/Equipment/Enum/GameFruitEnum.php
  Api/src/Equipment/Enum/GamePlantEnum.php
Due: api-test, api-lint

refactor: use configured cycles per day in getPreviousGameDate
  Api/src/Daedalus/Entity/Daedalus.php
Due: api-test, api-lint

fix: Add protections against incomplete player creations (spawning without a talkie for example)
  Api/src/Disease/Listener/PlayerSubscriber.php
  Api/src/Equipment/Listener/PlayerEventSubscriber.php
  Api/src/Player/Entity/Config/CharacterConfigCollection.php
  Api/src/Player/Service/PlayerService.php
  Api/src/User/Listener/PlayerSubscriber.php
  Api/tests/functional/Player/Service/CreatePlayerServiceCest.php
  Api/tests/functional/Player/Service/PlayerServiceCest.php
  Api/tests/unit/Player/Service/PlayerServiceTest.php
Due: api-test, api-lint

fix: Dead player personal items are not visible anymore in research lab interface
  Api/src/Equipment/Entity/GameItem.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Place/Entity/Place.php
  Api/tests/functional/Equipment/Normalizer/TerminalNormalizerCest.php
Due: api-test, api-lint

feat(research): Pheromodem
  Api/src/Communication/Entity/Message.php
  Api/src/Communication/Listener/ProjectEventSubscriber.php
  Api/src/Communication/Normalizer/MessageNormalizer.php
  Api/src/Communication/Repository/ChannelRepository.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/Enum/CharacterEnum.php
  Api/src/Game/Service/Random/RandomString.php
  Api/src/Game/Service/Random/RandomStringInterface.php
  Api/src/Game/Service/TranslationService.php
  Api/src/Player/Entity/Player.php
  Api/src/Project/Entity/Project.php
  Api/tests/_support/AbstractFunctionalTest.php
  Api/tests/functional/Communication/Repository/ChannelRepositoryCest.php
  Api/tests/functional/Communication/Service/ChannelServiceCest.php
  Api/tests/functional/Project/PheromodemCest.php
  Api/tests/unit/Communication/Normalizer/MessageNormalizerOnPheromodemTest.php
  Api/tests/unit/Communication/Normalizer/MessageNormalizerTest.php
  Api/translations/fr/characters+intl-icu.fr.xlf
  App/src/assets/images/char/body/mush.png
  App/src/enums/character.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix: Skills are now always displayed in their selection order
  Api/migrations/Version20241126110047.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/Entity/Skill.php
  Api/src/Skill/Entity/SkillCollection.php
  Api/tests/functional/Player/Normalizer/SkillsCest.php
Due: api-test, api-lint

fix: You cannot reinforce NCC Lenses anymore
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

fix: You cannot know when logs have been erased anymore
  Api/src/Game/Service/DateProvider.php
  Api/src/Game/Service/DateProviderInterface.php
  Api/src/Game/Service/FixedDateProvider.php
  Api/src/Game/config/services.yaml
  Api/src/RoomLog/Normalizer/RoomLogNormalizer.php
  Api/tests/unit/RoomLog/Normalizer/RoomLogNormalizerTest.php
Due: api-test, api-lint

fix: fire breaks genome disk instead of destroying it
  Api/src/Equipment/ConfigData/EquipmentConfigData.php
Due: api-test, api-lint

fix: You can now shoot properly with two blasters equipped
  Api/src/Action/Entity/Action.php
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Player/Normalizer/PlayerNormalizerCest.php
Due: api-test, api-lint

fix: Add missing Shoot cat action translation
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

fix: Incubating Mush player diseases correctly heal silently
  Api/src/Disease/ConfigData/DiseaseConfigData.php
  Api/src/Disease/Entity/Config/DiseaseConfig.php
  Api/src/Disease/Entity/PlayerDisease.php
  Api/src/Disease/Service/PlayerDiseaseService.php
  Api/tests/functional/Disease/Event/PlayerEventCest.php
  Api/tests/unit/Disease/Service/PlayerDiseaseServiceTest.php
Due: api-test, api-lint

fix(perf): Optimize Erase logs actions : hide only not hidden log + add a transaction
  Api/src/Action/Actions/Delog.php
  Api/src/RoomLog/Entity/RoomLog.php
  Api/src/RoomLog/Repository/InMemoryRoomLogRepository.php
  Api/src/RoomLog/Repository/RoomLogRepository.php
  Api/src/RoomLog/Repository/RoomLogRepositoryInterface.php
  Api/src/RoomLog/Service/HideRoomLogsService.php
  Api/tests/unit/RoomLog/Service/HideRoomLogsServiceTest.php
Due: api-test, api-lint

fix: Fix multiple issues regarding Meridon scrambler
  Api/src/Game/Entity/Collection/GameVariableCollection.php
  Api/src/Hunter/Entity/Hunter.php
  Api/src/Hunter/Entity/HunterTarget.php
  Api/src/Hunter/Listener/HunterVariableSubscriber.php
  Api/src/Hunter/Service/HunterService.php
Due: api-test, api-lint

fix: Chef players cannot read drug properties
  Api/src/Player/Entity/Player.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
Due: api-test, api-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
