Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

New translations fr.json (French)
  App/src/i18n/locales/fr.json
Due: none

New translations actions_log+intl-icu.fr.xlf (English)
  Api/translations/en/actions_log+intl-icu.en.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (Spanish)
  Api/translations/es/chat+intl-icu.es.xlf
Due: translations-lint

New translations chat+intl-icu.fr.xlf (English)
  Api/translations/en/chat+intl-icu.en.xlf
Due: translations-lint

New translations daedalus+intl-icu.fr.xlf (English)
  Api/translations/en/daedalus+intl-icu.en.xlf
Due: translations-lint

New translations items+intl-icu.fr.xlf (French)
  Api/translations/fr/items+intl-icu.fr.xlf
Due: translations-lint

New translations items+intl-icu.fr.xlf (English)
  Api/translations/en/items+intl-icu.en.xlf
Due: translations-lint

New translations status+intl-icu.fr.xlf (French)
  Api/translations/fr/status+intl-icu.fr.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

New translations fr.json (English)
  App/src/i18n/locales/en.json
Due: none

New translations status+intl-icu.fr.xlf (English)
  Api/translations/en/status+intl-icu.en.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (English)
  Api/translations/en/terminal+intl-icu.en.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (French)
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

New translations skill+intl-icu.fr.xlf (English)
  Api/translations/en/skill+intl-icu.en.xlf
Due: translations-lint

New translations planet_sector_event+intl-icu.fr.xlf (French)
  Api/translations/fr/planet_sector_event+intl-icu.fr.xlf
Due: translations-lint

New translations planet_sector_event+intl-icu.fr.xlf (English)
  Api/translations/en/planet_sector_event+intl-icu.en.xlf
Due: translations-lint

New translations modifiers+intl-icu.fr.xlf (English)
  Api/translations/en/modifiers+intl-icu.en.xlf
Due: translations-lint

New translations project+intl-icu.fr.xlf (French)
  Api/translations/fr/project+intl-icu.fr.xlf
Due: translations-lint

New translations project+intl-icu.fr.xlf (English)
  Api/translations/en/project+intl-icu.en.xlf
Due: translations-lint

Add Guard acction which prevents to move freely to other rooms, except for Sneak players.
  Api/src/Action/Actions/Guard.php
  Api/src/Action/Actions/Move.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/Guardian.php
  Api/src/Action/Validator/GuardianValidator.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Place/Entity/Place.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/StatusFixtures.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Enum/PlayerStatusEnum.php
  Api/src/Status/Listener/PlayerSubscriber.php
  Api/src/Status/Service/FakeStatusService.php
  Api/src/Status/Service/StatusService.php
  Api/src/Status/Service/StatusServiceInterface.php
  Api/tests/functional/Action/Actions/GuardCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
  App/src/enums/status.player.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

fix typos
  Api/src/Action/Enum/ActionEnum.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
Due: api-test, api-lint

fix typos
  Api/src/Action/Validator/Guardian.php
Due: api-test, api-lint

feat(skill): Anonymush
  Api/migrations/Version20240806215920.php
  Api/src/Daedalus/Entity/Daedalus.php
  Api/src/Daedalus/Factory/DaedalusFactory.php
  Api/src/Daedalus/Normalizer/DaedalusNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattlePatrolShipNormalizer.php
  Api/src/Equipment/Normalizer/SpaceBattleTurretNormalizer.php
  Api/src/Equipment/Normalizer/TerminalNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Game/ConfigData/GameConfigDataLoader.php
  Api/src/Game/Entity/GameConfig.php
  Api/src/Game/Exception/GameException.php
  Api/src/Player/Entity/Collection/PlayerCollection.php
  Api/src/Player/Entity/Player.php
  Api/src/Player/Factory/PlayerFactory.php
  Api/src/Player/Normalizer/CurrentPlayerNormalizer.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Skill/DataFixtures/SkillConfigFixtures.php
  Api/src/Skill/UseCase/ChooseSkillUseCase.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/ConfigData/StatusConfigDataLoader.php
  Api/src/Status/DataFixtures/ChargeStatusFixtures.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Entity/Config/ChargeStatusConfig.php
  Api/src/Status/Entity/Config/StatusConfig.php
  Api/src/Status/Factory/StatusFactory.php
  Api/tests/functional/Player/Normalizer/SelectableSkillsCest.php
  Api/tests/functional/Player/Normalizer/SkillsCest.php
  Api/tests/unit/Daedalus/Normalizer/AnonymushTest.php
  Api/tests/unit/Skill/UseCase/ChooseSkillUseCaseTest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

Add heal points description
  Api/translations/fr/player+intl-icu.fr.xlf
Due: translations-lint

feat: Add nurse skill points
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/HealCest.php
Due: api-test, api-lint

Add nurse points gain log
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Nurse can see drug effects
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
Due: api-test, api-lint

refactor: Simplify the conditions to read equipment effects
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Player/Entity/Player.php
Due: api-test, api-lint

fix Nurse points increment
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
Due: api-test, api-lint

feat(skill): Nurse
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Equipment/Entity/GameEquipment.php
  Api/src/Equipment/Normalizer/EquipmentNormalizer.php
  Api/src/Game/ConfigData/GameConfigData.php
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Player/Entity/Player.php
  Api/src/RoomLog/Enum/StatusEventLogEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/src/Status/ConfigData/StatusConfigData.php
  Api/src/Status/DataFixtures/SkillPointsFixtures.php
  Api/src/Status/Enum/SkillPointsEnum.php
  Api/tests/functional/Action/Actions/HealCest.php
  Api/tests/functional/Equipment/Normalizer/DrugCest.php
  Api/tests/functional/Status/Event/SkillPointsCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
  Api/translations/fr/player+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Determined player success rate progresses by 1.3 instead of 1.25
  Api/src/Modifier/Service/EventModifierService.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/DeterminedCest.php
Due: api-test, api-lint

Add Determined to Eleesha and Hua
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
Due: api-test, api-lint

Add Determined french description
  Api/translations/fr/skill+intl-icu.fr.xlf
Due: translations-lint

Fix Determined icon
  App/src/enums/skill.enum.ts
Due: build-front, front-lint, front-test

feat(skill): Determined
  Api/src/Modifier/Service/EventModifierService.php
  Api/src/Player/ConfigData/CharacterConfigData.php
  Api/src/Player/DataFixtures/CharacterConfigFixtures.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Action/Actions/DeterminedCest.php
  Api/translations/fr/skill+intl-icu.fr.xlf
  App/src/enums/skill.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

The Optimist skill reduces by one the morale loss at day change.
  Api/src/Modifier/ConfigData/ModifierConfigData.php
  Api/src/Modifier/DataFixtures/SkillModifierConfigFixtures.php
  Api/src/Modifier/Enum/ModifierNameEnum.php
  Api/src/Skill/ConfigData/SkillConfigData.php
  Api/tests/functional/Player/Event/OptimistCest.php
Due: api-test, api-lint

Add The Optimist private log
  Api/src/Game/Event/AbstractGameEvent.php
  Api/src/RoomLog/Enum/PlayerModifierLogEnum.php
  Api/src/RoomLog/Listener/PlayerVariableSubscriber.php
  Api/tests/functional/Player/Event/OptimistCest.php
  Api/translations/fr/event_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
