Repository cmnemoi/eMush: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-front, api-test, api-lint, translations-lint, front-lint, front-test

build-front:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: build
  needs:
  - job: check
    optional: true
  script:
  - yarn build

api-test:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env.test
  - cp .env.gitlab .env
  - bin/console doctrine:schema:update -f
  ...

api-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

translations-lint:
  image: registry.gitlab.com/eternaltwin/mush/mush/api:latest
  cache:
    paths:
    - Api/vendor/
    - Api/.php-cs-fixer.cache
    - Api/.psalm/
  before_script:
  - php -v
  - cd Api
  - composer install
  - cp .env.gitlab .env
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  ...

front-lint:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn lint --no-fix

front-test:
  image: node:20-slim
  cache:
    paths:
    - node_modules/
  before_script:
  - cd App
  - yarn install
  stage: test
  needs:
  - job: check
    optional: true
  - job: build-front
    optional: true
  script:
  - yarn test-ci

New translations actions+intl-icu.fr.xlf (French)
  Api/translations/fr/actions+intl-icu.fr.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (English)
  Api/translations/en/actions+intl-icu.en.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (French)
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions+intl-icu.es.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Spanish)
  Api/translations/es/actions_log+intl-icu.es.xlf
Due: translations-lint

New translations actions+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (Italian)
  Api/translations/it/actions_log+intl-icu.fr.it.xlf
Due: translations-lint

New translations actions_log+intl-icu.fr.xlf (English)
  Api/translations/en/actions_log+intl-icu.en.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (French)
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Spanish)
  Api/translations/es/terminal+intl-icu.es.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (Italian)
  Api/translations/it/terminal+intl-icu.fr.it.xlf
Due: translations-lint

New translations terminal+intl-icu.fr.xlf (English)
  Api/translations/en/terminal+intl-icu.en.xlf
Due: translations-lint

Implement a service to create link with sol at daedalus start
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/InMemoryLinkWithSolRepository.php
  Api/src/Communications/Service/CreateLinkWithSolForDaedalusService.php
  Api/tests/unit/Communications/Service/CreateLinkWithSolForDaedalusServiceTest.php
Due: api-test, api-lint

Create "No link with sol" alert when link with sol is created (not established)
  Api/src/Alert/Listener/LinkWithSolEventSubscriber.php
  Api/src/Alert/Service/AlertService.php
  Api/src/Alert/Service/AlertServiceInterface.php
  Api/src/Communications/Event/LinkWithSolCreatedEvent.php
  Api/src/Communications/Service/CreateLinkWithSolForDaedalusService.php
  Api/src/Daedalus/Repository/DaedalusRepository.php
  Api/src/Daedalus/Repository/DaedalusRepositoryInterface.php
  Api/src/Daedalus/Repository/InMemoryDaedalusRepository.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/unit/Communications/Service/CreateLinkWithSolForDaedalusServiceTest.php
Due: api-test, api-lint

Add support for markdown-style links and eMush links in formatted text
  App/src/utils/formatText.test.ts
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

User darker green
  App/src/components/Game/Communications/Messages/Message.vue
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

plaintext emush links working anywhere
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

Add alert french translations
  Api/translations/fr/alerts+intl-icu.fr.xlf
Due: translations-lint

Add alert icon
  App/src/enums/alerts.enum.ts
Due: build-front, front-lint, front-test

Delete "No link with Sol" alert when link is established
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Alert/Listener/LinkWithSolEventSubscriber.php
  Api/src/Alert/Service/AlertService.php
  Api/src/Alert/Service/AlertServiceInterface.php
  Api/src/Communications/Event/LinkWithSolEstablishedEvent.php
  Api/src/Communications/Service/EstablishLinkWithSolService.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
Due: api-test, api-lint

node.js compatible substitution
  App/src/utils/formatText.ts
Due: build-front, front-lint, front-test

Apply 1 suggestion(s) to 1 file(s)
  Api/src/Action/Actions/EstablishLinkWithSol.php
Due: api-test, api-lint

Refactor communications down alert checks in tests
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
Due: api-test, api-lint

feat: Add "No link with Sol" alert
  Api/src/Action/Actions/EstablishLinkWithSol.php
  Api/src/Alert/Listener/LinkWithSolEventSubscriber.php
  Api/src/Alert/Service/AlertService.php
  Api/src/Alert/Service/AlertServiceInterface.php
  Api/src/Communications/Event/LinkWithSolCreatedEvent.php
  Api/src/Communications/Event/LinkWithSolEstablishedEvent.php
  Api/src/Communications/Listener/DaedalusEventSubscriber.php
  Api/src/Communications/Repository/InMemoryLinkWithSolRepository.php
  Api/src/Communications/Service/CreateLinkWithSolForDaedalusService.php
  Api/src/Communications/Service/EstablishLinkWithSolService.php
  Api/src/Daedalus/Repository/DaedalusRepository.php
  Api/src/Daedalus/Repository/DaedalusRepositoryInterface.php
  Api/src/Daedalus/Repository/InMemoryDaedalusRepository.php
  Api/tests/functional/Action/Actions/EstablishLinkWithSolCest.php
  Api/tests/functional/Communications/Event/DaedalusStartedEventCest.php
  Api/tests/unit/Communications/Service/CreateLinkWithSolForDaedalusServiceTest.php
  Api/translations/fr/alerts+intl-icu.fr.xlf
  App/src/enums/alerts.enum.ts
Due: build-front, api-test, api-lint, translations-lint, front-lint, front-test

New translations alerts+intl-icu.fr.xlf (French)
  Api/translations/fr/alerts+intl-icu.fr.xlf
Due: translations-lint

New translations alerts+intl-icu.fr.xlf (Spanish)
  Api/translations/es/alerts+intl-icu.es.xlf
Due: translations-lint

New translations alerts+intl-icu.fr.xlf (Italian)
  Api/translations/it/alerts+intl-icu.fr.it.xlf
Due: translations-lint

New translations alerts+intl-icu.fr.xlf (English)
  Api/translations/en/alerts+intl-icu.en.xlf
Due: translations-lint

Fix: Character no longer loses burdened status when more than one heavy item is carried
  Api/src/Status/Listener/EquipmentSubscriber.php
Due: api-test, api-lint

Add cest for old faithful
  Api/tests/functional/Action/Actions/ShootActionCest.php
Due: api-test, api-lint

Remove some whitespaces
  Api/tests/functional/Action/Actions/ShootActionCest.php
Due: api-test, api-lint

Old faithful implemented, missing test and more test in local
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

feat: implement old faithful
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/WeaponConfigFixtures.php
  Api/src/Equipment/Enum/WeaponEffectEnum.php
  Api/src/Equipment/Enum/WeaponEventEnum.php
  Api/src/Game/ConfigData/EventConfigData.php
  Api/src/RoomLog/Enum/LogDeclinationEnum.php
  Api/tests/functional/Action/Actions/ShootActionCest.php
  Api/translations/en/weapon_event+intl-icu.en.xlf
  Api/translations/es/weapon_event+intl-icu.es.xlf
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: api-test, api-lint, translations-lint

New translations weapon_event+intl-icu.fr.xlf (French)
  Api/translations/fr/weapon_event+intl-icu.fr.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (Spanish)
  Api/translations/es/weapon_event+intl-icu.es.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (Italian)
  Api/translations/it/weapon_event+intl-icu.fr.it.xlf
Due: translations-lint

New translations weapon_event+intl-icu.fr.xlf (English)
  Api/translations/en/weapon_event+intl-icu.en.xlf
Due: translations-lint

Add Upgrade NERON action
  Api/src/Action/Actions/UpgradeNeron.php
  Api/src/Action/ConfigData/ActionData.php
  Api/src/Action/DataFixtures/ActionsFixtures.php
  Api/src/Action/Enum/ActionEnum.php
  Api/src/Action/Enum/ActionImpossibleCauseEnum.php
  Api/src/Action/Validator/NoMoreNeronProjects.php
  Api/src/Action/Validator/NoMoreNeronProjectsValidator.php
  Api/src/Communications/Entity/NeronVersion.php
  Api/src/Communications/Event/NeronVersionUpdatedEvent.php
  Api/src/Communications/Service/UpdateNeronVersionService.php
  Api/src/Daedalus/Repository/DaedalusRepository.php
  Api/src/Equipment/ConfigData/MechanicsData.php
  Api/src/Equipment/DataFixtures/EquipmentConfigFixtures.php
  Api/src/Project/Entity/Project.php
  Api/src/Project/Listener/NeronVersionUpdatedEventSubscriber.php
  Api/src/Project/Listener/ProjectEventSubscriber.php
  Api/src/Project/Service/FinishRandomDaedalusProjectService.php
  Api/src/RoomLog/Enum/ActionLogEnum.php
  Api/tests/functional/Action/Actions/UpgradeNeronCest.php
  Api/translations/fr/action_fail+intl-icu.fr.xlf
  Api/translations/fr/actions_log+intl-icu.fr.xlf
Due: api-test, api-lint, translations-lint

Add a service to update NERON version
  Api/src/Communications/Entity/NeronVersion.php
  Api/src/Communications/Repository/NeronVersionRepositoryInterface.php
  Api/src/Communications/Service/NeronMinorVersionIncrementService.php
  Api/src/Communications/Service/NeronMinorVersionIncrementServiceInterface.php
  Api/src/Communications/Service/UpdateNeronVersionService.php
  Api/tests/unit/Communications/Service/UpdateNeronVersionServiceTest.php
  Api/tests/unit/Communications/TestDoubles/Repository/InMemoryNeronVersionRepository.php
  Api/tests/unit/Communications/TestDoubles/Service/FixedNeronMinorVersionIncrementService.php
Due: api-test, api-lint

Add french translation
  Api/translations/fr/actions+intl-icu.fr.xlf
  Api/translations/fr/terminal+intl-icu.fr.xlf
Due: translations-lint

Path conditions:
  build-front: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  api-test: any of: Api/**/*.php
  api-lint: any of: Api/**/*.php
  translations-lint: any of: Api/**/*.xlf
  front-lint: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
  front-test: any of: App/**/*.vue, App/**/*.ts, App/**/*.scss, App/**/*.css
